.admin-menu {
  &__list {
    list-style-type: none;
    padding: 0;
  }

  &__item:not(:last-child) {
    border-bottom: 1px solid $color-gray-light;
  }

  &__item {
    @include viewport--sm {
      padding: 15px;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 22px;
    color: $color-gray-dark;
  }
}
