.edit-colleague {
  display: flex;
  flex-wrap: wrap;

  @include viewport--sm {
    flex-direction: column;
    padding: 0;
  }

  &__form {
    width: 100%;
  }

  form {
    width: 100%;
  }

  label {
    font-weight: lighter;
    max-height: max-content;
  }

  textarea {
    display: block;
    width: 100%;
    padding: 10px 15px;

    @include viewport--sm {
      margin-top: 4px;
    }
  }

  .title {
    width: 100%;

    @include viewport--sm {
      font-size: 24px;
      line-height: 29px;
    }
  }

  .modal__close-btn .btn--reset {
    fill: $color-blue;
  }

  .form-reg__block,
  &__block {
    margin-bottom: 10px;
  }

  .form-reg--half-width {
    @include viewport--sm {
      width: 47%;
      display: inline-block;
    }
  }

  .form-reg input {
    width: 100%;
    background-color: transparent;
  }

  &__block--right {
    @include viewport--sm {
      float: right;
    }
  }

  &__name {
    display: block;
    font-size: 24px;
    line-height: 29px;
    color: $color-blue;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  &__buttons .button {
    width: 48%;
    padding: 15px 0;
  }

  p {
    margin: 0;
    font-weight: lighter;
  }

  &__photo-column {
    width: 22%;
    padding-right: 36px;

    @include viewport--sm {
      width: 100%;
      padding-right: 0;
    }
  }

  &__photo-column img {
    margin: 5px auto 16px;
    object-fit: cover;
  }

  &__content-column {
    width: 72%;

    @include viewport--sm {
      width: 100%;
    }
  }

  &__photo-upload {
    width: 100%;
    text-align: center;

    transition: opacity $default-transition-settings;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }

    @include viewport--sm {
      display: none;
    }
  }

  &__photo-upload span {
    font-size: 16px;
    line-height: 19px;
    color: $color-default-white;
  }

  &__upload-info p {
    display: block;
    text-align: center;
    margin: 0;
    padding-top: 0;

    font-size: 12px;
    line-height: 20px;
    color: $color-nobel;

    @include viewport--sm {
      display: none;
    }
  }
}

.modal--edit-colleague .modal__content {
  width: 698px;
  padding: 24px 30px;

  @include viewport--sm {
    width: 100%;
    padding: 28px 17px 15px 17px;
  }
}
