.mobile-filters {
  @include viewport--sm {
    padding: 15px;
  }

  &__list {
    list-style-type: none;
    padding: 0;
  }

  p {
    margin: 0 0 20px 0;

    font-size: 24px;
    line-height: 29px;
    color: $color-blue;
    font-weight: lighter;
  }

  &__item {
    margin-bottom: 25px;
  }

  &__button-wrapper {
    display: flex;
    flex-direction: column;
    width: 222px;
    padding: 0;
    margin: 0 auto;
  }

  .button {
    width: 222px;
    padding: 15px 0;
  }

  &__button-wrapper .button:first-child {
    margin-bottom: 30px;
  }

  &__button-wrapper .button {
    width: 100%;
  }
}

