extends ../base/layout

block main
  //include source/pug/data/test/admin/admin-filters
  //include ../data/hotel/hotel-photos
  //include ../data/hotel/hotel-page-editing

  main.container

      //.filters
      //  +renderAlphabetFilter(alphabetFilter)
      //  +renderDropdownFilter(dropdownFilters)
      //  +renderFilterButton("Очистить")

      //.filters
      //  +renderAlphabetFilter(alphabetFilter)
      //  +renderDropdownFilter(dropdownFilters)
