extends ../base/layout

block main
  include ../data/hotel/hotel-filters
  include ../data/hotel/hotel-photos
  include ../data/hotel/hotel-page-editing

  main.container

      .filters
        +renderAlphabetFilter(alphabetFilter)
        +renderDropdownFilter(dropdownFilters)
        +renderFilterButton("Очистить")
