extends ../base/layout

block variables
  - var title = "Об ивенте"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "About LTM"
  - var hasUpButton = true

block main
  include ../data/pages/about

  main
    +promo(promoBg.titleItem, promoBg.btnItem, promoBg.imgItem, promoBg.img2xItem, promoBg.widthItem, promoBg.heightItem, promoBg.imgSource, promoBg.classItem, promoBg.promoItem)
    .container
      .about

        .about__content
          .about__text-wrapper.about__text-wrapper--mobile
            .text-content
              +renderHeadline2(aboutEvent.title)
              +renderTextContentBlock(aboutEvent.textList)
            +renderOpenMoreButton(eventBlock.buttonText)

          .about__text-wrapper
            .text-content
              +renderHeadline2(eventBlock.title)
              each event in eventBlock.eventList
                +renderHeadline3(event.subtitle)
                p !{event.date}
                +renderTextContentBlock(event.textList)

        aside.about__aside
          +renderHeadline2(benefits.benefitsTitle)
          ul.about__benefit-list
            each benefit in benefits.benefitsList
              li.about__benefit-item
                svg.about__benefit-icon(width=benefit.width, height=benefit.height, aria-hidden="true")
                  use(xlink:href="#" + benefit.src)
                p.about__benefit-text=benefit.text
