extends ../base/layout

block variables
  - var title = "Об ивенте"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "About LTM"

block main
  include ../data/pages/about

  main
    +promo(promoBg.titleItem, promoBg.btnItem, promoBg.imgItem, promoBg.img2xItem, promoBg.widthItem, promoBg.heightItem, promoBg.imgSource, promoBg.classItem, promoBg.promoItem)
    .container
      .about

        .about__content
          .about__text-wrapper.about__text-wrapper--mobile
            +renderHeadlineBig(aboutEvent.title)
            .text-wrapper
              +renderTextContentBlock(aboutEvent.textList)
            +renderOpenMoreButton(eventBlock.buttonText)

          .about__text-wrapper
            +renderHeadlineBig(eventBlock.title)
            .about__text-wrapper.about__text-wrapper--dates
              each event in eventBlock.eventList
                +renderHeadlineMiddle(event.subtitle)
                .text-wrapper
                  p !{event.date}
                  +renderTextContentBlock(event.textList)

        aside.about__aside
          +renderHeadlineBig(benefits.benefitsTitle)
          ul.about__benefit-list
            each benefit in benefits.benefitsList
              li.about__benefit-item
                +icon(benefit.src, benefit.width, benefit.height)
                p=benefit.text
