extends ../base/layout

block variables
  - var title = "Об ивенте"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "About LTM"

block main
  include ../data/about

  main
    +promo(promoBg.titleItem, null, promoBg.imgItem, promoBg.img2xItem, promoBg.widthItem, promoBg.heightItem, promoBg.imgSource, promoBg.classItem, promoBg.promoItem)
    .container.about
        .about__content

            +renderHeadline2(aboutEvent.title)
            .about__text-wrapper.about__text-wrapper--small
              +renderTextContentBlock(aboutEvent.textList)
            button.btn.btn--white(type="button", aria-label="Показать больше")=buttonText

            .about__text-wrapper.about__text-wrapper--dates
              +renderHeadline2(eventBlock.title)
              each event in eventBlock.eventList
                +renderHeadline3(event.subtitle)
                +renderAboutText(event.textList)

        aside.about__aside
          +renderHeadline2(benefitsTitle)
          ul
            each benefit in benefits
              li
                +icon(benefit.src, benefit.width, benefit.height)
                p=benefit.text
