extends ../base/layout

block variables
  - var title = "LK-Exhibitor Notifications"
  - var hasHeader = true
  - var hasFooter = true

block main
  include ../data/hotel-page-editing
  include ../data/support-contacts
  include ../data/notifications
  include ../data/account

  main.container
    +renderHotelHeadline(hotelHeadline.title, hotelHeadline.logo, hotelHeadline.note, hotelHeadline.logoWidth, hotelHeadline.logoHeight)
    +renderAccountHotelInfo(accountHotelInfo.text, accountHotelInfo.link, accountHotelInfo.buttonText)
    +renderSupportContacts(contactsList)
