extends ../base/layout

block variables
  - var title = "Deadline Info"
  - var hasHeader = true
  - var hasFooter = true


block main
  include ../data/admin/admin-tabs
  include ../data/admin/sponsorship
  include ../data/admin/download-list
  include ../data/admin/participants
  include ../data/admin/deadlines-info
  include ../data/admin/admin-headline
  include ../data/admin/admin-mail-control
  include ../data/admin/admin-schedule
  include ../data/admin/admin-sent-messages
  include ../data/admin/admin-inbox-messages
  include ../data/admin/admin-guests-list
  include ../data/admin/admin-hosted-guests-list

  main.container.container--no-padding
    +renderAdminHeadline(adminHeadline.eventName, adminHeadline.eventPlace, adminHeadline.dates, adminHeadline.backLink)

    p="Здесь пока будут отображаться отдельные куски из разных страниц админки, потом разнесу по разным страницам, сейчас надо сделать шаблоны"

    +renderAdminTabs(adminTabs)
    +renderMailControl(adminMailControl.title, adminMailControl.linkList, adminMailControl.isSearchInput)

    +renderInboxMessages(adminInboxMessagesTitles, adminInboxMessages)
    //p Новая таблица
    //+renderSentMessages(adminSentMessagesTitles, adminSentMessages)
    //p Новая таблица
    //+renderSchedule(adminScheduleTitles, adminSchedule)
    //p Новая таблица
    //+renderGuestsList(adminGuestsListTitles, adminGuestsList)
    //p Новая таблица
    //+renderHostedGuestsList(adminHostedGuestsListTitles, adminHostedGuestsList)
    //p Новая таблица
    //+renderInboxMessages(adminInboxMessagesRusTitles, adminInboxRusMessages)
    //p Новая таблица
    //+renderSentMessages(adminSentMessagesRusTitles, adminSentRusMessages)
    //p Новая таблица
    //+renderHostedGuestsList(adminHostedGuestsListRusTitles, adminHostedGuestsRusList)
    //p Новая таблица
    //+renderSchedule(adminScheduleRusTitles, adminRusSchedule)

    //+renderParticipantList(participantsHeadline, participantsInfo, participantsList, participantsText)
    //+renderSponsorshipList(sponsorshipHeadline, sponsorshipList)
    //.deadlines-info
    //  .deadlines-info__content
    //    each textBlock in deadlinesInfoContent
    //      +renderHeadline2(textBlock.title)
    //      .deadlines-info__text
    //        +renderTextContentBlock(textBlock.textList)
    //  +renderDownloadFiles(downloadHeadline, downloadList)
