extends ../base/layout

block variables
  - var title = "Deadline Info"
  - var hasHeader = true
  - var hasFooter = true


block main
  include ../data/admin/admin-tabs
  include ../data/admin/sponsorship
  include ../data/admin/download-list

  main.container
    p="Здесь пока будут отображаться отдельные куски из разных страниц админки, потом разнесу по разным страницам, сейчас надо сделать шаблоны"
    p="Табы"

    +renderAdminTabs(adminTabs)

    p="Sponsorship Opportunities"

    +renderSponsorshipList(sponsorshipHeadline, sponsorshipList)

    p="ПДФ для скачивания"

    +renderDownloadFiles(downloadHeadline, downloadList)


