extends ../base/layout

block variables
  - var title = "Messages"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "Messages"
  - var hasUpButton = true

block main
  include ../data/pages/admin-messages-inbox
  include ../data/modal-colleague-admin

  main.container.container--no-padding.container--admin
    .admin
      +renderAdminHeadline(adminHeadline.eventName, adminHeadline.eventPlace, adminHeadline.dates, adminHeadline.backLink)
      .hidden-sm
        +renderParticipantList(participantsHeadline, participantsInfo, participantsList, participantsText)
      .admin__control-wrapper
        +renderAdminTabs(adminTabs)
        +renderMailControl("Inbox", adminMailControl.linkList, adminMailControl.isSearchInput)
      h2.admin-table__headline="Inbox"
      +renderInboxMessages(adminInboxMessagesTitles, adminInboxMessages)

      button.btn.btn--white.btn--more(type="button")="More"

    +renderSupportContacts(contactsList)

block append modals
  include ../data/mobile-admin-tabs
  include ../data/modal-colleague-admin

  +mobileModal("modal--edit-colleague")
    +modalEditColleague(editCollegue)
  +mobileModal("modal--admin-menu")
    +renderModalAdminTabs(adminTabs)
