extends ../base/layout

block variables
  - var title = "Buyers Guest List"
  - var hasHeader = true
  - var hasFooter = true

block main
  include ../data/admin/admin-headline
  include ../data/admin/participants
  include ../data/admin/admin-tabs
  include ../data/admin/guests-filters
  include ../data/admin/filter-tabs
  include ../data/admin/admin-guests-list
  include ../data/support-contacts

  main.container.container--no-padding.container--admin
    .admin
      +renderAdminHeadline(adminHeadline.eventName, adminHeadline.eventPlace, adminHeadline.dates, adminHeadline.backLink)
      +renderParticipantList(participantsHeadline, participantsInfo, participantsList, participantsText)
      +renderAdminTabs(adminTabs)
      +renderHeadline2("Buyers Guest List")
      +renderScheduleTabs(scheduleTabs, generatePDF)
      ul.hotel-filters
        each filter in filters
          +renderFilter(filter.title, filter.mod, filter.filterList)
      +renderFilterTabs(filterTabs)
      +renderGuestsList(adminGuestsListTitles, adminGuestsList)
      button.btn.btn--white.btn--more(type="button")="More"
    +renderSupportContacts(contactsList)
