extends ../base/layout

block variables
  - var title = "Buyers Guest List"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "Buyers Guest List2"
  - var hasUpButton = true

block main
  include ../data/pages/admin-guests-d2
  include ../data/modal-colleague-admin

  main.container.container--admin
    .admin
      +renderAdminHeadline(adminHeadline.eventName, adminHeadline.eventPlace, adminHeadline.dates, adminHeadline.backLink)
      .hidden-sm
        +renderParticipantList(participantsHeadline, participantsInfo, participantsList, participantsText)
      .admin__control-wrapper.admin__control-wrapper--full-width
        +renderAdminTabs(adminTabs)
      +renderHeadline2("Buyers Guest List")
      +renderScheduleTabs(scheduleTabs, generatePDF)

      .hidden-sm
        .filters
          +renderAlphabetFilter(alphabetFilter)
          +renderDropdownFilter(dropdownFilters)

      .visible-sm
        +renderMobileFilterButtons("Filters", "Clear all filters")

      +renderFilterTabs(filterTabs)
      +renderGuestsList(adminGuestsListTitles, adminGuestsList)

      .admin__button-wrapper
        button.btn.btn--white.btn--more(type="button")="More"
        .visible-sm
          +renderUpButton('up-button--mobile')

    +renderSupportContacts(contactsList)

block append modals
  include ../data/mobile-admin-tabs
  include ../data/modal-mobile-filters-admin
  include ../data/modal-colleague-admin

  +mobileModal("modal--edit-colleague")
    +modalEditColleague(editCollegue)
  +mobileModal("modal--admin-menu")
    +renderModalAdminTabs(adminTabs)
  +mobileModal("modal--mobile-filters")
    +renderMobileFilters(mobileFilters, mobileFiltersButtons)
