extends ../base/layout

block variables
  - var title = "My Schedule"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "Schedule"
  - var hasUpButton = true

block main
  include ../data/pages/admin-schedule-d1

  main.container.container--no-padding.container--admin
    .admin.admin--schedule
      +renderAdminHeadline(adminHeadline.eventName, adminHeadline.eventPlace, adminHeadline.dates, adminHeadline.backLink)
      +renderParticipantList(participantsHeadline, participantsInfo, participantsList, participantsText)
      .admin__control-wrapper
        +renderAdminTabs(adminTabs)
      +renderHeadline2("My Schedule")
      +renderScheduleTabs(scheduleTabs, generatePDF)
      +renderSchedule(adminScheduleTitles, adminSchedule)
      .admin__mobile-block-wrapper
        +renderGeneratePDFButton("#", "Generate PDF with schedule")
      +renderWishList(wishList)
      .admin__mobile-block-wrapper
        +renderUpButton()
    +renderSupportContacts(contactsList)
