extends ../base/layout

block variables
  - var title = "Phone LK Exh Participants"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "Phone LK Exh Participants"

block main
  include ../data/pages/admin-participants-mobile
  include ../data/modal-colleague-admin

  main.container
    .admin.admin--mobile
      +renderAdminHeadline(adminHeadline.eventName, adminHeadline.eventPlace, adminHeadline.dates, adminHeadline.backLink)
      .admin__control-wrapper
        +renderAdminTabs(adminTabs)
      +renderParticipantList(participantsHeadline, participantsInfo, participantsList, participantsText)
    +renderSupportContacts(contactsList)

block append modals
  include ../data/mobile-admin-tabs
  include ../data/modal-colleague-admin

  +mobileModal("modal--edit-colleague")
    +modalEditColleague(editCollegue)
  +mobileModal("modal--admin-menu")
    +renderModalAdminTabs(adminTabs)
