extends ../base/layout

block variables
  - var title = "Messages"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "MessagesSent"

block main
  include ../data/admin/admin-headline
  include ../data/admin/participants
  include ../data/admin/admin-tabs
  include ../data/admin/admin-mail-control
  include ../data/admin/admin-sent-messages
  include ../data/support-contacts

  main.container.container--no-padding.container--admin
    .admin
      +renderAdminHeadline(adminHeadline.eventName, adminHeadline.eventPlace, adminHeadline.dates, adminHeadline.backLink)
      +renderParticipantList(participantsHeadline, participantsInfo, participantsList, participantsText)
      .admin__control-wrapper
        +renderAdminTabs(adminTabs)
        +renderMailControl("Sent", adminMailControl.linkList, adminMailControl.isSearchInput)
      h2.admin-table__headline="Sent"
      +renderSentMessages(adminSentMessagesTitles, adminSentMessages)

      button.btn.btn--white.btn--more(type="button")="More"

    +renderSupportContacts(contactsList)
