extends ../base/layout

block variables
  - var title = "Phone LK Exh Participants"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "Phone LK Exh Participants"

block main
  include ../data/admin/admin-headline
  include ../data/admin/participants
  include ../data/admin/admin-tabs
  include ../data/admin/download-list
  include ../data/admin/deadlines-info
  include ../data/support-contacts

  main.container
    .admin
      +renderAdminHeadline(adminHeadline.eventName, adminHeadline.eventPlace, adminHeadline.dates, adminHeadline.backLink)
      +renderParticipantList(participantsHeadline, participantsInfo, participantsList, participantsText)
      .admin__control-wrapper
        +renderAdminTabs(adminTabs)
    +renderSupportContacts(contactsList)

