extends ../base/layout

block data
  include ../data/contact-us

block variables
  - var title = "Контакты"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "Contacts"

block main

  +promo(promoBg.titleItem, promoBg.btnItem, promoBg.imgItem, promoBg.img2xItem, promoBg.widthItem, promoBg.heightItem, promoBg.imgSource, promoBg.classItem, promoBg.promoItem)
  main
    .container
      .contact-us
        +renderTitleHeadline(contacts.title)
        .contact-us__wrapper
          ul.contact-us__list
            each contact in contacts.contactsList
              li.contact-us__item
                +renderContactCard(contact.avatar, contact.name, contact.position, contact.work, contact.telephones)
          .contact-us__office
            +renderOfficeCard(office.logo.src, office.logo.width, office.logo.height, office.logo.alt, office.name, office.address)
