extends ../base/layout

block variables
  - var title = "События"
  - var hasHeader = true
  - var hasFooter = true
  - var text = "THE LEADING LUXURY TRAVEL EXHIBITION IN EASTERN EUROPE, RUSSIA & CIS"
  - var desktopImage = "img/bg/news-page-desktop.png"
  - var tabletImage = "img/bg/news-page-tablet.png"
  - var mobileImage = "img/bg/news-page-mobile.png"

block main
  include ../data/hotel-cards
  include ../data/alphabet-hotel
  include ../data/choose-event-card
  include ../data/choose-event
  include ../data/hotel-filters

  +renderTopBlock(text, desktopImage, tabletImage, mobileImage)
  main.container
    .choose-event
      h2.title--h2=chooseEvent.title
      ul.choose-event__cards
        each event in chooseEventCard
          +renderEvent(event.title, event.date, event.status, event.textStatus)
      ul.hotel-filters
        each filter in filters
          +renderFilter(filter.title, filter.mod, filter.filterList)
        li.hotel-filter--btns
          .hotel-filter--btns-wrapper
            +icon("icon-filters", 17, 17)
            button.btn.btn--white.hotel-filter--btn-filters(type="button")="filters"
          button.btn.btn--white.hotel-filter--clear(type="reset")="Clear all"
          button.btn.btn--white.hotel-filter--btn-clear(type="reset")="Clear all filters"

    .exhibitors
      ul.hotel-cards
        each hotel in hotelCards
          +renderHotelCard(hotel.title, hotel.photoList, hotel.logo, hotel.link)

      .alphabet-hotel
        ul.alphabet-hotel__block-list
          each hotel in alphabetHotel
            +renderAlphabetHotel(hotel.title, hotel.hotelList)
