extends ../base/layout

block data
  include ../data/news

block variables
  - var title = "Luxury Travel Mart — Registration Exhibitor"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "Registration"

block main
  main
    +promo("The leading luxury travel exhibition in eastern europe, russia & cis", "", "./img/bg/reg-bg.png", "./img/bg/reg-bg@2x.png", "1920", "534", "./img/bg/regBg-mobile.png 1x, ./img/bg/regBg-mobile@2x.png 2x", "hidden", "promo__info-reg")
    section.exhibitor-reg
      .exhibitor-reg__block.container
        h2.exhibitor-reg__title Exhibitor Registration
        a.exhibitor-reg__btn(href="registration.html")
          +icon("icon-back", "12", "20")
          span Back
      +form-reg

block modals
  +modal("modal--submission")
    +modal-submission()
  +modal("modal--choices")
    +modal-choices()
