extends ../base/layout

block variables
  - var title = "События"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "Exhibitors"
  - var hasUpButton = true

block main
  include ../data/pages/exhibitors

  main
    +promo(promoBg.titleItem, promoBg.btnItem, promoBg.imgItem, promoBg.img2xItem, promoBg.widthItem, promoBg.heightItem, promoBg.imgSource, promoBg.classItem, promoBg.promoItem)
    section.direction.direction--exhibitors.direction-swiper
      .swiper-container.direction__swiper-block
        h2.title.title--h2 Choose the Event:
        ul.direction__list.swiper-wrapper
          each event, i in chooseEventCard
            li.swiper-slide
              input(type="radio" id='choose-event--' + i, name="event-radio")
              label.direction__radio(for='choose-event--' + i)
                +direction(event.titleItem, event.dataItem, event.statusItem, event.timeItem, event.classStatus)
        .visible-sm
          .swiper-pagination.direction__pagination
        button.direction__arrow.direction__arrow--right
          +icon("arrow-right", 11, 19)
        button.direction__arrow.direction__arrow--left
          +icon("arrow-left", 11, 19)

    .container

      .hidden-sm
        form.filters.filters--exhibitions
          +renderAlphabetFilter(alphabetFilter)
          +renderDropdownFilter(dropdownFilters)
          +renderFilterButton(buttonFilter)

      .visible-sm
        form.filters.filters--exhibitors
          +renderMobileFilterButtons("Filters", "Clear all filters")

      .visible-sm
        form.filters.filters--select-mobile
          +renderMobileDropdownFilter(dropdownMobileFilter)

      .exhibitors
        ul.hotel-cards
          each hotel in hotelCards
            +renderHotelCard(hotel.title, hotel.photoList, hotel.logo, hotel.link)

        .alphabet-hotel
          h2.visually-hidden Alphabetically
          .alphabet-hotel__block-list
            each hotel in alphabetHotel
              +renderAlphabetHotel(hotel.title, hotel.hotelList)

      .visible-sm
        button.button.button--transparent(type="button")="More"
        +renderUpButton('up-button--mobile')

block append modals
  include ../data/modal-mobile-filters-exhibitors

  +mobileModal("modal--mobile-filters")
    +renderMobileFilters(mobileFilters, mobileFiltersButtons)
