extends ../base/layout

block data
  include ../data/news

block variables
  - var title = "Luxury Travel Mart — Registration Exhibitor"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "Registration"

block main
  main
    +promo("The leading luxury travel exhibition in eastern europe, russia & cis", "", "./img/bg/reg-bg.png", "./img/bg/reg-bg@2x.png", "1920", "534", "./img/bg/regBg-mobile.png 1x, ./img/bg/regBg-mobile@2x.png 2x", "promo__none", "promo__info-reg")
    section.exhibitor-reg.container
      h2.exhibitor-reg__title Exhibitor Registration
      a.exhibitor-reg__btn(href="registration.html")
        img(src="img/svg/icon-back.svg", width="12", height="20" alt="back")
        span Back
      form(action="#").exhibitor-reg__form.form-reg
        div.form-reg__direction
          h3.form-reg__title.form-reg__title-one Please select the event you would like to register for:
          .direction.swiper-container.mySwiper
            ul.direction__list.swiper-wrapper
              +direction("Luxury Travel Mart Almaty 2019 at The Ritz-Carlton, Almaty, Kazakhstan", "27 September 2019", "Available", "27.09.2019", "direction__status--available")
              +direction("Luxury Travel Mart Almaty 2019 at The Ritz-Carlton, Almaty, Kazakhstan", "27 September 2019", "Available", "27.09.2019", "direction__status--available")
              +direction("Luxury Travel Mart Moscow 2019 at The Ritz-Carlton, Moscow, Russia", "1 October 2019", "Available", "01.10.2019", "direction__status--available")
              +direction("Luxury Travel Mart Moscow 2020 at Hyatt Regency Moscow, Russia", "27–28 February 2020", "Available", "27.02.2020", "direction__status--available")
              +direction("Luxury Travel Mart Almaty Spring 2020 at The Ritz-Carlton, Almaty, Kazakhstan", "3 March 2020", "Waiting list", "03.03.2020", "direction__status--waiting")
              +direction("Luxury Travel Mart Exchange Grand Hotel Europe, Saint-Petersburg, Russia", "20 June 2020", "Waiting list", "20.06.2020", "direction__status--waiting")
            .direction__arrow.swiper-button-next.direction__arrow--right
              +icon("arrow-right", "11", "19")
            .direction__arrow.swiper-button-prev.direction__arrow--left
              +icon("arrow-left", "11", "19")

        div.form-reg__info
          h3.form-reg__title.form-reg__title-two  Information about company:
          div.form-reg__block
            label(for="nameCompany") Company or hotel name
            input(type="text" name="nameCompany"  id="nameCompany" placeholder="Company (brand) name" required="required")
          div.form-reg__block
            label(for="nameOfficial") Official name for invoice, if different
            input(type="text" name="nameOfficial"  id="nameOfficial" placeholder="Official name" required="required")
          div.form-reg__block
            label(for="login") Please, create your login
            input(type="text" name="login"  id="login" placeholder="Create your login" required="required")
          div.form-reg__block
            label(for="address") Official address
            input(type="text" name="address"  id="address" placeholder="Address" required="required")
          div.form-reg__block
            h3.form-reg__block-title City
            select
              option Aachen
              option(value="London") London
              option(value="Japan") Japan
              option(value="Almaty") Almaty
              option(value="Moscow") Moscow
              option(value="Petersburg") Petersburg
          div.form-reg__block
            h3.form-reg__block-title Country
            select
              option Aphhanistan
              option(value="Aphhanistan") Aphhanistan
              option(value="Aphhanistan") Aphhanistan
              option(value="Aphhanistan") Aphhanistan
              option(value="Aphhanistan") Aphhanistan
              option(value="Aphhanistan") Aphhanistan
              option(value="Aphhanistan") Aphhanistan
          div.form-reg__block
            h3.form-reg__block-title Area of the business
            select
              option Chois area of the business
              option(value="business") business
              option(value="trade") trade
              option(value="sale") sale
              option(value="entertainment") entertainment
              option(value="journeys") journeys
              option(value="sale") sale
          div.form-reg__block
            label(for="Web-site") Web-site
            input(type="text" name="Web-site"  id="Web-site" placeholder="https://" required="required")
          div.form-reg__block.form-reg__textarea
            h3.form-reg__block-title Company (brand) description
            textarea(name="Company description", cols="30", rows="10") Company description


        div.form-reg__location
          h3.form-reg__title.form-reg__title-three Location of your business:
          .form-reg__dropdown
            h4 North America
            button.form-reg__btn(type='button') All selected
            .form-reg__content
              .form-reg__list
                input.form-reg__check#choices-0(type='checkbox' name='complex' value='complex-0')
                label(for='choices-0') choices-3
                input.form-reg__check#choices-1(type='checkbox' name='complex' value='complex-1')
                label(for='choices-1') choices-3
                input.form-reg__check#choices-2(type='checkbox' name='complex' value='complex-2')
                label(for='choices-2') choices-3
            .form-reg__overlay
          .form-reg__dropdown
            h4 Europe
            button.form-reg__btn(type='button') All selected
            .form-reg__content
              .form-reg__list
                input.form-reg__check#choices-3(type='checkbox' name='complex' value='complex-0')
                label(for='choices-3') choices-3
                input.form-reg__check#choices-3(type='checkbox' name='complex' value='complex-1')
                label(for='choices-3') choices-3
                input.form-reg__check#choices-4(type='checkbox' name='complex' value='complex-2')
                label(for='choices-4') choices-3
            .form-reg__overlay
          .form-reg__dropdown
            h4 South America
            button.form-reg__btn(type='button') All selected
            .form-reg__content
              .form-reg__list
                input.form-reg__check#choices-5(type='checkbox' name='complex' value='complex-0')
                label(for='choices-5') choices-1
                input.form-reg__check#choices-6(type='checkbox' name='complex' value='complex-1')
                label(for='choices-6') choices-2
                input.form-reg__check#choices-7(type='checkbox' name='complex' value='complex-2')
                label(for='choices-7') choices-3
            .form-reg__overlay
          .form-reg__dropdown
            h4 Africa
            button.form-reg__btn(type='button') All selected
            .form-reg__content
              .form-reg__list
                input.form-reg__check#choices-8(type='checkbox' name='complex' value='complex-0')
                label(for='choices-8') choices-4
                input.form-reg__check#choices-9(type='checkbox' name='complex' value='complex-1')
                label(for='choices-9') choices-5
                input.form-reg__check#choices-10(type='checkbox' name='complex' value='complex-2')
                label(for='choices-10') choices-6
            .form-reg__overlay
          .form-reg__dropdown
            h4 Asia
            button.form-reg__btn(type='button') All selected
            .form-reg__content
              .form-reg__list
                input.form-reg__check#choices-11(type='checkbox' name='complex' value='complex-0')
                label(for='choices-11') choices-7
                input.form-reg__check#choices-12(type='checkbox' name='complex' value='complex-1')
                label(for='choices-12') choices-8
                input.form-reg__check#choices-13(type='checkbox' name='complex' value='complex-2')
                label(for='choices-13') choices-9
            .form-reg__overlay
          .form-reg__dropdown
            h4 Oceania
            button.form-reg__btn(type='button') All selected
            .form-reg__content
              .form-reg__list
                input.form-reg__check#choices-14(type='checkbox' name='complex' value='complex-0')
                label(for='choices-14') choices-10
                input.form-reg__check#choices-15(type='checkbox' name='complex' value='complex-1')
                label(for='choices-15') choices-11
                input.form-reg__check#choices-16(type='checkbox' name='complex' value='complex-2')
                label(for='choices-16') choices-12
            .form-reg__overlay
          input.form-reg__check(type="checkbox" id="Global" name="Global" value="Global")
          label(for="Global") Global/Worldwide
        div.form-reg__info
          h3.form-reg__title.form-reg__title-four Information about you:
          div.form-reg__block
            label(for="First_name") Participant first name
            input(type="text" name="First_name"  id="First_name" placeholder="First name" required="required")
          div.form-reg__block
            label(for="Last_name") Participant last name
            input(type="text" name="Last_name"  id="Last_name" placeholder="Last name" required="required")
          div.form-reg__block
            h3.form-reg__block-title Title
            select
              option Aachen
              option(value="Mr") Mr.
              option(value="Mrs") Mrs.
              option(value="Ms") Ms.
              option(value="Dr") Dr.
          div.form-reg__block
            label(for="title") Job title:
            input(type="text" name="title"  id="title" placeholder="Job title" required="required")
          div.form-reg__block
            label(for="tel") Telephone
            input(type="text" name="tel"  id="tel" placeholder="+1 (111) 111 11 11" required="required")
          div.form-reg__block
            label(for="skype") Skype
            input(type="text" name=""  id="skype" placeholder="E-mail" required="required")
          div.form-reg__block
            label(for="E-mail") E-mail
            input(type="text" name="E-mail"  id="E-mail" placeholder="E-mail" required="required")
          div.form-reg__block
            label(for="con_e-mail") Please, confirm your e-mail
            input(type="text" name="con_e-mail"  id="con_e-mail" placeholder="Confirm e-mail" required="required")
          div.form-reg__block
            label(for="alt_e-mail") Alternative e-mail
            input(type="text" name="alt_e-mail"  id="alt_e-mail" placeholder="Alternative e-mail" required="required")

        div.form-reg__upload
          h3.form-reg__title.form-reg__title-five Upload photos and logo
          p.form-reg__text This photos will be representative your company at the Luxury Travel Mart Exhibitors catalogue. Please choose the best photos for your page.<br>You might change any images in your profile after registration.
          div.form-reg__wrapper
            .form-reg__up
              h4.form-reg__title-up Upload photo
              label(for="upload_photo") Choose files
              input(type="file" name="upload_photo" id="upload_photo" required="required")
            span Upload up to 14 photos. JPG, PNG. Min. 8, Max. 14 images.
          div.form-reg__wrapper
            .form-reg__up
              h4.form-reg__title-up Upload logo
              label(for="upload_logo") Choose file
              input(type="file" name="upload_logo" id="upload_logo" required="required")
            span SVG, JPG or PNG, Max. 3 mb.

        div.terms
          h3.form-reg__title.form-reg__title-six Terms &#38; Conditions
          .terms__block
            p.terms__text Rates for participation at each event supplied on request only.
            p.terms__text Confirmation and participation at the event is subject to the approval of the organizers only. Please note that completing the registration form does not guarantee your automatic confirmation for the event. All registrations will be reviewed and potential exhibitors should meet the criteria for exhibition participants.
            p.terms__text Booking must be carried out three months prior to the event, at the latest. Payment should be completed within 30 days after the confirmation, however prior the event. The payment terms are strict, and not negotiable.
            p.terms__text All cancelation of participation must be received in writing by fax or email. A full refund of the participation fee will be made if canceled up to six months prior to the event. If canceled six to four months prior to the event - 50% of the participation fee will be charged for the cancelation. No refund of the participation fee will be made if canceled later then four months prior to the event.
            p.terms__text Included in the fee: participation in all events of the Luxury Travel Mart. No hidden charges.
            p.terms__text A block of rooms will be reserved at each of the venue hotels. Rates will be provided upon request.
      input.form-reg__check(type="checkbox" id="yes" name="check" value="yes")
      label(for="yes") I have read and agree to the terms &#38; conditions of participations
      button Send
