extends ../base/layout

block variables
  - var title = "События"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "Exhibitors"
  -
    var promoBg = {
      titleItem: "The leading luxury travel exhibition in eastern europe, russia & cis",
      imgItem: "img/bg/exhibitors-promo-desktop.png",
      img2xItem: "img/bg/exhibitors-promo-desktop@2x.png",
      widthItem: "1920",
      heightItem: "534",
      imgSource: "img/bg/exhibitors-promo-mobile.png 1x, img/bg/exhibitors-promo-mobile@2x.png 2x",
      classItem: "promo__reg",
      promoItem: "promo__info promo__text-wrapper",
      noButtonMod: true
    }

block main
  include ../data/hotel-cards
  include ../data/alphabet-hotel
  include ../data/choose-event-card
  include ../data/choose-event
  include ../data/hotel-filters

  main.container--exhibitors
    +promo(promoBg.titleItem, null, promoBg.imgItem, promoBg.img2xItem, promoBg.widthItem, promoBg.heightItem, promoBg.imgSource, promoBg.classItem, promoBg.promoItem, promoBg.noButtonMod)

    section.direction.direction-swiper
      .swiper-container.direction__swiper-block
        +renderHeadline2(chooseEvent.title)
        ul.direction__list.swiper-wrapper
          each event in chooseEventCard
            .swiper-slide
              +direction(event.titleItem, event.dataItem, event.statusItem, event.timeItem, event.classStatus)
        .direction__arrow.direction__arrow--right
          +icon("arrow-right", "11", "19")
        .direction__arrow.direction__arrow--left
          +icon("arrow-left", "11", "19")

    .container

      .hotel-filter__buttons
        .hotel-filter--buttons-wrapper
          +icon("icon-filters", 17, 17)
          button.btn.btn--white.hotel-filter__buttons--filters(type="button")="filters"
        button.btn.btn--white.hotel-filter__buttons--clear(type="reset")="Clear all filters"

      ul.hotel-filters
        each filter in filters
          +renderFilter(filter.title, filter.mod, filter.filterList)
        button.btn.btn--white.hotel-filter--reset(type="reset")="Clear all"

      .exhibitors
        ul.hotel-cards
          each hotel in hotelCards
            +renderHotelCard(hotel.title, hotel.photoList, hotel.logo, hotel.link)

        .alphabet-hotel
          ul.alphabet-hotel__block-list
            each hotel in alphabetHotel
              +renderAlphabetHotel(hotel.title, hotel.hotelList)

      button.btn.btn--white.btn--more(type="button")="More"
      +renderUpButton()
