extends ../base/layout

block variables
  - var title = "События"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "Exhibitors"
  - var hasUpButton = true

block main
  include ../data/pages/exhibitors

  main
    +promo(promoBg.titleItem, promoBg.btnItem, promoBg.imgItem, promoBg.img2xItem, promoBg.widthItem, promoBg.heightItem, promoBg.imgSource, promoBg.classItem, promoBg.promoItem)

    section.direction.direction__swiper
      .swiper-container.direction__swiper-block
        +renderHeadline2(chooseEvent.title)
        ul.direction__list.swiper-wrapper
          each event in chooseEventCard
            .swiper-slide
              +direction(event.titleItem, event.dataItem, event.statusItem, event.timeItem, event.classStatus)
        .direction__arrow.direction__arrow--right
          +icon("arrow-right", "11", "19")
        .direction__arrow.direction__arrow--left
          +icon("arrow-left", "11", "19")

    .container

      .filters.filters--exhibitions
        +renderAlphabetFilter(alphabetFilter)
        +renderDropdownFilter(dropdownFilters)
        +renderFilterButton(buttonFilter)

      .visible-sm
        +renderMobileFilterButtons("Filters", "Clear all filters")

      .visible-sm
        +renderMobileDropdownFilter(dropdownMobileFilter)

      .exhibitors
        ul.hotel-cards
          each hotel in hotelCards
            +renderHotelCard(hotel.title, hotel.photoList, hotel.logo, hotel.link)

        .alphabet-hotel
          ul.alphabet-hotel__block-list
            each hotel in alphabetHotel
              +renderAlphabetHotel(hotel.title, hotel.hotelList)

      button.btn.btn--white.btn--more(type="button")="More"
