extends ../base/layout

block variables
  - var title = "Галерея"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = "Gallery"

block main

  main
    .container

