extends ../base/layout

block data
  include ../data/photos

block variables
  - var title = "Галерея"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = "Gallery"

block main

  main
    section.gallery.container.container--no-padding
      .toggle.toggle__container
        span.toggle__photo Photo
        input(type="checkbox" id="toggle-button" class="toggle__button")
        label(for="toggle-button" class="visually-hidden") Toggle Button
        span.toggle__video Video
      .gallery__section.gallery__section--photo.photo
        h2.title.title--h2  Photo
        +photo-block
      .gallery__section.gallery__section--video.video
        h2.title.title--h2 Video
        ul.video__block-list
          each item in videoList
            li
              h3.title.title--h3 #{item.title}
              video.video__container


