extends ../base/layout

block data
  include ../data/photos
  include ../data/video

block variables
  - var title = "Галерея"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = "Gallery"

block main

  main
    +promo("The leading luxury travel exhibition in eastern europe, russia AND cis", "registration", "./img/bg/bg-gallery-desktop.png", "./img/bg/bg-gallery-desktop@2x.png", "1920", "534", "./img/bg/bg-gallery-mobile.png 1x, ./img/bg/bg-gallery-mobile@2x.png 2x", "promo__none", "promo__info")
    section.gallery.container.container--no-padding
      h1.visually-hidden Фото и видео
      .toggle.toggle__container
        span.toggle__photo Photo
        input(type="checkbox" id="toggle-button" class="toggle__button")
        label(for="toggle-button" class="visually-hidden") Toggle Button
        span.toggle__video Video
      .gallery__section.gallery__section--photo.photo
        h2.title.title--h2.title--sm-pd  Photo
        +photo-block
      .gallery__section.gallery__section--video.video
        h2.title.title--h2.title--sm-pd Video
        ul.video__block-list
          each videoItem in videoList
            li
              .video__title-wrap
                h3.title.title--h3 #{videoItem.title}
              .video__container
                video.video__player(controls preload="metadata" poster= `${videoItem.img}` src= `${videoItem.src}`)
