extends ../base/layout

block variables
  - var title = "Отель"
  - var hasHeader = true
  - var hasFooter = true
  -
    var promoBg = {
      titleItem: "The leading luxury travel exhibition in eastern europe, russia & cis",
      imgItem: "img/bg/hotel-promo-desktop.png",
      img2xItem: "img/bg/hotel-promo-desktop@2x.png",
      widthItem: "1920",
      heightItem: "534",
      imgSource: "img/bg/hotel-promo-mobile.png 1x, img/bg/hotel-promo-mobile@2x.png 2x",
      classItem: "promo__reg",
      promoItem: "promo__info promo__text-wrapper",
      noButtonMod: true
    }

block main
  include ../data/hotel-page
  include ../data/hotel-photos

  main.container--hotel-page
    +promo(promoBg.titleItem, null, promoBg.imgItem, promoBg.img2xItem, promoBg.widthItem, promoBg.heightItem, promoBg.imgSource, promoBg.classItem, promoBg.promoItem, promoBg.noButtonMod)
    .container

      .hotel-page
        +renderHotelPhotos(hotelPhotos.photoList)
        +renderImageSlider(hotelPhotos.photoList)

        .hotel-page__info-block
          img(src=hotel.logo)
          .hotel-page__description
            .hotel-page__title
              +renderHeadline2(hotel.title)
              .hotel-page__links
                +renderBackButton("#")
                a.hotel-page__link(href=hotel.link)=hotel.link
            .hotel-page__text-list
              +renderTextContentBlock(hotel.textList)


