extends ../base/layout

block variables
  - var title = "Отель"
  - var hasHeader = true
  - var hasFooter = true

block main
  include ../data/pages/hotel-page

  main
    .hidden-sm
      +promo(promoBg.titleItem, promoBg.btnItem, promoBg.imgItem, promoBg.img2xItem, promoBg.widthItem, promoBg.heightItem, promoBg.imgSource, promoBg.classItem, promoBg.promoItem)
    +renderImageSlider(hotelPhotos.photoList)
    .container

      .hotel-page
        +renderPhotos(hotelPhotos.photoList)

        .hotel-page__info-block
          img(src=hotel.logo)
          .hotel-page__description
            .hotel-page__title
              +renderHeadline2(hotel.title)
              .hotel-page__links
                +renderBackButton("#")
                a.hotel-page__link(href=hotel.link)=hotel.link
            .hotel-page__text-list
              +renderTextContentBlock(hotel.textList)

block modals
  +modal("modal--gallery")
    +modal-gallery()
