extends ../base/layout

block variables
  - var title = "Оглавление"

block main
  style.
    .container {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    h1 {
      font-size: 24px;
      line-height: 28px;
    }

    a {
      color: rgb(10, 10, 175);
    }

    li {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 7px;
    }

    img {
      width: 100%;
      max-width: 300px;
      height: auto;
      display: block;
      margin-bottom: 40px;
    }

    @media (max-width: 768px) {
      ol {
        padding-left: 20px;
      }

      ol li {
        margin-bottom: 15px;
      }

      .container {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }

  -
    var pages = [
      {
        name: "UI Kit — components.html",
        src: "components.html"
      },
      {
        name: "Главная — main.html",
        src: "main.html"
      },
      {
        name: "Новости — news.html",
        src: "news.html"
      },
      {
        name: "Новость — newpage.html",
        src: "newpage.html"
      },
      {
        name: "Организаторы — organizers.html",
        src: "organizers.html"
      },
      {
        name: "Партнеры — partners-page.html",
        src: "partners-page.html"
      },
      {
        name: "Контакты — contact-us.html",
        src: "contact-us.html"
      },
      {
        name: "Политика конфиденциальности — privacy-policy.html",
        src: "privacy-policy.html"
      },
      {
        name: "Об ивенте - about.html",
        src: "about.html"
      },
      {
        name: "Расписание - schedule.html",
        src: "schedule.html"
      },
      {
        name: "Галерея - gallery.html",
        src: "gallery.html"
      },
      {
        name: "События - exhibitors.html",
        src: "exhibitors.html"
      },
      {
        name: "Регистрация - registration.html",
        src: "registration.html"
      },
      {
        name: "Регистрация экспонента - exhibitor.html",
        src: "exhibitor.html"
      },
      {
        name: "Регистрация гостя - buyer.html",
        src: "buyer.html"
      },
      {
        name: "Отель - hotel-page.html",
        src: "hotel-page.html"
      },
      {
        name: "Редактирование отеля - hotel-page-editing.html",
        src: "hotel-page-editing.html"
      },
      {
        name: "Аккаунт - account.html",
        src: "account.html"
      },
      {
        name: "Уведомления - notifications.html",
        src: "notifications.html"
      },
      {
        name: "Уведомление - notification-message.html",
        src: "notification-message.html"
      },
    ]

  main.container.main-index
    img(src="../img/sprite/logo-desktop.svg" width="300" alt="Логотип проекта")
    h1 Список страниц и компонентов
    ol
      each page in pages
        li
          a(href= page.src)= page.name
