extends ../base/layout

block variables
  - var title = "Hosted Buyers Guest List"
  - var hasHeader = true
  - var hasFooter = true
  - var hasUpButton = true

block main
  include ../data/pages/lk-guest-exhibitors-d2
  include ../data/modal-colleague-lk

  main.container.lk
    .admin
      +renderLKAdminHeadline(adminHeadline.eventName, adminHeadline.eventPlace, adminHeadline.dates)
      .hidden-sm
        +renderLKParticipantList(participantsHeadline, participantsInfo, participantsList, participantsText, infoBlock)
      .admin__control-wrapper.admin__control-wrapper--full-width
        +renderAdminTabs(adminTabs)
      +renderHeadline2("Список участников")
      +renderScheduleTabs(scheduleTabs)

      .hidden-sm
        .filters.filters--exhibitions
          +renderAlphabetFilter(alphabetFilter)
          +renderDropdownFilter(dropdownFilters)
          +renderFilterButton(buttonFilter)

      .visible-sm
        +renderMobileFilterButtons("Filters", "Clear all filters")

      +renderFilterTabs(filterTabs)
      +renderHostedGuestsList(adminHostedGuestsListTitles, adminHostedGuestsList)

      .admin__button-wrapper
        button.button.button--transparent(type="button")="Показать больше"
        .visible-sm
          +renderUpButton('up-button--mobile')

    +renderSupportContacts(contactsList)

block append modals
  include ../data/mobile-admin-tabs
  include ../data/modal-mobile-filters-lk
  include ../data/modal-colleague-lk
  include ../data/modal-profile

  +mobileModal("modal--edit-colleague")
    +modalEditColleague(editCollegue)
  +mobileModal("modal--admin-menu")
    +renderModalAdminTabs(adminTabs)
  +mobileModal("modal--mobile-filters")
    +renderMobileFilters(mobileFilters, mobileFiltersButtons)
  +mobileModal("modal--edit-profile")
    +modalEditProfile(editProfile)
