extends ../base/layout

block variables
  - var title = "Messages"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "MessagesSent"
  - var hasUpButton = true

block main
  include ../data/pages/lk-guest-messages-sent
  include ../data/modal-colleague-lk

  main.container.container--no-padding.lk
    .admin
      +renderLKAdminHeadline(adminHeadline.eventName, adminHeadline.eventPlace, adminHeadline.dates)
      .hidden-sm
        +renderLKParticipantList(participantsHeadline, participantsInfo, participantsList, participantsText, infoBlock)
      .admin__control-wrapper
        +renderAdminTabs(adminTabs)
        +renderMailControl("Отправленные", adminMailControl.linkList, adminMailControl.isSearchInput)
      h2.admin-table__headline="Отправленные"
      +renderSentMessages(adminSentMessagesTitles, adminSentMessages)

      button.btn.btn--white.btn--more(type="button")="Показать больше"

    +renderSupportContacts(contactsList)

block modals
  +modal("modal--edit-colleague")
    //+modalEditColleague(editCollegue)
