extends ../base/layout

block variables
  - var title = "Messages"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "Messages"

block main
  include ../data/pages/lk-guest-messages-inbox

  main.container.container--no-padding.lk
    .admin
      +renderLKAdminHeadline(adminHeadline.eventName, adminHeadline.eventPlace, adminHeadline.dates)
      +renderLKParticipantList(participantsHeadline, participantsInfo, participantsList, participantsText, infoBlock)
      .admin__control-wrapper
        +renderAdminTabs(adminTabs)
        +renderMailControl("Входящие", adminMailControl.linkList, adminMailControl.isSearchInput)
      h2.admin-table__headline="Входящие"
      +renderInboxMessages(adminInboxMessagesTitles, adminInboxMessages)

      button.btn.btn--white.btn--more(type="button")="Показать больше"

    +renderSupportContacts(contactsList)
