extends ../base/layout

block variables
  - var title = "Schedule"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "Schedule"
  - var hasUpButton = true

block main
  include ../data/pages/lk-guest-schedule-d1
  include ../data/modal-colleague-lk

  main.container.container--no-padding.lk
    .admin.admin--schedule
      +renderLKAdminHeadline(adminHeadline.eventName, adminHeadline.eventPlace, adminHeadline.dates)
      .hidden-sm
        +renderLKParticipantList(participantsHeadline, participantsInfo, participantsList, participantsText, infoBlock)
      .admin__control-wrapper
        +renderAdminTabs(adminTabs)
      +renderHeadline2("Список участников")
      +renderScheduleTabs(scheduleTabs, generatePDF)
      +renderSchedule(adminScheduleTitles, adminSchedule)
      .admin__mobile-block-wrapper
        +renderGeneratePDFButton("#", "Скачать расписание PDF")
      +renderWishList(wishList)
      .admin__mobile-block-wrapper
        +renderUpButton()
    +renderSupportContacts(contactsList)

block modals
  include ../data/modal-colleague-lk
  include ../data/modal-profile
  include ../data/mobile-admin-tabs

  +mobileModal("modal--edit-colleague")
    +modalEditColleague(editCollegue)
  +mobileModal("modal--admin-menu")
    +renderModalAdminTabs(adminTabs)
  +mobileModal("modal--edit-profile")
    +modalEditProfile(editProfile)
