extends ../base/layout

block variables
  - var title = "Messages"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "Messages"
  - var hasUpButton = true

block main
  include ../data/pages/lk-guest-messages-inbox
  include ../data/modal-colleague-lk

  main.container.lk
    .admin
      +renderLKAdminHeadline(adminHeadline.eventName, adminHeadline.eventPlace, adminHeadline.dates)
      .hidden-sm
        +renderLKParticipantList(participantsHeadline, participantsInfo, participantsList, participantsText, infoBlock)
      .admin__control-wrapper
        +renderAdminTabs(adminTabs)
        +renderMailControl("Входящие", adminMailControl.linkList, adminMailControl.isSearchInput)
      h2.admin__headline="Входящие"
      +renderInboxMessages(adminInboxMessagesTitles, adminInboxMessages)

      .admin__button-wrapper
        button.button.button--transparent(type="button")="Показать больше"

    +renderSupportContacts(contactsList)

block modals
  include ../data/modal-colleague-lk
  include ../data/modal-profile
  include ../data/mobile-admin-tabs

  +mobileModal("modal--edit-colleague")
    +modalEditColleague(editCollegue)
  +mobileModal("modal--admin-menu")
    +renderModalAdminTabs(adminTabs)
  +mobileModal("modal--edit-profile")
    +modalEditProfile(editProfile)
