extends ../base/layout

block variables
  - var title = "Messages"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "Messages"

block main
  include ../data/lk/lk-admin-headline
  include ../data/lk/lk-participants
  include ../data/lk/lk-admin-tabs
  include ../data/lk/lk-mail-control
  include ../data/admin/admin-inbox-messages
  include ../data/lk/lk-support-contacts

  main.container.container--no-padding.container--admin-deadlines.lk
    .admin
      +renderLKAdminHeadline(adminHeadline.eventName, adminHeadline.eventPlace, adminHeadline.dates)
      +renderLKParticipantList(participantsHeadline, participantsInfo, participantsList, participantsText, infoBlock)
      .admin__control-wrapper
        +renderAdminTabs(adminTabs)
        +renderMailControl("Входящие", adminMailControl.linkList, adminMailControl.isSearchInput)
      h2.admin-table__headline="Входящие"
      +renderInboxMessages(adminInboxMessagesTitles, adminInboxMessages)

      button.btn.btn--white.btn--more(type="button")="Показать больше"

    +renderSupportContacts(contactsList)
