extends ../base/layout

block variables
  - var title = "Messages"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "MessagesNew"

block main
  include ../data/pages/lk-guest-messages-new

  main.container.lk
    .admin
      +renderLKAdminHeadline(adminHeadline.eventName, adminHeadline.eventPlace, adminHeadline.dates)
      .hidden-sm
        +renderLKParticipantList(participantsHeadline, participantsInfo, participantsList, participantsText, infoBlock)
      .admin__control-wrapper
        +renderAdminTabs(adminTabs)
        +renderMailControl("Новое сообщение", adminMailControl.linkList, adminMailControl.isSearchInput)
      h2.admin-table__headline="Новое сообщение"
      +renderEditBlock(editingBlockList, buttons, editingBlockStatus)
    +renderSupportContacts(contactsList)
