extends ../base/layout

block data
  include ../data/news

block variables
  - var title = "Luxury Travel Mart — Главная"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = "main" //- для остальных страниц пишем либо пустую строку, либо индекс

block main
  main
    +promo("The leading luxury travel exhibition in eastern europe, russia AND cis", "Registration", "./img/bg/bg-home.png", "./img/bg/bg-home@2x.png", "1920", "534")
    section.direction.container.swiper-container.mySwiper
      h2.visually-hidden List of available destinations
      ul.direction__list.swiper-wrapper
        +direction("Luxury Travel Mart Kyiv 2019 at the Intercontinental Kyiv, Ukraine", "24 September 2019", "Registration ending soon", "24.09.2019", "direction__status--ending")
        +direction("Luxury Travel Mart Almaty 2019 at The Ritz-Carlton, Almaty, Kazakhstan", "27 September 2019", "Available", "27.09.2019", "direction__status--available")
        +direction("Luxury Travel Mart Moscow 2019 at The Ritz-Carlton, Moscow, Russia", "1 October 2019", "Available", "01.10.2019", "direction__status--available")
        +direction("Luxury Travel Mart Moscow 2020 at Hyatt Regency Moscow, Russia", "27–28 February 2020", "Available", "27.02.2020", "direction__status--available")
        +direction("Luxury Travel Mart Almaty Spring 2020 at The Ritz-Carlton, Almaty, Kazakhstan", "3 March 2020", "Waiting list", "03.03.2020", "direction__status--waiting")
        +direction("Luxury Travel Mart Exchange Grand Hotel Europe, Saint-Petersburg, Russia", "20 June 2020", "Waiting list", "20.06.2020", "direction__status--waiting")
        +direction("Luxury Travel Mart Kyiv 2019 at the Intercontinental Kyiv, Ukraine", "24 September 2019", "Registration ending soon", "24.09.2019", "direction__status--ending")
        +direction("Luxury Travel Mart Almaty 2019 at The Ritz-Carlton, Almaty, Kazakhstan", "27 September 2019", "Available", "27.09.2019", "direction__status--available")
        +direction("Luxury Travel Mart Moscow 2019 at The Ritz-Carlton, Moscow, Russia", "1 October 2019", "Available", "01.10.2019", "direction__status--available")
        +direction("Luxury Travel Mart Moscow 2020 at Hyatt Regency Moscow, Russia", "27–28 February 2020", "Available", "27.02.2020", "direction__status--available")
        +direction("Luxury Travel Mart Almaty Spring 2020 at The Ritz-Carlton, Almaty, Kazakhstan", "3 March 2020", "Waiting list", "03.03.2020", "direction__status--waiting")
        +direction("Luxury Travel Mart Exchange Grand Hotel Europe, Saint-Petersburg, Russia", "20 June 2020", "Waiting list", "20.06.2020", "direction__status--waiting")
      .direction__arrow.swiper-button-next.direction__arrow--right
        +icon("arrow-right", "11", "19")
      .direction__arrow.swiper-button-prev.direction__arrow--left
        +icon("arrow-left", "11", "19")

    +news-home()
    +interaction
block modals
