extends ../base/layout

block data
  include ../data/placeholder

block variables
  - var title = "Luxury Travel Mart — Главная"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = "main" //- для остальных страниц пишем либо пустую строку, либо индекс

block main
  main
   .container

block modals

