extends ../base/layout

block data
  include ../data/newpage

block variables
  - var title = "Новость"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = ""
  - var hasTopLink = true

block main

  +promo(promoBg.titleItem, promoBg.btnItem, promoBg.imgItem, promoBg.img2xItem, promoBg.widthItem, promoBg.heightItem, promoBg.imgSource, promoBg.classItem, promoBg.promoItem, true)
  main
    .container
      .headline-wrapper
        h2=newPage.title
        .hidden-sm
          +renderBackButton("news.html")
      time.newpage__date(datetime=newPage.datetime) #{newPage.date}
      .content
        each text in newPage.content
          p= text

