extends ../base/layout

block data
  include ../data/news

block variables
  - var title = "Новости"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = ""

block main

  +promo(promoBg.titleItem, null, promoBg.imgItem, promoBg.img2xItem, promoBg.widthItem, promoBg.heightItem, promoBg.imgSource, promoBg.classItem, promoBg.promoItem)
  main
    .container
      .news
        +renderHeadlineWithBackButton(news.title, "main.html")
        ul.news__list
          each item in news.newsList
            li.news__item
              +renderNewsPreview(item.image, item.title, item.date, item.datetime, item.preview)
        a.btn.btn--white.btn--more-news(href="#") More News
