extends ../base/layout

block variables
  - var title = "LK-Exhibitor Notifications Message"
  - var hasHeader = true
  - var hasFooter = true

block main
  include ../data/hotel-page-editing
  include ../data/support-contacts
  include ../data/notifications

  main.container
    +renderHotelHeadline(hotelHeadline.title, hotelHeadline.logo, hotelHeadline.note, hotelHeadline.logoWidth, hotelHeadline.logoHeight)
    +renderHeadlineWithBackButton("Notifications")
    +renderEditBlock(editingBlockList, buttonsList)
    +renderSupportContacts(contactsList)
