extends ../base/layout

block variables
  - var title = "LK-Exhibitor Account"
  - var hasHeader = true
  - var hasFooter = true
  - var hasUpButton = true

block main
  include ../data/pages/notifications

  main.container.container--no-padding
    +renderHotelHeadline(hotelHeadline.title, hotelHeadline.logo, hotelHeadline.note, hotelHeadline.logoWidth, hotelHeadline.logoHeight)
    .notifications
      +renderHeadlineWithBackButton("Notifications", "#")
      +renderNotifications(notifications)
      button.button.button--transparent.button--desktop(type="button")="All Notifications"
      button.button.button--transparent.button--mobile(type="button")="More"
    +renderSupportContacts(contactsList)
