extends ../base/layout

block variables
  - var title = "LK-Exhibitor Account"
  - var hasHeader = true
  - var hasFooter = true

block main
  include ../data/pages/notifications

  main.container.container--no-padding
    +renderHotelHeadline(hotelHeadline.title, hotelHeadline.logo, hotelHeadline.note, hotelHeadline.logoWidth, hotelHeadline.logoHeight)
    .notifications
      +renderHeadlineWithBackButton("Notifications", "#")
      +renderNotifications(notifications)
      button.btn.btn--white.btn--more.btn--desktop(type="button")="All Notifications"
      button.btn.btn--white.btn--more.btn--mobile(type="button")="More"
    +renderSupportContacts(contactsList)
