extends ../base/layout

block data
  include ../data/organizers
  include ../mixins/blocks/top-block

block variables
  - var title = "Организаторы"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "Organizers"
  - var text = "THE LEADING LUXURY TRAVEL EXHIBITION IN EASTERN EUROPE, RUSSIA & CIS"
  - var desktopImage = "img/bg/bg-003-desktop.jpg"
  - var tabletImage = "img/bg/bg-003-tablet.jpg"
  - var mobileImage = "img/bg/bg-006-mobile.jpg"

block main

  +renderTopBlock(text, desktopImage, tabletImage, mobileImage)
  main
    .container
      .organizers
        h2.organizers__title.title.title--h2 Organizers
        .organizers__wrapper
          ul.organizers__list
            each organizer in organizersList
              li.organizers__item
                .organizers__image-container
                  img(src= organizer.logo.src, width= organizer.logo.width, height= organizer.logo.height)
                h3.organizers__name.title.title--h3 #{organizer.title}
                p #{organizer.text}
