extends ../base/layout

block data
  include ../data/organizers

block variables
  - var title = "Организаторы"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "Organizers"

block main

  +promo(promoBg.titleItem, null, promoBg.imgItem, promoBg.img2xItem, promoBg.widthItem, promoBg.heightItem, promoBg.imgSource, promoBg.classItem, promoBg.promoItem)
  main
    .container
      .organizers
        h2.organizers__title.title.title--h2 Organizers
        .organizers__wrapper
          ul.organizers__list
            each organizer in organizersList
              li.organizers__item
                .organizers__image-container
                  img(src= organizer.logo.src, width= organizer.logo.width, height= organizer.logo.height)
                h3.organizers__name.title.title--h3 #{organizer.title}
                p #{organizer.text}
