extends ../base/layout

block data
  include ../data/organizers

block variables
  - var title = "Организаторы"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "Organizers"

block main

  +promo(promoBg.titleItem, promoBg.btnItem, promoBg.imgItem, promoBg.img2xItem, promoBg.widthItem, promoBg.heightItem, promoBg.imgSource, promoBg.classItem, promoBg.promoItem, true)
  main
    .container
      .organizers
        +renderHeadline(organizers.title)

        .organizers__wrapper
          ul.organizers__list
            each item in organizers.organizersList
              li.organizers__item
                +renderOrganizerCard(item.logo.src, item.logo.width, item.logo.height, item.logo.alt, item.title, item.text)
