extends ../base/layout

block data
  include ../data/partners-page

block variables
  - var title = "Партнеры"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "Partners"
  - var hasUpButton = true

block main

  +promo(promoBg.titleItem, promoBg.btnItem, promoBg.imgItem, promoBg.img2xItem, promoBg.widthItem, promoBg.heightItem, promoBg.imgSource, promoBg.classItem, promoBg.promoItem, true)
  main#top
    .container
      .partners-page
        +renderHeadline(partners.title)

        .partners-page__wrapper
          ul.partners-page__list
            each partner in partners.partnersList
              li.partners-page__item
                +renderPartnerCard(partner.logo.src, partner.logo.width, partner.logo.height, partner.name, partner.rank, partner.link, partner.text)
        .visible-sm
          .partners-page__button-wrapper
            +renderUpButton('up-button--mobile')
