extends ../base/layout

block data
  include ../data/partners-page

block variables
  - var title = "Партнеры"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "Partners"

block main

  +promo(promoBg.titleItem, null, promoBg.imgItem, promoBg.img2xItem, promoBg.widthItem, promoBg.heightItem, promoBg.imgSource, promoBg.classItem, promoBg.promoItem)
  main#top
    .container
      .partners-page
        +renderHeadline(partners.title)
        .partners-page__wrapper
          ul.partners-page__list
            each partner in partners.partnersList
              li.partners-page__item
                +renderPartnerCard(partner.logo.src, partner.logo.width, partner.logo.height, partner.name, partner.rank, partner.link, partner.text)
        +renderUpButton
