extends ../base/layout

block data
  include ../data/privacy-policy

block variables
  - var title = "Политика конфиденциальности"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = ""

block main

  +promo(promoBg.titleItem, null, promoBg.imgItem, promoBg.img2xItem, promoBg.widthItem, promoBg.heightItem, promoBg.imgSource, promoBg.classItem, promoBg.promoItem)
  main
    .container
      .privacy-policy
        .privacy-policy__title-container
          .privacy-policy__title-wrapper
            h2.privacy-policy__title.title.title--h2 Privacy Policy
            time.privacy-policy__date(datetime=privacyPolicy.datetime)= privacyPolicy.date
          a.privacy-policy__nav-button(href="main.html")
            img(src="img/svg/icon-back.svg", width="12", height="20")
            span Back
        .privacy-policy__wrapper
          p= privacyPolicy.text
          ul.privacy-policy__list
            each item in privacyPolicy.content
              li.privacy-policy__item
                h3.privacy-policy__question.title.title--h3= item.question
                each paragraph in item.answer
                  p= paragraph
        a.privacy-policy__button-up(href="#top-block")
          img(src="img/svg/icon-button-up.svg", width="54", height="54")
