extends ../base/layout

block data
  include ../data/news

block variables
  - var title = "Luxury Travel Mart — Registration"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "Registration"
  - var hasUpButton = true

block main
  main
    +promo("The leading luxury travel exhibition in eastern europe, russia & cis", "", "./img/bg/reg-bg.png", "./img/bg/reg-bg@2x.png", "1920", "534", "./img/bg/regBg-mobile.png 1x, ./img/bg/regBg-mobile@2x.png 2x", "hidden", "promo__info-reg")
    section.container.registration
      +renderHeadline("Registration for All Exhibitions ")
      .registration__exhibitor.exhibitor
        h3.exhibitor__title Exhibitor
        p.exhibitor__text A representative of a hotel or group of hotels, airline, resort, medical facility, sports tourism organization, etc. The company is represented at the exhibition. Paid participation.
        span.exhibitor__info Registration form is not supported in early versions of Internet Explorer (min. 10 version). Please use an alternative browser.
        a(href="exhibitor.html").button.button--transparent Exhibitor registration

      .registration__buyer.buyer
        h3.buyer__title Buyer, VIP buyer, Hosted Buyer
        p.buyer__text Гостевая регистрация на Рабочую сессию, Вечерний коктейль и по программе Hosted Buyer. Участие бесплатное, требуется подтверждение организаторов.
        span.buyer__info Регистрационная форма не поддерживается в ранних версиях Internet Explorer (мин. 10 версия). Пожалуйста, используйте альтернативный браузер.
        a(href="buyer.html").button.button--transparent Гостевая регистрация

      .registration__terms.terms
        h2.terms__title Terms &#38; Conditions
        .terms__block
          p Rates for participation at each event supplied on request only.
          p Confirmation and participation at the event is subject to the approval of the organizers only. Please note that completing the registration form does not guarantee your automatic confirmation for the event. All registrations will be reviewed and potential exhibitors should meet the criteria for exhibition participants.
          p Booking must be carried out three months prior to the event, at the latest. Payment should be completed within 30 days after the confirmation, however prior the event. The payment terms are strict, and not negotiable.
          p All cancelation of participation must be received in writing by fax or email. A full refund of the participation fee will be made if canceled up to six months prior to the event. If canceled six to four months prior to the event - 50% of the participation fee will be charged for the cancelation. No refund of the participation fee will be made if canceled later then four months prior to the event.
          p Included in the fee: participation in all events of the Luxury Travel Mart. No hidden charges.
          p A block of rooms will be reserved at each of the venue hotels. Rates will be provided upon request.
        a(href="#").button.terms__btn Read more
