extends ../base/layout

block variables
  - var title = "Расписание"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "Detailed Schedule"

block main
  include ../data/pages/schedule

  main
    +promo(promoBg.titleItem, promoBg.btnItem, promoBg.imgItem, promoBg.img2xItem, promoBg.widthItem, promoBg.heightItem, promoBg.imgSource, promoBg.classItem, promoBg.promoItem)
    .container
      .schedule
        each program in programs
          +renderHeadlineBig(program.title)
          .schedule__days
            each schedule in program.schedules
              p.schedule__subtitle=schedule.subtitle
              .schedule__day
                +renderTextContentBlock(schedule.textList)

        .info-bottom
          +renderTextContentBlock(scheduleInfoList)
