extends ../base/layout

block variables
  - var title = "Расписание"
  - var hasHeader = true
  - var hasFooter = true
  - var text = "THE LEADING LUXURY TRAVEL EXHIBITION IN EASTERN EUROPE, RUSSIA & CIS"
  - var desktopImage = "img/bg/schedule-page-desktop.png"
  - var tabletImage = "img/bg/schedule-page-tablet.png"
  - var mobileImage = "img/bg/schedule-page-mobile.png"

block main
  include ../data/schedule

  +renderTopBlock(text, desktopImage, tabletImage, mobileImage)
  main.container
    .schedule
      ul.schedule__program
        each program in programs
          +renderProgram(program.title, program.schedule)
      include ../data/info-bottom



