extends ../base/layout

block variables
  - var title = "Расписание"
  - var hasHeader = true
  - var hasFooter = true
  - var text = "THE LEADING LUXURY TRAVEL EXHIBITION IN EASTERN EUROPE, RUSSIA & CIS"
  - var desktopImage = "img/bg/schedule-page-desktop.png"
  - var tabletImage = "img/bg/schedule-page-tablet.png"
  - var mobileImage = "img/bg/schedule-page-mobile.png"
  - var currentPage = "Detailed Schedule"

block main
  include ../data/schedule

  +renderTopBlock(text, desktopImage, tabletImage, mobileImage)

  main.container
    .schedule
      .schedule__program
        each program in programs
          +renderHeadline2(program.title)
          .schedule__days
            each schedule in program.schedules
              +renderHeadline2(schedule.subtitle)
              .schedule__day
                +renderTextContentBlock(schedule.textList)

    .info-bottom
      +renderTextContentBlock(scheduleInfoList)
