extends ../base/layout

block variables
  - var title = "Расписание"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "Detailed Schedule"

block main
  include ../data/schedule

  +promo(promoBg.titleItem, null, promoBg.imgItem, promoBg.img2xItem, promoBg.widthItem, promoBg.heightItem, promoBg.imgSource, promoBg.classItem, promoBg.promoItem)
  main.container
    .schedule
      .schedule__program
        each program in programs
          +renderHeadline2(program.title)
          .schedule__days
            each schedule in program.schedules
              +renderHeadline2(schedule.subtitle)
              .schedule__day
                +renderTextContentBlock(schedule.textList)

    .info-bottom
      +renderTextContentBlock(scheduleInfoList)
