-
  var adminTabs = [
    {
      text: "Программа и инфо",
      link: "lk-guest.html",
      currentPage: "Deadline"
    },
    {
      text: "Сообщения",
      link: "lk-guest-messages-inbox.html",
      currentPage: "Messages"
    },
    {
      text: "Моё расписание",
      link: "lk-guest-schedule-d1.html",
      currentPage: "Schedule"
    },
    {
      text: "Список участников",
      link: "lk-guest-exhibitors-d1.html",
      currentPage: "Hosted Buyers Guest List"
    },
  ]
