-
  var adminTabs = [
    {
      text: "Программа и инфо",
      link: "lk-guest.html"
    },
    {
      text: "Сообщения",
      link: "lk-guest-messages-inbox.html"
    },
    {
      text: "Моё расписание",
      link: "lk-guest-schedule-d1.html"
    },
    {
      text: "Список участников",
      link: "lk-guest-exhibitors-d1.html"
    },
  ]
