-
  var scheduleTabs = [
    {
      text: "День 1",
      separator: "–",
      date: "27.02.2020",
      link: "lk-guest-exhibitors-d1.html"
    },
    {
      text: "День 2",
      separator: "–",
      date: "27.02.2020",
      link: "lk-guest-exhibitors-d2.html"
    },
  ]


-
  var adminHostedGuestsListTitles = {
    company: "Участник",
    name: "Представитель",
    freeSlots: "Свободные слоты",
    request: "Запрос",
    contact: "Контакт",
  }

-
  var adminHostedGuestsList = [
    {
      company: "Travel Luxury Agency",
      place: "Worldwide",
      name: "Ivan Skorodubov",
      position: "Director",
      freeSlots: [
        "10:00 – 10:10",
        "12:00 – 12:20"
      ],
      request: "Send a request",
      contact: "Send a message",
      contactLink: "#",
    },
    {
      company: "Prime Luxury Travel",
      place: "Worldwide",
      name: "Eugenia Stuslova",
      freeSlots: [
        "10:00 – 10:10",
        "12:00 – 12:20"
      ],
      request: "Send a request",
      contact: "Send a message",
      contactLink: "#"
    },
    {
      company: "Anastasia Tours",
      place: "UAE, Turkey",
      name: "Anna Petrenko",
      freeSlots: [
        "13:00 – 17:10",
        "12:00 – 12:20"
      ],
      request: "Send a request",
      contact: "Send a message",
      contactLink: "#"
    },
  ]

