-
  var adminMailControl = {
    linkList: [
      {
        link: "lk-guest-messages-new.html",
        icon: "icon-write-message",
        iconWidth: 24,
        iconHeight: 24,
        mod: "new"
      },
      {
        link: "lk-guest-messages-inbox.html",
        text: "Inbox",
        mod: "inbox"
      },
      {
        link: "lk-guest-messages-sent.html",
        text: "Sent",
        mod: "sent"
      },
      {
        link: "#",
        text: "Contact Organizers",
        mod: "contacts"
      }
    ],
    isSearchInput: true
  }
