- var participantsHeadline = "Сотрудники на выставку"
- var participantsInfo = "Только 2 гостя могут принять участие"
- var participantsText = "Если вы хотите добавить больше коллег на выставку, свяжитесь с организаторами"

-
  var participantsList = [
    {
      photo: "img/content/admin-photo-2.jpg",
      name: "Alexey",
      lastName: "Stavsky",
      position: "Director",
      mail: "123@gmail.com"
    },
    {
      photo: "img/content/admin-photo-3.jpg",
      name: "Alyona",
      lastName: "Alexandrova-Fedorova",
      position: "PR-Manager",
      mail: "123@gmail.com"
    },
  ]

