-
  var adminSentMessagesTitles = {
    status: "Статус",
    from: "Кому",
    subject: "Тема",
    date: "Дата",
    time: "Время",
    message: "Сообщение"
  }

-
  var adminSentMessages = [
    {
      status: "sent",
      to: "Pegas Touristic",
      subject: "Request for Meeting at the Luxury Travel Mart Moscow’ 2020",
      date: "22 Dec. 2019",
      time: "18:57",
      message: "Dear Stanislav, we invite your company in mee… ",
      openMessageLink: "lk-guest-messages-read.html"
    },
    {
      status: "sent",
      to: "Organizers",
      subject: "Information About Your Exhibition Place",
      date: "21 Dec. 2019",
      time: "12:20",
      message: "Dear Stanislav, we invite your company in mee… ",
      openMessageLink: "lk-guest-messages-read.html"
    },
    {
      status: "sent",
      to: "Sun Tour",
      subject: "Request for Meeting at the Luxury Travel Mart Moscow’ 2020",
      date: "21 Dec. 2019",
      time: "13:40",
      message: "Dear Stanislav, we invite your company in mee… ",
      openMessageLink: "lk-guest-messages-read.html"
    },
  ]
