-
  var contactsList = {
    title: "Помощь",
    contacts: [
      {
        src: "img/content/support-photo-3.jpg",
        name: "Ирина Безпалая",
        position: "Buyers and Appointments",
        email: "yahoo@yahoo.com",
        phone: "79857765522",
        phoneText: "+7 985 776 55 22"
      },
      {
        src: "img/svg/icon-support-no-photo.svg",
        name: "Поддержка",
        position: "Вопросы о новом сайте",
        email: "yahoo@yahoo.com",
        phone: "74956450422",
        phoneText: "+7 495 645 04 22"
      },
    ]
  }
