-
  var scheduleTabs = [
    {
      text: "День 1",
      separator: "–",
      date: "27.02.2020",
      link: "lk-schedule-d1.html"
    },
    {
      text: "День 2",
      separator: "–",
      date: "28.02.2020",
      link: "lk-schedule-d2.html"
    },
  ]

-
  var generatePDF = {
    text: "Скачать расписание PDF",
    link: "#"
  }

-
  var adminScheduleTitles = {
    time: "Время",
    company: "Участник",
    request: "Запрос",
    status: "Статус",
    timeLimit: "Времени осталось"
  }

-
  var adminSchedule = [
    {
      time: "10:00 – 10:10",
      company: [
        "Choose a company",
        "Mandarin International Hotel Group"
      ],
      request: "Send a request",
      requestLink: "#",
      status: "Free",
      timeLimit: "12 days"
    },
    {
      time: "10:00 – 10:10",
      company: [
        "Choose a company",
        "Mandarin International Hotel Group"
      ],
      request: "Send a request",
      requestLink: "#",
      status: "Free",
    },
  ]
