-
  var wishList = {
    title: "Wish list",
    description: "Участники, с которыми вы бы хотели встретиться",
    generatePDF: {
      link: "#",
      text: "Скачать Wish list PDF"
    },
    selectCompany: [
      "Choose a company",
      "Hello, hello"
    ],
    request: "Send a request",
    text: "Участники, которые хотели бы встретиться с вами",
    companyList: {
      columnOne: [
        "Pegas Touristic",
        "Luxury Events Agency",
        "Alta Luxury Tours",
        "Main Course Touristic",
        "Exclusive Tours LLC",
        "Aeroflot",
        "One Lux Tours",
        "The First T Agency",
        "Luxury Travel LLC"
      ],
      columnTwo: [
        "Pegas Touristic",
        "Luxury Events Agency",
        "Alta Luxury Tours",
        "Main Course Touristic",
        "Exclusive Tours LLC",
        "Aeroflot",
        "One Lux Tours",
        "The First T Agency",
        "Luxury Travel LLC"
      ]
    }
  }
