-
  var alphabetFilter = {
      title: "Alphabetically:",
      mod: "alphabet",
      filterList: "#ABCDEFGHIJKLMNOPQRSTUVWXY"
    }

-
  var dropdownFilters = [
    {
      title: "By Country:",
      mod: "dropdown",
      filterList: [
        "Afghanistan",
        "Russia",
        "United States of America",
        "China",
        "Afghanistan",
        "Russia",
        "United States of America",
        "China",
        "Afghanistan",
        "Russia",
        "United States of America",
        "China",
        "Afghanistan",
        "Russia",
        "United States of America",
        "China",
      ]
    },
    {
      title: "By type of business",
      mod: "dropdown",
      filterList: [
        "Apartments & villas rental",
        "Hello, hello",
        "Come with kittens",
      ]
    },
    {
      title: "Exhibitor’s name",
      mod: "dropdown dropdown-mobile",
      filterList: [
        "Hyatt",
        "Mandarin Oriental Hotel",
        "Awesome hotel Ritz",
      ]
    },
    {
      title: "Exhibitor’s name",
      mod: "dropdown",
      filterList: [
        "Hyatt",
        "Mandarin Oriental Hotel",
        "Awesome hotel Ritz",
      ]
    },
  ]
