.about {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 25px;
  padding-bottom: 33px;

  @include viewport--lg {
    padding-bottom: 0;
    padding-top: 29px;
  }

  @include viewport--md {
    flex-wrap: wrap;
  }

  @include viewport--sm {
    padding-top: 20px;
  }

  &__content {
    max-width: 800px;
    padding-right: 30px;
    box-sizing: content-box;

    @include viewport--lg {
      max-width: 720px;
    }

    @include viewport--md {
      width: 100%;
      max-width: none;
      padding-bottom: 30px;
      padding-right: 0;

      border-bottom: 1px solid $color-blue;
    }
  }

  &__text-wrapper {
    padding-bottom: 31px;

    @include viewport--lg {
      padding-bottom: 55px;
    }

    @include viewport--sm {
      padding-bottom: 26px;
    }
  }

  &__text-wrapper:last-of-type {
    @include viewport--sm {
      padding-bottom: 0;
    }
  }

  &__text-wrapper > .text-wrapper {
    padding: 10px 0 0 0;
  }

  &__text-wrapper--mobile > .text-content {
    @include viewport--sm {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      line-clamp: 5;
      box-orient: vertical;
    }
  }

  &__text-wrapper--dates {
    padding: 25px 0 0 0;

    @include viewport--lg {
      padding: 22px 0 0;
    }

    @include viewport--sm {
      padding: 32px 0 0;
    }
  }

  &__text-wrapper--dates > .text-wrapper {
    padding: 20px 0 36px;

    @include viewport--lg {
      padding: 20px 0 32px;
    }

    @include viewport--sm {
      padding: 11px 0 32px;
    }

    p {
      letter-spacing: 0.4px;
      line-height: 20px;

      @include viewport--sm {
        letter-spacing: 0.3px;
      }
    }
  }

  .text-wrapper p:first-of-type {
    margin-bottom: 7px;
    display: block;

    letter-spacing: 0.4px;
    font-size: 16px;
    line-height: 22px;

    @include viewport--sm {
      margin-bottom: 10px;

      line-height: 20px;
    }
  }

  &__benefit-list {
    padding: 18px 0 0 0;
    margin: 0;
    list-style-type: none;

    @include viewport--lg {
      padding-top: 32px;
    }

    @include viewport--sm {
      padding-top: 35px;
    }
  }

  &__benefit-item {
    margin-bottom: 40px;

    text-align: center;

    @include viewport--lg {
      margin-bottom: 31px;
    }
  }

  &__benefit-text {
    margin: 0;

    letter-spacing: 0.1px;
  }

  &__benefit-icon {
    display: block;
    margin: 0 auto 11px;

    @include viewport--lg {
      margin: 0 auto 13px auto;
    }
  }

  &__aside {
    width: auto;

    @include viewport--md {
      width: 100%;
      padding-bottom: 0;
      padding-left: 0;
      padding-top: 30px;
    }

    @include viewport--sm {
      padding-top: 25px;
    }
  }

  .open-more,
  .open-more__button {
    display: none;

    @include viewport--sm {
      display: block;
    }
  }
}
