.about {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 25px;
  padding-bottom: 33px;

  @include viewport--lg {
    padding-bottom: 0;
  }

  @include viewport--md {
    flex-wrap: wrap;
  }

  &__content {
    max-width: 800px;
    padding-right: 30px;
    box-sizing: content-box;

    @include viewport--lg {
      max-width: 720px;
    }

    @include viewport--md {
      width: 100%;
      max-width: none;
      padding-bottom: 10px;
      padding-right: 0;

      border-bottom: 1px solid $color-blue;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  li > svg {
    display: block;
    margin: 0 auto 17px auto;

    @include viewport--lg {
      margin: 0 auto 13px auto;
    }
  }

  &__aside {
    width: auto;

    @include viewport--md {
      width: 100%;
      padding-bottom: 0;
      padding-left: 0;
      padding-top: 30px;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;

      @include viewport--lg {
        padding-top: 15px;
      }

      @include viewport--sm {
        padding-top: 22px;
      }
    }

    li {
      margin-bottom: 40px;

      text-align: center;

      @include viewport--lg {
        margin-bottom: 31px;
      }
    }

    img {
      margin: 0 auto 10px auto;

      text-align: center;
    }

    span {
      font-size: 16px;
      line-height: 22px;
      color: $color-gray-dark;
    }
  }

  .btn {
    display: none;

    @include viewport--md {
      display: block;
      margin: 30px auto 24px;
      padding: 15px;
      width: 100%;
      max-width: 222px;
    }
  }

  &__text-wrapper--mobile {
    @include viewport--sm {
      max-height: 135px;
      overflow: hidden;
    }
  }

  &__text-wrapper--small {
    @include viewport--md {
      max-height: 136px;
      overflow: hidden;
    }

    p:first-child {
      @include viewport--md {
        margin-top: 0;
      }
    }
  }

  &__text-wrapper--dates {
    padding: 16px 0 0 0;

    @include viewport--sm {
      padding: 0;
    }

    .title--h2 {
      margin-bottom: 25px;

      @include viewport--sm {
        margin-bottom: 32px;
      }
    }

    time {
      display: block;
      margin-bottom: 10px;

      @include viewport--sm {
        margin-bottom: 5px;
      }
    }

    span {
      display: block;

      font-size: 16px;
      font-weight: normal;
      line-height: 22px;
      color: $color-gray-dark;
    }

    p {
      margin-top: 0;
      margin-bottom: 30px;

      @include viewport--sm {
        margin-bottom: 20px;
      }
    }
  }
}
