.choose-event {
  &__cards {
    display: flex;
    list-style-type: none;
  }

  &__card {
    max-width: 222px;
    margin-right: 15px;
    padding-bottom: 15px;

    border: 1px solid transparent;

    text-align: center;

    &:hover,
    &:focus {
      border-color: $color-blue;
    }
  }

  &__card--available > .choose-event__card-status {
    color: $color-green;
  }

  &__card--waiting > .choose-event__card-status {
    color: $color-grey-nobel;
  }

  &__card-title {
    margin: 10px 10px 16px 10px;

    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
  }

  &__card-date {
    display: block;
    padding-top: 8px;

    border-top: 1px solid $color-blue;

    font-size: 12px;
    line-height: 14px;
  }

  &__card-status {
    display: block;
    font-size: 12px;
    line-height: 14px;
  }
}
