.contact-us {
  margin-bottom: 77px;
  padding-top: 29px;

  @include viewport--lg {
    margin-bottom: 18px;
  }

  @include viewport--sm {
    margin-bottom: 31px;
    padding-top: 21px;
  }
}

.contact-us__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1365px;
  margin: 0 auto;
}

.contact-us__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-top: 70px;
  margin-left: 35px;
  padding: 0;
  list-style: none;

  @include viewport--lg {
    margin-left: 0;
  }

  @include viewport--md {
    margin-top: 33px;
    align-items: center;
  }
}

.contact-us__item {
  width: 46%;
  margin-bottom: 97px;

  @include viewport--lg {
    width: 50%;
    margin-bottom: 87px;
  }

  @include viewport--md {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 97px;
  }

  @include viewport--sm {
    width: 100%;
    max-width: 320px;
    margin-bottom: 47px;
  }
}

.contact-us__office {
  align-self: flex-end;
  width: 46.3%;
  margin-top: 27px;

  @include viewport--lg {
    width: 50%;
    margin-top: 22px;
  }

  @include viewport--md {
    width: 500px;
    margin: 0 auto;
  }

  @include viewport--sm {
    width: 100%;
    max-width: 320px;
  }
}
