.exhibitors {
  position: relative;
  display: flex;

  background-color: $color-white;

  @include viewport--lg {
    justify-content: center;
  }
}

.container--exhibitors {
  position: relative;
  .btn--more {
    display: none;

    @include viewport--sm {
      display: block;
    }
  }

  .title--h2 {
    margin-bottom: 30px;
  }

  .direction__title {
    line-height: 23px;
    letter-spacing: 0.4px;

    @include viewport--lg {
      line-height: 23px;
      letter-spacing: 0.4px;
      padding-bottom: 10px;
    }
  }

  .direction__swiper {
    @include viewport--sm {
      display: block;
    }
  }

  .direction__list {
    @include viewport--sm {
      display: flex;
    }
  }

  .direction__item {
    @include viewport--sm {
      display: flex;
      align-items: center;
    }
  }
}
