.exhibitors {
  position: relative;
  display: flex;

  background-color: $color-white;

  @include viewport--lg {
    justify-content: center;
  }

  @include viewport--sm {
    max-width: 450px;
    margin: 0 auto;
  }
}
