.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 27px;

  &__section {
    width: calc((100% - 15px) / 2);
    margin-right: 15px;
  }

  &__section--video {
    margin-right: 0;
  }

  .title--h2 {
    margin-bottom: 5px;
  }

  .title--h3 {
    letter-spacing: 0.01em;
  }

  .btn {
    margin-top: 38px;
  }

  @include viewport--lg {
    &__section {
      width: calc((100% - 10px) / 2);
      margin-right: 10px;
    }

    &__section--video {
      margin-right: 0;
    }
  }

  @include viewport--md {
    &__section {
      width: 100%;
      margin-right: 0;
    }
  }

  @include viewport--sm {
    margin-top: 30px;

    .btn {
      margin-top: 0;
    }

    .title--h2 {
      margin-bottom: 15px;
    }
  }
}
