.gallery {
  display: flex;
  flex-wrap: wrap;

  &__section {
    width: calc((100% - 15px) / 2);
    margin-right: 15px;
  }

  &__section--video {
    margin-right: 0;
  }

  @include viewport--lg {
    &__section {
      width: calc((100% - 10px) / 2);
      margin-right: 10px;
    }

    &__section--video {
      margin-right: 0;
    }
  }

  @include viewport--sm {
    &__section {
      width: 100%;
      margin-right: 0;
    }
  }
}
