.headline-back {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include viewport--sm {
    flex-direction: row-reverse;
    align-items: baseline;
  }

  &__button {
    display: flex;
    align-items: center;
  }

  svg {
    margin-right: 5px;
    vertical-align: middle;
  }

  .title--h2 {
    @include viewport--sm {
      margin-bottom: 15px;
    }
  }
}
