.header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: $color-white;
  color: $color-blue;
  transition: transform 0.3s ease;
  z-index: 110;

  @include viewport--sm {
    background-color: $color-default-white;
    min-height: 91px;
    z-index: 10;
  }

  &__link {
    color: inherit;
    line-height: 21px;
    font-weight: 600;
    letter-spacing: 0.045em;

    @media (max-width: 1250px) {
      font-size: 12px;
    }

    @include viewport--md {
      font-size: 16px;
      line-height: 1.4;
    }

    @include viewport--sm {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__main {
    background-color: $color-default-white;

    @include viewport--sm {
      order: 1;
      margin-top: 15px;
    }
  }

  &__main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 8px;

    @include viewport--lg {
      padding-top: 10px;
      padding-bottom: 5px;
    }

    @include viewport--sm {
      padding-top: 37px;
      padding-bottom: 17px;
    }
  }

  &__link--sign-in {
    display: flex;
    align-items: center;
    flex-shrink: 0;

    svg {
      margin-left: 5px;
      width: 26px;
      height: 30px;
    }

    @include viewport--md {
      margin-left: 20px;
    }

    @include viewport--sm {
      position: absolute;
      right: 13px;
      top: 32px;
      min-width: 26px;

      svg {
        margin-left: 0;
        width: 22px;
        height: 26px;
      }
    }
  }

  &__top-list {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    list-style: none;
    padding: 0;
    align-items: center;
    background-color: $color-white;
  }

  &__top {
    padding-top: 4px;
    padding-bottom: 4px;

    @include viewport--sm {
      order: 2;
      display: none;
    }
  }

  &__item {
    padding: 0;
    margin-left: 10px;
  }

  &__item:last-child {
    padding-right: 0;
  }

  &__top-link {
    color: $color-nobel;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    position: relative;
    transition: color 0.3s ease;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;

    @include pseudo-full;

    &:hover,
    &:active {
      color: $color-gray-dark;

      svg {
        fill: $color-gray-dark;
        transition: 0.3s ease;
      }
    }
  }


  &__search-img {
    width: 17px;
    height: 17px;
  }

  &__logo {
    margin-right: 125px;
    padding-top: 5px;

    @include viewport--lg {
      margin-right: 48px;
      padding-top: 10px;
    }

    @media (max-width: 1260px) {
      margin-right: 20px;
      padding-top: 0;
    }

    @include viewport--sm {
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__search {
    display: flex;
  }

  &__logo-img--desktop {
    width: 222px;
    height: 83px;

    @include viewport--lg {
      width: 178px;
      height: 66px;
    }
  }

  &__logo-img--mobile {
    @include viewport--sm {
      width: 53px;
      height: 47px;
    }
  }
}

.header__search.header__search--hidden {
  display: none;
}

.header--menu-opened {
  @include viewport--md {
    background-color: $color-white;

    .main-nav__list {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-left: 30px;
      order: 1;
    }

    .main-nav__item {
      width: 100%;
      margin-left: 0;
    }

    .main-nav__link {
      padding: 5px;
      padding-top: 0;
      width: 100%;
    }

    .header__main-wrapper {
      align-items: flex-start;
    }

    .header__link--sign-in {
      margin-top: 21px;
    }
  }

  @include viewport--sm {
    background-color: $color-blue;
    height: 100%;
    width: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;

    .header__main-wrapper {
      padding-top: 105px;
      padding-bottom: 10px;
    }

    .main-nav {
      flex-direction: column;
    }

    .header__main {
      background-color: $color-blue;
      color: $color-default-white;
      margin-top: 0;
    }

    .header__top {
      display: block;
      color: $color-default-white;
    }

    .main-nav__list,
    .header__top-list {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .main-nav__item,
    .header__item {
      width: 100%;
      margin-left: 0;
      padding-left: 0;
      margin-right: 0;
    }

    .main-nav__link,
    .header__top-link {
      color: inherit;
      padding: 10px;
      padding-bottom: 12.5px;
      padding-left: 0;
      transition: $default-transition-settings;
    }

    .header__top-link {
      font-size: 16px;
      line-height: 21px;
    }

    .header__top-list {
      margin-top: 10px;
      padding-bottom: 10px;
      padding-left: 0;
      margin-bottom: 50px;
      height: auto;
      background-color: $color-blue;
    }

    .main-nav__list {
      margin-left: 0;
    }

    .header__logo {
      color: inherit;
      top: 83px;
    }

    .header__logo-img--mobile {
      width: 105px;
      height: 92px;
    }
  }

  .header__search.header__search--hidden {
    @include viewport--sm {
      display: block;
    }
  }
}
