.hotel-page {

  &__photo-list {
    display: none;
    flex-wrap: wrap;

    list-style-type: none;
  }

  &__photo-list > img {
    &:first-child {
      width: 460px;
      height: 454px;
    }

    height: 222px;
    width: auto;
  }

  &__info-block {
    display: flex;
    padding: 20px 0;

    @include viewport--sm {
      flex-direction: column;
    }

    img {
      margin: 0 0 auto 0;
      padding: 20px;
      width: 120px;
      height: auto;

      @include viewport--sm {
        margin: 0 auto;
        padding: 0;
      }
    }
  }

  &__description {
    flex: 1;
    padding: 0 0 0 20px;

    @include viewport--sm {
      display: flex;
      flex-direction: column;
    }
  }

  &__text-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    p {
      width: 935px;
    }

    @include viewport--md {
      order: 1;

      p {
        max-width: 835px;
        width: auto;
      }
    }

    @include viewport--sm {
      p {
        width: 100%;
      }
    }
  }

  &__title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    @include viewport--md {
      order: 2;
    }

    @include viewport--sm {
      .title--h2 {
        display: none;
      }
    }
  }

  &__link {
    font-size: 24px;
    line-height: 29px;
    font-weight: lighter;
  }
}
