.hotel-page {
  padding-top: 15px;

  &__info-block {
    display: flex;
    padding: 20px 0;
    clear: both;

    @include viewport--sm {
      flex-direction: column;
    }

    img {
      margin: 0 0 auto 0;
      padding: 20px;
      display: flex;
      flex: 1;
      min-width: 120px;
      min-height: 120px;
      max-width: 120px;
      max-height: 150px;
      object-fit: contain;

      @include viewport--sm {
        margin: 0 auto;
        padding: 0;
      }
    }
  }

  &__description {
    flex: 1;
    padding: 0 0 0 20px;

    @include viewport--sm {
      display: flex;
      flex-direction: column;
    }
  }

  &__text-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    p {
      width: 935px;
    }

    @include viewport--lg {
      p {
        max-width: 835px;
        width: auto;
      }
    }

    @include viewport--md {
      order: 1;

      p {
        max-width: none;
        width: 100%;
      }
    }

    @include viewport--sm {
      p {
        max-width: none;
        width: 100%;
      }
    }
  }

  &__title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @include viewport--md {
      order: 2;
    }

    @include viewport--sm {
      .title--h2 {
        display: none;
      }
    }
  }

  &__title > h2 {
    margin-bottom: 0;
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .back-link {
    display: block;
    text-align: right;
    clear: both;
    margin-bottom: 20px;

    @include viewport--sm {
      display: none;
    }
  }

  &__link {
    font-size: 24px;
    line-height: 29px;
    font-weight: lighter;

    @include viewport--sm {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

.container--hotel-page {
  @include viewport--sm {
    .promo {
      display: none;
    }
  }
}
