.hotel-page-edit {
  .hotel-headline,
  .headline-back {
    display: none;

    @include viewport--sm {
      display: flex;
    }
  }

  @include viewport--sm {
    .hotel-photos,
    .top-block {
      display: none;
    }
  }

  .choices__inner {
    height: 42px;
  }

  .edit__buttons {
    padding-top: 0;

    @include viewport--sm {
      padding-top: 25px;
    }
  }

  .edit__buttons > .btn {
    padding: 17px 90px;
  }
}
