.hotel-cards {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  width: calc(100% + 15px);
  padding: 0;
  margin: 0 0 -15px 0;

  @include viewport--lg {
    width: auto;
    max-width: 70%;
  }

  @include viewport--md {
    width: auto;
    max-width: none;
    margin: 0 auto;
  }
}
