.hotel-cards {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  width: calc(100% + 15px);
  padding: 64px 0 0 0;
  max-width: 1070px;
  margin: 0 0 auto;

  @include viewport--lg {
    width: auto;
    padding: 36px 0 0;
    max-width: 67%;
  }

  @include viewport--md {
    width: auto;
    max-width: none;
    margin: 0 auto;
  }

  @include viewport--sm {
    padding: 11px 0 6px;
  }
}
