.login {
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 50px;
  width: 100%;
  max-width: 340px;
  max-height: 0;
  overflow: hidden;
  border-radius: 2px;
  background-color: $color-blue;
  color: $color-default-white;
  transition: 0.3s ease-in;

  @include viewport--lg {
    right: 80px;
  }

  @include viewport--md {
    right: 24px;
  }

  &--show {
    @include viewport--sm {
      background-color: $color-blue;
      height: 100vh;
      max-height: 100vh;
      height: calc(100 * var(--vh, 1vh));
      max-height: calc(100 * var(--vh, 1vh));
      width: 100%;
      max-width: 100%;
      z-index: 10;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      overflow-y: scroll;
      transition: transform 0.3s ease-in;
    }
  }
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 10px 19px;

  @include viewport--sm {
    margin: 0 auto;
    max-width: 500px;
    padding-bottom: 50px;
  }
}

.login__title {
  margin: 0;
  margin-bottom: 19px;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;

  @include viewport--sm {
    font-size: 32px;
    line-height: 43px;
    font-weight: 300;
    text-align: center;
  }
}

.login__form-input {
  width: 100%;
  position: relative;
}

.login__form-input input {
  width: 100%;
  padding: 6px 115px 7px 10px;
  margin-bottom: 19px;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;

  font-family: $font-family--p;
  font-size: 24px;
  line-height: 29px;
  color: $color-blue;

  &::placeholder {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.04em;
    color: $color-blue;
  }
}

.login__link {
  position: absolute;
  display: block;
  top: 0;
  right: 0;

  padding: 13px 10px;
  margin: 0;

  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.025em;
  color: $color-gray;

  user-select: none;
}

.login__show-password {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 20px;
  padding: 10px;
  border: none;
  background-color: $color-transparent;
  box-sizing: content-box;
  cursor: pointer;
  user-select: none;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 40px;
    top: 0;
    left: 0;
    background-color: $color-transparent;
  }
}

.login__show-password-img {
  &--hide {
    display: block;
  }

  &--show {
    display: none;
  }
}

.login__show-password--active .login__show-password-img {
  &--hide {
    display: none;
  }

  &--show {
    display: block;
  }
}

.login__btn {
  width: 100%;
  max-width: 222px;
  padding: 14px 25px 15px 25px;
  margin-bottom: 5px;

  letter-spacing: 0.01em;
}

.login__forgot {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: inherit;
  letter-spacing: 0.015em;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.login__header {
  @include viewport--sm {
    position: relative;
    min-height: 240px;
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
  }
}

.login__close {
  color: inherit;
  position: relative;

  @include pseudo-full;
}

.login__logo {
  color: inherit;
  position: absolute;
  top: 83px;
  left: 50%;
  transform: translateX(-50%);

  svg {
    width: 105px;
    height: 92px;
  }
}
