.main-nav {
  max-width: 870px;
  flex-grow: 1;

  &__list {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;

    @include viewport--md {
      display: none;
    }
  }

  @include viewport--lg {
    max-width: 777px;
  }

  @include viewport--md {
    display: flex;
    justify-content: flex-end;
  }

  @include viewport--sm {
    justify-content: flex-start;
  }
}

.main-nav__link {
  color: inherit;
  line-height: 21px;
  font-weight: 600;
  letter-spacing: 0.045em;
  display: inline-block;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;

  &--active {
    color: $color-gray-dark;
  }

  @include viewport--lg {
    padding-left: 6px;
    padding-right: 6px;
  }

  @media (max-width: 1250px) {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
  }

  @include viewport--md {
    font-size: 16px;
    line-height: 1.4;
  }

  @include viewport--sm {
    font-size: 18px;
    line-height: 24px;
  }
}

.main-nav__toggle {
  display: none;
  position: relative;

  @include pseudo-full($top: -10px, $left: -10px);

  cursor: pointer;
  border: none;
  background-color: $color-transparent;
  color: inherit;

  @include viewport--md {
    display: block;
    width: 25px;
    height: 20px;

    &:hover,
    &:focus {
      opacity: 0.7;
      outline: none;
    }
  }

  @include viewport--sm {
    z-index: 2;
  }
}

.main-nav__toggle-img {
  @include viewport--md {
    &--open {
      display: block;
    }

    &--close {
      display: none;
    }
  }
}

.header--menu-opened .main-nav__toggle {
  width: 26px;
  height: 26px;
  order: 2;
  margin-top: 25px;

  @include viewport--sm {
    margin-top: 0;
    margin-bottom: 80px;
    order: 1;
  }
}

.header--menu-opened .main-nav__toggle-img {
  &--open {
    display: none;
  }

  &--close {
    display: block;
  }
}
