.modal-gallery__slider {
  width: 100%;
  height: auto;
  max-height: 941px;
  margin-bottom: 16px;

  @include viewport--lg {
    margin-bottom: 8px;
  }
}

.modal-gallery__mini-slider {
  width: 100%;
  height: auto;
  max-height: 69px;
}

.modal-gallery__mini-slide {
  width: 100%;
  height: 100%;
}

.modal-gallery__btn-next {
  position: absolute;
  top: 50%;
  right: -33px;
  transform: translate(0, -162%);
  cursor: pointer;
  user-select: none;

  @include viewport--lg {
    transform: translate(0, -86%);
    right: -27px;
  }

  svg {
    fill: $color-default-white;
  }
}

.modal-gallery__btn-prev {
  position: absolute;
  top: 50%;
  left: -33px;
  transform: translate(0, -162%);
  cursor: pointer;
  user-select: none;

  @include viewport--lg {
    transform: translate(0, -86%);
    left: -27px;
  }

  svg {
    fill: $color-default-white;
  }
}

.modal-gallery__slider-wrapper,
.modal-gallery__mini-slider-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
}

.modal-gallery__image-container {
  height: 941px;
  overflow: hidden;

  @include viewport--lg {
    height: 619px;
  }

  img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
    object-position: center;
  }
}

.modal-gallery__mini-image-container {
  height: 69px;
  overflow: hidden;

  @include viewport--lg {
    height: 56px;
  }

  img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
    object-position: center;
  }
}

.modal-gallery__mini-slide {
  cursor: pointer;
}
