.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;

  background-color: rgba($color-default-black, 0.6);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  transition: opacity $modal-transition-settings,
    transform $modal-transition-settings,
    visibility $modal-transition-settings;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 10px 40px;

    @include viewport--sm {
      padding: 60px 16px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__content {
    position: relative;

    width: 600px;
    padding: 40px;

    background-color: $color-default-white;

    @include viewport--sm {
      width: 100%;
      padding: 80px 40px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @include viewport--sm {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    display: none;
  }

  &--active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}

.modal--gallery {
  .modal__wrapper {
    padding-left: 174px;
    padding-right: 174px;
  }

  .modal__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1412px;
    max-height: 95vh;
    padding: 0;
    background-color: transparent;
  }

  .modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: rgba(36, 36, 36, 0.728);
  }

  .modal__close-btn {
    position: absolute;
    top: 0;
    right: -50px;
    cursor: pointer;
    user-select: none;

    @include viewport--lg {
      right: -40px;
    }

    svg {
      fill: $color-white;
    }
  }
}

.modal--forgot {
  .modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 698px;
    min-height: 466px;
    padding: 67px 119px 37px 119px;
  }

  .modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    backdrop-filter: blur(15px);
  }

  .modal__close-btn {
    position: absolute;
    top: 0;
    right: -49px;
    width: 33px;
    height: 33px;
    outline: none;

    svg {
      fill: $color-blue;
    }

    @include viewport--sm {
      top: -38px;
      right: 0;
    }
  }
}
