.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  //margin-bottom: 24px;
  //margin-top: 29px;

  @include viewport--lg {
    margin-bottom: 0;
  }

  @include viewport--md {
    margin-bottom: 30px;
  }

  @include viewport--sm {
    padding-top: 0;

    .news-home__info-content {
      padding-right: 0;
      padding-left: 0;
  }
  }
}

.news__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 16px;
  row-gap: 21px;

  margin: 0;
  margin-top: 30px;
  margin-bottom: 84px;
  padding: 0;

  list-style: none;

  @include viewport--lg {
    column-gap: 10px;
    row-gap: 65px;
    margin-bottom: 51px;
  }

  @include viewport--md {
    grid-template-columns: 1fr;
    row-gap: 30px;
    margin-top: 10px;
    margin-bottom: 31px;
  }
}

.news p {
  @include viewport--sm {
    padding: 0;
  }
}
