.notifications {
  padding-bottom: 66px;
  position: relative;

  .headline-back {
    @include viewport--sm {
      padding-left: 17px;
      padding-right: 17px;
    }
  }

  @include viewport--lg {
    padding-bottom: 47px;
  }

  @include viewport--sm {
    padding-bottom: 28px;

    .btn {
      padding: 15px;
      width: 222px;
    }
  }

  &__open-link {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__open-link svg {
    display: none;

    @include viewport--sm {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
    }
  }

  tr:first-of-type th {
    height: 32px;
  }

  th,
  td {
    height: 37px;

    .notifications__data-wrapper {
      height: 22px;
      overflow: hidden;
    }

    @include viewport--sm {
      height: 20px;
      overflow: hidden;
    }
  }

  .btn--mobile {
    display: none;

    @include viewport--sm {
      display: block;
    }
  }

  .btn--desktop {
    display: block;
    padding: 15px;
    width: 222px;

    @include viewport--lg {
      width: 182px;
    }

    @include viewport--sm {
      display: none;
    }
  }

  &__table {
    width: 100%;
    margin-bottom: 20px;

    border-collapse: collapse;

    @include viewport--lg {
      margin-bottom: 16px;
    }

    @include viewport--sm {
      margin-bottom: 30px;
    }
  }

  &__row {
    padding: 0;
    margin: 0;
    position: relative;

    @include viewport--sm {
      display: flex;
      flex-direction: column;
      padding: 28px 15px 19px;

      &::before {
        display: block;
        content: "";
        position: absolute;
        top: 17px;
        left: 17px;
        width: 10px;
        height: 10px;

        border-radius: 100%;
      }
    }

    transition: opacity $default-transition-settings;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__row--new {
    &::before {
      background-color: $color-blue;
    }
  }

  &__row--opened {
    &::before {
      background-color: $color-gray;
    }
  }

  &__row:first-child {
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    color: $color-nobel;

    @include viewport--sm {
      display: none;
    }
  }

  tr:nth-child(even) {
    background-color: $color-gray-light;
  }

  th:first-child,
  th:last-child,
  td:first-child,
  td:last-child {
    width: 215px;

    @include viewport--lg {
      width: 11%;
      max-width: 124px;
    }

    @include viewport--md {
      display: none;
    }
  }

  &__cell--theme {
    width: 235px;
    padding-right: 10px;
    position: relative;

    font-size: 12px;
    line-height: 20px;
    text-align: left;

    @include viewport--lg {
      width: 183px;
    }

    @include viewport--sm {
      width: 100%;
      overflow: hidden;

      font-size: 16px;
      font-weight: normal;
    }
  }

  &__cell--icon {
    width: 90px;

    text-align: left;

    @include viewport--lg {
      width: 68px;
    }

    @include viewport--md {
      padding-left: 10px;
    }

    @include viewport--sm {
      display: none;
    }
  }

  &__cell--message {
    width: 500px;
    padding-right: 10px;
    position: relative;

    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    text-align: left;

    @include viewport--lg {
      width: 468px;
    }

    @include viewport--sm {
      width: 100%;
    }
  }

  &__cell--date,
  &__cell--time {
    font-size: 11px;
    line-height: 13px;
    font-weight: normal;
    text-align: left;
  }

  &__cell--time {
    @include viewport--md {
      padding-right: 10px;
    }

    @include viewport--sm {
      display: none;
    }
  }

  &__cell--date {
    width: 130px;

    @include viewport--lg {
      padding-left: 10px;
    }

    @include viewport--sm {
      width: auto;
      position: absolute;
      top: 15px;
      right: 15px;

      text-align: right;
    }
  }
}
