.notification-message {
  &__info-block {
    display: none;

    @include viewport--sm {
      display: block;
      padding-bottom: 20px;

      text-align: left;
    }

    span {
      display: block;
      width: 100%;

      font-size: 16px;
      line-height: 20px;
    }

    span:last-child {
      margin-top: 10px;

      color: $color-gray;
    }
  }

  @include viewport--sm {
    padding-bottom: 30px;

    .title--h3 {
      display: none;
    }

    .edit__label {
      display: none;
    }

    .edit__text-block {
      border-color: $color-gray-light;
      padding: 10px 0;
    }

    .edit {
      padding: 0;
    }
  }
}
