.organizer-card {
  display: flex;
  flex-direction: column;

  @include viewport--md {
    align-items: center;
  }
}

.organizer-card__image-container {
  img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
  }
}

.organizer-card .organizer-card__name {
  margin-top: 20px;
  margin-bottom: 9px;

  @include viewport--md {
    margin-left: 6px;
    margin-bottom: 17px;
  }
}

.organizer-card p {
  margin: 0;
  padding: 0;
}
