.partner-card {
  position: relative;
  display: flex;
  width: 100%;

  @include viewport--sm {
    flex-direction: column;
    align-items: center;
  }
}

.partner-card__image-container {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 222px;
  height: 222px;
  margin-right: 16px;
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden;

  img {
    vertical-align: middle;
    object-fit: cover;
    object-position: center;
  }

  @include viewport--sm {
    width: 166px;
    height: 166px;
    margin-top: 31px;
    margin-right: 0;
  }
}

.partner-card__item-container {
  display: flex;
  flex-direction: column;
}

.partner-card__top-line {
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 34px;
  margin-bottom: 2px;

  @include viewport--sm {
    align-self: center;
    margin-top: 0;
  }
}

.partner-card__link {
  align-self: flex-end;
  margin-bottom: 21px;

  @include viewport--sm {
    align-self: center;
    width: 250px;
    margin-bottom: 9px;
    overflow: hidden;

    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }
}

.partner-card__name {
  margin: 0;
  padding: 0;

  text-align: right;
  max-height: 2.5em;
  overflow: hidden;

  @include viewport--sm {
    align-self: center;
    text-align: center;
  }
}

.partner-card__rank {
  position: relative;
  z-index: 1;
  display: block;
  margin-left: 10px;
  padding: 1px 11px 2px 11px;

  font-size: 16px;
  line-height: 20px;
  color: $color-default-white;
  background-color: $color-blue;
  white-space: nowrap;

  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    right: -1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 7px 11px 0;
    border-color: $color-transparent $color-white $color-transparent $color-transparent;
  }

  @include viewport--sm {
    position: absolute;
    top: 9px;
    right: 0;
  }
}

.partner-card__item-container p {
  margin-top: 0;
  margin-bottom: 20px;
}

.partner-card__button {
  margin: auto 0 30px auto;
}
