.partners-page {
  padding-top: 25px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  @include viewport--lg {
    margin-bottom: 10px;
  }
}

.partners-page__wrapper {
  position: relative;
  overflow: hidden;
}

.partners-page__list {
  position: relative;
  top: -1px;

  column-count: 2;
  column-gap: 6px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;

  @include viewport--lg {
    column-count: 1;
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
  }
}

.partners-page__item {
  display: inline-block;
  width: 100%;
  border-top: 1px solid $color-gray-light;
}
