.partners-page {
  display: flex;
  flex-direction: column;
}

.partners-page__wrapper {
  position: relative;
  overflow: hidden;
  margin-top: -10px;

  @include viewport--lg {
    margin-top: -13px;
  }

  @include viewport--sm {
    margin-top: 17px;
  }
}

.partners-page__list {
  position: relative;
  top: -1px;

  column-count: 2;
  column-gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include viewport--lg {
    column-count: 1;
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
  }
}

.partners-page__item {
  display: inline-block;
  width: 100%;
  border-top: 1px solid $color-gray-light;
}
