.photos-slider {
  clear: both;
  display: none;


  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 0;
  }

  @include viewport--sm {
    display: block;
    padding: 29px 0 0;
  }

  &__photo-list {
    display: flex;
    padding: 0;
    justify-content: space-between;

    list-style-type: none;

    @include viewport--sm {
      margin: 0;
      padding-bottom: 35px;
    }
  }


  .direction__list .swiper-slide {
    width: 100%;
    height: 375px;
  }

  &__photo-item img {
    width: auto;
    height: 100%;
    max-width: none;
    object-fit: cover;
    margin: auto;
  }

  .direction {
    padding-top: 0;
  }

  .direction__arrow::after {
    display: none;
  }

  .direction__arrow--right,
  .direction__arrow--left {
    top: 46%;
  }

  .direction__arrow--right {
    right: 12px;
  }

  .direction__arrow--left {
    left: 12px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  picture,
  img {
    @include viewport--sm {
      width: 100%;
    }
  }
}

@include viewport--sm {
  .photos-slider--account {
    .swiper-container-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: 10px;
    }
  }
}
