.photos-slider {
  clear: both;
  display: none;

  @include viewport--sm {
    display: block;
  }

  &__photo-list {
    display: flex;
    padding: 0;
    justify-content: space-between;

    list-style-type: none;

    @include viewport--sm {
      margin: 0;
      padding-bottom: 35px;
    }
  }

  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 0;
  }

  .direction__list .swiper-slide {
    width: 100%;
    height: 375px;
  }

  &__photo-item img {
    width: auto;
    height: 100%;
    max-width: none;
    object-fit: cover;
    margin: auto;
  }

  .direction {
    padding-top: 0;
  }

  .direction__arrow::after {
    display: none;
  }

  .direction__arrow--right,
  .direction__arrow--left {
    top: 46%;
  }
}
