.photos {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px -15px 0;
  padding: 20px 0;

  @include viewport--lg {
    margin: 0 -10px -10px 0;
  }

  @include viewport--sm {
    display: none;
  }

  &__wrapper {
    display: flex;
    width: 100%;
  }

  &__block__wrapper {
    display: flex;
    width: 100%;
  }

  &__block--first {
    width: 100%;
    max-width: 698px;
    height: 459px;
    margin: 0 15px 15px 0;
    min-width: 400px;
    flex-grow: 2;
    position: relative;

    @include viewport--lg {
      height: 366px;
      margin: 0 10px 10px 0;
    }

    @media (max-width: 1280px) {
      max-width: 458px;
    }

    @include viewport--md {
      height: 302px;
      max-width: 400px;
    }
  }

  &__block--first .photo-edit__text {
    bottom: 23%;
  }

  &__block--second .photos__item .photo-edit__text {
    bottom: 3%;
  }

  &__block--last .photos__item .photo-edit__text {
    display: none;
  }

  &__block--second {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  &__block--second .photos__item {
    height: 222px;
    object-fit: cover;

    @include viewport--lg {
      height: 178px;
    }

    @include viewport--md {
      height: 146px;
    }
  }

  &__item {
    margin: 0 15px 15px 0;
    position: relative;

    @include viewport--lg {
      margin: 0 10px 10px 0;
    }
  }

  &__item--upload {
    background-color: $color-zambezi;
    display: flex;
    align-items: center;
    width: calc((100% / 6) - 15px);

    @include viewport--lg {
      width: calc((100% / 6) - 10px);
    }
  }

  &__item--upload label {
    margin: 0 auto;
  }

  &__item--middle {
    max-width: 222px;
    width: 32%;

    @include viewport--lg {
      max-width: 178px;
    }

    @media (max-width: 1250px) {
      width: 30%;
    }
  }

  &__item--big {
    max-width: 282px;
    width: 40%;

    @include viewport--lg {
      max-width: 272px;
      width: 42%;
    }

    @media (max-width: 1250px) {
      width: 40%;
    }
  }

  &__item--small {
    max-width: 162px;
    width: 23%;

    @include viewport--lg {
      max-width: 178px;
      width: 26%;
    }

    @media (max-width: 1250px) {
      width: 30%;
    }
  }

  &__block--last {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 0 0;

    @include viewport--lg {
      margin: 0 -10px 0 0;
    }
  }

  &__block--last > .photos__item {
    //width: calc((100% / 6) - 15px);
    height: 148px;
    object-fit: cover;

    @media (max-width: 1250px) {
      height: 80px;
    }
  }

  picture,
  img {
    height: 100%;
    object-fit: cover;
  }

  .photos__block--first {
    picture,
    img {
      width: 100%;
    }
  }

  &--edit {

    .photos__item:hover,
    .photos__item:focus,
    .photos__block--first:hover,
    .photos__block--first:focus {
      .photo-edit {
        display: flex;
      }
    }
  }
}
