.search-input {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  @include viewport--sm {
    border-top: 1px solid $color-default-white;
    border-bottom: 1px solid $color-default-white;
    justify-content: flex-start;
  }
}

.search-input__label {
  width: 50%;
  font-size: 0;

  @include viewport--sm {
    width: 100%;
  }
}

.search-input__input {
  width: 100%;
  border: none;
  padding: 20px;
  padding-left: 0;
  font-size: 38px;
  font-weight: 300;
  line-height: 51px;
  border-radius: 0;
  color: inherit;

  &:focus {
    outline: none;
  }

  @include viewport--sm {
    font-size: 33px;
    line-height: 44px;
    color: $color-default-white;
    padding: 7px;
    padding-left: 0;
    background-color: $color-blue;
  }
}

.search-input__input::placeholder {
  font-size: 38px;
  font-weight: 300;
  line-height: 51px;
  color: inherit;

  @include viewport--sm {
    font-size: 33px;
    line-height: 44px;
    color: $color-default-white;
  }
}

.search-input__button {
  display: block;
  border: none;
  background-color: $color-default-white;
  color: inherit;
  font-size: 0;
  padding-right: 15px;
  padding-left: 15px;
  cursor: pointer;
  transition: opacity $default-transition-settings;


  svg {
    fill: currentColor;
    width: 20px;
    height: 20px;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
    outline: none;
  }

  &:active {
    opacity: 0.3;
    outline: none;
  }

  @include viewport--sm {
    background-color: transparent;
    padding-left: 0;
  }
}
