.video {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__container {
    height: 392px;

    @include viewport--md {
      height: 500px;
    }

    @include viewport--sm {
      height: 210px;
    }
  }

  &__player {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &__title-wrap {
    span {
      font-weight: 300;
    }

    @include viewport--sm {
      padding: 0 16.5px;
      margin-bottom: 20px;

      .title--h3 {
        letter-spacing: 0.3px;
      }

      span {
        display: none;
      }
    }
  }

  @include viewport--sm {
    display: none;
  }

  &__block-item {
    margin-bottom: 27px;

    @include viewport--sm {
      margin-bottom: 33px;
    }
  }
}
