.video {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__container {
    height: 391px;

    @include viewport--lg {
      height: 386px;
    }

    @include viewport--md {
      height: 500px;
    }

    @include viewport--sm {
      margin-left: -16px;
      margin-right: -16px;

      height: 350px;
    }

    @media (max-width: 500px) {
      height: 210px;
    }
  }

  &__player {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &__title-wrap {
    span {
      font-weight: 300;
    }

    @include viewport--sm {
      span {
        display: none;
      }
    }
  }

  @include viewport--sm {
    display: none;
  }

  &__block-item {
    margin-bottom: 27px;

    @include viewport--sm {
      margin-bottom: 33px;
    }
  }
}
