mixin renderAdminHeadline(eventName, eventPlace, dates, backLink)
  .top-wrapper
    .top-wrapper__headline-wrapper
      h2.title.title--h2.top-wrapper__title !{eventName}
      if backLink
        a.back-link.hidden-sm(href=link) Back
          +icon("link-arrow", 12, 20)
    .top-wrapper__place
      p !{eventPlace}
    .top-wrapper__dates
      p !{dates}
