mixin renderDownloadList(downloadList, hasLeftPadding)
  if hasLeftPadding
    - var leftPaddingClass = 'admin__download-list--left-padding'
  else
    - var leftPaddingClass = ''

  ul.admin__download-list(class=leftPaddingClass)
    each file in downloadList
      li.admin__download-item
        a.admin__download-link(href=file.link aria-label="Скачать файл" download)=file.text
          +icon("icon-download", 26, 35)

mixin renderDownloadFiles(downloadHeadline, downloadList, hasLeftPadding)
  h2.title.title--h2=downloadHeadline
  +renderDownloadList(downloadList, hasLeftPadding)

