mixin renderDownloadList(downloadList, hasLeftPadding)
  if hasLeftPadding
    - var leftPaddingClass = 'download-list--left-padding'
  else
    - var leftPaddingClass = ''

  ul.download__list.download-list(class=leftPaddingClass)
    each file in downloadList
      li.download-list__item
        a.download-list__link(href=file.link aria-label="Скачать файл" download)=file.text
          +icon("icon-download", 26, 35)

mixin renderDownloadFiles(downloadHeadline, downloadList, hasLeftPadding)
  .download
    h2.admin__section-title=downloadHeadline
    +renderDownloadList(downloadList, hasLeftPadding)

