.direction {
  padding-top: 30px;
}

.direction__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  //padding-top: 30px;
  flex-direction: row;
  justify-content: space-between;

  @include viewport--sm {
    display: none;
  }

  .swiper-slide {
    height: auto;
  }
}

.direction__item {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 145px;
  padding-right: 10px;
}

.direction__title {
  margin: 0;
  font-size: 16px;
  text-align: center;
  color: #606060;
  max-width: 272px;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid $color-blue;
  padding-bottom: 4px;
}

.direction__data {
  text-align: center;
  font-size: 14px;
  color: $color-blue;
  padding-top: 8px;
  font-weight: 600;
}

.direction__status {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin: 0;

  &--ending {
    color: $color-red;
  }

  &--available {
    color: $color-green;
  }

  &--waiting {
    color: $color-gray;
  }
}

.direction__swiper {
  position: relative;
  margin: 0 auto;
  padding: 0 50px;
  padding-top: 30px;
  max-width: 1510px;

  .swiper-container {
    position: static;
  }

  @media (max-width: 1439px) {
    padding: 0 80px;
    padding-top: 30px;
  }

  @media (max-width: 1023px) {
    padding: 0 24px;
    padding-top: 30px;
  }

  @include viewport--sm {
    display: none;
  }
}

.direction__arrow {
  outline: none;
  align-self: center;
}

.direction__arrow--right {
  position: absolute;
  top: 55%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 33px;
  left: auto;

  @media (min-width: 1440px) {
    right: 10px;
  }

  @media (max-width: 1020px) {
    right: 0;
  }
}

.direction__arrow--left {
  position: absolute;
  top: 55%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 33px;
  right: auto;

  @media (min-width: 1440px) {
    left: 10px;
  }

  @media (max-width: 1020px) {
    left: 0;
  }
}

.direction__arrow,
.direction-button-next::after {
  content: none;
}

.direction__arrow,
.direction-button-prev::after {
  content: none;
}

