.direction {
  padding-top: 30px;
}

.direction__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include viewport--sm {
    display: none;
  }

  .swiper-slide {
    height: auto;
  }
}

.direction__item {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 10px;
}

.direction__title {
  margin: 0;
  font-size: 16px;
  text-align: center;
  color: #606060;
  max-width: 272px;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid $color-blue;
  padding-bottom: 4px;

  @media (min-width: 1920px) {
    padding-bottom: 8px;
  }
}

.direction__data {
  text-align: center;
  font-size: 14px;
  color: $color-blue;
  padding-top: 8px;
  font-weight: 600;

  @media (min-width: 1920px) {
    padding-top: 0;
  }
}

.direction__status {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin: 0;

  &--ending {
    color: $color-red;
  }

  &--available {
    color: $color-green;
  }

  &--waiting {
    color: $color-gray;
  }
}

.direction-swiper {
  position: relative;
  margin: 0 auto;
  padding: 0 50px;
  padding-top: 30px;
  width: 100%;
  max-width: 1510px;

  .swiper-container {
    position: static;
  }

  @media (max-width: 1439px) {
    padding: 0 80px;
    padding-top: 30px;
  }

  @media (max-width: 1023px) {
    padding: 0 24px;
    padding-top: 30px;
  }

  @include viewport--sm {
    display: none;
  }
}

.direction__arrow {
  outline: none;
  align-self: center;
}

.direction__arrow--right {
  position: absolute;
  top: 55%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 33px;
  left: auto;

  @media (min-width: 1440px) {
    right: 10px;
  }

  @media (max-width: 1020px) {
    right: 0;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.direction__arrow--left {
  position: absolute;
  top: 55%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 33px;
  right: auto;

  @media (min-width: 1440px) {
    left: 10px;
  }

  @media (max-width: 1020px) {
    left: 0;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.direction__arrow,
.direction-button-next::after {
  content: none;
}

.direction__arrow,
.direction-button-prev::after {
  content: none;
}

.direction--exhibitors {
  @include viewport--sm {
    display: flex;
    align-items: center;
    padding: 20px 15px 16px;
  }

  .title--h2 {
    margin-bottom: 20px;
    letter-spacing: 1.4px;

    @include viewport--lg {
      margin-bottom: 24px;
    }

    @include viewport--sm {
      margin-bottom: 0;
    }
  }

  .direction__title {
    padding-bottom: 14px;
    letter-spacing: 0.3px;
    line-height: 20px;

    @include viewport--lg {
      padding: 0 0 14px 0;
    }

    @include viewport--sm {
      padding-bottom: 16px;
      font-size: 16px;
      line-height: 19px;
      font-weight: normal;
      max-width: 227px;
      letter-spacing: 0.7px;
    }
  }

  .direction__data {
    padding-top: 5px;
    padding-bottom: 3px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.3px;
  }

  .direction__status {
    font-size: 12px;
    line-height: 14px;
  }

  .direction__item {
    padding: 7px 0 15px 0;
    border: 1px solid transparent;

    @include viewport--sm {
      align-items: center;
      padding-right: 0;
    }
  }

  .swiper-slide {
    //margin-right: 15px;

    @include viewport--lg {
      margin-right: 10px;
    }

    @include viewport--sm {
      border: none;
      margin: 0;
      width: 100%;
    }
  }

  input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    visibility: hidden;
  }

  input:checked ~ .direction__radio .direction__item {
    border-color: $color-blue;
  }

  .direction__arrow--right {
    top: 72%;

    @include viewport--lg {
      right: 41px;
      top: 75%;
    }

    @include viewport--sm {
      right: 8px;
      top: 45%;
    }
  }

  .direction__arrow--left {
    top: 72%;

    @include viewport--lg {
      left: 41px;
      top: 75%;
    }

    @include viewport--sm {
      left: 8px;
      top: 45%;
    }
  }

  .direction__list {
    @include viewport--sm {
      display: flex;
      align-items: center;
      padding: 20px 0 45px;
    }
  }

  .swiper-pagination {
    @include viewport--sm {
      top: 221px;
      width: 100%;
      left: 0;
    }
  }

  .swiper-pagination-bullet {
    @include viewport--sm {
      width: 10px;
      height: 10px;
      margin: 0 5px;
      background: initial;
      border: 1px solid $color-blue;
    }
  }

  .swiper-pagination-bullet-active {
    @include viewport--sm {
      background: $color-blue;
    }
  }
}
