.news-home {
  display: flex;
  padding-bottom: 37px;
}

.news-home__about {
  width: 50%;
  padding-top: 36px;
  position: relative;

  &-title {
    margin: 0;
    color: #0098C1;
    font-size: 36px;
    font-weight: 300;
    padding-bottom: 13px;
  }

  &-text {
    margin: 0;
    width: 100%;
    max-width: 692px;
    padding-top: 13px;
  }

  .news-home__button-open {
    bottom: 52px;
  }
}

.news-home__info {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 36px;
  padding-left: 16px;

  &-title {
    margin: 0;
    color: #0098C1;
    font-size: 38px;
    font-weight: 300;
    padding-bottom: 13px;
  }

  &-list {
    padding: 0;
    margin: 0;
  }

  &-item {
    display: flex;
    position: relative;
    padding-bottom: 32px;
  }

  &-img {
    position: relative;
    flex-shrink: 0;
    width: 222px;
    height: 222px;
    overflow: hidden;

    img {
      position: absolute;
      object-fit: cover;
      object-position: center;
      height: 100%;
    }
  }

  &-content {
    position: relative;
    display: flex;
    flex-direction: column;
    //height: 76%;
    box-sizing: border-box;
  }

  &-date {
    padding-left: 16px;
    font-size: 12px;
    color: #9F9F9F;
  }

  h3 {
    color: #0098C1;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    padding-left: 16px;
    padding-top: 5px;
  }

  &-text {
    width: 106%;
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    padding-left: 16px;
    color: #505050;
    max-height: 115px;
    overflow: hidden;
  }

  a {
    text-align: center;
    font-weight: 600;
  }
}

.news-home__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0098c1;
  border-radius: 1px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  color: #0098c1;

  &-open {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 4px 41px;
  }
}

