.patners__block {
  border-top: 1px solid $color-blue;
  padding-top: 30px;
}

.partners__title {
  font-size: 38px;
  font-weight: 300;
  color: $color-blue;
  margin: 0;
}

.partners__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 45px;
}

.partners__item {
  padding-right: 50px;
  padding-bottom: 45px;

  @include viewport--sm {
    padding-right: 10px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.partners__btn {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 15px;
}
