-
  var scheduleTabs = [
    {
      text: "День 1",
      separator: "–",
      date: "27.02.2020",
      link: "lk-schedule-d1.html",
      currentPage: "Schedule"
    },
    {
      text: "День 2",
      separator: "–",
      date: "28.02.2020",
      link: "lk-schedule-d2.html",
      currentPage: "Schedule2"
    }
  ]

-
  var adminGuestsListTitles = {
    company: "Company",
    name: "Representative",
    colleagueName: "Representative (Colleague)",
    freeSlots: "Free Slots",
    request: "Request",
    contact: "Contact"
  }

-
  var adminGuestsList = [
    {
      company: "Travel Luxury Agency",
      place: "Worldwide",
      name: "Ivan Skorodubov",
      position: "Director",
      colleagueName: "Svetlana Yakovleva",
      colleaguePosition: "PR-director",
      freeSlots: [
        "10:00 – 10:10",
        "12:00 – 12:20"
      ],
      request: "Send a request",
      contact: "Send a message",
      requestLink: "#",
      contactLink: "#",
      requestStatus: "sent",
      request: "Send a request",
      requestSent: "Request sent",
      contact: "Send a message",

    },
    {
      company: "Prime Luxury Travel",
      place: "Worldwide",
      name: "Eugenia Stuslova",
      position: "Senior Sales Manager",
      colleagueName: "Aleksandr Senkov",
      colleaguePosition: "Sales Manager",
      freeSlots: [
        "10:00 – 10:10",
        "12:00 – 12:20"
      ],
      requestStatus: "await",
      request: "Send a request",
      requestSent: "Request sent",
      contact: "Send a message",
    },
    {
      company: "Anastasia Tours",
      place: "UAE, Turkey",
      name: "Anna Petrenko",
      position: "Manager",
      colleagueName: "Valentina Petrenko",
      colleaguePosition: "Sales Manager",
      freeSlots: [
        "13:00 – 17:10",
        "12:00 – 12:20"
      ],
      requestStatus: "await",
      request: "Send a request",
      requestSent: "Request sent",
      contact: "Send a message",
    },
  ]
