-
  var adminTabs = [
    {
      text: "Deadlines & Info",
      link: "admin-deadlines.html",
      currentPage: "Deadline"
    },
    {
      text: "Messages",
      link: "admin-messages-inbox.html",
      currentPage: "Messages"
    },
    {
      text: "My Schedule",
      link: "admin-schedule-d1.html",
      currentPage: "Schedule"
    },
    {
      text: "Buyers Guest List",
      link: "admin-guests-d1.html",
      currentPage: "Buyers Guest List"
    },
    {
      text: "Hosted Buyers Guest List",
      link: "admin-hosted-guests-d1.html",
      currentPage: "Hosted Buyers Guest List"
    },
    {
      text: "Sponsorship Opportunities",
      link: "admin-sponsors-opportunities.html",
      currentPage: "Sponsorship Opportunities"
    },
  ]
