-
  var adminMailControl = {
    title: "Inbox",
    linkList: [
      {
        link: "#",
        icon: "icon-write-message",
        iconWidth: 24,
        iconHeight: 24,
        mod: "new"
      },
      {
        link: "#",
        text: "Inbox",
        mod: "inbox"
      },
      {
        link: "#",
        text: "Sent",
        mod: "sent"
      },
      {
        link: "#",
        text: "Contact Organizers",
        mod: "contacts"
      }
    ],
    isSearchInput: true
  }
