-
  var adminSentMessagesTitles = {
    status: "Status",
    from: "To",
    subject: "Subject",
    date: "Date",
    time: "Time",
    event: "Event",
    message: "Message"
  }

-
  var adminSentMessagesRusTitles = {
    status: "Статус",
    from: "Кому",
    subject: "Тема",
    date: "Дата",
    time: "Время",
    message: "Сообщение"
  }

-
  var adminSentMessages = [
    {
      status: "sent",
      to: "Pegas Touristic",
      subject: "Request for Meeting at the Luxury Travel Mart Moscow’ 2020",
      date: "22 Dec. 2019",
      time: "18:57",
      event: "Luxury Travel Mart Kiev’ 2020",
      message: "Dear Stanislav, we invite your company in mee… "
    },
    {
      status: "sent",
      to: "Organizers",
      subject: "Information About Your Exhibition Place",
      date: "21 Dec. 2019",
      time: "12:20",
      event: "Luxury Travel Mart Moscow’ 2020",
      message: "Dear Stanislav, we invite your company in mee… "
    },
    {
      status: "sent",
      to: "Sun Tour",
      subject: "Request for Meeting at the Luxury Travel Mart Moscow’ 2020",
      date: "21 Dec. 2019",
      time: "13:40",
      event: "Luxury Travel Mart Moscow’ 2020",
      message: "Dear Stanislav, we invite your company in mee… "
    },
  ]

-
  var adminSentRusMessages = [
    {
      status: "sent",
      to: "Pegas Touristic",
      subject: "Request for Meeting at the Luxury Travel Mart Moscow’ 2020",
      date: "22 Dec. 2019",
      time: "18:57",
      message: "Dear Stanislav, we invite your company in mee… "
    },
    {
      status: "sent",
      to: "Organizers",
      subject: "Information About Your Exhibition Place",
      date: "21 Dec. 2019",
      time: "12:20",
      message: "Dear Stanislav, we invite your company in mee… "
    },
    {
      status: "sent",
      to: "Sun Tour",
      subject: "Request for Meeting at the Luxury Travel Mart Moscow’ 2020",
      date: "21 Dec. 2019",
      time: "13:40",
      message: "Dear Stanislav, we invite your company in mee… "
    },
  ]
