-
  var adminTabs = [
    {
      text: "Deadline Info",
      link: "admin.html"
    },
    {
      text: "Messages",
      link: "admin2.html"
    },
    {
      text: "My Schedule",
      link: ""
    },
    {
      text: "Buyers Guest List",
      link: ""
    },
    {
      text: "Hosted Buyers Guest List",
      link: ""
    },
    {
      text: "Sponsorship Opportunities",
      link: ""
    },
    {
      text: "Hosted Buyers Guest List",
      link: ""
    },
    {
      text: "Sponsorship Opportunities",
      link: ""
    },
  ]
