- var adminScheduleTitles = ["Time", "Company", "Request", "Status"]

-
  var adminSchedule = [
    {
      time: "10:00 – 10:10",
      company: [
        "Choose a company",
        "Mandarin International Hotel Group"
      ],
      request: "Send a request",
      requestLink: "#",
      status: "Free",
    },
    {
      time: "10:00 – 10:10",
      company: [
        "Choose a company",
        "Mandarin International Hotel Group"
      ],
      request: "Send a request",
      requestLink: "#",
      status: "Free",
    },
  ]
