-
  var scheduleTabs = [
    {
      text: "Day 1",
      separator: "–",
      date: "27 Feb. 2020",
      link: "admin-schedule-d1.html",
      currentPage: "Schedule"
    },
    {
      text: "Day 2",
      separator: "–",
      date: "28 Feb. 2020",
      link: "admin-schedule-d2.html",
      currentPage: "Schedule2"
    }
  ]

-
  var generatePDF = {
    text: "Generate PDF with schedule",
    link: "#"
  }


-
  var adminScheduleTitles = {
    time: "Time",
    company: "Company",
    request: "Request",
    status: "Status"
  }

-
  var adminSchedule = [
    {
      time: "10:00 – 10:10",
      company: [
        "Choose a company",
        "Mandarin International Hotel Group"
      ],
      request: "Send a request",
      requestSent: "Request sent",
      requestLink: "#",
      requestStatus: "sent",
      status: "Free"
    },
    {
      time: "10:00 – 10:10",
      company: [
        "Choose a company",
        "Mandarin International Hotel Group"
      ],
      request: "Send a request",
      requestSent: "Request sent",
      requestLink: "#",
      requestStatus: "await",
      status: "Free"
    }
  ]
