-
  var adminMailControl = {
    linkList: [
      {
        link: "admin-messages-new.html",
        icon: "icon-write-message",
        iconWidth: 24,
        iconHeight: 24,
        mod: "new",
        currentPage: "MessagesNew"
      },
      {
        link: "admin-messages-inbox.html",
        text: "Inbox",
        mod: "inbox",
        currentPage: "Messages"
      },
      {
        link: "admin-messages-sent.html",
        text: "Sent",
        mod: "sent",
        currentPage: "MessagesSent"
      },
      {
        link: "admin-messages-new.html",
        text: "Contact Organizers",
        mod: "contacts",
      }
    ],
    isSearchInput: true
  }
