-
  var adminTabs = [
    {
      text: "Deadlines & Info",
      link: "admin-deadlines.html"
    },
    {
      text: "Messages",
      link: "admin-messages-inbox.html"
    },
    {
      text: "My Schedule",
      link: "admin-schedule-d1.html"
    },
    {
      text: "Buyers Guest List",
      link: "admin-guests-d1.html"
    },
    {
      text: "Hosted Buyers Guest List",
      link: "admin-hosted-guests-d1.html"
    },
    {
      text: "Sponsorship Opportunities",
      link: "admin-sponsors-opportunities.html"
    },
  ]
