-
  var adminTabs = [
    {
      text: "Deadlines & Info",
      link: "admin-deadlines.html"
    },
    {
      text: "Messages",
      link: "admin-messages-inbox.html"
    },
    {
      text: "My Schedule",
      link: ""
    },
    {
      text: "Buyers Guest List",
      link: ""
    },
    {
      text: "Hosted Buyers Guest List",
      link: ""
    },
    {
      text: "Sponsorship Opportunities",
      link: "admin.html"
    },
  ]
