-
  var scheduleTabs = [
    {
      text: "Day 1",
      separator: "–",
      date: "27 Feb. 2020",
      link: "admin-guests-d1.html"
    },
    {
      text: "Day 2",
      separator: "–",
      date: "28 Feb. 2020",
      link: "admin-guests-d2.html"
    },
  ]
