- var adminScheduleTitles = ["Time", "Company", "Request", "Status"]

-
  var adminSchedule = [
    {
      time: "10:00 – 10:10",
      company: [
        "Cats",
        "Dogs"
      ],
      request: "Send a request",
      status: "Free",
    },
    {
      time: "10:00 – 10:10",
      company: [
        "Cats",
        "Dogs"
      ],
      request: "Send a request",
      status: "Free",
    },
  ]
