-
  var adminScheduleTitles = {
    time: "Time",
    company: "Company",
    request: "Request",
    status: "Status",
  }

-
  var adminScheduleRusTitles = {
    time: "Время",
    company: "Участник",
    request: "Запрос",
    status: "Статус",
    timeLimit: "Времени осталось"
  }

-
  var adminSchedule = [
    {
      time: "10:00 – 10:10",
      company: [
        "Choose a company",
        "Mandarin International Hotel Group"
      ],
      request: "Send a request",
      requestLink: "#",
      status: "Free",
    },
    {
      time: "10:00 – 10:10",
      company: [
        "Choose a company",
        "Mandarin International Hotel Group"
      ],
      request: "Send a request",
      requestLink: "#",
      status: "Free",
    },
  ]

-
  var adminRusSchedule = [
    {
      time: "10:00 – 10:10",
      company: [
        "Choose a company",
        "Mandarin International Hotel Group"
      ],
      request: "Send a request",
      requestLink: "#",
      status: "Free",
      timeLimit: "12 days"
    },
    {
      time: "10:00 – 10:10",
      company: [
        "Choose a company",
        "Mandarin International Hotel Group"
      ],
      request: "Send a request",
      requestLink: "#",
      status: "Free",
    },
  ]
