- var downloadHeadline = "Files to Download"

-
  var downloadList = [
    {
      text: "Detailed program",
      link: ""
    },
    {
      text: "Floor plan for the working session",
      link: ""
    },
    {
      text: "Floor plan for Hosted buyer session",
      link: ""
    },
  ]
