-
  var filters = [
    {
      title: "Alphabetically:",
      mod: "list",
      filterList: "#ABCDEFGHIJKLMNOPQRSTUVWXY"
    },
    {
      title: "By country of interests:",
      mod: "dropdown",
      filterList: [
        "Afghanistan",
        "Russia",
        "United States of America",
        "China",
        "Afghanistan",
        "Russia",
        "United States of America",
        "China",
        "Afghanistan",
        "Russia",
        "United States of America",
        "China",
        "Afghanistan",
        "Russia",
        "United States of America",
        "China",
      ]
    },
    {
      title: "By city of origin:",
      mod: "dropdown",
      filterList: [
        "Apartments & villas rental",
        "Hello, hello",
        "Come with kittens",
      ]
    },
    {
      title: "Main activities:",
      mod: "dropdown",
      filterList: [
        "Apartments & villas rental",
        "Hello, hello",
        "Come with kittens",
      ]
    },
  ]
