- var participantsHeadline = "Participants at this Event"
- var participantsInfo = "Only 2 participants are allowed"
- var participantsText = "If you want register more participants for this event, please send information to administrator. "

-
  var participantsList = [
    {
      photo: "img/content/admin-photo.jpg",
      name: "Stanislav",
      lastName: "Ozeretsky",
      position: "Sales Manager Russia and CIS",
      mail: "123@gmail.com"
    },
    {
      photo: "img/svg/icon-no-photo.svg",
      name: "Colleague’s first name",
      lastName: "Colleague’s first name",
      position: "Position",
      mail: "123@gmail.com"
    }
  ]

