-
  var scheduleTabs = [
    {
      text: "Day 1",
      separator: "–",
      date: "27 Feb. 2020",
      link: "admin-schedule-d1.html"
    },
    {
      text: "Day 2",
      separator: "–",
      date: "28 Feb. 2020",
      link: "admin-schedule-d2.html"
    },
  ]

-
  var generatePDF = {
    text: "Generate PDF with schedule",
    link: "#"
  }
