- var sponsorshipHeadline = "Sponsorship Opportunities"

-
  var sponsorshipList = [
    {
      title: "General Sponsor",
      src: "img/content/sponsorship-1.jpg",
      srcset: "",
      textList: [
        "The package of general sponsors, including:",
        "– The largest exhibition stand in the pre-function area;",
        "– branding on badges ribbon;",
        "– branding on the website luxurytravelmart.ru;",
        "– branding in all places with the LTM brand;",
        "– special offer for hotel rooms during the days of the exhibition;",
        "– branding on the charge station",
      ],
      buttonText: "Request an Offer",
      status: "active"
    },
    {
      title: "Sponsor",
      src: "img/content/sponsorship-2.jpg",
      srcset: "",
      textList: [
        "The Sponsor package including:",
        "– The exhibition stand in the pre-function or another areas;",
        "– branding on the website luxurytravelmart.ru;",
      ],
      buttonText: "Request has been sent",
      status: "disabled"
    },
    {
      title: "Company Hall",
      src: "img/content/sponsorship-3.jpg",
      srcset: "",
      textList: [
          "The package of general sponsors, including:",
          "– branding of the entrance to exclusive hall;",
          "– branding on the website luxurytravelmart.ru;",
          "\u00A0",
          "Conditions:",
          "Company have to buy 16 working places"
      ],
      buttonText: "Request an Offer",
      status: "disabled"
    },
    {
      title: "Bar in Pre-function Area",
      src: "img/content/sponsorship-4.jpg",
      srcset: "",
      textList: [
        "Bar package including:",
        "– big bar size (450 cm.)",
        "– drinks and barmens;",
        "– branding on the bar;",
        "– big backdrop with your branding 6000x4000 mm.;",
        "– 2 LED-panels 65–70’’",
      ],
      buttonText: "Request an Offer",
      status: "disabled"
    },
    {
      title: "Bar in Lobby",
      src: "img/content/sponsorship-5.jpg",
      srcset: "",
      textList: [
        "Bar package including:",
        "– middle bar size (320 cm.)",
        "– drinks and barmens;",
        "– branding on the bar;",
        "– middle backdrop with your branding 4000x4000 mm.;",
        "– 2 LED-panels 65–70’’",
      ],
      buttonText: "Request an Offer",
      status: "disabled"
    },
    {
      title: "Exclusive Stands",
      src: "img/content/sponsorship-6.jpg",
      srcset: "",
      textList: [
        "In this case your company representative from exclusive exhibition items"
          ],
      buttonText: "Request an Offer",
      status: "disabled"
    },
  ]

