-
  var wishList = {
    title: "Wish list",
    description: "My wish list for appointments outside of the working session",
    generatePDF: {
      link: "#",
      text: "Generate PDF with Wish-list"
    },
    selectCompany: [
      "Choose a company",
      "Hello, hello"
    ],
    request: "Send a request",
    text: "The following guests are interested in an appointment with you outside of the working session",
    companyList: {
      columnOne: [
        "Pegas Touristic",
        "Luxury Events Agency",
        "Alta Luxury Tours",
        "Main Course Touristic",
        "Exclusive Tours LLC",
        "Aeroflot",
        "One Lux Tours",
        "The First T Agency",
        "Luxury Travel LLC",
      ],
      columnTwo: [
        "Pegas Touristic",
        "Luxury Events Agency",
        "Alta Luxury Tours",
        "Main Course Touristic",
        "Exclusive Tours LLC",
        "Aeroflot",
        "One Lux Tours",
        "The First T Agency",
        "Luxury Travel LLC",
      ]
    }
  }
