.account {
  &__event-block {
    padding: 25px 0 27px;
    border-top: 1px solid $color-blue;

    @include viewport--sm {
      padding-top: 32px;
      padding-bottom: 61px;
    }
  }

  &__event-block > .title--h2 {
    margin-bottom: 1px;

    @include viewport--sm {
      font-size: 38px;
      line-height: 46px;
    }
  }

  &__event-wrapper {
    position: relative;
  }

  &__event-wrapper .direction__arrow--right {
    right: -40px;
  }

  &__event-wrapper .direction__arrow--left {
    left: -40px;
  }

  &__event-list {
    display: flex;
    padding: 0;
    margin: 0;

    list-style-type: none;
  }

  &__event {
    margin-right: 4px;
    width: 341px;

    @include viewport--sm {
      margin-right: 0;
    }
  }

  &__event-block .direction__arrow--left,
  &__event-block .direction__arrow--right {
    top: 42%;
  }

  &__event button {
    display: block;
    width: 222px;
    margin: 21px auto 0;
    padding: 14px 30px;
  }

  &__event-block > .title--h3 {
    margin: 0 0 17px;
  }

  &__event-block .title--h4 {
    margin: 0;

    font-size: 16px;
    line-height: 19px;
    color: $color-blue;
  }

  &__event--paid .account__event-status {
    color: $color-green;
  }

  &__event--unpaid .account__event-status {
    color: $color-gray;
  }

  &__event--not-registered .account__event-status {
    color: $color-red;
  }

  &__event-status {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0;
    margin-top: 15px;

    font-size: 12px;
    line-height: 20px;

    @include viewport--sm {
      margin-top: 11px;
    }
  }

  &__event-status svg {
    margin-right: 15px;
  }

  &__event-description {
    display: block;

    font-size: 12px;
    line-height: 15px;
    color: $color-nobel;
  }

  &__event-date {
    display: block;

    font-size: 14px;
    line-height: 17px;
    color: $color-blue;
  }

  .btn {
    width: 100%;
  }

  &__contact-us {
    display: flex;
    justify-content: flex-start;
    padding: 25px 0;

    border-top: 1px solid $color-blue;

    @include viewport--lg {
      padding: 25px 0 32px 0;
    }

    @media (max-width: 1200px) {
      flex-wrap: wrap;
    }
  }

  &__admin {
    width: 340px;
    margin-right: 16px;

    @include viewport--lg {
      margin-right: 35px;
    }

    @include viewport--sm {
      width: 100%;
      margin: 0;
      padding: 0 0 6px 0;
    }
  }

  &__admin img {
    margin-right: 15px;

    border-radius: 100%;

    @include viewport--sm {
      display: block;
      margin: 0 auto;
    }
  }

  &__admin span {
    display: block;
  }

  &__admin-info {
    padding-top: 20px;

    @include viewport--sm {
      padding-top: 15px;
    }
  }

  &__admin-name {
    font-size: 16px;
    line-height: 20px;
    color: $color-gray-dark;
  }

  &__admin-position {
    font-size: 12px;
    line-height: 20px;
    color: $color-nobel;
  }

  &__admin-text {
    font-size: 12px;
    line-height: 20px;
    color: $color-nobel;
    text-align: left;
  }

  &__contact-button {
    position: absolute;
    top: 24px;
    right: 0;
    display: block;

    border: none;
    background-color: transparent;

    transition: opacity $default-transition-settings;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__admin-wrapper {
    display: flex;
    padding: 27px 0 32px 0;
    position: relative;

    @include viewport--sm {
      flex-wrap: wrap;
      display: block;
      margin: 0 auto;
      text-align: center;
      padding-bottom: 11px;
    }
  }

  &__event-block .direction {
    padding: 0;
  }

  &__event-block .direction__arrow {
    @include viewport--sm {
      display: none;
    }
  }
}

.container--no-padding .account__admin,
.container--no-padding .account__event-block {
  @include viewport--sm {
    padding-left: 17px;
    padding-right: 17px;
  }
}
