.account-hotel-info {
  display: flex;
  justify-content: space-between;
  padding: 11px 0 30px;
  clear: both;

  @include viewport--sm {
    flex-wrap: wrap;
    margin-top: -26px;
  }

  &__link-hotel {
    margin-bottom: 7px;

    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.8px;

    @include viewport--sm {
      display: none;
    }

    transition: opacity $default-transition-settings;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }

  p {
    letter-spacing: 0.1px;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 9px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 935px;

    @include viewport--sm {
      width: 100%;
    }

    @include viewport--lg {
      padding-top: 3px;
      max-width: 652px;
    }
  }

  &__link-more {
    text-align: right;

    transition: opacity $default-transition-settings;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }

    @include viewport--lg {
      margin-right: 0;
      margin-top: 15px;
    }

    @include viewport--sm {
      margin-top: 3px;
      margin-right: 0;
    }
  }

  &__interactive {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include viewport--lg {
      justify-content: normal;
      padding-top: 7px;
    }

    @include viewport--sm {
      display: block;
      margin: 0 auto;
      padding-top: 0;
    }
  }

  .button {
    margin: 0 0 0 auto;
    padding: 13px 28px;

    letter-spacing: 0.5px;

    transition: opacity $default-transition-settings;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }

    @include viewport--lg {
      width: 180px;
      margin-top: 20px;
    }

    @include viewport--sm {
      width: 222px;
    }
  }
}

.container--no-padding > .account-hotel-info {
  @include viewport--sm {
    padding-left: 17px;
    padding-right: 17px;
  }
}
