.button {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 17px;
  outline: 0;
  color: $color-blue;
  line-height: 19px;
  letter-spacing: 0.5px;

  border: 1px solid $color-blue;
  border-radius: 1px;


  cursor: pointer;
  padding: 14px 31px;

  &--open {
    padding: 4px 41px;
  }

  &--blue {
    background-color: $color-blue;
    color: $color-default-white;
  }

  &--transparent {
    padding: 12px 12px;
    background-color: transparent;
  }

  &--white {
    background-color: transparent;
    color: $color-default-white;
    border: 1px solid $color-default-white;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:disabled {
    border-color: $color-gray;
    background-color: transparent;

    color: $color-gray;

    &:hover,
    &:focus {
      border-color: $color-gray;
      background-color: transparent;

      color: $color-gray;
      opacity: 1;
    }
  }
}
