.btn {
  display: inline-block;
  padding: 18px 0;

  font-size: 16px;
  line-height: 19px;

  &--white {
    border: 1px solid $color-blue;
    background-color: transparent;

    color: $color-blue;

    transition: color background-color $default-transition-settings;
  }

  &--white:disabled {
    border-color: transparent;
    background-color: $color-white;

    color: $color-gray;
  }

  &--blue {
    background-color: $color-blue;
    border: none;

    color: $color-default-white;

    transition: color background-color $default-transition-settings;
  }

  &--white:hover,
  &--white:focus {
    border-color: transparent;
    background-color: $color-blue;

    color: $color-default-white;
  }

  &--white:active {
    border-color: transparent;
    background-color: $color-gray;

    color: $color-default-white;
  }

  @include viewport--md {
    &--white:hover,
    &--white:focus {
      border-color: $color-blue;
      background-color: transparent;

      color: $color-blue;
    }

    &--white:active {
      border-color: transparent;
      background-color: $color-gray;

      color: $color-default-white;
    }
  }

  &--more {
    display: block;
    margin: 0 auto;
    padding: 20px 30px;
    width: 222px;
  }

  &--more-news {
    padding: 18px 69px;
  }

  &--read-more {
    padding: 2px 41px;
    border: 1px solid $color-blue;
    background-color: transparent;

    svg {
      vertical-align: middle;
    }

    @include viewport--lg {
      padding: 2px 32px;
    }
  }
}

.button {
  font-weight: 700;
  outline: 0;
  display: flex;
  border: 1px solid #0098c1;
  border-radius: 1px;
  color: #0098c1;
  align-items: center;
  justify-content: center;
  line-height: 19px;

  &--footer-btn {
    width: 22%;
    max-width: 103px;
    height: 42px;

    @include viewport--sm {
      max-width: 78px;
      margin-left: 10px;
    }
  }

  &--open {
    width: 104px;
    height: 23px;
    font-size: 16px;
    font-weight: 600;
  }

  &--blue {
    font-size: 18px;
    font-weight: 300;
    background-color: #0098c1;
    color: #ffffff;
    width: 222px;
    height: 50px;
    margin-top: 36px;
    align-self: center;
  }

  &--btn-reg {
    font-size: 20px;
    font-weight: 300;
    width: 222px;
    height: 50px;
    align-self: center;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}
