.container {
  width: 100%;
  max-width: 1510px;
  margin: 0 auto;
  padding: 0 50px;

  @include viewport--lg {
    padding: 0 80px;
  }

  @include viewport--md {
    padding: 0 24px;
  }

  @include viewport--sm {
    padding: 0 16.5px;
  }

  &--no-padding {
    @include viewport--sm {
      padding: 0;
    }
  }
}
