.container {
  width: 100%;
  max-width: 1510px;
  margin: 0 auto;
  padding: 0 50px;
  position: relative;

  @include viewport--lg {
    padding: 0 80px;
  }

  @include viewport--md {
    padding: 0 24px;
  }

  @include viewport--sm {
    padding: 0 16px;
  }

  &--no-padding {
    @include viewport--sm {
      padding: 0;
    }
  }

  &--no-padding .admin__control-wrapper {
    @include viewport--sm {
      padding-right: 17px;
      padding-left: 17px;
    }
  }

  &--admin {
    .btn--more {
      margin: 0 auto;

      @include viewport--lg {
        width: 178px;
      }

      @include viewport--sm {
        width: 222px;
      }
    }
  }
}
