table {
  border-collapse: collapse;
  width: 100%;

  tr:nth-child(even) {
    background-color: $color-gray-light;
  }

  tr {
    position: relative;

    @include viewport--sm {
      display: inline-flex;
      flex-wrap: wrap;
      padding: 15px 17px;
      width: 100%;
    }
  }

  thead th {
    padding: 0 10px;

    font-size: 12px;
    line-height: 20px;
    color: $color-nobel;
    text-align: left;
  }

  thead {
    @include viewport--sm {
      display: none;
    }
  }

  tbody td {
    padding: 5px 10px;
    font-size: 16px;
    line-height: 22px;

    @include viewport--sm {
      padding: 0;
      line-height: 20px;
    }
  }
}
