.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(100 * var(--vh, 1vh));
  //overflow-x: hidden;

  &--no-scrollbar {
    height: 100vh;
    height: calc(100 * var(--vh, 1vh));

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .header,
  .footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
  }
}

.scroll-lock {
  position: fixed;

  overflow-y: auto;
}

.btn-reset {
  padding: 0;

  background: $color-transparent;
  border: none;
  cursor: pointer;
}

.hidden-sm {
  @include viewport--sm {
    display: none !important;
  }
}

.visible-sm {
  @media (min-width: 768px) {
    display: none;
  }

  .button {
    margin: 0 auto;
  }
}

.no-padding {
  margin: 0 -17px;
}

@keyframes disableBreakpointAnimation {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}

.input-wrapper {
  width: 100%;

  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.input-wrapper ~ input,
.input-wrapper > input {
  width: 100%;
  padding: 10px 15px;

  border: 1px solid $color-blue;
  background-color: transparent;

  color: $color-blue;
  font-size: 24px;
  line-height: 29px;

  transition: border-color $default-transition-settings;

  &:hover,
  &:focus {
    border-color: rgba(0, 152, 193, 0.7);
  }

  &:active {
    border-color: rgba(0, 152, 193, 0.5);
  }
}

textarea {
  border: 1px solid $color-blue;
  background-color: transparent;

  color: $color-blue;
  font-size: 24px;
  line-height: 29px;
  font-weight: lighter;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.hidden {
  display: none !important;
}
//
//a {
//  &:hover,
//  &:focus {
//    opacity: 0.8;
//  }
//
//  &:active {
//    opacity: 0.5;
//  }
//}
