mixin footer
  footer.container
    .footer
      ul.footer__logotip.logotip
        li.logotip__list
          a.logotip__item(href="organizers.html")
            img.logotip__company-ap(src="img/svg/g10.svg" alt="company logo" width="67" height="73")
        li.logotip__list
          a.logotip__item(href="organizers.html")
            img.logotip__company-tm(src="img/svg/tm-logo.svg" alt="company logo" width="110" height="57")

      .footer__mailing.mailing
        form.mailing__form(action="#" method="POST")
          .form-fiield
            input(type="email" id="mailing" name="mailing" placeholder="E-mail for newsletters")
            label.visually-hidden(for="mailing") E-mail field
          button(type="button").button.button--transparent  Ok
          .mailing__checkbox.form-check
            input(type="checkbox" id="check" name="check" value="yes")
            label(for="check") I agree
      .footer__menu.menu
        ul.menu__list
          li
            a.menu__item(href="privacy-policy.html") Terms Conditions
          li
            a.menu__item(href="privacy-policy.html") Have a question?
          li
            a.menu__item(href="privacy-policy.html") Privacy policy
          li
            a.menu__item(href="privacy-policy.html") Cookie policy
        ul.menu__account
          li
            a.menu__account-social.menu__account-social-fb(href="#")
              +icon("fb-icon", 10, 25)
          li
            a.menu__account-social.menu__account-social-inst(href="#")
              +icon("inst-icon", 22, 22)
      .footer__info
        span.footer__info-info &copy; All right reserved by Artyom Polanskiy and Travel Media LLC.
  .cookies(id="hidden-element")
    button.cookies__btn-close(type="button", aria-label="Закрыть" id="cookie_close-btn")
      +icon("icon-close-blue", 33, 33)
    h2.cookies__title LTM Website uses cookies
    p.cookies__description Website uses cookies and similar technologies. We use functional cookies to make sure our websites work well and secure and analytical cookies to offer you the best possible user experience. By clicking on ’Agree’, you consent to the placing of these cookies.
    a.cookies__info(href="#") For more information read Cookies policy
    button.button.button--transparent(type="button" id="cookie_close") ok

