mixin header(headerMod, currentPage)
  -
    var headerLinks = [
      {
        href: "about.html",
        text: "About LTM"
      },
      {
        href: "#",
        text: "Registration"
      },
      {
        href: "schedule.html",
        text: "Detailed Schedule"
      },
      {
        href: "exhibitors.html",
        text: "Exhibitors"
      },
      {
        href: "gallery.html",
        text: "Gallery"
      },
      {
        href: "organizers.html",
        text: "Organizers"
      },
      {
        href: "partners-page.html",
        text: "Partners"
      },
      {
        href: "contact-us.html",
        text: "Contacts"
      },
    ]

  header(class=(headerMod) ? "header header--" + headerMod : "header")
    ul.header__top.container
      li.header__item.header__item--search
        a(href="#").header__top-link.header__search-button
          +icon("icon-search", 17, 17)
      li.header__item.header__item--terms
        a(href="#").header__top-link Terms & Conditions
      li.header__item
        a(href="#").header__top-link.header__top-link--rus Рус
    .header__main
      .header__main-wrapper.container
        if(currentPage === "main")
          a.header__logo.header__logo--desktop
            +icon("logo-desktop", 178, 67)
          a.header__logo.header__logo--mobile
            +icon("logo-mobile", 53, 47)
        else
          a.header__logo.header__logo--desktop(href="main.html", aria-label="Переход на главную")
            +icon("logo-desktop", 178, 67)
          a.header__logo.header__logo--mobile(href="main.html", aria-label="Переход на главную")
            +icon("logo-mobile", 53, 47)
        nav.main-nav
          button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          ul.main-nav__list
            each link in headerLinks
              if(link.text === currentPage)
                li
                  a.main-nav__link.main-nav__link--active= link.text
              else
                li
                  a.main-nav__link(href=link.href)= link.text
        a(href="#").header__link.header__link--sigh-in.header__main-right
          span Sign in
          +icon("icon-sign-in", 26, 30)
      +search
