mixin header(headerMod, currentPage)
  header(class=(headerMod) ? "header header--" + headerMod : "header")
    .header__top
      .container
        ul.header__top-list
          li.header__item.hidden-sm
            button(type="button").header__top-link.js-search-button
              +icon("icon-search", 17, 17)(class="header__search-img")
          li.header__item.hidden-sm
            a(href="#").header__top-link Terms & Conditions
          li.header__item
            a(href="#", aria-label="Переключить на русский язык").header__top-link Рус
    .header__main
      .container
        .header__main-wrapper
          if(currentPage === "main")
            a.header__logo
              +icon("logo-desktop", 178, 67)(class="hidden-sm")
              +icon("logo-mobile", 53, 47)(class="visible-sm")
          else
            a.header__logo(href="main.html", aria-label="Переход на главную")
              +icon("logo-desktop", 178, 67)(class="hidden-sm")
              +icon("logo-mobile", 53, 47)(class="visible-sm")
          +main-nav
          a(href="#").header__link.header__link--sign-in
            span.hidden-sm Sign in
            +icon("icon-sign-in", 26, 30)
        +renderLogin
        +search

