//- Базовые
//- ---------------------------------

include ../mixins/basic/sprite
include ../mixins/basic/icon
include ../mixins/basic/img
include ../mixins/basic/webp

//- Модалки
//- ---------------------------------

include ../mixins/modals/modal-feedback
include ../mixins/modals/modal-success

//- Компоненты
//- ---------------------------------

include ../mixins/components/search
include ../mixins/components/photo-block
include ../mixins/blocks/schedule
