//- Базовые
//- ---------------------------------

include ../mixins/basic/sprite
include ../mixins/basic/icon
include ../mixins/basic/img
include ../mixins/basic/webp

//- Модалки
//- ---------------------------------

include ../mixins/modals/modal-feedback
include ../mixins/modals/modal-success
include ../mixins/modals/modal-submission
include ../mixins/modals/modal-choices
//- Компоненты
//- ---------------------------------


include ../mixins/components/direction
include ../mixins/components/promo
include ../mixins/components/news-home
include ../mixins/components/news-info
include ../mixins/components/search
include ../mixins/components/photo-block
include ../mixins/components/interaction
include ../mixins/components/partners
include ../mixins/components/edit
include ../mixins/components/hotel-photos
include ../mixins/components/support-contacts
include ../mixins/components/hotel-headline
include ../mixins/components/notification
include ../mixins/components/headline-back
include ../mixins/components/account-hotel-info
include ../mixins/components/account-events
include ../mixins/components/text-content
include ../mixins/components/account-admin
include ../mixins/components/news-preview
include ../mixins/components/up-button
include ../mixins/blocks/organizer-card
include ../mixins/blocks/hotel-card
include ../mixins/blocks/alphabet-hotel
include ../mixins/blocks/choose-event
include ../mixins/blocks/hotel-filters
include ../mixins/blocks/photos-slider
include ../mixins/blocks/form-reg
include ../mixins/blocks/form-pop-up
include ../mixins/blocks/contact-card
include ../mixins/blocks/partner-card
