//- Базовые
//- ---------------------------------

include ../mixins/basic/sprite
include ../mixins/basic/icon
include ../mixins/basic/img

//- Модалки
//- ---------------------------------

include ../mixins/modals/modal-feedback
include ../mixins/modals/modal-success

//- Компоненты
//- ---------------------------------


include ../mixins/components/direction
include ../mixins/components/promo
include ../mixins/components/news-home
include ../mixins/components/news-info
include ../mixins/components/search
include ../mixins/components/interaction
include ../mixins/blocks/schedule
include ../mixins/blocks/hotel-card
include ../mixins/blocks/alphabet-hotel
include ../mixins/blocks/choose-event
include ../mixins/blocks/hotel-filters
include ../mixins/blocks/top-block

