//- Базовые
//- ---------------------------------

include ../mixins/basic/sprite
include ../mixins/basic/icon
include ../mixins/basic/img

//- Модалки
//- ---------------------------------

include ../mixins/modals/modal-feedback
include ../mixins/modals/modal-success

//- Компоненты
//- ---------------------------------


include ../mixins/components/direction
include ../mixins/components/promo
include ../mixins/components/news-home
include ../mixins/components/news-info
include ../mixins/components/search
include ../mixins/blocks/schedule
