//- Базовые
//- ---------------------------------

include ../mixins/basic/sprite
include ../mixins/basic/icon
include ../mixins/basic/img
include ../mixins/basic/webp

//- Модалки
//- ---------------------------------

include ../mixins/modals/modal-feedback
include ../mixins/modals/modal-success
include ../mixins/modals/modal-submission

//- Компоненты
//- ---------------------------------


include ../mixins/components/direction
include ../mixins/components/promo
include ../mixins/components/news-home
include ../mixins/components/news-info
include ../mixins/components/search
include ../mixins/components/photo-block
include ../mixins/components/interaction
include ../mixins/components/partners
include ../mixins/components/editing
include ../mixins/components/support-contacts
include ../mixins/blocks/schedule
include ../mixins/blocks/hotel-card
include ../mixins/blocks/alphabet-hotel
include ../mixins/blocks/choose-event
include ../mixins/blocks/hotel-filters
include ../mixins/blocks/top-block
include ../mixins/blocks/form-reg
