mixin modal(mods)
  div(class="modal modal--preload " + mods)
    .modal__wrapper.submission__wrapper
      .modal__overlay.submission__overlay
      .modal__content.submission__content
        if block
          block
        button.modal__close-btn.btn-reset.submission__close-btn(type="button", aria-label="Закрыть попап")
          +icon("icon-close", 33, 33)
