mixin modal-submission()
  a.submission-logo
    +icon("logo-desktop", 324, 122)
  p.submission-description Thank you! Your information has been sent
  button.submission-close.modal__close-button(type="button") ok
