mixin modal-forgot()
  .forgot
    a(href="main.html").forgot__logo
      +icon("logo-desktop", 324, 122)
    form(action="#" method="POST").forgot__form
      label(for="forgot-email").visually-hidden Inter your E-mail
      input(type="email", name="forgot-email", id="forgot-email", placeholder="Enter your E-mail", required)
      a(href="buyer.html").forgot__link Or send message to Organizers
      button(type="submit").forgot__submit.button.button--blue Send
