mixin modal-gallery(modalImages)

  .modal-gallery__slider.swiper-container
    ul.modal-gallery__slider-wrapper.swiper-wrapper
      each image in modalImages
        li.modal-gallery__slide.swiper-slide
          .modal-gallery__image-container
            +img("slides", image.src, "jpg", "1412", "941", image.altText)
  .modal-gallery__mini-slider.swiper-container(thumbsSlider="")
    ul.modal-gallery__mini-slider-wrapper.swiper-wrapper
      each image in modalImages
        li.modal-gallery__mini-slide.swiper-slide
          .modal-gallery__mini-image-container
            +img("slides", image.src, "jpg", "103", "69", image.altText)
  .modal-gallery__btn-next
    +icon("arrow-right-white", "19", "30")
  .modal-gallery__btn-prev
    +icon("arrow-left-white", "19", "30")
