mixin modal-submission()
  a.submission__logo
    +icon("logo-desktop", 324, 122)
  p.submission__description Thank you! Your information has been sent
  button.submission__close-button.modal__close-button(type="button") ok
