-
  var promoBg = {
    titleItem: "The leading luxury travel exhibition in eastern europe, russia & cis",
    btnItem: "",
    imgItem: "img/bg/about-promo-desktop.png",
    img2xItem: "img/bg/about-promo-desktop@2x.png",
    widthItem: "1920",
    heightItem: "534",
    imgSource: "img/bg/about-promo-mobile.png 1x, img/bg/about-promo-mobile@2x.png 2x",
    classItem: "promo__none",
    promoItem: "promo__info promo__text-wrapper",
  }

-
  var aboutEvent = {
    title: "About the Event",
    textList: [
      "Since its very first year, Luxury Travel Mart has become the most successful event in the luxury travel segment in Russia. This is a B2B event for companies that offer luxury products, who wish to establish new contacts and strengthen old ties on the Russian and CIS markets.",
      "\u00A0",
      "Companies that participate in the Luxury Travel Mart include five-star hotels and resorts, elite car companies, cruise and yacht charter companies, private jet charters, DMC and luxury operators. Most of the best-known brands in the luxury travel industry have participated and continue to participate in LTM each year.",
      "\u00A0",
      "This B2B event has been carefully thought out and planned in such a way that sellers and potential buyers of services – companies working with VIP clients, have the opportunity to establish partnerships within the space of a single day. The main aim of the of the organizers of the Luxury Travel Mart is to expand the geography of sales of the exhibition’s participants and also to introduce layers to new areas and services to which they previously did not have access.",
      "\u00A0",
      "Luxury Travel Mart does not aim to set records in terms of quantity (although with every year the numbers increase for all exhibitors and visitors), but prefers instead to set the highest standards of quality."
    ]
  };

-
  var eventBlock = {
    title: "Luxury Travel Mart currently organises<br> 5 events a year:",
    buttonText: "Read More",
    eventList: [
      {
        subtitle: "Luxury Travel Mart Moscow, Russia, Spring Edition",
        date: "Dates for 2019: February 28 – March 1 (two-days event)",
        textList: [
          "Venue: Hyatt Regency Moscow Petrovsky Park",
          "Approximate number of guests: 360 hosted buyers at the first day, 400 at the morning session of the second day, over 1000 guests at the evening reception."
        ]
      },
      {
        subtitle: "Luxury Travel Mart Almaty, Kazakhstan, Spring Edition",
        date: "Date for 2019: March 5",
        textList: [
          "Venue: The Ritz-Carlton, Almaty",
          "Approximate number of guests: 110-125 at the morning session, 50 hosted buyers, 200-230 guests at the evening session."
        ]
      },
      {
        subtitle: "Luxury Travel Mart Kyiv, Ukraine",
        date: "Date for 2019: September 24",
        textList: [
          "Venue: InterContinental Kiev",
          "Approximate number of guests: 200-220 at the morning session, 50 hosted buyers, 300-350 guests at the evening session."
        ]
      },
      {
        subtitle: "Luxury Travel Mart Almaty, Kazakhstan, Autumn Edition",
        date: "Date for 2019: September 27",
        textList: [
          "Venue: The Ritz-Carlton, Almaty",
          "Approximate number of guests: 110-125 at the morning session, 50 hosted buyers, 200-230 guests at the evening session."
        ]
      },
      {
        subtitle: "Luxury Travel Mart Moscow, Russia, Autumn Edition",
        date: "Date for 2019: October 1",
        textList: [
          "Venue: The Ritz-Carlton, Moscow",
          "Approximate number of guests: 300-350 at the morning session, 145 hosted buyers, 800-850 guests at the evening session."
        ]
      }
    ]
  }

-
  var benefits = {
    benefitsTitle: "Overview",
    benefitsList: [
      {
        src: "icon-about-first",
        width: "73px",
        height: "67px",
        text: "The most successful event in this niche in the CIS"
      },
      {
        src: "icon-about-more90perc",
        width: "123px",
        height: "46px",
        text: "Number of repeat exhibitors – over 90%"
      },
      {
        src: "icon-about-maxcapacity",
        width: "76px",
        height: "80px",
        text: "360 exhibitors participated in LTM Moscow Spring 2018 and 146 in Moscow Autumn 2018, 98 at LTM Kiev 2018 and 120 at LTM Almaty 2018 \n" +
                "(maximum capacity at all events)"
      },
      {
        src: "icon-about-4000",
        width: "79px",
        height: "68px",
        text: "Over 4000 guests visited LTM events in Moscow, Kiev, Almaty in 2018"
      },
      {
        src: "icon-about-1200",
        width: "72px",
        height: "68px",
        text: "Over 1200 guests visited LTM Spring in Moscow in 2018"
      },
      {
        src: "icon-about-1000",
        width: "69px",
        height: "67px",
        text: "560 hosted buyers from the Russian regions and the CIS in 2018 at LTM events and 360 hosted buyers at LTM Spring in Moscow 2018 only"
      },
      {
        src: "icon-about-98percents",
        width: "90px",
        height: "90px",
        text: "560 hosted buyers from the Russian regions and the CIS in 2018 at LTM events and 360 hosted buyers at LTM Spring in Moscow 2018 only"
      },
      {
        src: "icon-about-hbprogram",
        width: "81px",
        height: "59px",
        text: "560 hosted buyers from the Russian regions and the CIS in 2018 at LTM events and 360 hosted buyers at LTM Spring in Moscow 2018 only"
      },
      {
        src: "icon-about-preselected",
        width: "76px",
        height: "77px",
        text: "560 hosted buyers from the Russian regions and the CIS in 2018 at LTM events and 360 hosted buyers at LTM Spring in Moscow 2018 only"
      },
    ]
  }
