-
  var adminHeadline = {
    eventName: "Luxury Travel Mart Moscow Spring’ 2020",
    eventPlace: "at Hyatt Regency Moscow Petrovsky Park",
    dates: '<time datetime="2011-11-18">27</time> – <time datetime="2011-11-18">28 February 2020</time>',
    backLink: "#"
  }
- var participantsHeadline = "Participants at this Event"
- var participantsInfo = "Only 2 participants are allowed"
- var participantsText = "If you want register more participants for this event, please send information to administrator. "

-
  var participantsList = [
    {
      photo: "img/content/admin-photo.jpg",
      name: "Stanislav<br>Ozeretsky",
      position: "Sales Manager Russia and CIS",
      mail: "123@gmail.com"
    },
    {
      photo: "img/svg/icon-no-photo.svg",
      name: "Colleague’s first name<br>Colleague’s first name",
      position: "Position",
      mail: "123@gmail.com"
    }
  ]

-
  var adminTabs = [
    {
      text: "Deadlines & Info",
      link: "admin-deadlines.html",
      currentPage: "Deadline"
    },
    {
      text: "Messages",
      link: "admin-messages-inbox.html",
      currentPage: "Messages"
    },
    {
      text: "My Schedule",
      link: "admin-schedule-d1.html",
      currentPage: "Schedule"
    },
    {
      text: "Buyers Guest List",
      link: "admin-guests-d1.html",
      currentPage: "Buyers Guest List"
    },
    {
      text: "Hosted Buyers Guest List",
      link: "admin-hosted-guests-d1.html",
      currentPage: "Hosted Buyers Guest List"
    },
    {
      text: "Sponsorship Opportunities",
      link: "admin-sponsors-opportunities.html",
      currentPage: "Sponsorship Opportunities"
    },
  ]
-
  var adminMailControl = {
    linkList: [
      {
        link: "admin-messages-new.html",
        icon: "icon-write-message",
        iconWidth: 24,
        iconHeight: 24,
        mod: "new",
        currentPage: "MessagesNew"
      },
      {
        link: "admin-messages-inbox.html",
        text: "Inbox",
        mod: "inbox",
        currentPage: "Messages"
      },
      {
        link: "admin-messages-sent.html",
        text: "Sent",
        mod: "sent",
        currentPage: "MessagesSent"
      },
      {
        link: "admin-messages-new.html",
        text: "Contact Organizers",
        mod: "contacts",
      }
    ],
    isSearchInput: true
  }
-
  var contactsList = {
    title: "Contacts for support",
    contacts: [
      {
        src: "img/content/support-photo-1.jpg",
        name: "Maria Shankina",
        position: "General Administration and Sponsorship",
        email: "yahoo@yahoo.com",
        phone: "79857765522",
        phoneText: "+7 985 776 55 22"
      },
      {
        src: "img/content/support-photo-2.jpg",
        name: "Artyom Polanskiy",
        position: "General Administration and Exhibitors",
        email: "yahoo@yahoo.com",
        phone: "79857765522",
        phoneText: "+7 985 776 55 22"
      },
      {
        src: "img/content/support-photo-3.jpg",
        name: "Irina Bezpalaya",
        position: "Buyers and Appointments",
        email: "yahoo@yahoo.com",
        phone: "79852467232",
        phoneText: "+7 985 246 72 32"
      },
      {
        src: "img/svg/icon-support-no-photo.svg",
        name: "Support",
        position: "Question about new web-functional",
        email: "yahoo@yahoo.com",
        phone: "74956450422",
        phoneText: "+7 495 645 04 22"
      }
    ]
  }
- var sponsorshipHeadline = "Sponsorship Opportunities"

-
  var sponsorshipList = [
    {
      title: "General Sponsor",
      src: "img/content/sponsorship-1.jpg",
      srcset: "",
      textList: [
        "The package of general sponsors, including:",
        "– The largest exhibition stand in the pre-function area;",
        "– branding on badges ribbon;",
        "– branding on the website luxurytravelmart.ru;",
        "– branding in all places with the LTM brand;",
        "– special offer for hotel rooms during the days of the exhibition;",
        "– branding on the charge station",
      ],
      buttonText: "Request an Offer",
      status: "active"
    },
    {
      title: "Sponsor",
      src: "img/content/sponsorship-2.jpg",
      srcset: "",
      textList: [
        "The Sponsor package including:",
        "– The exhibition stand in the pre-function or another areas;",
        "– branding on the website luxurytravelmart.ru;",
      ],
      buttonText: "Request has been sent",
      status: "disabled"
    },
    {
      title: "Company Hall",
      src: "img/content/sponsorship-3.jpg",
      srcset: "",
      textList: [
        "The package of general sponsors, including:",
        "– branding of the entrance to exclusive hall;",
        "– branding on the website luxurytravelmart.ru;",
        "\u00A0",
        "Conditions:",
        "Company have to buy 16 working places"
      ],
      buttonText: "Request an Offer",
      status: "disabled"
    },
    {
      title: "Bar in Pre-function Area",
      src: "img/content/sponsorship-4.jpg",
      srcset: "",
      textList: [
        "Bar package including:",
        "– big bar size (450 cm.)",
        "– drinks and barmens;",
        "– branding on the bar;",
        "– big backdrop with your branding 6000x4000 mm.;",
        "– 2 LED-panels 65–70’’",
      ],
      buttonText: "Request an Offer",
      status: "disabled"
    },
    {
      title: "Bar in Lobby",
      src: "img/content/sponsorship-5.jpg",
      srcset: "",
      textList: [
        "Bar package including:",
        "– middle bar size (320 cm.)",
        "– drinks and barmens;",
        "– branding on the bar;",
        "– middle backdrop with your branding 4000x4000 mm.;",
        "– 2 LED-panels 65–70’’",
      ],
      buttonText: "Request an Offer",
      status: "disabled"
    },
    {
      title: "Exclusive Stands",
      src: "img/content/sponsorship-6.jpg",
      srcset: "",
      textList: [
        "In this case your company representative from exclusive exhibition items"
      ],
      buttonText: "Request an Offer",
      status: "disabled"
    },
  ]

