-
  var adminHeadline = {
    eventName: "Luxury Travel Mart Moscow Spring’ 2020",
    eventPlace: "at Hyatt Regency Moscow Petrovsky Park",
    dates: "27 – 28 February 2020",
    backLink: "#"
  }
- var participantsHeadline = "Participants at this Event"
- var participantsInfo = "Only 2 participants are allowed"
- var participantsText = "If you want register more participants for this event, please send information to administrator. "

-
  var participantsList = [
    {
      photo: "img/content/admin-photo.jpg",
      name: "Stanislav",
      lastName: "Ozeretsky",
      position: "Sales Manager Russia and CIS",
      mail: "123@gmail.com"
    },
    {
      photo: "img/svg/icon-no-photo.svg",
      name: "Colleague’s first name",
      lastName: "Colleague’s first name",
      position: "Position",
      mail: "123@gmail.com"
    }
  ]

-
  var adminTabs = [
    {
      text: "Deadlines & Info",
      link: "admin-deadlines.html",
      currentPage: "Deadline"
    },
    {
      text: "Messages",
      link: "admin-messages-inbox.html",
      currentPage: "Messages"
    },
    {
      text: "My Schedule",
      link: "admin-schedule-d1.html",
      currentPage: "Schedule"
    },
    {
      text: "Buyers Guest List",
      link: "admin-guests-d1.html",
      currentPage: "Buyers Guest List"
    },
    {
      text: "Hosted Buyers Guest List",
      link: "admin-hosted-guests-d1.html",
      currentPage: "Hosted Buyers Guest List"
    },
    {
      text: "Sponsorship Opportunities",
      link: "admin-sponsors-opportunities.html",
      currentPage: "Sponsorship Opportunities"
    },
  ]
-
  var adminMailControl = {
    linkList: [
      {
        link: "admin-messages-new.html",
        icon: "icon-write-message",
        iconWidth: 24,
        iconHeight: 24,
        mod: "new",
        currentPage: "MessagesNew"
      },
      {
        link: "admin-messages-inbox.html",
        text: "Inbox",
        mod: "inbox",
        currentPage: "Messages"
      },
      {
        link: "admin-messages-sent.html",
        text: "Sent",
        mod: "sent",
        currentPage: "MessagesSent"
      },
      {
        link: "admin-messages-new.html",
        text: "Contact Organizers",
        mod: "contacts",
      }
    ],
    isSearchInput: true
  }
-
  var adminSentMessagesTitles = {
    status: "Status",
    from: "To",
    subject: "Subject",
    date: "Date",
    time: "Time",
    event: "Event",
    message: "Message"
  }

-
  var adminSentMessages = [
    {
      status: "sent",
      to: "Pegas Touristic",
      subject: "Request for Meeting at the Luxury Travel Mart Moscow’ 2020",
      date: "22 Dec. 2019",
      time: "18:57",
      event: "Luxury Travel Mart Kiev’ 2020",
      message: "Dear Stanislav, we invite your company in mee… ",
      openMessageLink: "admin-messages-read.html"
    },
    {
      status: "sent",
      to: "Organizers",
      subject: "Information About Your Exhibition Place",
      date: "21 Dec. 2019",
      time: "12:20",
      event: "Luxury Travel Mart Moscow’ 2020",
      message: "Dear Stanislav, we invite your company in mee… ",
      openMessageLink: "admin-messages-read.html"
    },
    {
      status: "sent",
      to: "Sun Tour",
      subject: "Request for Meeting at the Luxury Travel Mart Moscow’ 2020",
      date: "21 Dec. 2019",
      time: "13:40",
      event: "Luxury Travel Mart Moscow’ 2020",
      message: "Dear Stanislav, we invite your company in mee… ",
      openMessageLink: "admin-messages-read.html"
    },
  ]
-
  var contactsList = {
    title: "Contacts for support",
    contacts: [
      {
        src: "img/content/support-photo-1.jpg",
        name: "Maria Shankina",
        position: "General Administration and Sponsorship",
        email: "yahoo@yahoo.com",
        phone: "79857765522",
        phoneText: "+7 985 776 55 22"
      },
      {
        src: "img/content/support-photo-2.jpg",
        name: "Artyom Polanskiy",
        position: "General Administration and Exhibitors",
        email: "yahoo@yahoo.com",
        phone: "79857765522",
        phoneText: "+7 985 776 55 22"
      },
      {
        src: "img/content/support-photo-3.jpg",
        name: "Irina Bezpalaya",
        position: "Buyers and Appointments",
        email: "yahoo@yahoo.com",
        phone: "79852467232",
        phoneText: "+7 985 246 72 32"
      },
      {
        src: "img/svg/icon-support-no-photo.svg",
        name: "Support",
        position: "Question about new web-functional",
        email: "yahoo@yahoo.com",
        phone: "74956450422",
        phoneText: "+7 495 645 04 22"
      }
    ]
  }
