-
  var adminHeadline = {
    eventName: "Luxury Travel Mart Moscow Spring’ 2020",
    eventPlace: "at Hyatt Regency Moscow Petrovsky Park",
    dates: "27 – 28 February 2020",
    backLink: "#"
  }
- var participantsHeadline = "Participants at this Event"
- var participantsInfo = "Only 2 participants are allowed"
- var participantsText = "If you want register more participants for this event, please send information to administrator. "

-
  var participantsList = [
    {
      photo: "img/content/admin-photo.jpg",
      name: "Stanislav",
      lastName: "Ozeretsky",
      position: "Sales Manager Russia and CIS",
      mail: "123@gmail.com"
    },
    {
      photo: "img/svg/icon-no-photo.svg",
      name: "Colleague’s first name",
      lastName: "Colleague’s first name",
      position: "Position",
      mail: "123@gmail.com"
    }
  ]

-
  var adminTabs = [
    {
      text: "Deadlines & Info",
      link: "admin-deadlines.html",
      currentPage: "Deadline"
    },
    {
      text: "Messages",
      link: "admin-messages-inbox.html",
      currentPage: "Messages"
    },
    {
      text: "My Schedule",
      link: "admin-schedule-d1.html",
      currentPage: "Schedule"
    },
    {
      text: "Buyers Guest List",
      link: "admin-guests-d1.html",
      currentPage: "Buyers Guest List"
    },
    {
      text: "Hosted Buyers Guest List",
      link: "admin-hosted-guests-d1.html",
      currentPage: "Hosted Buyers Guest List"
    },
    {
      text: "Sponsorship Opportunities",
      link: "admin-sponsors-opportunities.html",
      currentPage: "Sponsorship Opportunities"
    },
  ]
- var downloadHeadline = "Files to Download"

-
  var downloadList = [
    {
      text: "Detailed program",
      link: ""
    },
    {
      text: "Floor plan for the working session",
      link: ""
    },
    {
      text: "Floor plan for Hosted buyer session",
      link: ""
    },
  ]
-
  var deadlinesInfoContent = [
    {
      title: "Deadlines",
      textList: [
        "July 3, 2019: Opening of registration for the buyers.",
        "September 3, 2019: Password, user name and detailed instructions on how to use the online system and to set up your <br>appointments  <br>will be sent for your attention.",
        "September 4 – 20, 2019: Scheduling of appointments for the working session. September 20, 2019: "
      ]
    },
    {
      title: "Program of the Event",
      textList: [
        "Registration desk will be located in the Foyer of the Ballroom Hall (2nd floor). Organizers – Almaty Hall (2nd floor).",
        "10:00 – 12:55 Individual pre-scheduled appointments.<br>Each appointment will last 10 minutes according to the following scheme (5 minutes added for moving from one exhibitor to the next):",
        "10:00 – 10:10 / 10:15 – 10:25 / 10:30 – 10:40 / 10:45 – 10:55 / 11:00 – 11:10 / 11:15 – 11:25 / 11:30 – 11:40 / 11:45 – 11:55 / 12:00 – 12:10 / 12:15 – 12:25 / 12:30 – 12:40 / 12:45 – 12:55",
        "12:55 – 14:00 Lunch<br>Place: foyer of the Ballroom Hall.",
        "14:00 – 16:55 Individual pre-scheduled appointments.<br>14:00 – 14:10 / 14:15 – 14:25 / 14:30 – 14:40 / 14:45 – 14:55 / 15:00 – 15:10 / 15:15 – 15:25 / 15:30 – 15:40 / 15:45 – 15:55 / 16:00 – 16:10 / 16:15 – 16:25 / 16:30 – 16:40 / 16:45 – 16:55",
        "A bell will ring at the end/start of each appointment.",
        "Complementary soft beverages, coffee and tea will be available during the day on request; please ask the waiters or our staff if you need anything.",
        "Place: Ballroom Hall, Moscow Hall.",
        "19:30 – 22:30 Evening reception.",
        "Cocktail reception for travel agents, corporate clients in a relaxed atmosphere.<br>Place: Ballroom Hall.",
        "All events are available only to pre-registered visitors.",
        "Non-participating hoteliers, DMC companies and other hospitality providers will not be permitted to attend the Luxury Travel Mart as visitors.",
        "We kindly ask you not to invite any of your colleagues from other hotels, cruise companies, DMCs, etc as there might be a conflict of interests with other exhibitors.",
        "Thank you for your understanding.",
      ]
    },
  ]
-
  var contactsList = {
    title: "Contacts for support",
    contacts: [
      {
        src: "img/content/support-photo-1.jpg",
        name: "Maria Shankina",
        position: "General Administration and Sponsorship",
        email: "yahoo@yahoo.com",
        phone: "79857765522",
        phoneText: "+7 985 776 55 22"
      },
      {
        src: "img/content/support-photo-2.jpg",
        name: "Artyom Polanskiy",
        position: "General Administration and Exhibitors",
        email: "yahoo@yahoo.com",
        phone: "79857765522",
        phoneText: "+7 985 776 55 22"
      },
      {
        src: "img/content/support-photo-3.jpg",
        name: "Irina Bezpalaya",
        position: "Buyers and Appointments",
        email: "yahoo@yahoo.com",
        phone: "79852467232",
        phoneText: "+7 985 246 72 32"
      },
      {
        src: "img/svg/icon-support-no-photo.svg",
        name: "Support",
        position: "Question about new web-functional",
        email: "yahoo@yahoo.com",
        phone: "74956450422",
        phoneText: "+7 495 645 04 22"
      },
      {
        src: "img/content/support-photo-3.jpg",
        name: "Irina Bezpalaya",
        position: "Buyers and Appointments",
        email: "yahoo@yahoo.com",
        phone: "79852467232",
        phoneText: "+7 985 246 72 32"
      },
      {
        src: "img/svg/icon-support-no-photo.svg",
        name: "Support",
        position: "Question about new web-functional",
        email: "yahoo@yahoo.com",
        phone: "74956450422",
        phoneText: "+7 495 645 04 22"
      }
    ]
  }
