-
  var adminHeadline = {
    eventName: "Luxury Travel Mart Moscow Spring’ 2020",
    eventPlace: "at Hyatt Regency Moscow Petrovsky Park",
    dates: '<time datetime="2011-11-18">27</time> – <time datetime="2011-11-18">28 February 2020</time>',
    backLink: "#"
  }
- var participantsHeadline = "Participants at this Event"
- var participantsInfo = "Only 2 participants are allowed"
- var participantsText = "If you want register more participants for this event, please send information to administrator. "

-
  var participantsList = [
    {
      photo: "img/content/admin-photo.jpg",
      name: "Stanislav<br>Ozeretsky",
      position: "Sales Manager Russia and CIS",
      mail: "123@gmail.com"
    },
    {
      photo: "img/svg/icon-no-photo.svg",
      name: "Colleague’s first name<br>Colleague’s first name",
      position: "Position",
      mail: "123@gmail.com"
    }
  ]

-
  var adminTabs = [
    {
      text: "Deadlines & Info",
      link: "admin-deadlines.html",
      currentPage: "Deadline"
    },
    {
      text: "Messages",
      link: "admin-messages-inbox.html",
      currentPage: "MessagesRead"
    },
    {
      text: "My Schedule",
      link: "admin-schedule-d1.html",
      currentPage: "Schedule"
    },
    {
      text: "Buyers Guest List",
      link: "admin-guests-d1.html",
      currentPage: "Buyers Guest List"
    },
    {
      text: "Hosted Buyers Guest List",
      link: "admin-hosted-guests-d1.html",
      currentPage: "Hosted Buyers Guest List"
    },
    {
      text: "Sponsorship Opportunities",
      link: "admin-sponsors-opportunities.html",
      currentPage: "Sponsorship Opportunities"
    },
  ]

-
  var adminMailControl = {
    linkList: [
      {
        link: "admin-messages-new.html",
        icon: "icon-write-message",
        iconWidth: 24,
        iconHeight: 24,
        mod: "new",
        currentPage: "MessagesNew"
      },
      {
        link: "admin-messages-inbox.html",
        text: "Inbox",
        mod: "inbox",
        currentPage: "Messages"
      },
      {
        link: "admin-messages-sent.html",
        text: "Sent",
        mod: "sent",
        currentPage: "MessagesSent"
      },
      {
        link: "admin-messages-new.html",
        text: "Contact Organizers",
        mod: "contacts",
      }
    ],
    isSearchInput: false
  }

-
  var contactsList = {
    title: "Contacts for support",
    contacts: [
      {
        src: "img/content/support-photo-1.jpg",
        name: "Maria Shankina",
        position: "General Administration and Sponsorship",
        email: "yahoo@yahoo.com",
        phone: "79857765522",
        phoneText: "+7 985 776 55 22"
      },
      {
        src: "img/content/support-photo-2.jpg",
        name: "Artyom Polanskiy",
        position: "General Administration and Exhibitors",
        email: "yahoo@yahoo.com",
        phone: "79857765522",
        phoneText: "+7 985 776 55 22"
      },
      {
        src: "img/content/support-photo-3.jpg",
        name: "Irina Bezpalaya",
        position: "Buyers and Appointments",
        email: "yahoo@yahoo.com",
        phone: "79852467232",
        phoneText: "+7 985 246 72 32"
      },
      {
        src: "img/svg/icon-support-no-photo.svg",
        name: "Support",
        position: "Question about new web-functional",
        email: "yahoo@yahoo.com",
        phone: "74956450422",
        phoneText: "+7 495 645 04 22"
      }
    ]
  }
- var editingBlockStatus = "disabled"

-
  var editingBlockList = [
    {
      title: "From:",
      type: "info-input",
      content: "Travel Luxury Agency",
    },
    {
      title: "Subject:",
      type: "info-input",
      content: "Appointment",
    },
    {
      title: "Message:",
      type: "text",
      content: [
        "Mandarin Oriental Hotel Group is the award-winning owner and operator of some of the world’s most prestigious hotels, resorts and residences. Over the past fifty years, the Group has grown its business from its original flagship properties in Asia – the acclaimed Mandarin Oriental, Hong Kong and Mandarin Oriental, Bangkok – to successfully operate in major business centres and key leisure destinations around the world.",
        "Mandarin Oriental’s aim is to be recognized widely as the best global luxury hotel group, providing 21st century luxury with oriental charm in each of its hotels. Mandarin Oriental now operates 31 hotels and eight residences in 21 countries and territories, with each property reflecting the Group’s oriental heritage and unique sense of place.",
        "The multi-award winning Spas at Mandarin Oriental are havens for contemplation and discovery. The Spa at Mandarin Oriental, Bangkok was one of the very first hotel spas to open in 1993.",
        "A leader in the spa field, the Group was the first to launch its signature “Time Ritual” which encourages guests to book time rather than specific treatments, so that services can be tailor-made to meet specific needs.",
        "Mandarin Oriental offers some of the most exciting hotel dining in the world today. The Group’s passion for creating memorable dining experiences has been recognized in the Michelin Guide, with a total of 21 Michelin stars being awarded to 14 diverse restaurants from around the world in the 2018 list. This is more than any other hotel brand in the world."
      ],
    },
  ]

-
  var buttons = {
    leftBorder: false,
    buttonList: [
      {
        text: "Answer",
        type: "submit",
        theme: "button--blue",
        mod: "edit__buttons--save"
      },
      {
        text: "Back",
        type: "button",
        theme: "button-transparent",
        mod: "edit__buttons--cancel"
      },
    ]
  }
