-
  var dropdownFilters = [
    {
      mod: "dropdown",
      filterList: [
        "London",
        "Japan",
        "United States of America",
        "China",
        "Afghanistan",
        "Russia",
        "United States of America",
        "China",
        "Afghanistan",
        "Russia",
        "United States of America",
        "China",
        "Afghanistan",
        "Russia",
        "United States of America",
        "China",
      ]
    },
  ]
