-
  var promoBg = {
    titleItem: "The leading luxury travel exhibition in eastern europe, russia & cis",
    btnItem: "",
    imgItem: "img/bg/exhibitors-promo-desktop.png",
    img2xItem: "img/bg/exhibitors-promo-desktop@2x.png",
    widthItem: "1920",
    heightItem: "534",
    imgSource: "img/bg/exhibitors-promo-mobile.png 1x, img/bg/exhibitors-promo-mobile@2x.png 2x",
    classItem: "hidden",
    promoItem: "promo__info promo__text-wrapper",
  }

-
  var chooseEvent = {
    title: 'Choose the Event:'
  }

-
  var chooseEventCard = [
    {
      titleItem: "Luxury Travel Mart Kyiv 2019 at the Intercontinental Kyiv, Ukraine",
      dataItem: "24 September 2019",
      timeItem: "2018-07-07",
      classStatus: "direction__status--available",
      statusItem: "Available",
    },
    {
      titleItem: "Luxury Travel Mart Almaty 2019 at The Ritz-Carlton, Almaty, Kazakhstan",
      dataItem: "24 September 2019",
      timeItem: "2018-07-07",
      classStatus: "direction__status--available",
      statusItem: "Available"
    },
    {
      titleItem: "Luxury Travel Mart Moscow 2019 at The Ritz-Carlton, Moscow, Russia",
      dataItem: "1 October 2019",
      timeItem: "2018-07-07",
      classStatus: "direction__status--available",
      statusItem: "Available"
    },
    {
      titleItem: "Luxury Travel Mart Moscow 2020 at Hyatt Regency Moscow, Russia",
      dataItem: "27–28 February 2020",
      timeItem: "2018-07-07",
      classStatus: "direction__status--waiting",
      statusItem: "Waiting list"
    },
    {
      titleItem: "Luxury Travel Mart Almaty Spring 2020 at The Ritz-Carlton, Almaty, Kazakhstan",
      dataItem: "20 June 2020",
      timeItem: "2018-07-07",
      classStatus: "direction__status--waiting",
      statusItem: "Waiting list"
    },
    {
      titleItem: "Luxury Travel Mart Exchange Grand Hotel Europe, Saint-Petersburg, Russia",
      dataItem: "20-28 June 2020",
      timeItem: "2018-07-07",
      classStatus: "direction__status--ending",
      statusItem: "Registration ending soon"
    },
    {
      titleItem: "Luxury Travel Mart Exchange Grand Hotel Europe, Saint-Petersburg",
      dataItem: "3 March 2020",
      timeItem: "2018-07-07",
      classStatus: "direction__status--ending",
      statusItem: "Registration ending soon"
    },
    {
      titleItem: "Luxury Travel Mart Kyiv 2019 at the Intercontinental Kyiv",
      dataItem: "24 September 2019",
      timeItem: "2018-07-07",
      classStatus: "direction__status--available",
      statusItem: "Available"
    },
  ]

-
  var alphabetFilter = {
    title: "Alphabetically:",
    mod: "alphabet",
    filterList: "#ABCDEFGHIJKLMNOPQRSTUVWXY"
  }

-
  var dropdownFilters = [
    {
      title: "By Country:",
      mod: "dropdown",
      className: "filters__dropdown-filter--wide",
      filterList: [
        "Afghanistan",
        "Russia",
        "United States of America",
        "China",
        "Afghanistan",
        "Russia",
        "United States of America",
        "China",
        "Afghanistan",
        "Russia",
        "United States of America",
        "China",
        "Afghanistan",
        "Russia",
        "United States of America",
        "China",
      ]
    },
    {
      title: "By type of business",
      mod: "dropdown",
      className: "filters__dropdown-filter--wide",
      filterList: [
        "Apartments & villas rental",
        "Hello, hello",
        "Come with kittens",
      ]
    },
  ]

-
  var dropdownMobileFilter = {
      title: "Exhibitor’s name",
      mod: "dropdown",
      filterList: [
        "Mandarin Oriental Hotel",
        "Apartments & villas rental",
        "Hello, hello",
        "Come with kittens",
      ]
    }

-
  var buttonFilter = {
    text: "Clear all",
    type: "reset"
  }

-
  var hotelCards = [
    {
      photoList: [
        "img/content/exhibition-mandarin-1.jpg",
        "img/content/exhibition-mandarin-2.jpg",
      ],
      logo: "img/svg/mandarin-logo.svg",
      title: "Mandarin Oriental Hotel Group",
      link: "hotel-page.html"
    },
    {
      photoList: [
        "img/content/exhibition-ritz-1.jpg",
        "img/content/exhibition-ritz-2.jpg",
      ],
      logo: "img/svg/ritz-logo.svg",
      title: "The Ritz-Carlton, Moscow and Very long name for best usability at this site. Name participant have to be loong",
      link: "hotel-page.html"
    },
    {
      photoList: [
        "img/content/exhibition-hyatt-1.jpg",
        "img/content/exhibition-hyatt-2.jpg",
      ],
      logo: "img/svg/hyatt-logo.svg",
      title: "Hyatt Regency Moscow Petrovsky Park",
      link: "hotel-page.html"
    },
    {
      photoList: [
        "img/content/exhibition-mandarin-1.jpg",
        "img/content/exhibition-mandarin-2.jpg",
      ],
      logo: "img/svg/hyatt-logo.svg",
      title: "Mandarin Oriental Hotel Group",
      link: "hotel-page.html"
    },
    {
      photoList: [
        "img/content/exhibition-mandarin-1.jpg",
        "img/content/exhibition-mandarin-2.jpg",
      ],
      logo: "img/svg/mandarin-logo.svg",
      title: "Mandarin Oriental Hotel Group",
      link: "hotel-page.html"
    },
    {
      photoList: [
        "img/content/exhibition-ritz-1.jpg",
        "img/content/exhibition-ritz-2.jpg",
      ],
      logo: "img/svg/ritz-logo.svg",
      title: "The Ritz-Carlton, Moscow",
      link: "hotel-page.html"
    },
    {
      photoList: [
        "img/content/exhibition-ritz-1.jpg",
        "img/content/exhibition-ritz-2.jpg",
      ],
      logo: "img/svg/ritz-logo.svg",
      title: "The Ritz-Carlton, Moscow",
      link: "hotel-page.html"
    },
    {
      photoList: [
        "img/content/exhibition-hyatt-1.jpg",
        "img/content/exhibition-hyatt-2.jpg",
      ],
      logo: "img/svg/hyatt-logo.svg",
      title: "Hyatt Regency Moscow Petrovsky Park",
      link: "hotel-page.html"
    },
    {
      photoList: [
        "img/content/exhibition-mandarin-1.jpg",
        "img/content/exhibition-mandarin-2.jpg",
      ],
      logo: "img/svg/mandarin-logo.svg",
      title: "Mandarin Oriental Hotel Group",
      link: "hotel-page.html"
    },
    {
      photoList: [
        "img/content/exhibition-mandarin-1.jpg",
        "img/content/exhibition-mandarin-2.jpg",
      ],
      logo: "img/svg/mandarin-logo.svg",
      title: "Mandarin Oriental Hotel Group",
      link: "hotel-page.html"
    },
    {
      photoList: [
        "img/content/exhibition-ritz-1.jpg",
        "img/content/exhibition-ritz-2.jpg",
      ],
      logo: "img/svg/ritz-logo.svg",
      title: "The Ritz-Carlton, Moscow",
      link: "hotel-page.html"
    },
    {
      photoList: [
        "img/content/exhibition-hyatt-1.jpg",
        "img/content/exhibition-hyatt-2.jpg",
      ],
      logo: "img/svg/hyatt-logo.svg",
      title: "Hyatt Regency Moscow Petrovsky Park",
      link: "hotel-page.html"
    },
    {
      photoList: [
        "img/content/exhibition-hyatt-1.jpg",
        "img/content/exhibition-hyatt-2.jpg",
      ],
      logo: "img/svg/hyatt-logo.svg",
      title: "Hyatt Regency Moscow Petrovsky Park",
      link: "hotel-page.html"
    },
    {
      photoList: [
        "img/content/exhibition-mandarin-1.jpg",
        "img/content/exhibition-mandarin-2.jpg",
      ],
      logo: "img/svg/mandarin-logo.svg",
      title: "Mandarin Oriental Hotel Group",
      link: "hotel-page.html"
    },
    {
      photoList: [
        "img/content/exhibition-ritz-1.jpg",
        "img/content/exhibition-ritz-2.jpg",
      ],
      logo: "img/svg/ritz-logo.svg",
      title: "The Ritz-Carlton, Moscow and Very long name for best usability at this site. Name participant have to be loong",
      link: "hotel-page.html"
    },
    {
      photoList: [
        "img/content/exhibition-hyatt-1.jpg",
        "img/content/exhibition-hyatt-2.jpg",
      ],
      logo: "img/svg/hyatt-logo.svg",
      title: "Hyatt Regency Moscow Petrovsky Park",
      link: "hotel-page.html"
    },
    {
      photoList: [
        "img/content/exhibition-hyatt-1.jpg",
        "img/content/exhibition-hyatt-2.jpg",
      ],
      logo: "img/svg/hyatt-logo.svg",
      title: "Hyatt Regency Moscow Petrovsky Park",
      link: "hotel-page.html"
    },
  ]

-
  var alphabetHotel = [
    {
      title: "#",
      hotelList: [
        {
          name: "7° South Seychelles",
          link: "hotel-page.html"
        }
      ]
    },
    {
      title: "A",
      hotelList: [
        {
          name: "Al Khalidiah Tourism Group of companies",
          link: "hotel-page.html"
        },
        {
          name: "AMAN",
          link: "hotel-page.html"
        },
        {
          name: "Ambotis Premum Club",
          link: "hotel-page.html"
        },
        {
          name: "Anantara Maldives & Naladhu",
          link: "hotel-page.html"
        },
        {
          name: "Arminas Travel, Мексика / Banyan Tree Mayakoba",
          link: "hotel-page.html"
        }
      ]
    },
    {
      title: "B",
      hotelList: [
        {
          name: "Baglioni Hotels & Resorts",
          link: "hotel-page.html"
        },
        {
          name: "Belmond",
          link: "hotel-page.html"
        },
        {
          name: "Biblos Resort Alaçatı",
          link: "hotel-page.html"
        },
        {
          name: "Breidenbacher Hof, a Capella Hotel / Elite Expert",
          link: "hotel-page.html"
        },
      ]
    },
    {
      title: "C",
      hotelList: [
        {
          name: "Cheval Blanc",
          link: "hotel-page.html"
        },
        {
          name: "Clinic Lemanic",
          link: "hotel-page.html"
        },
        {
          name: "Corinthia Hotel London",
          link: "hotel-page.html"
        },
        {
          name: "Crossroads Maldives",
          link: "hotel-page.html"
        },
        {
          name: "Crystal Cruises",
          link: "hotel-page.html"
        },
      ]
    },
    {
      title: "D",
      hotelList: [
        {
          name: "Desert Adventures - UAE, Oman, Jordan",
          link: "hotel-page.html"
        },
        {
          name: "Desert Gate Tourism",
          link: "hotel-page.html"
        },
        {
          name: "Destinations Of The World Travel & Tourism",
          link: "hotel-page.html"
        },
        {
          name: "Dorchester Collection France & Italy",
          link: "hotel-page.html"
        },
        {
          name: "Dorchester Collection UK & USA",
          link: "hotel-page.html"
        },
        {
          name: "Doris Tours - Luxury Tourism Services, Israel",
          link: "hotel-page.html"
        },
      ]
    },
    {
      title: "E",
      hotelList: [
        {
          name: "EET Destination Management",
          link: "hotel-page.html"
        },
        {
          name: "El Palace Barcelona / Alabriga Hotel & Home Suites",
          link: "hotel-page.html"
        },
        {
          name: "Emirates Palace",
          link: "hotel-page.html"
        },
        {
          name: "Excelsior Hotel Gallia, a Luxury Collection Hotel, Milan",
          link: "hotel-page.html"
        },
      ]
    },
    {
      title: "F",
      hotelList: [
        {
          name: "Falkensteiner Hotels & Residences Fantasia LLC",
          link: "hotel-page.html"
        },
        {
          name: "Four Seasons Astir Palace Hotel, Athens",
          link: "hotel-page.html"
        },
        {
          name: "Four Seasons Hotel des Bergues",
          link: "hotel-page.html"
        },
        {
          name: "Four Seasons Hotel George V",
          link: "hotel-page.html"
        },
        {
          name: "Four Seasons Hotel Megève / Les Chalets du Mont d’Abois Megève, a Four Seasons Hotel",
          link: "hotel-page.html"
        },
        {
          name: "Four Seasons Hotels & Resorts",
          link: "hotel-page.html"
        },
        {
          name: "Four Seasons Maldives",
          link: "hotel-page.html"
        },
        {
          name: "Four Seasons Resort Sharm El Sheikh",
          link: "hotel-page.html"
        },
      ]
    },
    {
      title: "G",
      hotelList: [
        {
          name: "GENOLIER PATIENT SERVICES",
          link: "hotel-page.html"
        },
        {
          name: "Giardino Group – Superior Retreats & Resorts",
          link: "hotel-page.html"
        },
        {
          name: "Grandes Alpes Hotel",
          link: "hotel-page.html"
        },
      ]
    },
    {
      title: "H",
      hotelList: [
        {
          name: "Happy Travel LLC.",
          link: "hotel-page.html"
        },
        {
          name: "Heritance Aarah",
          link: "hotel-page.html"
        },
        {
          name: "Hotel Café Royal in London, Hotel ",
          link: "hotel-page.html"
        },
        {
          name: "Conservatorium in Amsterdam, Hotel Lutetia in Paris",
          link: "hotel-page.html"
        },
        {
          name: "Hotel Vierjahreszeiten Kempinski Munich and",
          link: "hotel-page.html"
        },
        {
          name: "Hotel Adlon Kempinski Berlin",
          link: "hotel-page.html"
        },
        {
          name: "Hyatt Hotels and Resorts / Hotel Martinez, in the Unbound Collection by Hyatt",
          link: "hotel-page.html"
        },
      ]
    },
    {
      title: "I",
      hotelList: [
        {
          name: "I-Alliance",
          link: "hotel-page.html"
        },
        {
          name: "IDI Travel",
          link: "hotel-page.html"
        },
        {
          name: "Intour Maldives",
          link: "hotel-page.html"
        },
        {
          name: "iTravex-DMC Spain, Andorra and Czech Republic",
          link: "hotel-page.html"
        },
      ]
    },
    {
      title: "J",
      hotelList: [
        {
          name: "JA Manafaru",
          link: "hotel-page.html"
        },
        {
          name: "Jumeirah Group Dubai",
          link: "hotel-page.html"
        },
        {
          name: "Jumeirah Hotels & Resorts / Jumeirah Zabeel Saray",
          link: "hotel-page.html"
        },
      ]
    },
    {
      title: "K",
      hotelList: [
        {
          name: "Kalari Kovilakom, Kalari Rasayana, SwaSwara, ",
          link: "hotel-page.html"
        },
        {
          name: "Prakriti Shakti, India and GB Thermae hotels",
          link: "hotel-page.html"
        },
        {
          name: "Abamo Terme",
          link: "hotel-page.html"
        },
      ]
    },
    {
      title: "L",
      hotelList: [
        {
          name: "Laclinic-Montreux",
          link: "hotel-page.html"
        },
        {
          name: "Lets Go Maldives",
          link: "hotel-page.html"
        },
        {
          name: "Lungarno Collection",
          link: "hotel-page.html"
        },
        {
          name: "LUX* Resorts & Hotels",
          link: "hotel-page.html"
        },
        {
          name: "Luxe voyage DMC Mauritius",
          link: "hotel-page.html"
        },
      ]
    },
    {
      title: "M",
      hotelList: [
        {
          name: "Mademoiselle Val D'Isere",
          link: "hotel-page.html"
        },
      ]
    },
    {
      title: "N",
      hotelList: [
        {
          name: "Neoscapes Maldives",
          link: "hotel-page.html"
        },
      ]
    },
    {
      title: "O",
      hotelList: [
        {
          name: "One&Only",
          link: "hotel-page.html"
        },
      ]
    },
    {
      title: "P",
      hotelList: [
        {
          name: "Park Hyatt Vienna",
          link: "hotel-page.html"
        },
        {
          name: "Pure Escapes - Luxury Travel Specialist",
          link: "hotel-page.html"
        },
      ]
    },
    {
      title: "R",
      hotelList: [
        {
          name: "Raffles Seychelles",
          link: "hotel-page.html"
        },
        {
          name: "Rocco Forte Hotels",
          link: "hotel-page.html"
        },
        {
          name: "RSB Travel",
          link: "hotel-page.html"
        },
      ]
    },
    {
      title: "S",
      hotelList: [
        {
          name: "Sani Resort / Ikos Resorts",
          link: "hotel-page.html"
        },
        {
          name: "SAYAMA Travel Group",
          link: "hotel-page.html"
        },
        {
          name: "Simply Relocation living & medical GmbH",
          link: "hotel-page.html"
        },
        {
          name: "Sin Elite Group Srl",
          link: "hotel-page.html"
        },
      ]
    },
    {
      title: "T",
      hotelList: [
        {
          name: "TeamWise Tanzania Travel",
          link: "hotel-page.html"
        },
        {
          name: "Terra Nova Expeditions",
          link: "hotel-page.html"
        },
        {
          name: "The Bicester Village Shopping Collection®: Fidenza Village (Italy)",
          link: "hotel-page.html"
        },
        {
          name: "The Bicester Village Shopping Collection®: La Roca Village & Las Rozas Village (Spain)",
          link: "hotel-page.html"
        },
        {
          name: "The BVLGARI Resort Dubai",
          link: "hotel-page.html"
        },
        {
          name: "The Mulia, Mulia Resort & Villas – Nusa Dua, Bali",
          link: "hotel-page.html"
        },
        {
          name: "The St. Regis Bali Resort / The Laguna, a Luxury",
          link: "hotel-page.html"
        },
        {
          name: "The St. Regis Bali Resort / The Laguna, a Luxury Collection Resort & Spa",
          link: "hotel-page.html"
        },
        {
          name: "The Westin Bonmont Golf Resort & Spa / VIP SERVICE Private Group Marbella",
          link: "hotel-page.html"
        },
        {
          name: "TOURPRO MICE & Tourism Professionals",
          link: "hotel-page.html"
        },
        {
          name: "TUI Prestige",
          link: "hotel-page.html"
        },
        {
          name: "TUO Travel",
          link: "hotel-page.html"
        },
      ]
    },
    {
      title: "V",
      hotelList: [
        {
          name: "Velaa Private Island",
          link: "hotel-page.html"
        },
        {
          name: "VIP Tour London",
          link: "hotel-page.html"
        },
      ]
    },
    {
      title: "W",
      hotelList: [
        {
          name: "Waldorf Astoria Maldives Ithaafushi",
          link: "hotel-page.html"
        },
      ]
    }
  ]

