-
  var promoBg = {
    titleItem: "MANDARIN ORIENTAL HOTEL GROUP",
    btnItem: "",
    imgItem: "img/bg/hotel-promo-desktop.png",
    img2xItem: "img/bg/hotel-promo-desktop@2x.png",
    widthItem: "1920",
    heightItem: "534",
    imgSource: "img/bg/hotel-promo-mobile.png 1x, img/bg/hotel-promo-mobile@2x.png 2x",
    classItem: "hidden",
    promoItem: "promo__info promo__text-wrapper",
  }

-
  var hotel = {
    photoList: [
      "img/content/hotel-mandarin-desktop-1.jpg",
      "img/content/hotel-mandarin-desktop-2.jpg",
      "img/content/hotel-mandarin-desktop-3.jpg",
      "img/content/hotel-mandarin-desktop-4.jpg",
      "img/content/hotel-mandarin-desktop-5.jpg",
      "img/content/hotel-mandarin-desktop-6.jpg",
      "img/content/hotel-mandarin-desktop-7.jpg"
    ],
    logo: "img/svg/mandarin-logo.svg",
    title: "Mandarin Oriental Hotel Group",
    link: "https://www.mandarinoriental.com",
    textList: [
      "Mandarin Oriental Hotel Group is the award-winning owner and operator of some of the world’s most prestigious hotels, resorts and residences. Over the past fifty years, the Group has grown its business from its original flagship properties in Asia – the acclaimed Mandarin Oriental, Hong Kong and Mandarin Oriental, Bangkok – to successfully operate in major business centres and key leisure destinations around the world.",
      "Mandarin Oriental’s aim is to be recognized widely as the best global luxury hotel group, providing 21st century luxury with oriental charm in each of its hotels. Mandarin Oriental now operates 31 hotels and eight residences in 21 countries and territories, with each property reflecting the Group’s oriental heritage and unique sense of place.",
      "The multi-award winning Spas at Mandarin Oriental are havens for contemplation and discovery. The Spa at Mandarin Oriental, Bangkok was one of the very first hotel spas to open in 1993.",
      "A leader in the spa field, the Group was the first to launch its signature “Time Ritual” which encourages guests to book time rather than specific treatments, so that services can be tailor-made to meet specific needs.",
      "Mandarin Oriental offers some of the most exciting hotel dining in the world today. The Group’s passion for creating memorable dining experiences has been recognized in the Michelin Guide, with a total of 21 Michelin stars being awarded to 14 diverse restaurants from around the world in the 2018 list. This is more than any other hotel brand in the world."
    ]
  }

-
  var hotelPhotos = {
    cover: {
      src: "img/bg/hotel-promo-desktop.png",
      srcset: "img/bg/hotel-promo-desktop@2x.png 2x",
      text: "Cover image",
      min: "Min. 1920x534 px.",
      max: "Max. 3 mb."
    },
    photoList: [
      {
        src: "hotel-mandarin-desktop-1",
        fullSrc: "hotel-mandarin-desktop-1",
        id: "01",
        altText: "Фото отеля"
      },
      {
        src: "hotel-mandarin-desktop-2",
        fullSrc: "hotel-mandarin-desktop-2",
        mod: "middle",
        id: "02",
        altText: "Фото отеля"
      },
      {
        src: "hotel-mandarin-desktop-3",
        fullSrc: "hotel-mandarin-desktop-3",
        mod: "big",
        id: "03",
        altText: "Фото отеля"
      },
      {
        src: "hotel-mandarin-desktop-4",
        fullSrc: "hotel-mandarin-desktop-4",
        mod: "small",
        id: "04",
        altText: "Фото отеля"
      },
      {
        src: "hotel-mandarin-desktop-5",
        fullSrc: "hotel-mandarin-desktop-5",
        mod: "middle",
        id: "05",
        altText: "Фото отеля"
      },
      {
        src: "hotel-mandarin-desktop-6",
        fullSrc: "hotel-mandarin-desktop-6",
        mod: "small",
        id: "06",
        altText: "Фото отеля"
      },
      {
        src: "hotel-mandarin-desktop-7",
        fullSrc: "hotel-mandarin-desktop-7",
        mod: "big",
        id: "07",
        altText: "Фото отеля"
      },
      {
        src: "hotel-mandarin-desktop-4",
        srcset: "hotel-mandarin-desktop-4",
        mod: "small",
        id: "08",
        altText: "Фото отеля"
      },
      {
        src: "hotel-mandarin-desktop-5",
        fullSrc: "hotel-mandarin-desktop-5",
        mod: "middle",
        id: "09",
        altText: "Фото отеля"
      },
      {
        src: "hotel-mandarin-desktop-6",
        fullSrc: "hotel-mandarin-desktop-6",
        mod: "small",
        id: "10",
        altText: "Фото отеля"
      },
      {
        src: "hotel-mandarin-desktop-7",
        fullSrc: "hotel-mandarin-desktop-7",
        mod: "big",
        id: "11",
        altText: "Фото отеля"
      },
    ]
  }
