-
  var promoBg = {
    titleItem: "The leading luxury travel exhibition in eastern europe, russia & cis",
    btnItem: "",
    imgItem: "img/bg/schedule-promo-desktop.png",
    img2xItem: "img/bg/schedule-promo-desktop@2x.png",
    widthItem: "1920",
    heightItem: "534",
    imgSource: "img/bg/schedule-promo-mobile.png 1x, img/bg/schedule-promo-mobile@2x.png 2x",
    classItem: "promo__none",
    promoItem: "promo__info promo__text-wrapper",
  }

-
  var programs = [
    {
      title: "Program of LTM Moscow Spring:",
      schedules: [
        {
          subtitle: "Day 1",
          textList: [
            "10:00 – 18:00 — First day is dedicated to hosted buyers only, with a huge group of hosted buyers from the Russian regions, CIS countries and Baltic States. All appointments are pre-scheduled, with 10 minutes per appointment, 2 coffee-breaks and lunch during the day.",
          ]
        },
        {
          subtitle: "Day 2",
          textList: [
            "10:00 – 15:50 — Individual pre-scheduled appointments with top-buyers. Each appointment will last 10 minutes",
            "15:50 – 16:30 — After-session networking and lunch with guests of the morning session.",
            "19:30 – 00:30 — Evening reception with entertainment."
          ]
        }
      ]
    },
    {
      title: "Program of LTM Kyiv, Almaty & LTM Moscow Autumn:",
      schedules: [
        {
          textList: [
            "10:00 – 16:55 — Individual pre - scheduled appointments with top - buyers.Each appointment will last 10 minutes.",
            "All appointments are scheduled through LTM web-site and/or LTM mobile apps.",
            "12:55 – 14:00 — Mid - session networking and lunch for guests and exhibitors.",
            "19:30 – 22:00 — Cocktail reception for travel agents, corporate clients and journalists in relaxed atmosphere.",
          ]
        }
      ]
    }
  ]

-
    var scheduleInfoList = [
      "Access to all events will only be available to pre - registered visitors.",
      "Non - participating hoteliers, DMC companies and other hospitality providers will not be permitted to attend the Luxury Travel Mart Moscow as visitors.",
      "This schedule is for review only, changes in the program are possible."
    ]
