mixin renderEvent(title, date, status, textStatus)
  li.choose-event__card(class="choose-event__card--" + status)
    h3.choose-event__card-title=title
    span.choose-event__card-date=date
    span.choose-event__card-status=textStatus
