mixin form-reg()
  form(action="#" method="POST").exhibitor-reg__form.form-reg
    .container
      h3.form-reg__title.form-reg__title-one Please select the event you would like to register for:
    .form-reg__direction.direction-swiper.direction
      .swiper-container.direction__swiper-block
        .swiper-wrapper
          .form-reg__slider.swiper-slide
            input.form-reg__check(type="checkbox" id="choices" name="check" value="choices" checked)
            label(for="choices")
            +direction("Luxury Travel Mart Almaty 2019 at The Ritz-Carlton, Almaty, Kazakhstan", "27 September 2019", "Available", "2019-09-27", "direction__status--available")
          .form-reg__slider.swiper-slide
            input.form-reg__check(type="checkbox" id="choices1" name="check" value="choices" checked)
            label(for="choices1")
            +direction("Luxury Travel Mart Almaty 2019 at The Ritz-Carlton, Almaty, Kazakhstan", "27 September 2019", "Available", "2019-09-27", "direction__status--available")
          .form-reg__slider.swiper-slide
            input.form-reg__check(type="checkbox" id="choices2" name="check" value="choices")
            label(for="choices2")
            +direction("Luxury Travel Mart Moscow 2019 at The Ritz-Carlton, Moscow, Russia", "1 October 2019", "Available", "2019-01-19", "direction__status--available")
          .form-reg__slider.swiper-slide
            input.form-reg__check(type="checkbox" id="choices3" name="check" value="choices")
            label(for="choices3")
            +direction("Luxury Travel Mart Moscow 2020 at Hyatt Regency Moscow, Russia", "27–28 February 2020", "Available", "2020-02-27", "direction__status--available")
          .form-reg__slider.swiper-slide
            input.form-reg__check(type="checkbox" id="choices4" name="check" value="choices")
            label(for="choices4")
            +direction("Luxury Travel Mart Almaty Spring 2020 at The Ritz-Carlton, Almaty, Kazakhstan", "3 March 2020", "Waiting list", "2020-03-03", "direction__status--waiting")
          .form-reg__slider.swiper-slide
            input.form-reg__check(type="checkbox" id="choices5" name="check" value="choices")
            label(for="choices5")
            +direction("Luxury Travel Mart Exchange Grand Hotel Europe, Saint-Petersburg, Russia", "20 June 2020", "Waiting list", "2020-06-20", "direction__status--waiting")
        button.direction__arrow.direction__arrow--right
          +icon("arrow-right", "11", "19")
        button.direction__arrow.direction__arrow--left
          +icon("arrow-left", "11", "19")
    +form-reg__pop-up

    .form-reg__adoption.adoption.container.swiper-container.adoption-slider
      h3.adoption__title You have selected the following events:
      ul.adoption__list.swiper-wrapper
        li.adoption__item.swiper-slide
          div
            h4 Luxury Travel Mart Kyiv 2019 at the Intercontinental Kyiv, Ukraine
            time.adoption__data(datetime="2020-09-24") 24 September 2019
        li.adoption__item.swiper-slide
          div
            h4 Luxury Travel Mart Almaty 2019 at The Ritz-Carlton, Almaty, Kazakhstan
            time.adoption__data(datetime="2020-09-27") 27 September 2019
      .adoption__pagination

    .form-reg__info.container
      h3.form-reg__title.form-reg__title-two  Information about company:
      .form-reg__grid-wrap
        .form-reg__block
          label(for="nameCompany") Company or hotel name
          input(type="text" name="nameCompany"  id="nameCompany" placeholder="Company (brand) name" required="required")
        .form-reg__block
          label(for="nameOfficial") Official name for invoice, if different
          input(type="text" name="nameOfficial"  id="nameOfficial" placeholder="Official name" required="required")
        .form-reg__block
          label(for="login") Please, create your login
          input(type="text" name="login"  id="login" placeholder="Create your login" required="required")
        .form-reg__block
          label(for="address") Official address
          input(type="text" name="address"  id="address" placeholder="Address" required="required")
        .form-reg__block
          h3.form-reg__block-title City
          select(id="select-city", class="input-dropdown")
            option Aachen
            option(value="London", class="input-dropdown__option") London
            option(value="Japan", class="input-dropdown__option") Japan
            option(value="Almaty", class="input-dropdown__option") Almaty
            option(value="Moscow", class="input-dropdown__option") Moscow
            option(value="Petersburg", class="input-dropdown__option") Petersburg
        .form-reg__block
          h3.form-reg__block-title Country
          select(id="select-country", class="input-dropdown")
            option Aphhanistan
            option(value="Aphhanistan", class="input-dropdown__option") Aphhanistan
            option(value="Aphhanistan", class="input-dropdown__option") Aphhanistan1
            option(value="Aphhanistan", class="input-dropdown__option") Aphhanistan2
            option(value="Aphhanistan", class="input-dropdown__option") Aphhanistan3
            option(value="Aphhanistan", class="input-dropdown__option") Aphhanistan4
            option(value="Aphhanistan", class="input-dropdown__option") Aphhanistan5

        .form-reg__block
          h3.form-reg__block-title Area of the business
          select(id="select-business", class="input-dropdown")
            option Chois area of the business
            option(value="business", class="input-dropdown__option") business
            option(value="trade", class="input-dropdown__option") trade
            option(value="sale", class="input-dropdown__option") sale
            option(value="entertainment", class="input-dropdown__option") entertainment
            option(value="journeys", class="input-dropdown__option") journeys
            option(value="sale", class="input-dropdown__option") sale
        .form-reg__block
          label(for="Web-site") Web-site
          input(type="text" name="Web-site"  id="Web-site" placeholder="https://" required="required")
      .form-reg__block.form-reg__textarea
        h3.form-reg__block-title Company (brand) description
        textarea(name="Company description", cols="30", rows="10" placeholder="Company description")

    .form-reg__location.container
      h3.form-reg__title.form-reg__title-three Location of your business:
      .form-reg__grid-wrap
        //.form-reg__block.form-reg__block--checkbox
        //  h3.form-reg__block-title North America
        //  .form-reg__select-wrapper
        //    label
        //      input(type="checkbox") Select All
        //    select(id="select-business", class="input-dropdown", multiple)
        //      option(value="choices-3", class="input-dropdown__option") choices-3
        //      option(value="choices-3", class="input-dropdown__option") choices-3
        //      option(value="choices-3", class="input-dropdown__option") choices-3

        .form-reg__block.form-reg__block--checkbox
          h3.form-reg__block-title Europe
          select(id="select-business", class="input-dropdown", multiple)
            option(aria-selected="true") All selected
            option(value="choices-3", class="input-dropdown__option") choices-3
            option(value="choices-3", class="input-dropdown__option") choices-3
            option(value="choices-3", class="input-dropdown__option") choices-3

        .form-reg__block.form-reg__block--checkbox
          h3.form-reg__block-title South America
          select(id="select-business", class="input-dropdown", multiple)
            option All selected
            option(value="choices-3", class="input-dropdown__option") choices-3
            option(value="choices-3", class="input-dropdown__option") choices-3
            option(value="choices-3", class="input-dropdown__option") choices-3

        .form-reg__block.form-reg__block--checkbox
          h3.form-reg__block-title Africa
          select(id="select-business", class="input-dropdown", multiple)
            option All selected
            option(value="choices-3", class="input-dropdown__option") choices-3
            option(value="choices-3", class="input-dropdown__option") choices-3
            option(value="choices-3", class="input-dropdown__option") choices-3

        .form-reg__block.form-reg__block--checkbox
          h3.form-reg__block-title Asia
          select(id="select-business", class="input-dropdown", multiple)
            option All selected
            option(value="choices-3", class="input-dropdown__option") choices-3
            option(value="choices-3", class="input-dropdown__option") choices-3
            option(value="choices-3", class="input-dropdown__option") choices-3

        .form-reg__block.form-reg__block--checkbox
          h3.form-reg__block-title Oceania
          select(id="select-business", class="input-dropdown", multiple)
            option All selected
            option(value="choices-3", class="input-dropdown__option") choices-3
            option(value="choices-3", class="input-dropdown__option") choices-3
            option(value="choices-3", class="input-dropdown__option") choices-3

        .form-reg__dropdown-check
          input.form-reg__check(type="checkbox" id="Global" name="Global" value="Global")
          label(for="Global") Global/Worldwide

    .form-reg__info.container
      h3.form-reg__title.form-reg__title-four Information about you:
      .form-reg__grid-wrap
        .form-reg__block
          label(for="First_name") Participant first name
          input(type="text" name="First_name"  id="First_name" placeholder="First name" required="required")
        .form-reg__block
          label(for="Last_name") Participant last name
          input(type="text" name="Last_name"  id="Last_name" placeholder="Last name" required="required")
        .form-reg__block
          h3.form-reg__block-title Title
          select(id="select-title", class="input-dropdown")
            option Aachen
            option(value="Mr", class="input-dropdown__option") Mr.
            option(value="Mrs", class="input-dropdown__option") Mrs.
            option(value="Ms", class="input-dropdown__option") Ms.
            option(value="Dr", class="input-dropdown__option") Dr.
        .form-reg__block
          label(for="title") Job title:
          input(type="text" name="title"  id="title" placeholder="Job title" required="required")
        .form-reg__block
          label(for="tel") Telephone
          input(type="text" name="tel"  id="tel" placeholder="+1 (111) 111 11 11" required="required")
        .form-reg__block
          label(for="skype") Skype
          input(type="text" name="skype"  id="skype" placeholder="E-mail" required="required")
        .form-reg__block
          label(for="E-mail") E-mail
          input(type="text" name="E-mail"  id="E-mail" placeholder="E-mail" required="required")
        .form-reg__block
          label(for="con_e-mail") Please, confirm your e-mail
          input(type="text" name="con_e-mail"  id="con_e-mail" placeholder="Confirm e-mail" required="required")
        .form-reg__block
          label(for="alt_e-mail") Alternative e-mail
          input(type="text" name="alt_e-mail"  id="alt_e-mail" placeholder="Alternative e-mail" required="required")

    .form-reg__upload.container
      h3.form-reg__title.form-reg__title-five Upload photos and logo
      p.form-reg__text This photos will be representative your company at the Luxury Travel Mart Exhibitors catalogue. Please choose the best photos for your page.
      .form-reg__wrapper
        .form-reg__up
          h4.form-reg__title-up Upload photo
          label(for="upload_photo") Choose files
          input(type="file" name="upload_photo" id="upload_photo" required="required")
        span Upload up to 14 photos. JPG, PNG. Min. 8, Max. 14 images.
      .form-reg__wrapper
        .form-reg__up
          h4.form-reg__title-up Upload logo
          label(for="upload_logo") Choose file
          input(type="file" name="upload_logo" id="upload_logo" required="required")
        span SVG, JPG or PNG, Max. 3 mb.

    .form-reg__terms.terms.container
      h3.form-reg__title.form-reg__title-six Terms &#38; Conditions
      .terms__block
        p.terms__text Rates for participation at each event supplied on request only.
        p.terms__text Confirmation and participation at the event is subject to the approval of the organizers only. Please note that completing the registration form does not guarantee your automatic confirmation for the event. All registrations will be reviewed and potential exhibitors should meet the criteria for exhibition participants.
        p.terms__text Booking must be carried out three months prior to the event, at the latest. Payment should be completed within 30 days after the confirmation, however prior the event. The payment terms are strict, and not negotiable.
        p.terms__text All cancelation of participation must be received in writing by fax or email. A full refund of the participation fee will be made if canceled up to six months prior to the event. If canceled six to four months prior to the event - 50% of the participation fee will be charged for the cancelation. No refund of the participation fee will be made if canceled later then four months prior to the event.
        p.terms__text Included in the fee: participation in all events of the Luxury Travel Mart. No hidden charges.
        p.terms__text A block of rooms will be reserved at each of the venue hotels. Rates will be provided upon request.

    .form-reg__submit.container
      input.form-reg__check(type="checkbox" id="yes" name="check" value="yes")
      label(for="yes") I have read and agree to the terms &#38; conditions of participations

      a(href="#", data-modal="submission") Send
