mixin form-reg-buyer()
  form(action="#" method="POST").exhibitor-reg__form.form-reg
    .container
      h3.form-reg__title.form-reg__title-one Пожалуйста, выберите мероприятие, на которое Вы хотели бы зарегистрироваться. Возможно выбрать только одно мероприятие. Пожалуйста, заполняйте форму на английском языке.
    .form-reg__direction.direction__swiper
      .swiper-container.direction__swiper-block
        .swiper-wrapper
          .form-reg__slider.swiper-slide
            input.form-reg__check(type="checkbox" id="choices" name="check" value="choices" checked)
            label(for="choices")
            +direction("Luxury Travel Mart Almaty 2019 at The Ritz-Carlton, Almaty, Kazakhstan", "27 September 2019", "Available", "27.09.2019", "direction__status--available")
          .form-reg__slider.swiper-slide
            input.form-reg__check(type="checkbox" id="choices1" name="check" value="choices" checked)
            label(for="choices1")
            +direction("Luxury Travel Mart Almaty 2019 at The Ritz-Carlton, Almaty, Kazakhstan", "27 September 2019", "Available", "27.09.2019", "direction__status--available")
          .form-reg__slider.swiper-slide
            input.form-reg__check(type="checkbox" id="choices2" name="check" value="choices")
            label(for="choices2")
            +direction("Luxury Travel Mart Moscow 2019 at The Ritz-Carlton, Moscow, Russia", "1 October 2019", "Available", "01.10.2019", "direction__status--available")
          .form-reg__slider.swiper-slide
            input.form-reg__check(type="checkbox" id="choices3" name="check" value="choices")
            label(for="choices3")
            +direction("Luxury Travel Mart Moscow 2020 at Hyatt Regency Moscow, Russia", "27–28 February 2020", "Available", "27.02.2020", "direction__status--available")
          .form-reg__slider.swiper-slide
            input.form-reg__check(type="checkbox" id="choices4" name="check" value="choices")
            label(for="choices4")
            +direction("Luxury Travel Mart Almaty Spring 2020 at The Ritz-Carlton, Almaty, Kazakhstan", "3 March 2020", "Waiting list", "03.03.2020", "direction__status--waiting")
          .form-reg__slider.swiper-slide
            input.form-reg__check(type="checkbox" id="choices5" name="check" value="choices")
            label(for="choices5")
            +direction("Luxury Travel Mart Exchange Grand Hotel Europe, Saint-Petersburg, Russia", "20 June 2020", "Waiting list", "20.06.2020", "direction__status--waiting")
        .direction__arrow.direction__arrow--right
          +icon("arrow-right", "11", "19")
        .direction__arrow.direction__arrow--left
          +icon("arrow-left", "11", "19")
    +form-reg__pop-up

    .form-reg__info.container.status
      h3.form-reg__title.form-reg__title-two Выберете статус участника
      ul.status__list
        li.status__item
          input.form-reg__check(type="checkbox" id="Buyer" name="check" value="Buyer")
          label(for="Buyer") Buyer
        li.status__item
          input.form-reg__check(type="checkbox" id="Participation" name="check" value="Participation")
          label(for="Participation") Участие в рабочей сессии
        li.status__item
          input.form-reg__check(type="checkbox" id="visit" name="check" value="visit")
          label(for="visit") Посещение вечернего коктейля
      ul.status__list
        li.status__item
          input.form-reg__check(type="checkbox" id="Hosted" name="check" value="Hosted")
          label(for="Hosted") Hosted Buyer
          p Заявка на участие в программе для приглашенных профессиональных покупателей

    .form-reg__info.container
      h3.form-reg__title.form-reg__title-three  Информация о компании:
      .form-reg__block
        label(for="nameCompany") Название компании
        input(type="text" name="nameCompany"  id="nameCompany" placeholder="Company name" required="required")
      .form-reg__block
        h3.form-reg__block-title Вид деятельности
        select
          option Tour operator
          option(value="London") London
          option(value="Japan") Japan
          option(value="Almaty") Almaty
          option(value="Moscow") Moscow
          option(value="Petersburg") Petersburg
      .form-reg__block
        h3.form-reg__block-title Направление деятельности
        select
          option Car Rental
          option(value="Aphhanistan") Aphhanistan
          option(value="Aphhanistan") Aphhanistan1
          option(value="Aphhanistan") Aphhanistan2
          option(value="Aphhanistan") Aphhanistan3
          option(value="Aphhanistan") Aphhanistan4
          option(value="Aphhanistan") Aphhanistan5
      .form-reg__block
        h3.form-reg__block-title Страна
        select
          option Russia
          option(value="Aphhanistan") Aphhanistan
          option(value="Aphhanistan") Aphhanistan1
          option(value="Aphhanistan") Aphhanistan2
          option(value="Aphhanistan") Aphhanistan3
          option(value="Aphhanistan") Aphhanistan4
          option(value="Aphhanistan") Aphhanistan5
      .form-reg__block
        label(for="address") Фактический адрес компании
        input(type="text" name="address"  id="address" placeholder="Address" required="required")
      .form-reg__block
        label(for="login") Индекс
        input(type="text" name="login"  id="login" placeholder="000000" required="required")
      .form-reg__block
        h3.form-reg__block-title Город
        select
          option Aachen
          option(value="business") business
          option(value="trade") trade
          option(value="sale") sale
          option(value="entertainment") entertainment
          option(value="journeys") journeys
          option(value="sale") sale
      .form-reg__block
        label(for="Web-site") Адрес веб-страницы
        input(type="text" name="Web-site"  id="Web-site" placeholder="https://" required="required")
      .form-reg__block.form-reg__textarea
        h3.form-reg__block-title Краткое описание компании
        textarea(name="Company description", cols="30", rows="10") Company description

    .form-reg__location.container
      h3.form-reg__title.form-reg__title-four Выберите приоритетные направления:
      .form-reg__dropdown
        h4 Северная Америка
        button.form-reg__btn(type='button') Выбрать всё
        .form-reg__content
          .form-reg__list
            input.form-reg__check#choices-0(type='checkbox' name='complex' value='complex-0')
            label(for='choices-0') choices-3
            input.form-reg__check#choices-1(type='checkbox' name='complex' value='complex-1')
            label(for='choices-1') choices-3
            input.form-reg__check#choices-2(type='checkbox' name='complex' value='complex-2')
            label(for='choices-2') choices-3
        .form-reg__overlay
      .form-reg__dropdown
        h4 Европа
        button.form-reg__btn(type='button') Выбрать всё
        .form-reg__content
          .form-reg__list
            input.form-reg__check#choices-3(type='checkbox' name='complex' value='complex-0')
            label(for='choices-3') choices-3
            input.form-reg__check#choices-3(type='checkbox' name='complex' value='complex-1')
            label(for='choices-3') choices-3
            input.form-reg__check#choices-4(type='checkbox' name='complex' value='complex-2')
            label(for='choices-4') choices-3
        .form-reg__overlay
      .form-reg__dropdown
        h4 Южная Америка
        button.form-reg__btn(type='button') Выбрать всё
        .form-reg__content
          .form-reg__list
            input.form-reg__check#choices-5(type='checkbox' name='complex' value='complex-0')
            label(for='choices-5') choices-1
            input.form-reg__check#choices-6(type='checkbox' name='complex' value='complex-1')
            label(for='choices-6') choices-2
            input.form-reg__check#choices-7(type='checkbox' name='complex' value='complex-2')
            label(for='choices-7') choices-3
        .form-reg__overlay
      .form-reg__dropdown
        h4 Африка
        button.form-reg__btn(type='button') Выбрать всё
        .form-reg__content
          .form-reg__list
            input.form-reg__check#choices-8(type='checkbox' name='complex' value='complex-0')
            label(for='choices-8') choices-4
            input.form-reg__check#choices-9(type='checkbox' name='complex' value='complex-1')
            label(for='choices-9') choices-5
            input.form-reg__check#choices-10(type='checkbox' name='complex' value='complex-2')
            label(for='choices-10') choices-6
        .form-reg__overlay
      .form-reg__dropdown
        h4 Азия
        button.form-reg__btn(type='button') Выбрать всё
        .form-reg__content
          .form-reg__list
            input.form-reg__check#choices-11(type='checkbox' name='complex' value='complex-0')
            label(for='choices-11') choices-7
            input.form-reg__check#choices-12(type='checkbox' name='complex' value='complex-1')
            label(for='choices-12') choices-8
            input.form-reg__check#choices-13(type='checkbox' name='complex' value='complex-2')
            label(for='choices-13') choices-9
        .form-reg__overlay
      .form-reg__dropdown
        h4 Океания
        button.form-reg__btn(type='button') Выбрать всё
        .form-reg__content
          .form-reg__list
            input.form-reg__check#choices-14(type='checkbox' name='complex' value='complex-0')
            label(for='choices-14') choices-10
            input.form-reg__check#choices-15(type='checkbox' name='complex' value='complex-1')
            label(for='choices-15') choices-11
            input.form-reg__check#choices-16(type='checkbox' name='complex' value='complex-2')
            label(for='choices-16') choices-12
        .form-reg__overlay
      input.form-reg__check(type="checkbox" id="Global" name="Global" value="Global")
      label(for="Global") Global/Worldwide

    .form-reg__info.container
      h3.form-reg__title.form-reg__title-five Информация о вас:
      .form-reg__block
        label(for="First_name") Имя
        input(type="text" name="First_name"  id="First_name" placeholder="First name" required="required")
      .form-reg__block
        label(for="Last_name") Фамилия
        input(type="text" name="Last_name"  id="Last_name" placeholder="Last name" required="required")
      .form-reg__block
        h3.form-reg__block-title Обращение
        select
          option Aachen
          option(value="Mr") Mr.
          option(value="Mrs") Mrs.
          option(value="Ms") Ms.
          option(value="Dr") Dr.
      .form-reg__block
        label(for="title") Должность
        input(type="text" name="title"  id="title" placeholder="Job title" required="required")
      .form-reg__block
        label(for="tel") Телефон
        input(type="text" name="tel"  id="tel" placeholder="+1 (111) 111 11 11" required="required")
      .form-reg__block
        label(for="tel2") Мобильный телефон
        input(type="text" name="tel2"  id="tel2" placeholder="+1 (111) 111 11 11" required="required")
      .form-reg__block
        label(for="skype") Skype
        input(type="text" name=""  id="skype" placeholder="E-mail" required="required")
      .form-reg__block
        label(for="E-mail") E-mail
        input(type="text" name="E-mail"  id="E-mail" placeholder="E-mail" required="required")
      .form-reg__block
        label(for="con_e-mail") Введите e-mail ещё раз
        input(type="text" name="con_e-mail"  id="con_e-mail" placeholder="Confirm e-mail" required="required")

    .form-reg__info.container
      h3.form-reg__title.form-reg__title-six Информация о коллеге:
      .form-reg__block
        label(for="First_name") Имя
        input(type="text" name="First_name"  id="First_name" placeholder="First name" required="required")
      .form-reg__block
        label(for="Last_name") Фамилия
        input(type="text" name="Last_name"  id="Last_name" placeholder="Last name" required="required")
      .form-reg__block
        h3.form-reg__block-title Обращение
        select
          option Aachen
          option(value="Mr") Mr.
          option(value="Mrs") Mrs.
          option(value="Ms") Ms.
          option(value="Dr") Dr.
      .form-reg__block
        label(for="title") Должность
        input(type="text" name="title"  id="title" placeholder="Job title" required="required")
      .form-reg__block
        label(for="E-mail") E-mail
        input(type="text" name="E-mail"  id="E-mail" placeholder="E-mail" required="required")
      .form-reg__block
        label(for="tel2") Мобильный телефон
        input(type="text" name="tel2"  id="tel2" placeholder="+1 (111) 111 11 11" required="required")

    .form-reg__info.container
      h3.form-reg__title.form-reg__title-seven Как ваша компания осуществляет бронирования?
      .form-reg__block
        h3.form-reg__block-title Через:
        select
          option DMCs
          option(value="dMCs") dMCs
          option(value="DmCS") DmCS
          option(value="DMsC") DMsC
          option(value="DMCS") DMCS

    .form-reg__info.container
      h3.form-reg__title.form-reg__title-eight Логин и пароль
      .form-reg__block
        label(for="Login") Придумайте логин
        input(type="text" name="Login"  id="Login" placeholder="Login" required="required")
      .form-reg__block
        label(for="Password") Придумайте пароль
        input(type="text" name="Password"  id="Password" placeholder="Password" required="required")
      .form-reg__block
        label(for="Password2") Введите пароль ещё раз
        input(type="text" name="Password2"  id="Password2" placeholder="Password" required="required")

    .form-reg__submit.container
      input.form-reg__check(type="checkbox" id="yes" name="check" value="yes")
      label(for="yes") Я подтверждаю свое согласие на сбор, хранение и обработку вышеуказанных данных организаторами Luxury Travel Mart в соответствии с ФЗ РФ «О персональных данных» от 27.07.2006 № 152-ФЗ.

      a(href="#", data-modal="submission") Send
