mixin renderFilter(title, mod, filterList)
  li.hotel-filter(class='hotel-filter--' + mod)
    if mod === 'drop-down'
      div.hotel-filter__filter
        h3.title--h3=title
        select(id="hotel-select", class="input-drop-down")
          each filter in filterList
            option(value=filter, class="input-drop-down__option")=filter
    if mod === 'list'
      div.hotel-filter__filter
        h3.title--h3=title
        ul.hotel-filter__list
          each filter in filterList
            li
              a(href="#", class="hotel-filter__link")=filter

