mixin renderProgramDay(title, schedule)
  li
    h3.title--h3=title
    ul.schedule__day
      each text in schedule
        li
          p=text

mixin renderProgram(title, schedules)
  li
    h2.title--h2=title
    ul.schedule__days
      each schedule in schedules
        +renderProgramDay(schedule.subtitle, schedule.textList)
