mixin renderTopBlock(text, desktopImage, tabletImage, mobileImage)
  .top-block
    img(src=desktopImage, width="100%", height="100%",
      srcset=desktopImage + ' 1280w,' + tabletImage + ' 1024w,' + mobileImage + ' 768w',
      alt="Фоновое изображение")
    h1.title--h1=text
