-
  var aboutEvent = {
    title: "About the Event",
    textList: [
        "Since its very first year, Luxury Travel Mart has become the most successful event in the luxury travel segment in Russia. This is a B2B event for companies that offer luxury products, who wish to establish new contacts and strengthen old ties on the Russian and CIS markets.",
        "Companies that participate in the Luxury Travel Mart include five-star hotels and resorts, elite car companies, cruise and yacht charter companies, private jet charters, DMC and luxury operators. Most of the best-known brands in the luxury travel industry have participated and continue to participate in LTM each year.",
        "This B2B event has been carefully thought out and planned in such a way that sellers and potential buyers of services – companies working with VIP clients, have the opportunity to establish partnerships within the space of a single day. The main aim of the of the organizers of the Luxury Travel Mart is to expand the geography of sales of the exhibition’s participants and also to introduce layers to new areas and services to which they previously did not have access."
    ]
  };

-
  var eventBlock = {
    title: "Luxury Travel Mart currently organises 5 events a year:",
    eventList: [
      {
        subtitle: "Luxury Travel Mart Moscow, Russia, Spring Edition",
        textList: [
          "Date for 2019: March 5",
          "In 2019 LTM will celebrate its’ 15th Years Anniversary.In 2019 LTM will celebrate its’ 15th Years Anniversary."
        ]
      },
      {
        subtitle: "Luxury Travel Mart Moscow, Russia, Spring Edition",
        textList: [
          "Date for 2019: March 5",
          "Luxury Travel Mart does not aim to set records in terms of quantity (although with every year the numbers increase for all exhibitors and visitors), but prefers instead to set the highest standards of quality."
        ]
      },
      {
        subtitle: "Mart Moscow, Russia, Spring Edition",
        textList: [
          "Date for 2020: March 1",
          "Venue: The Ritz-Carlton, Almaty Approximate number of guests: 110-125 at the morning session, 50 hosted buyers, 200-230, guests at the evening session."
        ]
      },
      {
        subtitle: "Autumn Edition Luxury Travel",
        textList: [
          "Date for 2020: March 1",
          "Venue: Luxury Travel Mart Moscow, Russia, Autumn Edition Luxury Travel Mart Moscow, Russia, Autumn Edition Luxury Travel Mart Moscow, Russia, Autumn Edition Luxury Travel Mart Moscow, Russia, Autumn Edition Luxury Travel Mart Moscow, Russia, Autumn Edition Luxury Travel Mart Moscow, Russia, Autumn Edition Luxury Travel Mart Moscow, Russia, Autumn Edition Luxury Travel Mart Moscow, Russia, Autumn Edition The Ritz-Carlton, Almaty Approximate number of guests: 110-125 at the morning session, 50 hosted buyers, 200-230, guests at the evening session."
        ]
      }
    ]
  }
