-
  var aboutEvent = {
    title: "About the Event",
    textList: [
        "Since its very first year, Luxury Travel Mart has become the most successful event in the luxury travel segment in Russia. This is a B2B event for companies that offer luxury products, who wish to establish new contacts and strengthen old ties on the Russian and CIS markets.",
        "Companies that participate in the Luxury Travel Mart include five-star hotels and resorts, elite car companies, cruise and yacht charter companies, private jet charters, DMC and luxury operators. Most of the best-known brands in the luxury travel industry have participated and continue to participate in LTM each year.",
        "This B2B event has been carefully thought out and planned in such a way that sellers and potential buyers of services – companies working with VIP clients, have the opportunity to establish partnerships within the space of a single day. The main aim of the of the organizers of the Luxury Travel Mart is to expand the geography of sales of the exhibition’s participants and also to introduce layers to new areas and services to which they previously did not have access."
    ]
  };

-
  var eventBlock = {
    title: "Luxury Travel Mart currently organises 5 events a year:",
    eventList: [
      {
        subtitle: "Luxury Travel Mart Moscow, Russia, Spring Edition",
        textList: [
          "Date for 2019: March 5",
          "In 2019 LTM will celebrate its’ 15th Years Anniversary.In 2019 LTM will celebrate its’ 15th Years Anniversary."
        ]
      },
      {
        subtitle: "Luxury Travel Mart Moscow, Russia, Spring Edition",
        textList: [
          "Date for 2019: March 5",
          "Luxury Travel Mart does not aim to set records in terms of quantity (although with every year the numbers increase for all exhibitors and visitors), but prefers instead to set the highest standards of quality."
        ]
      },
      {
        subtitle: "Mart Moscow, Russia, Spring Edition",
        textList: [
          "Date for 2020: March 1",
          "Venue: The Ritz-Carlton, Almaty Approximate number of guests: 110-125 at the morning session, 50 hosted buyers, 200-230, guests at the evening session."
        ]
      },
      {
        subtitle: "Autumn Edition Luxury Travel",
        textList: [
          "Date for 2020: March 1",
          "Venue: Luxury Travel Mart Moscow, Russia, Autumn Edition Luxury Travel Mart Moscow, Russia, Autumn Edition Luxury Travel Mart Moscow, Russia, Autumn Edition Luxury Travel Mart Moscow, Russia, Autumn Edition Luxury Travel Mart Moscow, Russia, Autumn Edition Luxury Travel Mart Moscow, Russia, Autumn Edition Luxury Travel Mart Moscow, Russia, Autumn Edition Luxury Travel Mart Moscow, Russia, Autumn Edition The Ritz-Carlton, Almaty Approximate number of guests: 110-125 at the morning session, 50 hosted buyers, 200-230, guests at the evening session."
        ]
      }
    ]
  }

-
  var buttonText = "Read More"

-
  var benefitsTitle = "Overview"

-
  var benefits = [
    {
      src: "icon-about-first",
      width: "73px",
      height: "67px",
      text: "The most successful event in this niche in the CIS"
    },
    {
      src: "icon-about-more90perc",
      width: "123px",
      height: "46px",
      text: "Number of repeat exhibitors – over 90%"
    },
    {
      src: "icon-about-maxcapacity",
      width: "76px",
      height: "80px",
      text: "360 exhibitors participated in LTM Moscow Spring 2018 and 146 in Moscow Autumn 2018, 98 at LTM Kiev 2018 and 120 at LTM Almaty 2018 \n" +
              "(maximum capacity at all events)"
    },
    {
      src: "icon-about-4000",
      width: "79px",
      height: "68px",
      text: "Over 4000 guests visited LTM events in Moscow, Kiev, Almaty in 2018"
    },
    {
      src: "icon-about-1200",
      width: "72px",
      height: "68px",
      text: "Over 1200 guests visited LTM Spring in Moscow in 2018"
    },
    {
      src: "icon-about-98percents",
      width: "90px",
      height: "90px",
      text: "560 hosted buyers from the Russian regions and the CIS in 2018 at LTM events and 360 hosted buyers at LTM Spring in Moscow 2018 only"
    },
    {
      src: "icon-about-hbprogram",
      width: "81px",
      height: "59px",
      text: "560 hosted buyers from the Russian regions and the CIS in 2018 at LTM events and 360 hosted buyers at LTM Spring in Moscow 2018 only"
    },
    {
      src: "icon-about-preselected",
      width: "76px",
      height: "77px",
      text: "560 hosted buyers from the Russian regions and the CIS in 2018 at LTM events and 360 hosted buyers at LTM Spring in Moscow 2018 only"
    },
  ]

