-
  var eventList = {
    title: "Exhibitor’s",
    subtitle: "My Events",
    hotelList: [
      {
        title: "Luxury Travel Mart Moscow Spring’ 2020",
        text: "at Hyatt Regency Moscow Petrovsky Park",
        date: "27–28 February 2020",
        status: "paid",
        statusText: "Registered. Paid",
        statusDescription: "You can send and receive requests, view basic information, register colleagues, etc.",
        buttonText: "Select this event"
      },
      {
        title: "Luxury Travel Mart Almaty Spring’ 2020",
        text: "at The Ritz-Carlton, Almaty, Kazakhstan",
        date: "3 March 2020",
        status: "unpaid",
        statusText: "Unpaid yet",
        statusDescription: "You can’t send and receive requests, view basic information, register colleagues, etc. Please, pay the bill.",
        buttonText: "Select this event"
      },
      {
        title: "Luxury Travel Mart Kyiv Autumn’ 2020",
        text: "at The Intercontinental, Kyiv, Ukraine",
        date: "24 September 2020",
        status: "not-registered",
        statusText: "Not Registered",
        statusDescription: "You can’t send and receive requests, view basic information, register colleagues, etc. Please register before sold-out.",
        buttonText: "Registration"
      },
      {
        title: "Luxury Travel Mart Almaty Autumn’ 2020",
        text: "at The Ritz-Carlton, Almaty, Kazakhstan",
        date: "24 September 2020",
        status: "not-registered",
        statusText: "Not Registered",
        statusDescription: "You can’t send and receive requests, view basic information, register colleagues, etc. Please register before sold-out.",
        buttonText: "Registration"
      },
    ]
  }
