-
  var adminTabs = [
    {
      text: "Deadline & Info",
      link: ""
    },
    {
      text: "Messages",
      link: ""
    },
    {
      text: "My Schedule",
      link: ""
    },
    {
      text: "Buyers Guest List",
      link: ""
    },
    {
      text: "Hosted Buyers Guest List",
      link: ""
    },
    {
      text: "Sponsorship Opportunities",
      link: ""
    },
    {
      text: "Hosted Buyers Guest List",
      link: ""
    },
    {
      text: "Sponsorship Opportunities",
      link: ""
    },
  ]
