-
  var alphabetHotel = [
    {
      title: "#",
      hotelList: [
        {
          name: "7° South Seychelles",
          link: "#"
        }
      ]
    },
    {
      title: "A",
      hotelList: [
        {
          name: "Al Khalidiah Tourism Group of companies",
          link: "#"
        },
        {
          name: "AMAN",
          link: "#"
        },
        {
          name: "Ambotis Premum Club",
          link: "#"
        },
        {
          name: "Anantara Maldives & Naladhu",
          link: "#"
        },
        {
          name: "Arminas Travel, Мексика / Banyan Tree",
          link: "#"
        }
      ]
    },
    {
      title: "B",
      hotelList: [
        {
          name: "Baglioni Hotels & Resorts",
          link: "#"
        },
        {
          name: "Belmond",
          link: "#"
        },
        {
          name: "Biblos Resort Alaçatı",
          link: "#"
        },
        {
          name: "Breidenbacher Hof, a Capella Hotel / Elite Expert",
          link: "#"
        },
      ]
    },
    {
      title: "C",
      hotelList: [
        {
          name: "Cheval Blanc",
          link: "#"
        },
        {
          name: "Clinic Lemanic",
          link: "#"
        },
        {
          name: "Corinthia Hotel London",
          link: "#"
        },
        {
          name: "Crossroads Maldives",
          link: "#"
        },
        {
          name: "Crystal Cruises",
          link: "#"
        },
      ]
    }
  ]
