-
  var alphabetHotel = [
    {
      title: "#",
      hotelList: [
        {
          name: "7° South Seychelles",
          link: "#"
        }
      ]
    },
    {
      title: "A",
      hotelList: [
        {
          name: "Al Khalidiah Tourism Group of companies",
          link: "#"
        },
        {
          name: "AMAN",
          link: "#"
        },
        {
          name: "Ambotis Premum Club",
          link: "#"
        },
        {
          name: "Anantara Maldives & Naladhu",
          link: "#"
        },
        {
          name: "Arminas Travel, Мексика / Banyan Tree",
          link: "#"
        }
      ]
    },
    {
      title: "B",
      hotelList: [
        {
          name: "Baglioni Hotels & Resorts",
          link: "#"
        },
        {
          name: "Belmond",
          link: "#"
        },
        {
          name: "Biblos Resort Alaçatı",
          link: "#"
        },
        {
          name: "Breidenbacher Hof, a Capella Hotel / Elite Expert",
          link: "#"
        },
      ]
    },
    {
      title: "C",
      hotelList: [
        {
          name: "Cheval Blanc",
          link: "#"
        },
        {
          name: "Clinic Lemanic",
          link: "#"
        },
        {
          name: "Corinthia Hotel London",
          link: "#"
        },
        {
          name: "Crossroads Maldives",
          link: "#"
        },
        {
          name: "Crystal Cruises",
          link: "#"
        },
      ]
    },
    {
      title: "D",
      hotelList: [
        {
          name: "Desert Adventures - UAE, Oman, Jordan",
          link: "#"
        },
        {
          name: "Desert Gate Tourism",
          link: "#"
        },
        {
          name: "Destinations Of The World Travel & Tourism",
          link: "#"
        },
        {
          name: "Dorchester Collection France & Italy",
          link: "#"
        },
        {
          name: "Dorchester Collection UK & USA",
          link: "#"
        },
        {
          name: "Doris Tours - Luxury Tourism Services, Israel",
          link: "#"
        },
      ]
    },
    {
      title: "E",
      hotelList: [
        {
          name: "EET Destination Management",
          link: "#"
        },
        {
          name: "El Palace Barcelona / Alabriga Hotel & Home Suites",
          link: "#"
        },
        {
          name: "Emirates Palace",
          link: "#"
        },
        {
          name: "Excelsior Hotel Gallia, a Luxury Collection Hotel, Milan",
          link: "#"
        },
      ]
    },
    {
      title: "F",
      hotelList: [
        {
          name: "Falkensteiner Hotels & Residences Fantasia LLC",
          link: "#"
        },
        {
          name: "Four Seasons Astir Palace Hotel, Athens",
          link: "#"
        },
        {
          name: "Four Seasons Hotel des Bergues",
          link: "#"
        },
        {
          name: "Four Seasons Hotel George V",
          link: "#"
        },
        {
          name: "Four Seasons Hotel Megève / Les Chalets du Mont d’Abois Megève, a Four Seasons Hotel",
          link: "#"
        },
        {
          name: "Four Seasons Hotels & Resorts",
          link: "#"
        },
        {
          name: "Four Seasons Maldives",
          link: "#"
        },
        {
          name: "Four Seasons Resort Sharm El Sheikh",
          link: "#"
        },
      ]
    },
      {
        title: "G",
        hotelList: [
          {
            name: "GENOLIER PATIENT SERVICES",
            link: "#"
          },
          {
            name: "Giardino Group – Superior Retreats & Resorts",
            link: "#"
          },
          {
            name: "Grandes Alpes Hotel",
            link: "#"
          },
        ]
      },
      {
        title: "H",
        hotelList: [
          {
            name: "Happy Travel LLC.",
            link: "#"
          },
          {
            name: "Heritance Aarah",
            link: "#"
          },
          {
            name: "Hotel Café Royal in London, Hotel ",
            link: "#"
          },
          {
            name: "Conservatorium in Amsterdam, Hotel Lutetia in Paris",
            link: "#"
          },
          {
            name: "Hotel Vierjahreszeiten Kempinski Munich and",
            link: "#"
          },
          {
            name: "Hotel Adlon Kempinski Berlin",
            link: "#"
          },
          {
            name: "Hyatt Hotels and Resorts / Hotel Martinez, in the Unbound Collection by Hyatt",
            link: "#"
          },
        ]
      },
      {
        title: "I",
        hotelList: [
          {
            name: "I-Alliance",
            link: "#"
          },
          {
            name: "IDI Travel",
            link: "#"
          },
          {
            name: "Intour Maldives",
            link: "#"
          },
          {
            name: "iTravex-DMC Spain, Andorra and Czech Republic",
            link: "#"
          },
        ]
      },
      {
        title: "J",
        hotelList: [
          {
            name: "JA Manafaru",
            link: "#"
          },
          {
            name: "Jumeirah Group Dubai",
            link: "#"
          },
          {
            name: "Jumeirah Hotels & Resorts / Jumeirah Zabeel Saray",
            link: "#"
          },
        ]
      },
      {
        title: "K",
        hotelList: [
          {
            name: "Kalari Kovilakom, Kalari Rasayana, SwaSwara, ",
            link: "#"
          },
          {
            name: "Prakriti Shakti, India and GB Thermae hotels",
            link: "#"
          },
          {
            name: "Abamo Terme",
            link: "#"
          },
        ]
      },
      {
        title: "L",
        hotelList: [
          {
            name: "Laclinic-Montreux",
            link: "#"
          },
          {
            name: "Lets Go Maldives",
            link: "#"
          },
          {
            name: "Lungarno Collection",
            link: "#"
          },
          {
            name: "LUX* Resorts & Hotels",
            link: "#"
          },
          {
            name: "Luxe voyage DMC Mauritius",
            link: "#"
          },
        ]
      },
      {
        title: "M",
        hotelList: [
          {
            name: "Mademoiselle Val D'Isere",
            link: "#"
          },
        ]
      },
      {
        title: "N",
        hotelList: [
          {
            name: "Neoscapes Maldives",
            link: "#"
          },
        ]
      },
      {
        title: "O",
        hotelList: [
          {
            name: "One&Only",
            link: "#"
          },
        ]
      },
      {
        title: "P",
        hotelList: [
          {
            name: "Park Hyatt Vienna",
            link: "#"
          },
          {
            name: "Pure Escapes - Luxury Travel Specialist",
            link: "#"
          },
        ]
      },
      {
        title: "R",
        hotelList: [
          {
            name: "Raffles Seychelles",
            link: "#"
          },
          {
            name: "Rocco Forte Hotels",
            link: "#"
          },
          {
            name: "RSB Travel",
            link: "#"
          },
        ]
      },
      {
        title: "S",
        hotelList: [
          {
            name: "Sani Resort / Ikos Resorts",
            link: "#"
          },
          {
            name: "SAYAMA Travel Group",
            link: "#"
          },
          {
            name: "Simply Relocation living & medical GmbH",
            link: "#"
          },
          {
            name: "Sin Elite Group Srl",
            link: "#"
          },
        ]
      },
      {
        title: "T",
        hotelList: [
          {
            name: "TeamWise Tanzania Travel",
            link: "#"
          },
          {
            name: "Terra Nova Expeditions",
            link: "#"
          },
          {
            name: "The Bicester Village Shopping Collection®: Fidenza Village (Italy)",
            link: "#"
          },
          {
            name: "The Bicester Village Shopping Collection®: La Roca Village & Las Rozas Village (Spain)",
            link: "#"
          },
          {
            name: "The BVLGARI Resort Dubai",
            link: "#"
          },
          {
            name: "The Mulia, Mulia Resort & Villas – Nusa Dua, Bali",
            link: "#"
          },
          {
            name: "The St. Regis Bali Resort / The Laguna, a Luxury",
            link: "#"
          },
          {
            name: "The St. Regis Bali Resort / The Laguna, a Luxury Collection Resort & Spa",
            link: "#"
          },
          {
            name: "The Westin Bonmont Golf Resort & Spa / VIP SERVICE Private Group Marbella",
            link: "#"
          },
          {
            name: "TOURPRO MICE & Tourism Professionals",
            link: "#"
          },
          {
            name: "TUI Prestige",
            link: "#"
          },
          {
            name: "TUO Travel",
            link: "#"
          },
        ]
      },
      {
        title: "V",
        hotelList: [
          {
            name: "Velaa Private Island",
            link: "#"
          },
          {
            name: "VIP Tour London",
            link: "#"
          },
        ]
      },
      {
        title: "W",
        hotelList: [
          {
            name: "Waldorf Astoria Maldives Ithaafushi",
            link: "#"
          },
        ]
      }
  ]
