-
  var alphabetHotel = [
    {
      title: '#',
      hotelList: [
        '7° South Seychelles',
      ]
    },
    {
      title: 'A',
      hotelList: [
        'Al Khalidiah Tourism Group of companies',
        'AMAN',
        'Ambotis Premum Club',
        'Anantara Maldives & Naladhu',
        'Arminas Travel, Мексика / Banyan Tree',
      ]
    },
    {
      title: 'B',
      hotelList: [
        'Baglioni Hotels & Resorts',
        'Belmond',
        'Biblos Resort Alaçatı',
        'Breidenbacher Hof, a Capella Hotel / Elite Expert',
      ]
    },
    {
      title: 'C',
      hotelList: [
        'Cheval Blanc',
        'Clinic Lemanic',
        'Corinthia Hotel London',
        'Crossroads Maldives',
        'Crystal Cruises',
      ]
    }
  ]
