-
  var chooseEventCard = [
    {
      title: "Luxury Travel Mart Kyiv 2019 at the Intercontinental Kyiv, Ukraine",
      date: "24 September 2019",
      status: "available",
      textStatus: "Available"
    },
    {
      title: "Luxury Travel Mart Kyiv 2019 at the Intercontinental Kyiv, Ukraine",
      date: "24 September 2019",
      status: "available",
      textStatus: "Available"
    },
    {
      title: "Luxury Travel Mart Moscow 2019 at The Ritz-Carlton, Moscow, Russia",
      date: "1 October 2019",
      status: "available",
      textStatus: "Available"
    },
    {
      title: "Luxury Travel Mart Almaty Spring 2020 at The Ritz-Carlton, Almaty, Kazakhstan",
      date: "3 March 2020",
      status: "waiting",
      textStatus: "Waiting list"
    },
    {
      title: "Luxury Travel Mart Exchange Grand Hotel Europe, Saint-Petersburg, Russia",
      date: "20 June 2020",
      status: "waiting",
      textStatus: "Waiting list"
    }
  ]
