-
  var chooseEvent = {
    title: 'Choose the Event:'
  }

-
  var chooseEventCard = [
    {
      titleItem: "Luxury Travel Mart Kyiv 2019 at the Intercontinental Kyiv, Ukraine",
      dataItem: "24 September 2019",
      timeItem: "24.09.2019",
      classStatus: "direction__status--available",
      statusItem: "Available",
    },
    {
      titleItem: "Luxury Travel Mart Kyiv 2019 at the Intercontinental Kyiv, Ukraine",
      dataItem: "24 September 2019",
      timeItem: "24.09.2019",
      classStatus: "direction__status--available",
      statusItem: "Available"
    },
    {
      titleItem: "Luxury Travel Mart Moscow 2019 at The Ritz-Carlton, Moscow, Russia",
      dataItem: "1 October 2019",
      timeItem: "01.10.2019",
      classStatus: "direction__status--available",
      statusItem: "Available"
    },
    {
      titleItem: "Luxury Travel Mart Almaty Spring 2020 at The Ritz-Carlton, Almaty",
      dataItem: "3 March 2020",
      timeItem: "03.03.2020",
      classStatus: "direction__status--waiting",
      statusItem: "Waiting list"
    },
    {
      titleItem: "Luxury Travel Mart Exchange Grand Hotel Europe, Saint-Petersburg",
      dataItem: "20 June 2020",
      timeItem: "20.06.2020",
      classStatus: "direction__status--waiting",
      statusItem: "Waiting list"
    },
    {
      titleItem: "Luxury Travel Mart Exchange Grand Hotel Europe, Saint-Petersburg",
      dataItem: "20-28 June 2020",
      timeItem: "20.06.2019",
      classStatus: "direction__status--ending",
      statusItem: "Registration ending soon"
    },
    {
      titleItem: "Luxury Travel Mart Exchange Grand Hotel Europe, Saint-Petersburg",
      dataItem: "20-28 June 2020",
      timeItem: "20.06.2019",
      classStatus: "direction__status--ending",
      statusItem: "Registration ending soon"
    },
    {
      titleItem: "Luxury Travel Mart Kyiv 2019 at the Intercontinental Kyiv",
      dataItem: "24 September 2019",
      timeItem: "24.09.2019",
      classStatus: "direction__status--available",
      statusItem: "Available"
    },
  ]
