-
  var promoBg = {
    titleItem: "The leading luxury travel exhibition in eastern europe, russia & cis",
    btnItem: "",
    imgItem: "img/bg/LTM_28_02_1950.jpg",
    img2xItem: "img/bg/LTM_28_02_1950@2x.jpg",
    widthItem: "1920",
    heightItem: "534",
    imgSource: "img/bg/LTM_28_02_1942.png 1x, img/bg/LTM_28_02_1942@2x.png 2x",
    classItem: "promo__none",
    promoItem: "promo__info promo__text-wrapper"
  }

-
  var contacts = {
    title: "Contact Us",
    contactsList: [
      {
        avatar: "contacts-user001",
        name: "Artyom Polanskiy",
        position: "Event Manager",
        work: "General Administration and Exhibitors",
        telephones: [
          {
            telephone: "+7 916 204 31 36",
            link: "tel:+79162043136",
          },
          {
            telephone: "+380 67 111 77 63",
            link: "tel:+380671117763",
          },
        ],
      },
      {
        avatar: "contacts-user002",
        name: "Maria Shankina",
        position: "Event Manager",
        work: "General Administration and Sponsorship",
        telephones: [
          {
            telephone: "+7 985 776 55 22",
            link: "tel:+79857765522",
          },
          {
            telephone: "+7 495 645 04 21",
            link: "tel:+74956450421",
          },
        ],
      },
      {
        avatar: "contacts-user003",
        name: "Yaroslav Kyreev",
        position: "Event Manager",
        work: "Buyers and Appointments – LTM Kyiv",
        telephones: [
          {
            telephone: "+380 67 371 22 22",
            link: "tel:+380673712222",
          },
        ],
      },
      {
        avatar: "contacts-user004",
        name: "Irina Bezpalaya",
        position: "Event Coordinator",
        work: "Buyers and Appointments",
        telephones: [
          {
            telephone: "+7 985 246 72 32",
            link: "tel:+79852467232",
          },
          {
            telephone: "+7 495 645 04 22",
            link: "tel:+74956450422",
          },
        ],
      },
    ]
  }

-
  var office = {
    logo: {
      src: "img/svg/tm-logo.svg",
      width: "138",
      height: "61",
      alt: "logo Head-office in Moscow",
    },
    name: "Head-office in Moscow",
    address: "21/11, Trubnaya St., Entrance 4, Moscow, 127051, Russia",
  }
