-
  var headerLinks = [
    {
      href: "about.html",
      text: "About LTM"
    },
    {
      href: "#",
      text: "Registration"
    },
    {
      href: "schedule.html",
      text: "Detailed Schedule"
    },
    {
      href: "exhibitors.html",
      text: "Exhibitors"
    },
    {
      href: "gallery.html",
      text: "Gallery"
    },
    {
      href: "organizers.html",
      text: "Organizers"
    },
    {
      href: "partners-page.html",
      text: "Partners"
    },
    {
      href: "contact-us.html",
      text: "Contacts"
    },
  ]
