-
  var filters = [
    {
      title: "Alphabetically:",
      mod: "list",
      filterList: "#ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    },
    {
      title: "By Country:",
      mod: "dropdown",
      filterList: [
        "Afghanistan",
        "Russia",
        "United States of America",
        "China",
      ]
    },
    {
      title: "By type of business",
      mod: "dropdown",
      filterList: [
        "Apartments & villas rental",
        "Hello, hello",
        "Come with kittens",
      ]
    },
    {
      title: "Exhibitor’s name",
      mod: "dropdown dropdown-mobile",
      filterList: [
        "Hyatt",
        "Mandarin Oriental Hotel",
        "Awesome hotel Ritz",
      ]
    },
  ]
