-
  var hotelCards = [
    {
      photoList: [
        "../img/content/exhibition-mandarin-1.jpg",
        "../img/content/exhibition-mandarin-2.jpg",
      ],
      logo: "../img/svg/mandarin-logo.svg",
      title: "Mandarin Oriental Hotel Group",
      link: "#"
    },
    {
      photoList: [
        "../img/content/exhibition-ritz-1.jpg",
        "../img/content/exhibition-ritz-2.jpg",
      ],
      logo: "../img/svg/ritz-logo.svg",
      title: "The Ritz-Carlton, Moscow and Very long name for best usability at this site. Name participant have to be loong",
      link: "#"
    },
    {
      photoList: [
        "../img/content/exhibition-hyatt-1.jpg",
        "../img/content/exhibition-hyatt-2.jpg",
      ],
      logo: "../img/svg/hyatt-logo.svg",
      title: "Hyatt Regency Moscow Petrovsky Park",
      link: "#"
    },
    {
      photoList: [
        "../img/content/exhibition-hyatt-1.jpg",
        "../img/content/exhibition-hyatt-2.jpg",
      ],
      logo: "../img/svg/hyatt-logo.svg",
      title: "Hyatt Regency Moscow Petrovsky Park",
      link: "#"
    },
    {
      photoList: [
        "../img/content/exhibition-mandarin-1.jpg",
        "../img/content/exhibition-mandarin-2.jpg",
      ],
      logo: "../img/svg/mandarin-logo.svg",
      title: "Mandarin Oriental Hotel Group",
      link: "#"
    },
    {
      photoList: [
        "../img/content/exhibition-ritz-1.jpg",
        "../img/content/exhibition-ritz-2.jpg",
      ],
      logo: "../img/svg/ritz-logo.svg",
      title: "The Ritz-Carlton, Moscow and Very long name for best usability at this site. Name participant have to be loong",
      link: "#"
    },
    {
      photoList: [
        "../img/content/exhibition-hyatt-1.jpg",
        "../img/content/exhibition-hyatt-2.jpg",
      ],
      logo: "../img/svg/hyatt-logo.svg",
      title: "Hyatt Regency Moscow Petrovsky Park",
      link: "#"
    },
    {
      photoList: [
        "../img/content/exhibition-hyatt-1.jpg",
        "../img/content/exhibition-hyatt-2.jpg",
      ],
      logo: "../img/svg/hyatt-logo.svg",
      title: "Hyatt Regency Moscow Petrovsky Park",
      link: "#"
    },
    {
      photoList: [
        "../img/content/exhibition-mandarin-1.jpg",
        "../img/content/exhibition-mandarin-2.jpg",
      ],
      logo: "../img/svg/mandarin-logo.svg",
      title: "Mandarin Oriental Hotel Group",
      link: "#"
    },
    {
      photoList: [
        "../img/content/exhibition-ritz-1.jpg",
        "../img/content/exhibition-ritz-2.jpg",
      ],
      logo: "../img/svg/ritz-logo.svg",
      title: "The Ritz-Carlton, Moscow and Very long name for best usability at this site. Name participant have to be loong",
      link: "#"
    },
    {
      photoList: [
        "../img/content/exhibition-hyatt-1.jpg",
        "../img/content/exhibition-hyatt-2.jpg",
      ],
      logo: "../img/svg/hyatt-logo.svg",
      title: "Hyatt Regency Moscow Petrovsky Park",
      link: "#"
    },
    {
      photoList: [
        "../img/content/exhibition-hyatt-1.jpg",
        "../img/content/exhibition-hyatt-2.jpg",
      ],
      logo: "../img/svg/hyatt-logo.svg",
      title: "Hyatt Regency Moscow Petrovsky Park",
      link: "#"
    },
    {
      photoList: [
        "../img/content/exhibition-mandarin-1.jpg",
        "../img/content/exhibition-mandarin-2.jpg",
      ],
      logo: "../img/svg/mandarin-logo.svg",
      title: "Mandarin Oriental Hotel Group",
      link: "#"
    },
    {
      photoList: [
        "../img/content/exhibition-ritz-1.jpg",
        "../img/content/exhibition-ritz-2.jpg",
      ],
      logo: "../img/svg/ritz-logo.svg",
      title: "The Ritz-Carlton, Moscow and Very long name for best usability at this site. Name participant have to be loong",
      link: "#"
    },
    {
      photoList: [
        "../img/content/exhibition-hyatt-1.jpg",
        "../img/content/exhibition-hyatt-2.jpg",
      ],
      logo: "../img/svg/hyatt-logo.svg",
      title: "Hyatt Regency Moscow Petrovsky Park",
      link: "#"
    },
    {
      photoList: [
        "../img/content/exhibition-hyatt-1.jpg",
        "../img/content/exhibition-hyatt-2.jpg",
      ],
      logo: "../img/svg/hyatt-logo.svg",
      title: "Hyatt Regency Moscow Petrovsky Park",
      link: "#"
    },
  ]
