-
  var filters = [
    {
      title: 'Alphabetically:',
      mod: 'list',
      filterList: '#ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    },
    {
      title: 'By Country:',
      mod: 'drop-down',
      filterList: [
        'Afghanistan',
        'Russia',
        'United States of America',
        'China',
      ]
    },
    {
      title: 'By type of business',
      mod: 'drop-down',
      filterList: [
        'Apartments & villas rental',
        'Hello, hello',
        'Come with kittens',
      ]
    }
  ]
