-
  var editCollegue = {
    title: "Редактировать профиль",
    photo: "img/content/admin-photo-edit.jpg",
    uploadText: "Загрузить",
    uploadFormat: "JPG, PNG",
    uploadMin: "Min. 200x200 px.",
    uploadMax: "Max. 3 mb.",
    formList: [
      {
        headline: "Имя",
        placeholder: "First name",
        type: "text",
        id: "name",
      },
      {
        headline: "Фамилия",
        placeholder: "Last name",
        type: "text",
        id: "last-name"
      },
      {
        headline: "Обращение",
        type: "select",
        options: [
          'Mr.',
          'Mrs.'
        ],
        id: "title-select"
      },
      {
        headline: "Должность",
        placeholder: "Job position",
        type: "text",
        id: "job-position"
      },
      {
        headline: "Телефон",
        placeholder: "+1 (111) 111 11 11",
        type: "text",
        id: "phone-number"
      },
      {
        headline: "Мобильный телефон",
        placeholder: "+1 (111) 111 11 11",
        type: "text",
        id: "phone-mobile"
      },
      {
        headline: "Skype",
        placeholder: "E-mail",
        type: "text",
        id: "colleague-skype"
      },
      {
        headline: "E-mail",
        placeholder: "E-mail",
        type: "text",
        id: "colleague-email-2"
      },
    ],
    buttonList: [
      {
        text: "Cancel",
        mod: "btn--white",
        type: "reset"
      },
      {
        text: "Save",
        mod: "btn--blue",
        type: "submit"
      }
    ]
  }
