-
  var mobileFilters = [
    {
      title: "Alphabetically:",
      mod: "dropdown",
      className: "styled-item",
      filterList: "ABCDEFGHIJKLMNOPQRSTUVWXY",
    },
    {
      title: "By country:",
      mod: "dropdown",
      filterList: [
        "Afghanistan",
        "Russia",
        "United States of America",
        "China",
        "Afghanistan",
        "Russia",
        "United States of America",
        "China",
        "Afghanistan",
        "Russia",
        "United States of America",
        "China",
        "Afghanistan",
        "Russia",
        "United States of America",
        "China",
      ]
    },
    {
      title: "By type of business:",
      mod: "dropdown",
      filterList: [
        "Apartments & villas rental",
        "Hello, hello",
        "Come with kittens",
      ]
    },
  ]

-
  var mobileFiltersButtons = [
    {
      buttonText: "Apply",
      type: "button",
      mod: "button--blue"
    }
  ]
