-
  var editProfile = {
    title: "Информация о компании",
    description: "Название компании",
    company: "Adventa Agency",
    formList: [
      {
        headline: "Название компании",
        text: "Adventa Agency",
        type: "name",
        mod: "full-width",
      },
      {
        headline: "Web",
        placeholder: "https://",
        type: "text",
        mod: "full-width",
        id: "site",
      },
      {
        headline: "Описание компании",
        placeholder: "Описание компании, только на английском языке",
        type: "textarea",
        mod: "full-width",
        id: "company-description"
      },
      {
        headline: "Страна",
        type: "select",
        mod: "full-width",
        options: [
          'Russia',
          'USA'
        ],
        id: "country-select"
      },
      {
        headline: "Город",
        type: "select",
        mod: "full-width",
        options: [
          'Moscow',
          'Saratov'
        ],
        id: "city-select"
      },
      {
        headline: "Адрес",
        placeholder: "office, bld., St",
        type: "text",
        mod: "full-width",
        id: "company-address",
      },
      {
        headline: "Почтовый индекс",
        placeholder: "000000",
        type: "text",
        mod: "half-width",
        id: "company-post-index",
      },
      {
        headline: "Телефон",
        placeholder: "+1 (111) 111 11 11",
        type: "text",
        mod: "half-width edit-colleague__block--right",
        id: "company-phone",
      },
      {
        headline: "E-mail",
        placeholder: "E-mail",
        type: "text",
        mod: "full-width",
        id: "company-email",
      },
    ],
    buttonList: [
      {
        text: "Отмена",
        mod: "btn--white",
        type: "reset"
      },
      {
        text: "Сохранить",
        mod: "btn--blue",
        type: "submit"
      }
    ]
  }
