-
  var mobileFilters = [
    {
      title: "Alphabetically:",
      mod: "dropdown",
      className: "styled-item",
      filterList: "ABCDEFGHIJKLMNOPQRSTUVWXY",
    },
    {
      title: "By country of interests:",
      mod: "dropdown",
      filterList: [
        "Afghanistan",
        "Russia",
        "United States of America",
        "China",
        "Afghanistan",
        "Russia",
        "United States of America",
        "China",
        "Afghanistan",
        "Russia",
        "United States of America",
        "China",
        "Afghanistan",
        "Russia",
        "United States of America",
        "China",
      ]
    },
    {
      title: "By city of origin:",
      mod: "dropdown",
      filterList: [
        "Astana",
        "Hello, hello",
        "Come with kittens",
      ]
    },
    {
      title: "Main activities:",
      mod: "dropdown",
      filterList: [
        "Car rental",
        "Hello, hello",
        "Come with kittens",
      ]
    },
  ]

-
  var mobileFiltersButtons = [
    {
      buttonText: "By available slots",
      type: "button",
      mod: "btn--white"
    },
    {
      buttonText: "Apply",
      type: "button",
      mod: "btn--blue"
    }
  ]
