-
  var editCollegue = {
    title: "Add/edit colleague",
    photo: "img/content/admin-photo-edit.jpg",
    uploadText: "Upload",
    uploadFormat: "JPG, PNG",
    uploadMin: "Min. 200x200 px.",
    uploadMax: "Max. 3 mb.",
    formList: [
      {
        headline: "Participant first name",
        placeholder: "First name",
        mod: "full-width",
        type: "text",
        id: "name",
      },
      {
        headline: "Participant last name",
        placeholder: "Last name",
        type: "text",
        mod: "full-width",
        id: "last-name"
      },
      {
        headline: "Title",
        type: "select",
        mod: "full-width",
        options: [
          'Mr.',
          'Mrs.'
        ],
        id: "title-select"
      },
      {
        headline: "Job position:",
        placeholder: "Job position",
        mod: "full-width",
        type: "text",
        id: "job-position"
      },
      {
        headline: "Telephone",
        placeholder: "+1 (111) 111 11 11",
        mod: "full-width",
        type: "text",
        id: "phone-number"
      },
      {
        headline: "E-mail",
        placeholder: "E-mail",
        mod: "full-width",
        type: "text",
        id: "colleague-email"
      },
    ],
    buttonList: [
      {
        text: "Cancel",
        mod: "button--transparent",
        type: "reset"
      },
      {
        text: "Save",
        mod: "bytton--blue",
        type: "submit"
      }
    ]
  }
