-
  var editCollegue = {
    title: "Редактировать профиль",
    photo: "img/content/admin-photo-edit.jpg",
    uploadText: "Загрузить",
    uploadDescription: "JPG, PNG<br>Min. 200x200 px.<br>Max. 3 mb.",
    formList: [
      {
        headline: "Имя",
        placeholder: "First name",
        type: "text",
        mod: "full-width",
        id: "name",
      },
      {
        headline: "Фамилия",
        placeholder: "Last name",
        mod: "full-width",
        type: "text",
        id: "last-name"
      },
      {
        headline: "Обращение",
        type: "select",
        mod: "half-width",
        options: [
          'Mr.',
          'Mrs.'
        ],
        id: "title-select"
      },
      {
        headline: "Должность",
        placeholder: "Job position",
        mod: "mobile-hidden",
        type: "text",
        id: "job-position"
      },
      {
        headline: "Телефон",
        placeholder: "+1 (111) 111 11 11",
        mod: "half-width edit-colleague__block--right",
        type: "text",
        id: "phone-number"
      },
      {
        headline: "Мобильный телефон",
        placeholder: "+1 (111) 111 11 11",
        mod: "half-width",
        type: "text",
        id: "phone-mobile"
      },
      {
        headline: "Skype",
        placeholder: "Skype",
        mod: "half-width edit-colleague__block--right",
        type: "text",
        id: "colleague-skype"
      },
      {
        headline: "E-mail",
        placeholder: "E-mail",
        mod: "full-width",
        type: "text",
        id: "colleague-email-2"
      },
    ],
    buttonList: [
      {
        text: "Cancel",
        mod: "button--transparent",
        type: "reset"
      },
      {
        text: "Save",
        mod: "button--blue",
        type: "submit"
      }
    ]
  }
