-
  var mobileFilters = [
    {
      title: "По алфавиту",
      mod: "dropdown",
      className: "styled-item",
      filterList: "ABCDEFGHIJKLMNOPQRSTUVWXY",
    },
    {
      title: "По стране",
      mod: "dropdown",
      filterList: [
        "Afghanistan",
        "Russia",
        "United States of America",
        "China",
        "Afghanistan",
        "Russia",
        "United States of America",
        "China",
        "Afghanistan",
        "Russia",
        "United States of America",
        "China",
        "Afghanistan",
        "Russia",
        "United States of America",
        "China",
      ]
    },
    {
      title: "По категориям",
      mod: "dropdown",
      filterList: [
        "Astana",
        "Hello, hello",
        "Come with kittens",
      ]
    },
    {
      title: "Main activities:",
      mod: "dropdown",
      filterList: [
        "Car rental",
        "Hello, hello",
        "Come with kittens",
      ]
    },
  ]

-
  var mobileFiltersButtons = [
    {
      buttonText: "По свободным слотам",
      type: "button",
      mod: "btn--white"
    },
    {
      buttonText: "Применить",
      type: "button",
      mod: "btn--blue"
    }
  ]
