-
  var modalImages = [
    {
      src: "Mandarin_Oriental_Geneva_002",
      altText: "slide item no. 1",
    },
    {
      src: "Mandarin_Oriental_Hotel_Group_005",
      altText: "slide item no. 2",
    },
    {
      src: "Mandarin_Oriental_Hotel_Group_11",
      altText: "slide item no. 3",
    },
    {
      src: "Mandarin_Oriental_Hyde_Park_London_001",
      altText: "slide item no. 4",
    },
    {
      src: "Mandarin_Oriental_Hyde_Park_London_002",
      altText: "slide item no. 5",
    },
    {
      src: "Mandarin_Oriental_Paris_002",
      altText: "slide item no. 6",
    },
    {
      src: "Mandarin_Oriental_Sanya_01",
      altText: "slide item no. 7",
    },
    {
      src: "Mandarin_Oriental_Sanya_03",
      altText: "slide item no. 8",
    },
    {
      src: "Mandarin_Oriental_Geneva_002",
      altText: "slide item no. 9",
    },
    {
      src: "Mandarin_Oriental_Geneva_001",
      altText: "slide item no. 10",
    },
    {
      src: "Mandarin_Oriental_Hotel_Group_11",
      altText: "slide item no. 11",
    },
    {
      src: "Mandarin_Oriental_Hyde_Park_London_001",
      altText: "slide item no. 12",
    },
  ]
