-
  var promoBg = {
    titleItem: "The leading luxury travel exhibition in eastern europe, russia & cis",
    imgItem: "img/bg/LTM_28_02_1851.jpg",
    img2xItem: "img/bg/LTM_28_02_1851@2x.jpg",
    widthItem: "1920",
    heightItem: "534",
    imgSource: "img/bg/LTM_28_02_1851m.jpg 1x, img/bg/LTM_28_02_1851m@2x.jpg 2x",
    classItem: "promo__reg",
    promoItem: "promo__info promo__text-wrapper"
  }

-
  var news = {
    title: "LTM News",
    newsList: [
      {
        image: "sorasak",
        datetime: "2019-06-20",
        date: "20 June 2019",
        title: "Japan – partner of the LTM anniversary exhibition",
        preview: "The partner country of the 15th anniversary exhibition of the Luxury Travel Mart, which will take place in the Hyatt Regency Petrovsky Park from February 28 to March 1, 2019, will be Japan, establishing a new tradition.",
        content: [
          "The partner country of the 15th anniversary exhibition of the Luxury Travel Mart, which will take place in the Hyatt Regency Petrovsky Park from February 28 to March 1, 2019, will be Japan, establishing a new tradition.",
          "Represented for the first time at LTM last year, Japan quickly became one of the main players in the exhibition. The Japanese exhibit, which included 14 companies, created a lot of buzz among buyers from Moscow, the Russian regions and the CIS, who were able not only to learn all about the unique tourism products offered by the Land of the Rising Sun and hear the latest news first hand, but also had the opportunity to taste traditional Japanese dishes, take part in a traditional tea ceremony and even sip sake in the ‘Japanese lounge’. Unparalleled service and the famous Japanese hospitality – omotanashi – epitomize Japan. The country has something to offer even the most exacting tourist – from the snowy expanses of Hokkaido in the north, with its fluffy snow, to the sub-tropical jungles and pristine coral reefs of Okinawa in the south, the high mountains and forests that cover 80% of the country, the bustling streets of Tokyo and the Buddhist and Shinto temples of Kyoto.",
          "This year the number of Japanese participants will remain the same. These are hospitality and transport companies, hotels and the airline JAL. Representatives from the regions of Kansai and Okinawa will take part in the exhibition for the first time. This is with good reason – today an increasing number of independent tourists are looking for new destinations and the snow white beaches of the sub-tropical island of Okinawa are in high demand, with their crystal clear water, underwater thermal springs, caves and distinctive culture. On Okinawa you can stay in excellent five-star hotels, play golf and sample Japanese haute cuisine.",
          "We shouldn’t forget the region of Kansai, which attracts tourists from across the world. There are a number of jewel prefectures in the Kansai crown – Kyoto, Wakayama, Nara, Osaka, Shiga, Tokushima, Tottori and Hyogo. Religious tourism is well developed in Wakayama, as this is the location of the ancient Kumano Kodo pilgrim path, a UNESCO World Heritage site. The path includes a national shrine – Mount Koya, which is the site of the famous Shinto temples: Kumano Hongu Taisha, Kumano Hayatama Taisha and Kumano Nachi Taisha.",
          "In November, 9,300 visitors from Russia visited the Land of the Rising Sun, up 18.6% from the previous year. In the first 11 months of 2018 this figure amounted to 88,600 people. In the same period in 2017, 71,542 Russians visited Japan, which means that the tourist flow has increased 23.8%. An expedited visa regime for independent tourists, more direct flights from the Russian regions, simplification of the visa issuing process for organized groups of Russian tourists – these are all factors that have contributed to the growth in the number of tourists.",
        ],
      },
      {
        image: "banquet",
        date: "19 June 2019",
        datetime: "2019-06-19",
        title: "LTM Anniversary Exhibition",
        preview: "Next year Moscow will welcome spring with a certain flair. A spectacular celebration is set to take place on the first day of March – the 15th anniversary of the Luxury Travel Mart, which brings together the leading players from the luxury tourism industry from across the globe…",
        content: [],
      },
      {
        image: "banquet",
        date: "18 June 2019",
        datetime: "2019-06-18",
        title: "LTM Anniversary Exhibition",
        preview: "Next year Moscow will welcome spring with a certain flair. A spectacular celebration is set to take place on the first day of March – the 15th anniversary of the Luxury Travel Mart, which brings together the leading players from the luxury tourism industry from across the globe…",
        content: [],
      },
      {
        image: "drawbridge",
        date: "17 June 2019",
        datetime: "2019-06-17",
        title: "Luxury Travel Mart Presents a Absolutely New Luxury Event Format",
        preview: "The partner country of the 15th anniversary exhibition of the Luxury Travel Mart, which will take place in the Hyatt Regency Petrovsky Park from February 28 to March 1, 2019, will be Japan, establishing a new tradition. Represented for the first time at LTM last year, Japan quickly became one of the main players in the exhibition. The Japanese exhibit, which included 14 companies…",
        content: [],
      },
      {
        image: "drawbridge",
        date: "16 June 2019",
        datetime: "2019-06-16",
        title: "Luxury Travel Mart Presents a Absolutely New Luxury Event Format",
        preview: "The partner country of the 15th anniversary exhibition of the Luxury Travel Mart, which will take place in the Hyatt Regency Petrovsky Park from February 28 to March 1, 2019, will be Japan, establishing a new tradition. Represented for the first time at LTM last year, Japan quickly became one of the main players in the exhibition. The Japanese exhibit, which included 14 companies…",
        content: [],
      },
      {
        image: "banquet",
        date: "15 June 2019",
        datetime: "2019-06-15",
        title: "LTM Anniversary Exhibition",
        preview: "Next year Moscow will welcome spring with a certain flair. A spectacular celebration is set to take place on the first day of March – the 15th anniversary of the Luxury Travel Mart, which brings together the leading players from the luxury tourism industry from across the globe…",
        content: [],
      },
      {
        image: "banquet",
        date: "14 June 2019",
        datetime: "2019-06-14",
        title: "LTM Anniversary Exhibition",
        preview: "Next year Moscow will welcome spring with a certain flair. A spectacular celebration is set to take place on the first day of March – the 15th anniversary of the Luxury Travel Mart, which brings together the leading players from the luxury tourism industry from across the globe…",
        content: [],
      },
      {
        image: "drawbridge",
        date: "13 June 2019",
        datetime: "2019-06-13",
        title: "Luxury Travel Mart Presents a Absolutely New Luxury Event Format",
        preview: "The partner country of the 15th anniversary exhibition of the Luxury Travel Mart, which will take place in the Hyatt Regency Petrovsky Park from February 28 to March 1, 2019, will be Japan, establishing a new tradition. Represented for the first time at LTM last year, Japan quickly became one of the main players in the exhibition. The Japanese exhibit, which included 14 companies…",
        content: [],
      },
      {
        image: "drawbridge",
        date: "12 June 2019",
        datetime: "2019-06-12",
        title: "Luxury Travel Mart Presents a Absolutely New Luxury Event Format",
        preview: "The partner country of the 15th anniversary exhibition of the Luxury Travel Mart, which will take place in the Hyatt Regency Petrovsky Park from February 28 to March 1, 2019, will be Japan, establishing a new tradition. Represented for the first time at LTM last year, Japan quickly became one of the main players in the exhibition. The Japanese exhibit, which included 14 companies…",
        content: [],
      },
      {
        image: "banquet",
        date: "11 June 2019",
        datetime: "2019-06-11",
        title: "LTM Anniversary Exhibition",
        preview: "Next year Moscow will welcome spring with a certain flair. A spectacular celebration is set to take place on the first day of March – the 15th anniversary of the Luxury Travel Mart, which brings together the leading players from the luxury tourism industry from across the globe…",
        content: [],
      },
    ]
  }
