-
  var newsList = [
    {
      image: "sorasak",
      datetime: "2019-06-20",
      date: "20 June 2019",
      title: "Japan – partner of the LTM anniversary exhibition",
      text: "The partner country of the 15th anniversary exhibition of the Luxury Travel Mart, which will take place in the Hyatt Regency Petrovsky Park from February 28 to March 1, 2019, will be Japan, establishing a new tradition.",
    },
    {
      image: "banquet",
      date: "19 June 2019",
      datetime: "2019-06-19",
      title: "LTM Anniversary Exhibition",
      text: "Next year Moscow will welcome spring with a certain flair. A spectacular celebration is set to take place on the first day of March – the 15th anniversary of the Luxury Travel Mart, which brings together the leading players from the luxury tourism industry from across the globe…",
    },
    {
      image: "banquet",
      date: "18 June 2019",
      datetime: "2019-06-18",
      title: "LTM Anniversary Exhibition",
      text: "Next year Moscow will welcome spring with a certain flair. A spectacular celebration is set to take place on the first day of March – the 15th anniversary of the Luxury Travel Mart, which brings together the leading players from the luxury tourism industry from across the globe…",
    },
    {
      image: "drawbridge",
      date: "17 June 2019",
      datetime: "2019-06-17",
      title: "Luxury Travel Mart Presents a Absolutely New Luxury Event Format",
      text: "The partner country of the 15th anniversary exhibition of the Luxury Travel Mart, which will take place in the Hyatt Regency Petrovsky Park from February 28 to March 1, 2019, will be Japan, establishing a new tradition. Represented for the first time at LTM last year, Japan quickly became one of the main players in the exhibition. The Japanese exhibit, which included 14 companies…",
    },
    {
      image: "drawbridge",
      date: "16 June 2019",
      datetime: "2019-06-16",
      title: "Luxury Travel Mart Presents a Absolutely New Luxury Event Format",
      text: "The partner country of the 15th anniversary exhibition of the Luxury Travel Mart, which will take place in the Hyatt Regency Petrovsky Park from February 28 to March 1, 2019, will be Japan, establishing a new tradition. Represented for the first time at LTM last year, Japan quickly became one of the main players in the exhibition. The Japanese exhibit, which included 14 companies…",
    },
    {
      image: "banquet",
      date: "15 June 2019",
      datetime: "2019-06-15",
      title: "LTM Anniversary Exhibition",
      text: "Next year Moscow will welcome spring with a certain flair. A spectacular celebration is set to take place on the first day of March – the 15th anniversary of the Luxury Travel Mart, which brings together the leading players from the luxury tourism industry from across the globe…",
    },
    {
      image: "banquet",
      date: "14 June 2019",
      datetime: "2019-06-14",
      title: "LTM Anniversary Exhibition",
      text: "Next year Moscow will welcome spring with a certain flair. A spectacular celebration is set to take place on the first day of March – the 15th anniversary of the Luxury Travel Mart, which brings together the leading players from the luxury tourism industry from across the globe…",
    },
    {
      image: "drawbridge",
      date: "13 June 2019",
      datetime: "2019-06-13",
      title: "Luxury Travel Mart Presents a Absolutely New Luxury Event Format",
      text: "The partner country of the 15th anniversary exhibition of the Luxury Travel Mart, which will take place in the Hyatt Regency Petrovsky Park from February 28 to March 1, 2019, will be Japan, establishing a new tradition. Represented for the first time at LTM last year, Japan quickly became one of the main players in the exhibition. The Japanese exhibit, which included 14 companies…",
    },
    {
      image: "drawbridge",
      date: "12 June 2019",
      datetime: "2019-06-12",
      title: "Luxury Travel Mart Presents a Absolutely New Luxury Event Format",
      text: "The partner country of the 15th anniversary exhibition of the Luxury Travel Mart, which will take place in the Hyatt Regency Petrovsky Park from February 28 to March 1, 2019, will be Japan, establishing a new tradition. Represented for the first time at LTM last year, Japan quickly became one of the main players in the exhibition. The Japanese exhibit, which included 14 companies…",
    },
    {
      image: "banquet",
      date: "11 June 2019",
      datetime: "2019-06-11",
      title: "LTM Anniversary Exhibition",
      text: "Next year Moscow will welcome spring with a certain flair. A spectacular celebration is set to take place on the first day of March – the 15th anniversary of the Luxury Travel Mart, which brings together the leading players from the luxury tourism industry from across the globe…",
    },
  ]
