-
  var hotelHeadline = {
    title: "Mandarin Oriental Hotel Group",
    note: "Exhibitor",
    logo: "mandarin-logo",
    logoWidth: "103px",
    logoHeight: "80px"
  }

-
  var notifications = [
    {
      status: "new",
      theme: "Information About You Account",
      message: "Dear Exhibitor, you can edit photo in your company profile in LTM",
      date: "22 Dec. 2019",
      time: "18:57",
    },
    {
      status: "new",
      theme: "Information About You Account",
      message: "Dear Exhibitor, you can edit photo in your company profile in LTM",
      date: "22 Dec. 2019",
      time: "18:57",
    },
    {
      status: "opened",
      theme: "Information About You Account",
      message: "Dear Exhibitor, you can edit photo in your company profile in LTM",
      date: "23 Dec. 2019",
      time: "13:40",
    },
    {
      status: "new",
      theme: "Information About You Account",
      message: "Dear Exhibitor, you can edit photo in your company profile in LTM",
      date: "22 Dec. 2019",
      time: "18:57",
    },
    {
      status: "new",
      theme: "Information About You Account",
      message: "Dear Exhibitor, you can edit photo in your company profile in LTM",
      date: "22 Dec. 2019",
      time: "18:57",
    },
  ]
