-
  var promoBg = {
    titleItem: "The leading luxury travel exhibition in eastern europe, russia & cis",
    btnItem: "",
    imgItem: "img/bg/LTM_28_02_1957.jpg",
    img2xItem: "img/bg/LTM_28_02_1957@2x.jpg",
    widthItem: "1920",
    heightItem: "534",
    imgSource: "img/bg/LTM_28_02_1942.png 1x, img/bg/LTM_28_02_1942@2x.png 2x",
    classItem: "promo__none",
    promoItem: "promo__info promo__text-wrapper"
  }

-
  var organizers = {
    title: "Organizers",
    organizersList: [
      {
        logo: {
          src: "img/svg/ap-logo.svg",
          width: "90",
          height: "95",
          alt: "logo Artyom Polanskiy",
        },
        title: "Artyom Polanskiy",
        text: "Artyom Polanskiy has gained significant experience in marketing and sales for international hotels on the CIS markets – both as part of an international marketing company, and as a general sales representative for international hotel chains. This work included organizing major marketing events for international clients and facilitating the implementation of successful marketing and sales campaigns for internationally recognized hotel groups. With over seventeen years of experience on the Russian travel market, Artyom has extensive contacts with agents, corporate clients and with the travel media.",
      },
      {
        logo: {
          src: "img/svg/tm-logo.svg",
          width: "170",
          height: "75",
          alt: "logo Travel Media",
        },
        title: "Travel Media",
        text: "Travel Media was one of the first companies in CIS to provide marketing services to well-known international hotel chains, tourist offices and major companies; helping foreign partners gain a foothold on the emerging CIS luxury travel market. Since beginning operations in 2002, Travel Media has become the marketing and PR agent in the CIS for several leading international chains, DMC and tourism offices.",
      },
    ]
  }
