-
  var promoBg = {
    titleItem: "The leading luxury travel exhibition in eastern europe, russia & cis",
    imgItem: "img/bg/about-page-desktop.png",
    img2xItem: "img/bg/bg-home@2x.png",
    widthItem: "1920",
    heightItem: "534",
    imgSource: "img/bg/LTM_28_02_1942.png 1x, img/bg/LTM_28_02_1942@2x.png 2x",
    classItem: "promo__reg",
    promoItem: "promo__info promo__text-wrapper"
  }

-
  var partners = {
    title: "Partners",
    partnersList: [
      {
        logo: {
          src: "img/svg/japan-logo.svg",
          width: "141",
          height: "56",
        },
        name: "Japan",
        rank: "General Sponsor",
        link: "https://visitjapan.ru/mice/jnto/",
        text: "JNTO is involved in a broad range of activities both domestically and worldwide, to encourage international tourists from all over the world to visit Japan.",
      },
      {
        logo: {
          src: "img/svg/grecotel-logo.svg",
          width: "148",
          height: "70",
        },
        name: "Grecotel Hotels & Resorts",
        rank: "Sponsor",
        link: "www.grecotel.com/ru/index.html",
        text: "Dedicated to mastering the craft of welcoming luxury in the hospitality industry, Grecotel Hotels and Resorts, the leading hotel chain in Greece, delivers sophisticated lifestyle experiences for travelers in the country’s most beautiful destinations.",
      },
      {
        logo: {
          src: "img/svg/bicester-village-logo.svg",
          width: "167",
          height: "60",
        },
        name: "The Bicester Village Shopping Collection",
        rank: "Sponsor",
        link: "http://thebicestervillageshoppingcollection.com/",
        text: "The Bicester Village Shopping Collection™ by Value Retail is home to more than 1,300 boutiques of the world’s leading fashion and lifestyle brands, all of which offer savings of up to 60% on the recommended retail price, and sometimes more, all year round. Each of the 11 Villages in Europe and China offer an unparalleled experience, blending five-star hospitality, art, music, theatre, beautifully presented boutiques and exceptional value for money.",
      },
      {
        logo: {
          src: "img/svg/lijo-logo.svg",
          width: "87",
          height: "61",
        },
        name: "Lujo",
        rank: "Sponsor",
        link: "www.lujohotel.com",
        text: "Lujo comes to life to offer its guests an opportunity to create new stories while carefully blending luxury and comfort. In light of its “Art & Joy” theme, Lujo believes that anything that exhibits outstanding joy must involve art. The hotel gets inspiration from every form of art and treats hospitality as a piece of art.",
      },
      {
        logo: {
          src: "img/svg/marriott-logo.svg",
          width: "177",
          height: "23",
        },
        name: "Marriott International",
        rank: "Partner",
        link: "www.marriott.com",
        text: "Marriott International, Inc. is a leading global lodging company with more than 6,000 properties in 122 countries and territories, reporting revenues of more than $17 billion in fiscal year 2016. Founded by J. Willard and Alice Marriott and guided by family leadership for nearly 90 years, the company is headquartered outside of Washington, D.C. in Bethesda, Maryland.",
      },
      {
        logo: {
          src: "img/svg/preferred-logo.svg",
          width: "91",
          height: "153",
        },
        name: "Marriott International",
        rank: "Partner",
        link: "www.marriott.com",
        text: "The ultimate collection of exceptional properties in the most remarkable destinations of the world. Globally sophisticated and culturally refined, these singular properties feature exquisite accommodations, coupled with stellar and intuitive personal service. Renowned dining and exceptional spas set the stage for creating the most unforgettable experiences.",
      },
      {
        logo: {
          src: "img/svg/rc-logo.svg",
          width: "155",
          height: "155",
        },
        name: "The Ritz-Carlton Moscow",
        rank: "Partner Hotel",
        link: "www.ritzcarltonmoscow.ru",
        text: "Located just off the Red Square, next to the Kremlin, in the heart of cultural and business center of Russia’s capital, The Ritz Carlton, Moscow features the largest guest rooms and suites providing cutting edge technological amenities.",
      },
      {
        logo: {
          src: "img/svg/rc-logo.svg",
          width: "155",
          height: "155",
        },
        name: "The Ritz-Carlton Almaty",
        rank: "Partner Hotel",
        link: "www.ritzcarlton.com",
        text: "The Ritz-Carlton, Almaty is the meeting point for all appreciating design and aesthetics and brings together people from culture, fashion, design, media, and arts contributing to the reputation of Almaty as an attractive destination both for tourists and business travelers.",
      },
      {
        logo: {
          src: "img/svg/ttg-logo.svg",
          width: "94",
          height: "94",
        },
        name: "Travel Trade Gazette",
        rank: "Media Partner",
        link: "www.ttg-russia.ru",
        text: "Travel Trade Gazette is a brand that is well-known and trusted by travel professionals throughout the world. TTG Russia is the preferred choice of travel professionals in Russia, in CIS and Baltic states and has been published since 1993.",
      },
      {
        logo: {
          src: "img/svg/bvd-logo.svg",
          width: "140",
          height: "61",
        },
        name: "Black Diamond Voyage",
        rank: "Partner",
        link: "",
        text: "Black Diamond Voyage is an exclusive, by invitation only private members travel club offering tailor-made travel arrangements & VIP treatment to high-end leisure and corporate clients.",
      },
      {
        logo: {
          src: "img/svg/accor-hotels-logo.svg",
          width: "140",
          height: "38",
        },
        name: "AccorHotels",
        rank: "Sponsor",
        link: "www.accorhotels.com",
        text: "We are far more than a worldwide leader. We are 250,000 hospitality experts who share the same passion. Welcoming people. We take care of millions of guests in our 4,200 addresses. Every day, we put all our energy into spreading the most powerful promise in the hospitality profession: Feel Welcome.",
      },
      {
        logo: {
          src: "img/svg/elcorte-logo.svg",
          width: "119",
          height: "85",
        },
        name: "El Corte Ingles",
        rank: "Sponsor",
        link: "http://www.castellanastore.elcorteingles.es/",
        text: "EL CORTE INGLES is the third worldwide Department Store Company. The brand has been leading fashion in Spain for over 60 years with its more than 80 stores through out Spain and Portugal. In all stores you will find the widest selection of gastronomy products, fashion, jewellery, shoes, books, accessories.",
      },
      {
        logo: {
          src: "img/svg/forte-logo.svg",
          width: "140",
          height: "32",
        },
        name: "El Corte Ingles",
        rank: "Sponsor",
        link: "http://www.castellanastore.elcorteingles.es/",
        text: "Forte Village is part of the Eleganzia Hotels & Spas collection, a new exclusive Italian brand of luxury hotels. Blending tradition, comfort and wellbeing, the Eleganzia collection of unique high- profile hotels epitomise “made in Italy” charm and style.",
      },
      {
        logo: {
          src: "img/svg/mo-logo.svg",
          width: "103",
          height: "80",
        },
        name: "Mandarin Oriental Hotel Group",
        rank: "Partner",
        link: "www.mandarinoriental.com",
        text: "Mandarin Oriental Hotel Group is the award winning owner and operator of some of the most luxurious hotels, resorts and residences located in prime destinations around the world.",
      },
      {
        logo: {
          src: "img/svg/emirates-logo.svg",
          width: "103",
          height: "79",
        },
        name: "Emirates",
        rank: "Sponsor",
        link: "www.emirates.com",
        text: "The Emirates story started in 1985 when we launched operations with just two aircraft. Today, we fly the world’s biggest fleets of Airbus A380s and Boeing 777s, offering our customers the comforts of the latest and most efficient wide-body aircraft in the skies. We inspire travelers around the world with our growing network of worldwide destinations, industry leading inflight entertainment, regionally inspired cuisine, and world-class service.",
      },
      {
        logo: {
          src: "img/svg/hyatt-logo.svg",
          width: "80",
          height: "108",
        },
        name: "Hyatt Regency Moscow Petrovsky Park",
        rank: "Partner Hotel",
        link: "www.hyatt.com",
        text: "Hyatt Regency Moscow Petrovsky Park, a new premium business hotel with an impressive capacity of 298 contemporary rooms including 39 spacious suites, is located next to the famous VTB Arena – Central Dynamo Stadium named by Lev Yashin and the historic Petrovsky Park.",
      },
      {
        logo: {
          src: "img/svg/hbk-logo.svg",
          width: "115",
          height: "100",
        },
        name: "Hotel Baltschug Kempinski",
        rank: "Partner",
        link: "www.kempinski.com",
        text: "The newly renovated five-star Hotel Baltschug Kempinski Moscow offers spectacular views of the Kremlin and St Basil’s Cathedral. The property is located across from the Moskva River, and is nearby Moscow’s fascinating sights and premier attractions.",
      },
      {
        logo: {
          src: "img/svg/inter-continental-logo.svg",
          width: "152",
          height: "59",
        },
        name: "InterContinental Kyiv",
        rank: "Partner",
        link: "www.ihg.com/intercontinental",
        text: "Situated in the very heart of ancient Kiev next to three famous Ukrainian orthodox churches – St. Sophia, St. Michael and St. Andrew – the location of the InterContinental Kiev is truly unique.",
      },
      {
        logo: {
          src: "img/svg/ttg-luxury-logo.svg",
          width: "78",
          height: "78",
        },
        name: "TTG Luxury Russia",
        rank: "Media Partner",
        link: "www.ttgluxury.ru",
        text: "Travel Media International Holding, a publisher of TTG Russia since 1993 and also a Luxury Travel Mart exhibition co-organizer, is launching a new Russian publishing project – ttg luxury RUSSIA.",
      },
      {
        logo: {
          src: "img/svg/ambotis-logo.svg",
          width: "144",
          height: "35",
        },
        name: "Ambotis Foundation",
        rank: "Partner",
        link: "www.ambotis.org",
        text: "The opening of the Charitable Foundation for Children and Youth in 2013 was a way to celebrate the twentieth anniversary of the company. Ambotis Foundation was created at the initiative of the Greek Tour Operator Ambotis Holidays.",
      },
    ]
  }
