-
  var photoList = [
    {
      title: "Luxury Travel Mart 15th Anniversary",
      photos: [
        {
          src: "photo-thumbnail-1.1",
          href: "#",
          isBig: true,
          isUp: true,
        },
        {
          src: "photo-thumbnail-1.2",
          href: "#",
          isUp: true,
        },
        {
          src: "photo-thumbnail-1.3",
          href: "#",
        },
        {
          src: "photo-thumbnail-1.4",
          href: "#",
        },
        {
          src: "photo-thumbnail-1.5",
          href: "#",
          text: "All other images on the Facebook",
        },
      ]
    },
    {
      title: "Luxury Travel Mart Almaty 2018 Autumn Edition",
      photos: [
        {
          src: "photo-thumbnail-2.1",
          href: "#",
          isBig: true,
          isUp: true,
        },
        {
          src: "photo-thumbnail-2.2",
          href: "#",
          isUp: true,
        },
        {
          src: "photo-thumbnail-2.3",
          href: "#",
        },
        {
          src: "photo-thumbnail-2.4",
          href: "#",
        },
        {
          src: "photo-thumbnail-2.5",
          href: "#",
          text: "All other images on the Facebook",
        },
      ]
    },
    {
      title: "Luxury Travel Mart Kyiv 2018",
      photos: [
        {
          src: "photo-thumbnail-3.1",
          href: "#",
          isBig: true,
          isUp: true,
        },
        {
          src: "photo-thumbnail-3.2",
          href: "#",
          isUp: true,
        },
        {
          src: "photo-thumbnail-3.3",
          href: "#",
        },
        {
          src: "photo-thumbnail-3.4",
          href: "#",
        },
        {
          src: "photo-thumbnail-3.5",
          href: "#",
          text: "All other images on the Facebook",
        },
      ]
    },
    {
      title: "Luxury Travel Mart Moscow 2018 Autumn Edition",
      photos: [
        {
          src: "photo-thumbnail-4.1",
          href: "#",
          isBig: true,
          isUp: true,
        },
        {
          src: "photo-thumbnail-4.2",
          href: "#",
          isUp: true,
        },
        {
          src: "photo-thumbnail-4.3",
          href: "#",
        },
        {
          src: "photo-thumbnail-4.4",
          href: "#",
        },
        {
          src: "photo-thumbnail-4.5",
          href: "#",
          text: "All other images on the Facebook",
        },
      ]
    },
    {
      title: "Luxury Travel Mart Moscow 2018 Spring",
      photos: [
        {
          src: "photo-thumbnail-5.1",
          href: "#",
          isBig: true,
          isUp: true,
        },
        {
          src: "photo-thumbnail-5.2",
          href: "#",
          isUp: true,
        },
        {
          src: "photo-thumbnail-5.3",
          href: "#",
        },
        {
          src: "photo-thumbnail-5.4",
          href: "#",
        },
        {
          src: "photo-thumbnail-5.5",
          href: "#",
          text: "All other images on the Facebook",
        },
      ]
    },
  ]
