-
  var photoList = [
    {
      title: "Luxury Travel Mart 15th",
      titleOnlyDesktop: "Anniversary",
      images: [
        {
          srcThumbnail: "photo-thumbnail-1.1",
          src: "photo-fullsize-1.1",
          href: "#",
          altText: "slide item no. 1",
          isWide: true,
          isLong: true,
        },
        {
          srcThumbnail: "photo-thumbnail-1.2",
          src: "photo-fullsize-1.2",
          altText: "slide item no. 2",
          href: "#",
          isLong: true,
        },
        {
          srcThumbnail: "photo-thumbnail-1.3",
          src: "photo-fullsize-1.3",
          altText: "slide item no. 3",
          href: "#",
        },
        {
          srcThumbnail: "photo-thumbnail-1.4",
          src: "photo-fullsize-1.4",
          altText: "slide item no. 4",
          href: "#",
        },
        {
          srcThumbnail: "photo-thumbnail-1.5",
          src: "photo-fullsize-1.5",
          altText: "slide item no. 5",
          href: "#",
          text: "All other images on the Facebook",
        },
      ]
    },
    {
      title: "Luxury Travel Mart Almaty 2018",
      titleOnlyDesktop: "Autumn Edition",
      images: [
        {
          srcThumbnail: "photo-thumbnail-2.1",
          src: "photo-fullsize-2.1",
          altText: "slide item no. 1",
          href: "#",
          isWide: true,
          isLong: true,
        },
        {
          srcThumbnail: "photo-thumbnail-2.2",
          src: "photo-fullsize-2.2",
          altText: "slide item no. 2",
          href: "#",
          isLong: true,
        },
        {
          srcThumbnail: "photo-thumbnail-2.3",
          src: "photo-fullsize-2.3",
          altText: "slide item no. 3",
          href: "#",
        },
        {
          srcThumbnail: "photo-thumbnail-2.4",
          src: "photo-fullsize-2.4",
          altText: "slide item no. 4 ",
          href: "#",
        },
        {
          srcThumbnail: "photo-thumbnail-2.5",
          src: "photo-fullsize-2.5",
          altText: "slide item no. 5",
          href: "#",
          text: "All other images on the Facebook",
        },
      ]
    },
    {
      title: "Luxury Travel Mart Kyiv 2018",
      images: [
        {
          srcThumbnail: "photo-thumbnail-3.1",
          src: "photo-fullsize-3.1",
          altText: "slide item no. 1",
          href: "#",
          isWide: true,
          isLong: true,
        },
        {
          srcThumbnail: "photo-thumbnail-3.2",
          src: "photo-fullsize-3.2",
          altText: "slide item no. 2",
          href: "#",
          isLong: true,
        },
        {
          srcThumbnail: "photo-thumbnail-3.3",
          src: "photo-fullsize-3.3",
          altText: "slide item no. 3",
          href: "#",
        },
        {
          srcThumbnail: "photo-thumbnail-3.4",
          src: "photo-fullsize-3.4",
          altText: "slide item no. 4",
          href: "#",
        },
        {
          srcThumbnail: "photo-thumbnail-3.5",
          src: "photo-fullsize-3.5",
          altText: "slide item no. 5",
          href: "#",
          text: "All other images on the Facebook",
        },
      ]
    },
    {
      title: "Luxury Travel Mart Moscow",
      titleOnlyDesktop: "2018 Autumn Edition",
      images: [
        {
          srcThumbnail: "photo-thumbnail-4.1",
          src: "photo-fullsize-4.1",
          altText: "slide item no. 1",
          href: "#",
          isWide: true,
          isLong: true,
        },
        {
          srcThumbnail: "photo-thumbnail-4.2",
          src: "photo-fullsize-4.2",
          altText: "slide item no. 2",
          href: "#",
          isLong: true,
        },
        {
          srcThumbnail: "photo-thumbnail-4.3",
          src: "photo-fullsize-4.3",
          altText: "slide item no. 3",
          href: "#",
        },
        {
          srcThumbnail: "photo-thumbnail-4.4",
          src: "photo-fullsize-4.4",
          altText: "slide item no. 4",
          href: "#",
        },
        {
          srcThumbnail: "photo-thumbnail-4.5",
          src: "photo-fullsize-4.5",
          altText: "slide item no. 5",
          href: "#",
          text: "All other images on the Facebook",
        },
      ]
    },
    {
      title: "Luxury Travel Mart Moscow",
      titleOnlyDesktop: "2018 Spring",
      images: [
        {
          srcThumbnail: "photo-thumbnail-5.1",
          src: "photo-fullsize-5.1",
          altText: "slide item no. 1",
          href: "#",
          isWide: true,
          isLong: true,
        },
        {
          srcThumbnail: "photo-thumbnail-5.2",
          src: "photo-fullsize-5.2",
          altText: "slide item no. 2",
          href: "#",
          isLong: true,
        },
        {
          srcThumbnail: "photo-thumbnail-5.3",
          src: "photo-fullsize-5.3",
          altText: "slide item no. 3",
          href: "#",
        },
        {
          srcThumbnail: "photo-thumbnail-5.4",
          src: "photo-fullsize-5.4",
          altText: "slide item no. 4",
          href: "#",
        },
        {
          srcThumbnail: "photo-thumbnail-5.5",
          src: "photo-fullsize-5.5",
          altText: "slide item no. 5",
          href: "#",
          text: "All other images on the Facebook",
        },
      ]
    },
  ]

