-
  var contactsList = {
    title: "Contacts for support",
    contacts: [
      {
        src: "img/content/support-photo-1.jpg",
        name: "Maria Shankina",
        position: "General Administration and Sponsorship",
        email: "yahoo@yahoo.com",
        phone: "79857765522",
        phoneText: "+7 985 776 55 22"
      },
      {
        src: "img/content/support-photo-2.jpg",
        name: "Artyom Polanskiy",
        position: "General Administration and Exhibitors",
        email: "yahoo@yahoo.com",
        phone: "79857765522",
        phoneText: "+7 985 776 55 22"
      },
      {
        src: "img/content/support-photo-3.jpg",
        name: "Irina Bezpalaya",
        position: "Buyers and Appointments",
        email: "yahoo@yahoo.com",
        phone: "79852467232",
        phoneText: "+7 985 246 72 32"
      },
      {
        src: "img/svg/icon-support-no-photo.svg",
        name: "Support",
        position: "Question about new web-functional",
        email: "yahoo@yahoo.com",
        phone: "74956450422",
        phoneText: "+7 495 645 04 22"
      }
    ]
  }
