-
  var videoList = [
    {
      title: "Luxury Travel Mart in General",
      src: "",
      img: "img/bg/bg-video-1.png",
    },
    {
      title: "Luxury Travel Mart 15th",
      titleOnlyDesktop: "Anniversary Party",
      src: "",
      img: "img/bg/bg-video-2.png",
    },
    {
      title: "Our Exhibitors About Us",
      src: "",
      img: "img/bg/bg-video-3.png",
    },
    {
      title: "Luxury Travel Mart 10th",
      titleOnlyDesktop: "Anniversary Party",
      src: "",
      img: "img/bg/bg-video-4.png",
    },
  ]
