-
  var videoList = [
    {
      title: "Luxury Travel Mart in General",
      src: "video/video-test.mp4",
      img: "img/bg/bg-video-1.jpg",
    },
    {
      title: "Luxury Travel Mart 15th",
      titleOnlyDesktop: "Anniversary Party",
      src: "video/video-test.mp4",
      img: "img/bg/bg-video-2.jpg",
    },
    {
      title: "Our Exhibitors About Us",
      src: "video/video-test.mp4",
      img: "img/bg/bg-video-3.jpg",
    },
    {
      title: "Luxury Travel Mart 10th",
      titleOnlyDesktop: "Anniversary Party",
      src: "video/video-test.mp4",
      img: "img/bg/bg-video-4.jpg",
    },
  ]
