.alphabet-hotel {
  width: 341px;
  padding: 32px 2px 0 0;

  @include viewport--lg {
    width: 368px;
    padding: 32px 15px 0 0;
  }

  &__block-list {
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  ul {
    padding: 0;

    list-style-type: none;
  }

  &__block-title {
    padding: 0;
    margin: 0 0 2px 0;
    font-size: 24px;
    font-weight: lighter;

    line-height: 21px;
    color: $color-blue;

    @include viewport--md {
      margin-bottom: 10px;
    }
  }

  a {
    padding: 0;

    font-size: 16px;
    line-height: 22px;
    color: $color-gray-dark;
    letter-spacing: 0.1px;

    transition: opacity $default-transition-settings;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }

  @include viewport--md {
    display: none;
  }
}
