.filters {
  display: flex;
  padding-bottom: 22px;

  h3 {
    padding-bottom: 24px;
  }

  @include viewport--sm {
    display: none;
  }

  &__block--alphabet {
    max-width: 30%;
    min-width: 471px;
    width: fit-content;
  }

  &__alphabet-list {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;

    list-style-type: none;
  }

  &__alphabet-link {
    font-size: 27px;
    line-height: 29px;
    color: $color-blue;
    letter-spacing: 5px;
    font-weight: lighter;

    transition: opacity $default-transition-settings;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__block--dropdown {
    display: flex;
    width: 100%;
  }

  &__dropdown-filter {
    display: flex;
    flex-direction: column;
    width: 222px;

    h3 {
      margin-bottom: auto;
    }

    @include viewport--lg {
      width: 178px;
    }
  }

  &__dropdown-filter--mobile {
    display: block;
    width: 100%;
  }

  &__dropdown-filter--wide {
    width: 341px;

    @include viewport--lg {
      width: 272px;
    }
  }

  &__dropdown-filter:not(:last-of-type),
  &__block:not(:last-of-type) {
    margin-right: 15px;

    @include viewport--sm {
      margin-right: 0;
    }
  }

  &__alphabet-filter {
    display: flex;
    flex-direction: column;
    width: 42%;
  }

  &__block--button-wrapper {
    align-items: flex-end;
    display: inline-flex;
  }

  &__button {
    padding: 14px 10px;
  }

  &--exhibitions .filters__block--button-wrapper {
    min-width: 103px;
    max-width: 222px;
  }

  &--exhibitions .filters__button {
    width: 100%;
  }

  &__mobile-block {
    display: flex;
    justify-content: space-between;
  }

  &__mobile-block button {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    font-size: 16px;
    line-height: 20px;
    color: $color-blue;

    border: none;
    background-color: transparent;

    &:active {
      opacity: 0.5;
    }
  }

  &__mobile-block svg {
    margin-right: 5px;
  }
}
