.headline-wrapper {
  display: flex;
  justify-content: space-between;
  //align-items: center;
  width: 100%;
  //padding-top: 22px;
  flex-direction: column;
  //justify-content: space-between;
  //align-items: center;
  //width: 100%;
  // padding-top: 22px;

  background-color: inherit;

  @include viewport--sm {
    //flex-direction: row-reverse;
    align-items: baseline;
    padding-top: 32px;
  }

  h2 {
    margin: 0;

    font-size: 38px;
    font-weight: lighter;
    line-height: 46px;
    letter-spacing: 1.7px;
    color: $color-blue;

    @include viewport--lg {
      letter-spacing: 1.7px;
    }

    @include viewport--md {
      margin-bottom: 10px;
      padding-right: 0;

      font-size: 32px;
      line-height: 38px;
    }

    @include viewport--sm {
      letter-spacing: 1.3px;
    }
  }

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: inherit;
  }

  &--left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: inherit;
  }
}
