.headline-back {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 22px;

  background-color: inherit;

  @include viewport--sm {
    flex-direction: row-reverse;
    align-items: baseline;
  }

  .back-link {
    display: flex;
    align-items: center;
  }

  svg {
    margin-right: 5px;
    vertical-align: middle;
  }

  .title--h2 {
    @include viewport--sm {
      margin-bottom: 0;
    }
  }
}

.container--no-padding .headline-back {
  padding-bottom: 0;

  @include viewport--md {
    padding-left: 17px;
    padding-right: 17px;
  }

  @include viewport--sm {
    padding-bottom: 25px;
    padding-top: 29px;
  }
}
