.info-bottom {
  margin: 0 0;
  padding: 30px 238px 0 238px;

  border-top: 1px solid $color-blue;

  @include viewport--lg {
    padding: 30px 95px 30px 95px;
  }

  @include viewport--md {
    padding: 25px 95px 42px 95px;
  }

  @include viewport--sm {
    padding: 23px 0;
  }

  p {
    letter-spacing: 0.1px;

    @include viewport--sm {
      letter-spacing: 0.3px;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}
