.support-contacts {
  border-top: 1px solid $color-blue;

  @include viewport--sm {
    padding: 0 0 32px;
  }

  .title--h3 {
    margin-top: 19px;
    margin-bottom: 30px;

    @include viewport--lg {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  &__list {
    display: flex;
    padding: 0 0 20px 0;
    margin: 0;

    list-style-type: none;
  }

  &__item {
    text-align: center;

    @include viewport--sm {
      width: 100%;
    }
  }

  &__info {
    display: block;
  }

  &__link {
    display: block;
    margin: 0 auto 10px auto;
    width: max-content;

    font-size: 14px;
    line-height: 17px;
    color: $color-blue;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__link svg {
    width: 42px;
    height: 18px;
  }

  img {
    display: block;
    width: 103px;
    height: 103px;
    margin: 0 auto 20px auto;
    object-fit: cover;

    border-radius: 100%;
  }

  &__text {
    display: block;
    margin-bottom: 10px;

    text-align: center;
    font-weight: normal;
  }

  .direction {
    padding: 0;
  }

  .direction__arrow {
    border: none;
    background-color: transparent;
    top: 19%;
    color: $color-blue;
  }

  .direction__arrow svg {
    width: 11px;
    height: 19px;
  }

  .direction__arrow--left {
    left: -7px;
  }

  .direction__arrow--right {
    right: -7px;
  }
}

.container--no-padding > .support-contacts {
  @include viewport--md {
    padding-left: 17px;
    padding-right: 17px;
  }
}
