.top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 22px;

  background-color: inherit;

  @include viewport--sm {
    flex-direction: row-reverse;
    align-items: baseline;
    padding-top: 32px;
  }

  &--mobile {
    @include viewport--sm {
      flex-direction: row;
      text-align: left;
    }
  }

  .back-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    font-size: 14px;
    line-height: 17px;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }

  svg {
    margin-right: 5px;
    vertical-align: middle;
    fill: $color-blue;
  }

  .title--h2 {
    @include viewport--sm {
      margin-bottom: 0;
    }
  }
}

.container--no-padding .top-wrapper {
  padding-bottom: 0;

  @include viewport--sm {
    padding: 29px 17px 25px 17px;
  }
}

