.top-block {
  display: flex;
  height: 394px;
  width: 100%;
  max-width: 1920px;
  padding: 0;
  margin: 0 auto;
  position: relative;

  img {
    object-fit: cover;
    width: 100%;
  }

  &--tablet-img,
  &--mobile-img {
    display: none;
    object-fit: cover;
  }

  @include viewport--md {
    height: 375px;
    padding: 10px 0;

    &--tablet-img {
      display: block;
    }

    &--desktop-img,
    &--mobile-img {
      display: none;
    }
  }

  @include viewport--sm {
    &--mobile-img {
      display: block;
    }

    &--desktop-img,
    &--tablet-img {
      display: none;
    }
  }
}
