.up-button {
  display: flex;
  margin-left: auto;
  margin-right: -65px;

  @include viewport--xl {
    margin-right: 0;
  }

  @include viewport--sm {
    margin: 0 auto;
  }
}

.up-button--right {
  display: flex;
  justify-content: flex-end;
  margin-top: -20px;
}

.up-button--xl {
  display: none;

  @include viewport--xl {
    display: flex;
  }

  @include viewport--sm {
    display: none;
  }
}
