.up-button {
  display: flex;
  margin-left: auto;
  margin-right: -65px;

  @include viewport--xl {
    margin-right: 0;
  }

  @include viewport--sm {
    margin: 0 auto;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.up-button--right {
  display: flex;
  justify-content: flex-end;
  margin-top: -20px;
}

.up-button--xl {
  display: none;

  @include viewport--xl {
    display: flex;
  }

  @include viewport--sm {
    display: none;
  }
}

.up-button--fixed {
  position: fixed;
  right: 12%;
  bottom: 10%;
  z-index: 100;

  @media (max-width: 1800px) {
    right: 2%;
  }
}

.up-button--mobile {
  display: block;
  margin: 25px auto 25px auto;
  text-align: center;
}
