.admin-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0;
  margin-bottom: 31px;

  @include viewport--sm {
    display: block;
    margin-top: 42px;
    margin-bottom: 31px;
  }

  tbody {
    @include viewport--md {
      display: grid;
    }

    @include viewport--sm {
      display: block;
    }
  }

  &__row {
    display: block;
    position: relative;

    @include viewport--sm {
      display: inline-block;
    }

    &:nth-child(even) {
      background-color: $color-gray-light;
    }
  }

  &__message-link {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  &__message-link svg {
    display: none;

    @include viewport--sm {
      display: block;
      position: absolute;
      top: 44px;
      right: 16px;
    }
  }

  &__row--headline {
    @include viewport--sm {
      display: none;
    }
  }

  & &__row--headline th {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;

    font-size: 12px;
    line-height: 20px;
    color: $color-nobel;
    text-align: left;
  }

  &__row td {
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;

    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;

    @include viewport--sm {
      max-width: none;
      padding: 0;
    }
  }

  &__row .admin-table__cell--time:not(.admin-table__cell--mobile-time) {
    @media (max-width: 950px) {
      display: none;
    }
  }

  &__row .admin-table__cell--event {
    @include viewport--sm {
      display: none;
    }
  }

  &__row .admin-table__cell--time-limit {
    margin-left: 20px;

    @include viewport--sm {
      display: none;
    }
  }

  &__row .admin-table__cell--empty {
    @include viewport--sm {
      display: none;
    }
  }

  &__row .admin-table__cell--mobile-event {
    display: none;

    @include viewport--sm {
      display: block;

      font-size: 14px;
      line-height: 17px;
      color: $color-blue;
    }
  }

  &__cell--theme,
  &__cell--date,
  &__cell--time,
  &__cell--status,
  &__cell--destination,
  &__cell--event,
  &__cell--company,
  &__cell--time-limit {
    font-size: 12px;
    line-height: 20px;
    color: $color-zambezi;
  }

  &__cell--free > span {
    color: $color-green;
  }

  &__cell--person > span,
  &__cell--company > span {
    display: block;

    font-size: 12px;
    line-height: 20px;
    color: $color-nobel;
  }

  &__cell--status {
    width: 5%;
  }

  &__cell--message {
    max-width: 300px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 16px;
    line-height: 22px;

    @include viewport--lg {
      max-width: 181px;
    }

    @include viewport--md {
      max-width: none;
      width: fit-content;
    }

    @include viewport--sm {
      width: 90%;
      max-width: none;
    }
  }

  &__cell--destination {
    width: 8%;

    overflow: hidden;
  }

  &__cell--icon {
    position: relative;
    padding: 0 0 0 31px;
    width: 8%;

    @include viewport--lg {
      padding: 0 0 0 26px;
    }
  }

  &__cell--icon svg {
    position: absolute;
    left: 38px;

    @include viewport--lg {
      left: 31px;
    }
  }

  &__cell--new svg {
    top: 0;
  }

  &__cell--opened svg {
    top: -5px;
  }

  &__cell--sent svg {
    top: 0;
  }

  &__cell--theme {
    width: 27%;
    max-width: 381px;

    overflow: hidden;

    @include viewport--lg {
      width: 25%;
      max-width: 263px;
      overflow: hidden;
    }

    @include viewport--md {
      width: 18%;
    }

    @media (max-width: 950px) {
      width: 12%;
    }

    @include viewport--sm {
      width: 67%;
      max-width: none;
    }
  }

  &__cell--date {
    width: 9%;

    @include viewport--lg {
      padding-left: 24px;
      width: 12%;
    }

    @include viewport--md {
      width: 10%;
      padding-right: 10px;
      padding-left: 10px;
    }

    @include viewport--sm {
      width: auto;
      padding-right: 0;
    }
  }

  &__cell--time {
    width: 6%;
  }

  &__cell--event {
    width: 17%;

    @include viewport--lg {
      width: 22%;
    }

    @include viewport--md {
      width: 13%;
      overflow: hidden;
    }
  }

  &__cell--person {
    width: 16%;
    max-width: 220px;
    margin-right: 18px;

    @include viewport--lg {
      max-width: 169px;
    }

    @include viewport--sm {
      display: inline-block;
      width: 44%;
      margin-bottom: 7px;
    }
  }

  &__cell--person:last-of-type {
    @include viewport--sm {
      margin-right: 0;
    }
  }

  &__cell--mobile-person {
    @include viewport--sm {
      display: block;
      width: 100%;
    }
  }

  &__cell--empty {
    width: 17%;

    @include viewport--lg {
      width: 11%;
    }

    @include viewport--md {
      width: 10px;
    }
  }

  &__cell--empty:last-of-type {
    @include viewport--lg {
      width: 7%;
    }
  }

  .admin-table__cell--schedule-time {
    margin-right: 10px;
    width: 7%;

    @include viewport--lg {
      width: 9%;
    }

    @include viewport--md {
      width: 12%;
    }

    @include viewport--sm {
      display: block;
      margin-bottom: 5px;
      width: 100%;
      margin-right: 0;
    }
  }

  &__cell--select-company {
    margin-right: 12px;
    width: 41%;

    @include viewport--lg {
      margin-right: 8px;
      width: 52%;
    }

    @include viewport--sm {
      width: 72%;
    }
  }

  &__cell--button {
    margin-right: 20px;
    padding: 0;
    width: 7%;

    @include viewport--lg {
      margin-right: 20px;
      width: 9%;
    }

    @include viewport--md {
      width: 12%;
    }

    @include viewport--sm {
      width: 23%;
      margin-right: 0;
    }
  }

  &__cell--company {
    margin-right: 25px;
    padding-left: 15px;
    width: 32%;
    max-width: 450px;

    font-size: 16px;
    line-height: 20px;

    @include viewport--lg {
      max-width: 257px;
    }

    @include viewport--sm {
      display: block;
      width: 100%;
      margin: 0;
    }
  }

  &__cell--select-time {
    width: 18%;
    margin-right: 10px;

    @include viewport--sm {
      width: 27%;
    }
  }

  //Уникальные стили для разных категорий таблиц

  &__row--schedule {
    @include viewport--lg {
      .admin-table__cell--status {
        width: 2%;
      }
    }

    @include viewport--sm {
      position: relative;
      width: 100%;
      display: block;
      padding: 9px 7px 8px 15px;

      .admin-table__cell--status {
        position: absolute;
        display: block;
        top: 7px;
        right: 45px;
        width: 0;
      }
    }

    th,
    td {
      padding-top: 6px;
      padding-bottom: 6px;

      @include viewport--sm {
        padding: 0;
      }
    }

    .btn {
      width: 100%;
      white-space: normal;
    }
  }

  &__row--guests {
    display: table-row;

    @include viewport--lg {
      display: table-row;
    }

    @include viewport--sm {
      display: block;
      padding: 9px 16px 10px 16px;
    }

    .choices__item {
      text-align: center;

      @include viewport--sm {
        text-align: left;
      }
    }

    .admin-table__cell--select-time {
      width: 17%;
      max-width: 223px;

      @include viewport--lg {
        width: 20%;
        max-width: 224px;
        margin-right: 16px;
      }

      @include viewport--sm {
        width: 48%;
        margin-right: 7px;
      }
    }

    .admin-table__cell--button {
      padding: 0;
    }

    .admin-table__cell--button:last-of-type {
      margin-right: 0;
    }

    th,
    td {
      padding-top: 8px;
      padding-bottom: 1px;

      @include viewport--sm {
        padding: 0;
      }
    }
  }

  &__row--messages {
    white-space: nowrap;
    overflow: hidden;

    @include viewport--sm {
      position: relative;
      width: 100%;
      padding: 8px 10px 10px 17px;

      .admin-table__cell--icon svg {
        display: none;
      }

      .admin-table__cell--new,
      .admin-table__cell--opened {
        position: absolute;
        top: 16px;
        left: 16px;
        width: 10px;
        height: 10px;
        border-radius: 100%;
      }

      .admin-table__cell--new {
        background-color: $color-blue;
      }

      .admin-table__cell--opened {
        background-color: $color-gray;
      }

      .admin-table__cell--sent {
        display: none;
      }

      .admin-table__cell--destination,
      .admin-table__cell--theme {
        display: block;
        width: 100%;

        font-size: 16px;
        line-height: 20px;
      }

      .admin-table__cell--destination {
        padding-left: 19px;
        letter-spacing: 0.1px;
      }

      .admin-table__cell--sent-destination {
        padding-left: 0;
      }

      .admin-table__cell--date {
        display: block;
        position: absolute;
        top: 17px;
        right: 15px;

        letter-spacing: 0.3px;
        font-size: 11px;
        line-height: 13px;
        color: $color-zambezi;
      }
    }

    transition: opacity $default-transition-settings;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }

  //Стили для выпадающего списка

  .choices {
    height: 38px;

    @include viewport--sm {
      height: 42px;
    }
  }

  .choices__inner {
    height: 38px;
    min-height: 38px;
    padding: 6px 6px;

    @include viewport--sm {
      height: 42px;
    }
  }

  .choices__inner,
  .choices__item {
    font-size: 16px;
    line-height: 22px;
    color: $color-blue;

    background-color: transparent;
  }

  .choices__list--single {
    padding: 0 16px 4px 4px;

    @include viewport--sm {
      padding: 3px 16px 4px 4px;
    }
  }

  .choices[data-type*="select-one"] .choices__inner {
    padding: 6px 6px;
  }

  .choices[data-type*="select-one"]::after {
    height: 21px;
    width: 11px;
    right: 9px;
    top: 8px;
    margin-top: 0;

    background-image: url("../img/svg/icon-open-select.svg");

    @include viewport--sm {
      height: 16px;
      width: 34px;
      right: 4px;
      top: 14px;

      background-image: url("../img/svg/icon-check.svg");
    }
  }

  //Стили кнопок отправки запроса/сообщений

  .btn--request,
  .admin-table__link {
    padding: 2px 7px;

    font-size: 12px;
    line-height: 18px;

    @include viewport--lg {
      max-width: 95px;
    }

    @include viewport--sm {
      padding: 6px 5px;

      white-space: break-spaces;
      font-size: 14px;
      line-height: 13px;
    }
  }

  &__headline {
    display: none;

    @include viewport--sm {
      display: block;
      margin-top: 5px;
      margin-bottom: 15px;

      font-size: 38px;
      font-weight: lighter;
      line-height: 46px;
      letter-spacing: 0.05em;
      color: $color-blue;
    }
  }
}

.container--no-padding .admin-table__headline {
  @include viewport--sm {
    padding-left: 17px;
    padding-right: 17px;
  }
}

.admin--schedule .admin-table {
  @include viewport--sm {
    margin-top: 0;
    margin-bottom: 20px;
  }
}
