.admin-tabs {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -15px -15px 0;
    padding: 22px 0 34px;

    list-style-type: none;

    @include viewport--lg {
      margin: 0 -10px -10px 0;
      padding: 22px 0 25px;
    }

    @include viewport--sm {
      display: inline-flex;
      justify-content: flex-start;
      width: 55%;
      margin: 0;
      padding: 0;

      align-items: center;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin: 0 15px 15px 0;
    width: 222px;
    padding: 15px;

    border: 1px solid $color-blue;
    background-color: transparent;

    text-align: center;

    transition: border background-color $default-transition-settings;

    @include viewport--lg {
      margin: 0 10px 10px 0;
      max-width: 178px;
      width: calc(100% / 6);
      padding: 5px 10px;
      min-height: 49px;
    }

    @include viewport--sm {
      margin: 0;
      padding: 0;
      width: auto;

      border: none;
      background-color: transparent;

      &:not(:first-of-type) {
        display: none;
      }
    }

    &:hover,
    &:focus {
      border-color: $color-blue;
      background-color: $color-blue;

      @include viewport--sm {
        border-color: transparent;
        background-color: transparent;
      }

      .admin-tabs__link {
        color: $color-default-white;

        @include viewport--sm {
          color: $color-gray-dark;
        }
      }
    }
  }

  &__item--active,
  &__item:active {
    border-color: transparent;
    background-color: $color-gray;

    .admin-tabs__link {
      color: $color-default-white;
    }

    @include viewport--sm {
      border-color: transparent;
      background-color: transparent;

      .admin-tabs__link {
        color: $color-gray-dark;
      }
    }
  }

  &__link {
    margin: 0 auto;

    color: $color-blue;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    transition: color $default-transition-settings;

    @include viewport--sm {
      color: $color-gray-dark;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.3px;
    }
  }

  &__menu-button {
    display: none;

    @include viewport--sm {
      display: inline-flex;
      margin-right: 10px;
      padding: 0;

      border: none;
      background-color: transparent;

      &:active {
        opacity: 0.5;
      }
    }
  }
}

