.admin-headline {
  padding-bottom: 40px;
  padding-top: 23px;

  border-bottom: 1px solid $color-blue;

  @include viewport--lg {
    padding-bottom: 34px;
  }

  @include viewport--sm {
    padding-top: 14px;
    padding-bottom: 22px;
  }

  .headline-back {
    padding-top: 0;

    @include viewport--sm {
      display: inline;
    }
  }

  .title--h2 {
    margin-bottom: 3px;

    letter-spacing: 1.7px;

    @include viewport--sm {
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 1px;
    }
  }

  .back-link {
    padding-right: 18px;

    @include viewport--lg {
      padding-right: 0;
    }

    @include viewport--sm {
      display: none;
    }
  }

  &__place {
    font-size: 24px;
    line-height: 29px;
    color: $color-blue;
    font-weight: lighter;
    letter-spacing: 1.2px;

    @include viewport--sm {
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.7px;
    }
  }

  time {
    display: block;
    letter-spacing: 0.3px;
    margin-top: 4px;

    @include viewport--lg {
      margin-top: 0;
    }
  }
}

.container--no-padding .admin-headline {
  @include viewport--sm {
    padding: 11px 17px 20px 17px;
  }
}

.container--no-padding .headline-back {
  @include viewport--sm {
    padding: 0;
  }
}
