.admin {
  &__text-wrapper {
    padding-bottom: 37px;
    display: grid;
    grid-template-areas: "first third" "second _";

    @include viewport--lg {
      padding-bottom: 50px;
    }

    @include viewport--sm {
      padding: 0;
      grid-template-areas: "first" "second" "third";
    }
  }

  .filter-tabs {
    padding: 7px 0 22px;

    @include viewport--lg {
      padding: 14px 0 22px;
    }
  }

  &__button-wrapper {
    padding: 31px 0 30px 0;

    .button {
      margin: 0 auto;
      width: 222px;
      grid-template-areas: "first" "second" "third";
    }
  }

  &__control-wrapper {
    display: grid;
    grid-template-areas: "tabs tabs" "title control";

    @include viewport--sm {
      grid-template-areas: "tabs control" "title title";
      padding: 20px 0 0 0;
    }

    .tabs {
      grid-column: tabs;

      @include viewport--sm {
        width: 70%;
      }
    }

    .mail-control {
      grid-area: control;
    }

    .title {
      grid-area: title;
    }
  }

  &__control-wrapper--full-width {
    .tabs {
      @include viewport--sm {
        width: 100%;
      }
    }
  }

  &__content-wrapper {
    padding-bottom: 37px;

    @include viewport--lg {
      padding-bottom: 50px;
    }

    @include viewport--sm {
      padding-bottom: 30px;
    }
  }

  &__block-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include viewport--sm {
      grid-template-columns: 100%;
    }
  }

  &__section-title {
    margin: 0 0 30px 0;

    color: $color-blue;
    font-size: 38px;
    line-height: 46px;
    font-weight: lighter;
    letter-spacing: 1.7px;
  }

  &__section--participants {
    grid-area: participants;
  }

  &__section--info-block {
    grid-area: info-block;
  }

  &__section--first {
    grid-area: first;
  }

  &__section--second {
    grid-area: second;
  }

  &__section--third {
    grid-area: third;
  }

  &__section > p:first-of-type {
    margin-top: 0;
  }

  &__section > p:last-of-type {
    margin-bottom: 0;
  }

  &__section {
    padding: 10px 0;
  }

  &--mobile {
    @include viewport--sm {
      .participants {
        border: none;
      }

      .participants__item {
        display: block;
        text-align: center;
      }

      .info-block .button {
        margin: 0 auto;
        display: block;
      }

      .info-block {
        padding-bottom: 27px;
      }
    }
  }
}
