.filter-tabs {
  display: flex;
  list-style-type: none;
  padding: 0 0 23px 0;
  margin: 0;

  @include viewport--sm {
    display: none;
  }

  &__item:not(:last-of-type) {
    margin-right: 15px;

    @include viewport--lg {
      margin-right: 10px;
    }
  }

  .btn {
    padding: 7px;
    height: max-content;
    width: 222px;

    font-size: 12px;
    line-height: 12px;
  }
}
