.info-block {
  display: inline-block;
  padding-left: 30px;

  @include viewport--sm {
    padding-left: 0;
  }

  &__top-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__text-wrapper {
    display: block;
    width: 100%;

    @include viewport--sm {
      padding-bottom: 12px;
    }
  }

  &__text-wrapper p {
    letter-spacing: 0.1px;
  }

  &__link {
    font-size: 24px;
    line-height: 29px;
    color: $color-blue;
    letter-spacing: 0.7px;
    transition: opacity 0.3s ease;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }

    @include viewport--sm {
      font-size: 24px;
      line-height: 29px;
    }
  }

  .button--open {
    display: inline-block;
    margin-top: 36px;
    float: right;
  }

  .btn {
    padding: 17px 30px;
    width: 222px;
    height: max-content;
    transition: opacity 0.3s ease;

    @include viewport--lg {
      width: 178px;
    }

    @include viewport--sm {
      width: 222px;
    }

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }
}
