.info-block {
  width: 50%;
  display: inline-block;

  @include viewport--md {
    width: 100%;
  }

  &__top-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__headline {

  }

  &__text-wrapper {
    display: block;
    width: 100%;
  }

  .btn {
    padding: 17px 30px;
    width: 222px;
    height: max-content;
  }
}
