.participants {
  padding: 26px 0;
  border-bottom: 1px solid $color-blue;

  &__info {
    margin: 0;
    letter-spacing: 1px;
    font-size: 24px;
    line-height: 29px;
    color: $color-blue;
    font-weight: lighter;

    @include viewport--sm {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.7px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 41px 0;
    column-gap: 15px;
    row-gap: 15px;

    @include viewport--lg {
      padding: 40px 0;
    }

    @include viewport--sm {
      padding: 32px 0 6px;
    }
  }

  &__list img {
    margin-right: 16px;
    width: 103px;
    height: 103px;
    object-fit: cover;

    border-radius: 100%;

    @include viewport--sm {
      margin: 0 auto;
    }
  }

  &--half-width {
    border-bottom: none;
  }

  &--half-width &__item {
    width: 48%;

    @include viewport--md {
      width: 100%;
      max-width: none;
    }
  }

  &:not(&--half-width) &__item {
    max-width: 334px;

    @include viewport--md {
      width: calc((100% / 2) - 9px);
    }

    @include viewport--sm {
      width: 100%;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    @include viewport--sm {
      width: 100%;
      margin-right: 0;
      margin-bottom: 29px;
      flex-wrap: wrap;
      position: relative;
    }
  }

  &__info-wrapper {
    padding: 0;

    @include viewport--sm {
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  &__name > h4 {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: $color-gray-dark;
    word-break: break-word;
  }

  &__position > p {
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    color: $color-nobel;
  }

  &__text {
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    color: $color-nobel;
    text-align: center;
    letter-spacing: 0.2px;

    @include viewport--sm {
      padding: 0 20px;

      line-height: 16px;
    }
  }

  & &__note {
    @include viewport--sm {
      display: none;
    }
  }

  &__edit-button {
    transition: opacity 0.3s ease;
    border: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
    cursor: pointer;

    @include viewport--sm {
      position: absolute;
      top: 0;
      right: 0;
    }

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__edit-button svg {
    color: $color-gray;
    width: 18px;
    height: 24px;
  }
}
