.participants {
  padding: 26px 0 27px;

  border-bottom: 1px solid $color-blue;

  @include viewport--lg {
    padding: 27px 0 34px;
  }

  @include viewport--sm {
    padding: 0 0 30px;
  }

  .title--h2 {
    margin-bottom: 10px;

    @include viewport--lg {
      letter-spacing: 1.8px;
    }

    @include viewport--sm {
      margin-bottom: 24px;

      font-size: 38px;
      line-height: 46px;
    }
  }

  &__info {
    margin: 0;
    letter-spacing: 1px;
    font-size: 24px;
    line-height: 29px;
    color: $color-blue;
    font-weight: lighter;

    @include viewport--sm {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.5px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -17px -17px 0;
    padding: 40px 0 40px;

    @include viewport--lg {
      padding: 40px 0 42px 0;
      margin: 0 -9px -9px 0;
    }

    @include viewport--sm {
      padding: 30px 0 6px;
      margin: 0 0 -9px 0;
    }
  }

  &__list img {
    margin-right: 16px;
    width: 103px;
    height: 103px;

    border-radius: 100%;

    @include viewport--sm {
      margin: 0 auto;
    }
  }

  &__item {
    display: flex;
    margin-right: 17px;
    margin-bottom: 17px;

    @include viewport--lg {
      margin-right: 9px;
      margin-bottom: 9px;
    }

    @include viewport--md {
      width: calc((100% / 2) - 9px);
    }

    @include viewport--sm {
      width: 100%;
      margin-right: 0;
      margin-bottom: 29px;
      flex-wrap: wrap;
      position: relative;
    }
  }

  &__info-wrapper {
    padding: 21px 37px 0 0;

    @include viewport--lg {
      padding: 24px 59px 0 0;
    }

    @include viewport--sm {
      display: block;
      width: 100%;
      padding: 18px 0 0;

      text-align: center;
    }
  }

  &__item span {
    display: block;
  }

  &__name {
    font-size: 16px;
    line-height: 20px;
    color: $color-gray-dark;
  }

  &__position {
    font-size: 12px;
    line-height: 20px;
    color: $color-nobel;
  }

  &__text {
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    color: $color-nobel;
    text-align: center;
    letter-spacing: 0.2px;

    @include viewport--sm {
      padding: 0 20px;

      line-height: 16px;
    }
  }

  &__contact-link {
    @include viewport--sm {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.container--admin-deadlines {
  .participants {
    @include viewport--sm {
      display: none;
    }
  }
}
