.schedule-tabs {
  padding-bottom: 20px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -15px -15px 0;
    padding: 0;

    list-style-type: none;

    @include viewport--lg {
      margin: 0 -10px -10px 0;
    }

    @include viewport--sm {
      width: 100%;
    }
  }

  &__item,
  &__item--generate-pdf {
    display: flex;
    align-items: center;
    margin: 0 15px 15px 0;
    padding: 15px;

    border: 1px solid $color-blue;
    background-color: transparent;

    text-align: center;

    transition: border background-color color $default-transition-settings;

    &:hover,
    &:focus {
      border-color: $color-blue;
      background-color: $color-blue;

      span,
      time,
      a {
        color: $color-default-white;
      }
    }

    @include viewport--lg {
      margin: 0 10px 10px 0;
      padding: 15px 5px;
    }

    @include viewport--sm {
      margin: 0 10px 10px 0;
      padding: 5px;
      border-color: $color-blue;

      &:hover,
      &:focus {
        border-color: $color-blue;
        background-color: transparent;

        span,
        time {
          color: $color-gray-dark;
        }
      }
    }
  }

  &__item {
    width: 222px;

    @include viewport--lg {
      width: 178px;
    }

    @include viewport--sm {
      width: calc((100% / 2) - 10px);
    }
  }

  &__item span,
  &__item time {
    color: $color-blue;
    font-size: 16px;
    line-height: 19px;
  }

  &__item--generate-pdf {
    width: 238px;

    @include viewport--lg {
      width: 272px;
    }

    @include viewport--sm {
      display: none;
    }
  }

  &__text--hidden {
    margin-left: 5px;

    @include viewport--sm {
      display: none;
    }
  }

  time {
    @include viewport--sm {
      display: block;
    }
  }

  &__item--active,
  &__item:active {
    border-color: transparent;
    background-color: $color-gray;

    .schedule-tabs__link {
      cursor: default;
      background-color: $color-gray;
    }

    span,
    time {
      color: $color-default-white;
    }

    &:hover {
      border-color: transparent;
      background-color: $color-gray;

      span,
      time {
        color: $color-default-white;
      }
    }
  }

  &__link,
  .generate-file__link {
    margin: 0 auto;

    color: $color-blue;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    transition: color $default-transition-settings;

    @include viewport--sm {
      color: $color-gray-dark;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.3px;
    }
  }
}

.container--no-padding .schedule-tabs {
  @include viewport--sm {
    padding-left: 17px;
    padding-right: 17px;
  }
}

