.table {
  border-collapse: collapse;
  width: 100%;

  @include viewport--sm {
    margin: 0 -16px;
  }

  tr:nth-child(even) {
    background-color: $color-gray-light;
  }

  tr {
    position: relative;

    @include viewport--sm {
      display: inline-flex;
      flex-wrap: wrap;
      padding: 15px 17px;
      width: 100vw;
    }
  }

  thead th {
    padding: 0 10px;

    font-size: 12px;
    line-height: 20px;
    color: $color-nobel;
    text-align: left;
  }

  thead {
    @include viewport--sm {
      display: none;
    }
  }

  tbody td {
    padding: 5px 10px;
    font-size: 16px;
    line-height: 22px;

    @include viewport--sm {
      padding: 3px 0;
      line-height: 20px;
    }
  }

  .button {
    padding: 2px;
    font-size: 14px;
    line-height: 13px;
  }

  .choices__list--single .choices__item {
    @include viewport--sm {
      padding: 6px 6px 4px 4px;
      font-size: 16px;
      line-height: 22px;
      white-space: nowrap;
    }
  }

  .choices__list--dropdown .choices__item--selectable {
    font-size: 20px;

    @include viewport--sm {
      font-size: 16px;
    }
  }

  .choices__list--single {
    @include viewport--sm {
      padding: 0;
    }
  }

  .choices__inner {
    @include viewport--sm {
      min-height: 42px !important;
    }
  }

  &__cell > span {
    display: block;

    color: $color-nobel;
  }

  &__cell--guest-button {
    @include viewport--sm {
      width: 48%;
      margin-left: auto;
    }
  }

  &__button-wrapper {
    display: flex;
    width: 100%;

    @include viewport--sm {
      height: 100%;
    }

    .button,
    span {
      min-width: 112px;

      @include viewport--lg {
        min-width: 122px;
      }

      @include viewport--sm {
        min-width: 0;
        width: 48%;
        font-size: 12px;
        padding: 3px;
        height: 100%;
      }
    }

    .button:first-of-type {
      margin-right: 10px;
    }

    span:first-of-type {
      margin-right: 10px;
    }
  }

  &__cell--button {
    width: 12%;

    .button {
      width: 100%;
      padding: 5px;
    }

    @include viewport--sm {
      width: 26%;
      display: inline-flex;
      margin-left: auto;

      .button {
        font-size: 14px;
        line-height: 13px;
      }
    }
  }

  &__cell--select-company {
    width: 40%;

    .choices {
      width: 100%;
    }

    @include viewport--sm {
      width: 70%;
    }
  }

  &__cell--guest-company {
    @include viewport--sm {
      display: block;
      width: 95%;
    }

    span {
      font-size: 12px;
      line-height: 20px;
    }
  }

  &__cell--company {
    width: 40%;

    @include viewport--md {
      width: 25%;
    }

    @include viewport--sm {
      display: block;
      width: 95%;
    }
  }

  &__cell--guest-person {
    @include viewport--sm {
      display: inline-flex;
      flex-wrap: wrap;
      width: 50%;

      span {
        display: block;
        width: 100%;
        font-size: 12px;
        line-height: 20px;
      }
    }
  }

  &__cell--person {
    @include viewport--sm {
      width: 95%;
    }
  }

  &__cell--schedule-time {
    @include viewport--sm {
      display: block;
      width: 95%;
    }
  }

  &__cell--status {
    @include viewport--sm {
      position: absolute;
      top: 15px;
      right: 17px;
    }
  }

  &__cell--free > span {
    color: $color-green;
  }

  &__cell--empty {
    width: 250px;

    @include viewport--lg {
      width: 129px;
    }

    @include viewport--md {
      width: 80px;
    }

    @include viewport--sm {
      width: 0;
    }
  }

  &__cell--select-time,
  &__cell--guest-select-time {
    width: 222px;

    @include viewport--sm {
      width: 50%;
    }
  }

  &__cell--destination {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    max-width: 105px;
    width: -webkit-fill-available;
    text-overflow: ellipsis;

    @include viewport--lg {
      max-width: 83px;
    }

    @include viewport--sm {
      padding-left: 17px;
      display: block;
      width: 95%;
      max-width: none;
    }
  }

  &__cell--sent-destination {
    @include viewport--sm {
      padding-left: 0;
    }
  }

  &__cell--theme {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    max-width: 331px;
    width: -webkit-fill-available;
    text-overflow: ellipsis;

    @include viewport--lg {
      max-width: 233px;
    }

    @media (max-width: 1150px) {
      max-width: 197px;
    }

    @include viewport--md {
      max-width: 133px;
    }

    @include viewport--sm {
      display: block;
      width: 95%;
      max-width: none;
    }
  }

  &__cell--message {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    max-width: 352px;
    width: -webkit-fill-available;
    text-overflow: ellipsis;

    @include viewport--lg {
      max-width: 252px;
    }

    @include viewport--md {
      max-width: 153px;
    }

    @include viewport--sm {
      display: block;
      width: 95%;
    }
  }

  &__cell--event {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    max-width: 162px;
    width: -webkit-fill-available;
    text-overflow: ellipsis;

    @include viewport--sm {
      display: none;
      max-width: none;
      width: 95%;
    }
  }

  &__cell--mobile-event {
    @include viewport--sm {
      display: block;
      width: 95%;
      color: $color-blue;
    }
  }

  &__cell--date {
    white-space: nowrap;

    @include viewport--sm {
      position: absolute;
      top: 15px;
      right: 17px;

      font-size: 11px !important;
      line-height: 13px;
    }
  }

  &__cell--time {
    white-space: nowrap;

    @media (max-width: 1150px) {
      display: none;
    }
  }

  &__cell--new {
    &::before {
      background-color: $color-blue;
    }
  }

  &__cell--opened {
    &::before {
      background-color: $color-gray;
    }
  }

  &__cell--icon {
    @include viewport--sm {
      width: 20px;
    }

    svg {
      @include viewport--sm {
        display: none;
      }
    }

    @include viewport--sm {
      &::before {
        content: "";
        border-radius: 100%;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 18px;
        left: 17px;
        display: block;
      }
    }
  }

  &__message-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__message-link svg {
    position: absolute;
    top: 47px;
    right: 17px;
    visibility: hidden;

    @include viewport--sm {
      visibility: visible;
    }
  }
}
