.tabs {
  padding: 18px 0;

  @include viewport--sm {
    display: flex;
    align-items: center;
    padding: 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 0;
    column-gap: 15px;
    row-gap: 10px;
    margin: 0;

    list-style-type: none;

    @include viewport--lg {
      column-gap: 10px;
      row-gap: 10px;
    }

    @include viewport--sm {
      display: inline-flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      column-gap: 15px;
      row-gap: 15px;
      width: 100%;

      align-items: center;
    }
  }

  &--menu {
    .tabs__item {
      @include viewport--sm {
        &:not(.tabs__item--active) {
          display: none;
        }
      }
    }

    .tabs__menu-button {
      @include viewport--sm {
        display: inline-flex;
        margin-right: 10px;
        padding: 0;

        border: none;
        background-color: transparent;
        color: #606060;

        &:active {
          opacity: 0.5;
        }
      }
    }

    .tabs__menu-button svg {
      width: 32px;
      height: 32px;
    }

    .tabs__item--active .tabs__link {
      @include viewport--sm {
        width: auto;
        display: inline-block;
        text-align: left;
        min-height: auto;

        border: none;
        background-color: transparent;
        color: $color-gray-dark;

        &:hover,
        &:focus {
          border: none;
          background-color: transparent;
          color: $color-gray-dark;
        }
      }
    }
  }

  &__item {
    display: flex;
    justify-content: flex-start;

    @include viewport--sm {
      width: calc((100% / 2) - 8px);
    }
  }

  &__item--active .tabs__link,
  &__item--active .tabs__link:hover,
  &__item--active .tabs__link:focus {
    border-color: transparent;
    background-color: $color-gray;
    cursor: default;
    color: $color-default-white;
  }

  &__item--active .tabs__link:hover,
  &__item--active .tabs__link:focus {
    @include viewport--sm {
      border-color: transparent;
      background-color: $color-gray;
      cursor: default;
      color: $color-default-white;
    }
  }

  &__link {
    padding: 15px;
    width: 222px;
    height: 100%;
    margin: auto 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border: 1px solid $color-blue;
    background-color: transparent;

    text-align: center;

    transition: border background-color $default-transition-settings;

    @include viewport--lg {
      padding: 3px 10px;
      min-height: 49px;
      width: 178px;
    }

    @include viewport--sm {
      flex-wrap: wrap;
      width: 100%;
    }

    &:hover,
    &:focus {
      border-color: $color-blue;
      background-color: $color-blue;
      color: $color-default-white;

      @include viewport--sm {
        border: 1px solid $color-blue;
        background-color: transparent;
        color: $color-blue;
      }
    }

    &:active {
      border-color: transparent;
      background-color: $color-gray;
      cursor: default;
      color: $color-default-white;
    }

    time {
      @include viewport--sm {
        display: block;
        width: 100%;
      }
    }
  }

  &--modal {
    width: 100%;

    .tabs__list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      row-gap: 0;
    }

    .tabs__item:not(:last-child) {
      border-bottom: 1px solid $color-gray-light;
    }

    .tabs__item {
      display: block;
      width: 100%;
      padding: 16px 15px 15px 49px;
    }

    .tabs__item--active .tabs__link:hover,
    .tabs__item--active .tabs__link:focus {
      background-color: transparent;
      border: none;
      color: $color-gray-dark;
    }

    .tabs__link {
      width: 100%;
      justify-content: left;
      font-size: 18px;
      line-height: 22px;
      color: $color-gray-dark;
      text-align: left;
      min-height: auto;

      border: none;
      background-color: transparent;

      &:active {
        opacity: 0.5;
      }
    }
  }
}
