.wish-list {
  display: block;
  padding: 33px 0 0 0;

  @include viewport--sm {
    position: relative;
    padding-top: 20px;
    border-top: 1px solid $color-blue;
  }

  .title--h2 {
    margin-bottom: 28px;

    @include viewport--sm {
      margin-bottom: 7px;
      max-width: 50%;
      font-size: 32px;
      line-height: 38px;
    }
  }

  &__text-wrapper:first-of-type p {
    @include viewport--sm {
      width: 60%;
    }
  }

  &__text-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0;

    @include viewport--sm {
      .button {
        width: 40%;
        padding: 5px;
        margin-left: 20px;
      }
    }
  }

  &__text-wrapper p {
    font-size: 24px;
    line-height: 29px;
    font-weight: lighter;
    color: $color-blue;
    letter-spacing: 1px;
  }

  &__control-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__choose-company {
    display: flex;
    padding-bottom: 33px;
    width: 100%;
    justify-content: space-between;
    margin-right: 10px;
    align-items: center;

    @include viewport--lg {
      padding-bottom: 45px;
    }

    @include viewport--sm {
      padding-right: 17px;
      padding-left: 17px;
      padding-bottom: 18px;
    }

    .button--transparent {
      padding: 12px 28px;
      margin-left: 20px;

      @include viewport--lg {
        padding: 5px;
      }
    }
  }

  &__text-company {
    width: 50%;
  }

  &__company-block > p {
    margin: 0;
    max-width: 614px;
    letter-spacing: 1px;
    padding-bottom: 28px;

    font-size: 24px;
    line-height: 29px;
    font-weight: lighter;
    color: $color-blue;

    @include viewport--lg {
      padding-bottom: 9px;
    }

    @include viewport--sm {
      padding: 26px 17px 24px 17px;
    }
  }

  &__company-list-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 7px 0 0;

    @include viewport--sm {
      flex-wrap: wrap;
      padding: 27px 0 0;
      margin: 0 -17px;
    }
  }

  &__company-block {
    display: inline-block;
    width: calc((100% / 2));

    @include viewport--sm {
      display: block;
      width: 100%;
      padding: 0 0 24px 0;
    }
  }

  &__company-block:first-child {
    margin-right: 15px;
    padding: 13px 0 0 0;

    @include viewport--sm {
      padding-top: 0;
      margin: 0;
    }
  }

  &__company-block > .title--h4 {
    display: block;
    margin: 0;

    font-size: 12px;
    line-height: 20px;
    color: $color-nobel;

    @include viewport--sm {
      padding-left: 17px;
      padding-right: 17px;
    }
  }

  &__company-list {
    padding: 0;
    margin: 0;
    list-style-type: none;

    @include viewport--sm {
      padding: 0 0 31px;
    }
  }

  &__company-item:nth-child(odd) {
    background-color: $color-gray-light;
  }

  &__company-item {
    padding: 15px 14px;

    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    letter-spacing: 0.1px;

    @include viewport--sm {
      letter-spacing: 0.3px;
    }
  }

  .choices {
    width: 70%;
    margin-bottom: 0;
  }

  //Стили для кнопок

  .button--request {
    padding: 0 5px;
    height: max-content;

    font-size: 12px;
    line-height: 18px;

    @include viewport--sm {
      padding: 6px 0;

      white-space: break-spaces;
      font-size: 14px;
      line-height: 13px;
    }
  }

  .button--mobile {
    @include viewport--sm {
      display: block;
      position: absolute;
      top: 24px;
      right: 2px;
      max-width: 163px;
      padding: 1px 9px;
      width: fit-content;
      white-space: break-spaces;
      text-align: center;
    }
  }
}
