.wish-list {
  display: block;
  padding: 33px 0 0 0;

  @include viewport--sm {
    position: relative;
    padding-top: 20px;
    border-top: 1px solid $color-blue;
  }

  .title--h2 {
    margin-bottom: 28px;

    @include viewport--sm {
      margin-bottom: 7px;
      max-width: 50%;
      font-size: 32px;
      line-height: 38px;
    }
  }

  &__text-wrapper {
    display: flex;
    justify-content: space-between;

    @include viewport--sm {
      display: block;
    }
  }

  &__text-wrapper p {
    margin: 0;
    max-width: 582px;

    font-size: 24px;
    line-height: 29px;
    font-weight: lighter;
    color: $color-blue;
    letter-spacing: 1px;

    @include viewport--sm {
      display: block;
    }
  }

  &__control-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__choose-company {
    display: flex;
    padding-bottom: 33px;
    width: 100%;
    margin-right: 10px;
    align-items: center;

    @include viewport--lg {
      padding-bottom: 45px;
    }

    @include viewport--sm {
      padding-right: 17px;
      padding-left: 17px;
      padding-bottom: 18px;
    }
  }

  &__text-company {
    width: 50%;
  }

  &__company-block > p {
    margin: 0;
    max-width: 614px;
    letter-spacing: 1px;
    padding-bottom: 28px;

    font-size: 24px;
    line-height: 29px;
    font-weight: lighter;
    color: $color-blue;

    @include viewport--lg {
      padding-bottom: 9px;
    }

    @include viewport--sm {
      padding: 26px 17px 24px 17px;
    }
  }

  &__company-list-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 7px 0 0;

    @include viewport--sm {
      flex-wrap: wrap;
      padding: 27px 0 0;
      margin: 0 -17px;
    }
  }

  &__company-block {
    display: inline-block;
    width: calc((100% / 2));

    @include viewport--sm {
      display: block;
      width: 100%;
      padding: 0 0 24px 0;
    }
  }

  &__company-block:first-child {
    margin-right: 15px;
    padding: 13px 0 0 0;

    @include viewport--sm {
      padding-top: 0;
      margin: 0;
    }
  }

  &__company-block > span {
    display: block;

    font-size: 12px;
    line-height: 20px;
    color: $color-nobel;

    @include viewport--sm {
      padding-left: 17px;
      padding-right: 17px;
    }
  }

  &__company-list {
    padding: 0;
    margin: 0;
    list-style-type: none;

    @include viewport--sm {
      padding: 0 0 31px;
    }
  }

  &__company-item:nth-child(odd) {
    background-color: $color-gray-light;
  }

  &__company-item {
    padding: 15px 14px;

    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    letter-spacing: 0.1px;

    @include viewport--sm {
      letter-spacing: 0.3px;
    }
  }

  //Стили для выпадающего списка

  .choices {
    height: 38px;
    width: 83%;
    margin: 0 17px 0 0;
    background-color: transparent;

    @include viewport--lg {
      width: 66%;
      margin: 0 12px 0 0;
    }

    @include viewport--sm {
      width: 90%;
      height: 42px;
    }
  }

  .choices__inner {
    height: 38px;
    min-height: 38px;
    padding: 4px 15px;
    background-color: transparent;

    @include viewport--sm {
      height: 42px;
    }
  }

  .choices__item {
    font-size: 16px;
    line-height: 22px;
    color: $color-blue;

    background-color: transparent;
  }

  .choices__list--single {
    padding: 0 16px 4px 4px;

    @include viewport--sm {
      padding: 3px 16px 4px 4px;
    }
  }

  .choices[data-type*="select-one"] .choices__inner {
    padding: 6px 6px;
  }

  .choices[data-type*="select-one"]::after {
    height: 21px;
    width: 11px;
    right: 9px;
    top: 8px;
    margin-top: 0;

    background-image: url("../img/svg/icon-open-select.svg");

    @include viewport--sm {
      height: 16px;
      width: 34px;
      right: 4px;
      top: 14px;

      background-image: url("../img/svg/icon-check.svg");
    }
  }

  //Стили для кнопок

  .btn--request {
    padding: 0 5px;
    height: max-content;

    font-size: 12px;
    line-height: 18px;

    @include viewport--sm {
      padding: 6px 0;

      white-space: break-spaces;
      font-size: 14px;
      line-height: 13px;
    }
  }

  .generate-file {
    border: none;
  }

  .generate-file__link {
    display: flex;
    align-items: center;
    padding: 13px 13px;
    height: max-content;
    letter-spacing: 0.7px;

    border: 1px solid $color-blue;
    background-color: transparent;

    color: $color-blue;
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;

    transition: color background-color $default-transition-settings;

    @include viewport--lg {
      padding: 13px 30px;
    }

    @include viewport--sm {
      display: block;
      position: absolute;
      top: 24px;
      right: 2px;
      max-width: 163px;
      padding: 1px 9px;
      width: fit-content;
      white-space: break-spaces;
      text-align: center;
    }

    &:hover,
    &:focus {
      border-color: transparent;
      background-color: $color-blue;

      color: $color-default-white;
    }

    &:active {
      border-color: transparent;
      background-color: $color-gray;

      color: $color-default-white;
    }
  }

  .btn--more {
    display: none;

    @include viewport--sm {
      display: block;
    }
  }
}
