.wish-list {
  display: block;

  &__text-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__text-wrapper p {
    margin: 0;

    font-size: 24px;
    line-height: 29px;
    font-weight: lighter;
    color: $color-blue;
  }

  &__control-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__choose-company {
    display: flex;
    width: 100%;
    margin-right: 10px;
    align-items: center;
  }

  &__text-company {
    width: 50%;
  }

  &__company-block > p {
    margin: 0;

    font-size: 24px;
    line-height: 29px;
    font-weight: lighter;
    color: $color-blue;
  }

  &__company-list-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0 0;

    @include viewport--sm {
      flex-wrap: wrap;
    }
  }

  &__company-block {
    display: inline-block;
    width: 50%;

    @include viewport--sm {
      display: block;
      width: 100%;
    }
  }

  &__company-block:first-child {
    margin-right: 10px;
  }

  &__company-block > span {
    display: block;

    font-size: 12px;
    line-height: 20px;
    color: $color-nobel;
  }

  &__company-list {
    padding: 0;
    margin: 0;
    list-style-type: none;

    @include viewport--sm {
      padding: 0 0 20px 0;
    }
  }

  &__company-item:nth-child(odd) {
    background-color: $color-gray-light;
  }

  &__company-item {
    padding: 18px 14px;

    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
  }

  //Стили для выпадающего списка

  .choices {
    height: 38px;
    width: 60%;
    margin: 0 10px 0 0;
  }

  .choices__inner {
    height: 38px;
    min-height: 38px;
    padding: 4px 15px;
  }

  .choices__inner,
  .choices__item {
    background-color: transparent;
    color: $color-blue;
  }

  //Стили для кнопок

  .btn--request {
    padding: 0 5px;
    height: max-content;

    font-size: 12px;
    line-height: 18px;

    @include viewport--sm {
      white-space: break-spaces;
    }
  }

  .generate-file__link {
    padding: 5px 7px;

    border: 1px solid $color-blue;
    background-color: transparent;

    color: $color-blue;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;

    transition: color background-color $default-transition-settings;

    @include viewport--sm {
      display: inline-block;
      white-space: break-spaces;
      text-align: center;
    }

    &:hover,
    &:focus {
      border-color: transparent;
      background-color: $color-blue;

      color: $color-default-white;
    }

    &:active {
      border-color: transparent;
      background-color: $color-gray;

      color: $color-default-white;
    }
  }

  .btn--more {
    display: none;

    @include viewport--sm {
      display: block;
    }
  }
}
