.footer {
  display: grid;
  grid-template-areas:
    "logotip mailing menu"
    "info info info ";
  grid-column-gap: 10px;
  border-top: 1.5px solid $color-blue;
  padding-top: 23px;
  padding-bottom: 45px;
  margin-top: 52px;

  @include viewport--sm {
    display: grid;
    grid-template-areas:
      "menu"
      "mailing"
      "logotip"
      "info";
    justify-content: normal;
    margin-top: 20px;
    padding-top: 15px;
  }
}

.footer__logotip {
  grid-area: logotip;

  @include viewport--sm {
    justify-content: space-around;
  }
}

.footer__mailing {
  grid-area: mailing;
  margin-right: 0;
  width: 100%;
  max-width: 461px;

  @include viewport--sm {
    width: 100%;
    padding-bottom: 36px;
    max-width: inherit;
  }
}

.footer__menu {
  grid-area: menu;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @include viewport--sm {
    width: 100%;
    justify-content: space-between;
    padding-bottom: 28px;
  }

  @media (min-width: 1920px) {
    justify-content: flex-end;
  }
}

.footer__info {
  grid-area: info;
  width: 100%;
  display: flex;
  justify-content: center;
  color: $color-nobel;
  font-size: 12px;
  margin-top: 30px;

  @include viewport--sm {
    margin-top: 28px;
    margin-bottom: 31px;

    span {
      letter-spacing: 0;
    }
  }
}
