.logotip {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  &__list {
    padding: 0;
    margin: 0;
    margin-right: 25px;

    @include viewport--sm {
      align-self: center;
      margin: 0;
      padding-left: 19px;
    }
  }

  &__company-tm {
    padding-top: 11px;

    @include viewport--sm {
      padding-top: 0;
      width: 124px;
    }
  }

  &__company-ap {
    @include viewport--sm {
      width: 78px;
    }
  }
}

.logotip__item {
  img {
    &:focus,
    &:hover {
      opacity: 0.8;
    }
  }
}
