.mailing__form {
  display: flex;
  flex-wrap: wrap;
}

.mailing__email {
  max-width: 358px;
  width: 74%;
  border: 1px solid #0098c1;
  border-radius: 1px;
  background-color: #f2f2f2;
  padding: 7px 23px 6px 15px;
  font-size: 24px;
  font-family: $font-family--p;
  font-style: light;
  outline: 0;
  color: #0098c1;
  cursor: pointer;
  text-overflow: ellipsis;

  &:focus,
  &:hover {
    opacity: 0.8;
  }

  @include viewport--sm {
    max-width: 254px;
    width: 72%;
    padding: 7px 9px 6px 8px;
  }
}

::-webkit-input-placeholder {
  color: #0098c1;
}

.mailing__btn {
  width: 26%;
  max-width: 103px;
  height: 42px;
  border: 1px solid #0098c1;
  border-radius: 1px;
  background-color: #f2f2f2;
  color: #0098c1;
  font-family: $font-family--p;
  font-weight: 700;
  outline: 0;

  &:focus,
  &:hover {
    opacity: 0.8;
  }

  @include viewport--sm {
    max-width: 78px;
    margin-left: 10px;
  }
}

.mailing__check {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.mailing__check + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  padding-top: 5px;
  color: #9f9f9f;
  font-size: 12px;
  font-family: $font-family--p;

  &:focus,
  &:hover {
    opacity: 0.8;
  }
}

.mailing__check + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #0098c1;
  margin-right: 0.5em;
}

.mailing__check:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
