.menu__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  list-style: none;
  padding: 5px 0 0 20px;

  @include viewport--sm {
    padding: 0;
  }
}

.menu__item {
  color: $color-nobel;
  font-size: 12px;
  font-family: $font-family--p;

  &:focus,
  &:hover {
    opacity: 0.8;
  }
}

.menu__account {
  width: 100%;
  max-width: 84px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style: none;
  padding: 0;
  padding-top: 4px;

  &-social {
    padding: 13px;

    &:focus,
    &:hover {
      opacity: 0.8;
    }
  }

  &-social-fb {
    @include viewport--sm {
      padding: 8px;
    }
  }

  &-social-inst {
    @include viewport--sm {
      padding-right: 0;
      padding-left: 36px;
    }
  }


  @include viewport--sm {
    padding-top: 12px;
  }
}
