.menu__list {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0;
  list-style: none;
  padding: 0;
}

.menu__item {
  color: #9f9f9f;
  font-size: 12px;
  font-family: $font-family--p;

  &:focus,
  &:hover {
    opacity: 0.8;
  }
}

.menu__account {
  margin: 0;
  list-style: none;
  padding: 0;

  &--social {
    padding: 15px;

    &:focus,
    &:hover {
      opacity: 0.8;
    }
  }
}
