mixin renderAccountHotelInfo(text, link, buttonText)
  .account-hotel-info
    .account-hotel-info__description
      p=text
      a.account-hotel-info__link-more(href="#", aria-label="Читать больше")
        +icon("icon-read-more", 103, 22)
    .account-hotel-info__interactive
      a.account-hotel-info__link-hotel(href=link)=link
      button(class="button button--blue" type="button")=buttonText
