mixin direction(titleItem, dataItem, statusItem, timeItem, classStatus)
  .direction__item
    h3.direction__title= titleItem
    time(datetime=timeItem).direction__data= dataItem
    p.direction__status(class=classStatus)= statusItem

пше
