mixin direction(titleItem, dataItem, statusItem, timeItem)
  li.direction__item
    h2.direction__title= titleItem
    time(datatime=timeItem).direction__data= dataItem
    span.direction__status= statusItem
