mixin renderInputSearch()
  .form-reg.form-reg--search
    .form-reg__block
      label
        input(type="text")
        +icon("icon-search", 14, 15)

mixin renderInputText()
  .form-reg.form-reg--search
    .form-reg__block
      label
        input(type="text")
        +icon("icon-search", 14, 15)
