mixin interaction()
  section.interaction.container

    .interaction__reg
      h2.interaction__reg-title Registrations
      ul.interaction__list
        li.interaction__item Crystal Cruises;
        li.interaction__item Luxe voyage DMC Mauritius;
        li.interaction__item JA Resorts &#38; Hotels;
        li.interaction__item The Bicester Village Shopping Collection®;
        li.interaction__item Four Seasons Maldives;
        li.interaction__item Corinthia Hotel London;
        li.interaction__item VIP Tour London;
        li.interaction__item SAYAMA Travel Group;
        li.interaction__item Vinpearl;
        li.interaction__item Excelsior Hotel Gallia, a Luxury Collection Hotel, Milan;
        li.interaction__item Iberostar Hotels &#38; Resorts;
        li.interaction__item InterContinental Marseille, Bordeaux, Lyon;
        li.interaction__item Jumeirah Hotels &#38; Resorts / Jumeirah Zabeel Saray;
        li.interaction__item Kempinski Hotels / Hotel Adlon Kempinski Berlin;
        li.interaction__item La Réserve Hotels;
        li.interaction__item MONTE-CARLO Societe des Bains de Mer;
        li.interaction__item Mandarin Oriental Hotel Group;
        li.interaction__item Marriott International Luxury Brands;
        li.interaction__item ROBINSON Club GmbH;
        li.interaction__item Shangri-La Hotel, Paris &#38; Shangri-La’s Indian Ocean Resorts;
        li.interaction__item Sirene Luxury Hotel Bodrum;
      .interaction__btn-block
        a.button.button--open(href="exbitors.html")
          +icon("icon-arrow", 20, 14)
          span.visually-hidden Open Exhibitors Page
    .interaction__gallery.gallery-block.js-gallery
      h2.gallery-block__title Gallery
      .gallery-block__wrapper

        a.gallery-block__sm(href="#" data-modal="gallery" data-id="1")
          picture
            +webp("content", "gallery-1")
            +img("content", "gallery-1", "png", "366", "272","img gallery")

        a.gallery-block__md(href="#" data-modal="gallery" data-id="2")
          picture
            +webp("content", "gallery-2")
            +img("content", "gallery-2", "png", "366", "272","img gallery")

        a.gallery-block__sm-1(href="#" data-modal="gallery" data-id="3")
          picture
            +webp("content", "gallery-3")
            +img("content", "gallery-3", "png", "366", "272","img gallery")

        a.gallery-block__md-1(href="#" data-modal="gallery" data-id="4")
          picture
            +webp("content", "gallery-4")
            +img("content", "gallery-4", "png", "366", "272","img gallery")

        a.gallery-block__md(href="#" data-modal="gallery" data-id="5")
          picture
            +webp("content", "gallery-5")
            +img("content", "gallery-5", "png", "366", "272","img gallery")

        a.gallery-block__sm(href="#" data-modal="gallery" data-id="6")
          picture
            +webp("content", "gallery-6")
            +img("content", "gallery-6", "png", "366", "272","img gallery")

      .gallery-block__btn-block
        a.button.button--open(href="gallery.html")
          +icon("icon-arrow", 20, 14)
          span.visually-hidden Open Gallery Page
      +modal("modal--gallery")
        +modal-gallery(modalImages)
    a(href="exhibitors.html").interaction__btn View All Exhibitors
