mixin interaction()
  section.interaction.container

    .interaction__reg
      h2.interaction__reg-title Registrations
      p.interaction__reg-text Crystal Cruises; <br> Luxe voyage DMC Mauritius; <br> JA Resorts & Hotels; <br> The Bicester Village Shopping Collection®; <br> Four Seasons Maldives;<br> Corinthia Hotel London;<br> VIP Tour London;<br> SAYAMA Travel Group;<br> Vinpearl;<br> Excelsior Hotel Gallia, a Luxury Collection Hotel, Milan;<br> Iberostar Hotels & Resorts;<br> InterContinental Marseille, Bordeaux, Lyon;<br> Jumeirah Hotels & Resorts / Jumeirah Zabeel Saray;<br> Kempinski Hotels / Hotel Adlon Kempinski Berlin;<br> La Réserve Hotels;<br> MONTE-CARLO Societe des Bains de Mer;<br> Mandarin Oriental Hotel Group;<br> Marriott International Luxury Brands;<br> ROBINSON Club GmbH;<br> Shangri-La Hotel, Paris & Shangri-La’s Indian Ocean Resorts;<br> Sirene Luxury Hotel Bodrum;
      a.interaction__button.interaction__button-open(href="#")
          img(src="img/svg/icon-arrow.svg", width="20", height="14", alt="arrow")
          span.visually-hidden read more
    .interaction__gallery
      h2.gallery__title Gallery
      .gallery
        .gallery__block
          picture
            +img("content", "gallery-1", "png", "341", "222","img gallery")
          picture
            +img("content", "gallery-2", "png", "341", "222","img gallery")
          picture
            +img("content", "gallery-3", "png", "222", "222","img gallery")
        .gallery__block
          picture
            +img("content", "gallery-4", "png", "222", "222","img gallery")
          picture
            +img("content", "gallery-5", "png", "341", "222","img gallery")
          picture
            +img("content", "gallery-6", "png", "341", "222","img gallery")
      a.gallery__button.gallery__button-open(href="#")
          img(src="img/svg/icon-arrow.svg", width="20", height="14", alt="arrow")
          span.visually-hidden read more
