mixin main-nav()
  include ../../data/header-links
    nav.main-nav
      button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
      ul.main-nav__list
        each link in headerLinks
          if(link.text === currentPage)
            li
              a.main-nav__link.main-nav__link--active= link.text
          else
            li
              a.main-nav__link(href=link.href)= link.text
