mixin news-info()
  li.news-home__info--item
    .news-home__info--img
      +img("content", "sorasak", "jpg", "222", "222", "sorasak")
    .news-home__info--content
      time.news-home__info--date(datetime) 25 May 2019
      h3 Japan is Country-Partner of LTM
      p.news-home__info--text The partner country of the 15th anniversary exhibition of the Luxury Travel Mart, which will take place in the Hyatt Regency Petrovsky Park from February 28 to March 1, 2019, will be Japan, establishing a new tradition. Represented for the first time at LTM last year, Japan quickly became one of the main players in the exhibition. The Japanese exhibit, which included 14 companies, created a lot of buzz among buyers.
      a.news__button.news__button--open-news(href="#")
        img(src="img/svg/icon-arrow.svg", width="20", height="14")
        span.visually-hidden read more
  li.news-home__info--item
    .news-home__info--img
      +img("content", "banquet", "jpg", "222", "222", "sorasak")
    .news-home__info--content
      time.news-home__info--date(datetime) 18 April 2019
      h3 LTM Anniversary Exhibition
      p.news-home__info--text Next year Moscow will welcome spring with a certain flair. A spectacular celebration is set to take place on the first day of March – the 15th anniversary of the Luxury Travel Mart, which brings together the leading players from the luxury tourism industry from across the globe…
      a.news__button.news__button--open-news(href="#")
        img(src="img/svg/icon-arrow.svg", width="20", height="14")
        span.visually-hidden read more
  li.news-home__info--item
    .news-home__info--img
      +img("content", "drawbridge", "jpg", "222", "222", "sorasak")
    .news-home__info--content
      time.news-home__info--date(datetime) 18 April 2019
      h3 LTM Anniversary Exhibition
      p.news-home__info--text The partner country of the 15th anniversary exhibition of the Luxury Travel Mart, which will take place in the Hyatt Regency Petrovsky Park from February 28 to March 1, 2019, will be Japan, establishing a new tradition. Represented for the first time at LTM last year, Japan quickly became one of the main players in the exhibition. The Japanese exhibit, which included 14 companies…
      a.news__button.news__button--open-news(href="#")
        img(src="img/svg/icon-arrow.svg", width="20", height="14")
        span.visually-hidden read more
