mixin news-home()
  section.container.news-home
    .news-home__about
      h2.news-home__about-title About LTM
      picture
        +img("content", "690A1658", "png", "698", "365", "img about LTM")
      p.news-home__about-text Since its very first year, Luxury Travel Mart has become the most successful event in the luxury travel segment in Russia and boarding countries. This is a B2B event for companies that offer luxury products, who wish to establish new contacts and strengthen old ties on the Russian and CIS markets.
      p.news-home__about-text Companies that participate in the Luxury Travel Mart include five-star hotels and resorts, elite car companies, cruise and yacht charter companies, private jet charters, DMC and luxury operators. Most of the best-known brands in the luxury travel industry have participated and continue to participate in LTM each year.
      p.news-home__about-text This B2B event has been carefully thought out and planned in such a way that sellers and potential buyers of services – companies working with VIP clients, have the opportunity to establish partnerships within the space of a single day. The main aim of the of the organisers of the Luxury Travel Mart is to expand the geography of sales of the exhibition’s participants and also to introduce players to new areas and services to which they previously did not have access.
      a.news-home__button.news-home__button-open(href="#")
        img(src="img/svg/icon-arrow.svg", width="20", height="14", alt="arrow")
        span.visually-hidden read more
    .news-home__info
      h2.news-home__info-title News &#38; Information
      ul.news-home__info-list
        +news-info
      a.news-home__info-(href="#")  All News &#38; Information
