mixin news-home()
  section.container.container--no-padding.news-home
    .news-home__about
      h2.news-home__about-title About LTM
      .news-home__img-wrapper
        picture
          +img("content", "690A1658", "png", "698", "365", "img about LTM")
      .news-home__about-text
        p Since its very first year, Luxury Travel Mart has become the most successful event in the luxury travel segment in Russia and boarding countries. This is a B2B event for companies that offer luxury products, who wish to establish new contacts and strengthen old ties on the Russian and CIS markets.
        p Companies that participate in the Luxury Travel Mart include five-star hotels and resorts, elite car companies, cruise and yacht charter companies, private jet charters, DMC and luxury operators. Most of the best-known brands in the luxury travel industry have participated and continue to participate in LTM each year.
        p This B2B event has been carefully thought out and planned in such a way that sellers and potential buyers of services – companies working with VIP clients, have the opportunity to establish partnerships within the space of a single day. The main aim of the of the organisers of the Luxury Travel Mart is to expand the geography of sales of the exhibition’s participants and also to introduce players to new areas and services to which they previously did not have access.
      .news-home__btn-block
        a.button.button--open(href="#")
          +icon("icon-arrow", 20, 14)
          span.visually-hidden read more
    .news-home__info.news-home__slider.swiper-container
      h2.news-home__info-title News &#38; Information
      ul.news-home__info-list.swiper-wrapper
        +news-info
      .news-home__button-next
        +icon("icon-arrow_right_white", 19, 30)
      .news-home__button-prev
        +icon("icon-arrow_right_white", 19, 30)
      .news-home__pagination
      a.news-home__info-(href="#")  All News &#38; Information
