mixin news-info()
  li.news-home__info-item.swiper-slide
    +renderNewsPreview(newsImage, newsTitle, newsDate, newsDatetime, newsPreview)
  li.news-home__info-item.swiper-slide
    +renderNewsPreview(newsImage, newsTitle, newsDate, newsDatetime, newsPreview)
  li.news-home__info-item.swiper-slide
    +renderNewsPreview(newsImage, newsTitle, newsDate, newsDatetime, newsPreview)
