mixin partners()
  section.container.partners
    .partners__block
      h2.partners__title Partners
      ul.partners__list
        li.partners__item
          a(href="#")
            +icon("Japan_logo", "141", "55")
        li.partners__item
          a(href="#")
            +icon("ElCorte_logo", "119", "85")
        li.partners__item
          a(href="#")
            +icon("Emirates_logo", "103", "79")
        li.partners__item
          a(href="#")
            +icon("Marriott_Int_logo", "177", "23")
        li.partners__item
          a(href="#")
            +icon("Accor_logo", "140", "38")
        li.partners__item
          a(href="#")
            +icon("Forte_logo", "139", "32")
        li.partners__item
          a(href="#")
            +icon("MO_logo", "103", "79")


        li.partners__item
          a(href="#")
            +icon("Kempinski_logo", "141", "56")
        li.partners__item
          a(href="#")
            +icon("Preferred_logo", "91", "153")
        li.partners__item
          a(href="#")
            +icon("Lijo_logo", "87", "60")
        li.partners__item
          a(href="#")
            +icon("BDV", "157", "73")
        li.partners__item
          a(href="#")
            +icon("Hyatt_logo", "79", "108")
        li.partners__item
          a(href="#")
            +img("svg", "ambotis-logo", "svg", "144", "35","img partners")
        li.partners__item
          a(href="#")
            +icon("ritz", "112", "88")

        li.partners__item
          a(href="#")
            +icon("BicesterVillage_logo", "166", "59")
        li.partners__item
          a(href="#")
            +icon("grecotel", "148", "70")
        li.partners__item
          a(href="#")
            +icon("rc", "154", "154")
        li.partners__item
          a(href="#")
            +icon("hotel", "114", "100")
        li.partners__item
          a(href="#")
            +icon("inter", "151", "58")
        li.partners__item
          a(href="#")
            +icon("ttg_luxury_logo", "77", "77")
        li.partners__item
          a(href="#")
            +icon("ttg_logo", "93", "93")

      a(href="#").partners__btn View All Sponsors and Partners
