mixin partners()
  section.container.partners
    .partners__block
      h2.partners__title Partners
      ul.partners__list
        li.partners__item
          a(href="partners-page.html")
            +img("content", "japan-logo", "png", "222", "55", "img partners")
        li.partners__item
          a(href="partners-page.html")
            +img("content", "elcorte-logo", "png", "222", "85", "img partners")
        li.partners__item
          a(href="partners-page.html")
            +img("content", "emirates-logo", "png", "222", "79", "img partners")
        li.partners__item
          a(href="partners-page.html")
            +img("content", "marriott-logo", "png", "222", "23", "img partners")
        li.partners__item
          a(href="partners-page.html")
            +img("content", "accor-hotels-logo", "png", "222", "38", "img partners")
        li.partners__item
          a(href="partners-page.html")
            +img("content", "forte-logo", "png", "222", "32", "img partners")
        li.partners__item
          a(href="partners-page.html")
            +img("content", "mo-logo", "png", "222", "79", "img partners")

        li.partners__item
          a(href="partners-page.html")
            +img("content", "ambotis-logo", "png", "222", "35", "img partners")
        li.partners__item
          a(href="partners-page.html")
            +img("content", "preferred-logo", "png", "222", "53", "img partners")
        li.partners__item
          a(href="partners-page.html")
            +img("content", "lijo-logo", "png", "222", "60", "img partners")
        li.partners__item
          a(href="partners-page.html")
            +img("content", "bvd-logo", "png", "222", "73", "img partners")
        li.partners__item
          a(href="partners-page.html")
            +img("content", "hyatt-logo", "png", "222", "73", "img partners")
        li.partners__item
          a(href="partners-page.html")
            +img("content", "ambotis-logo", "png", "222", "35", "img partners")
        li.partners__item
          a(href="partners-page.html")
            +img("content", "ritz-logo", "png", "222", "88", "img partners")

        li.partners__item
          a(href="partners-page.html")
            +img("content", "bicester-village-logo", "png", "222", "59", "img partners")
        li.partners__item
          a(href="partners-page.html")
            +img("content", "grecotel-logo", "png", "222", "70", "img partners")
        li.partners__item
          a(href="partners-page.html")
            +img("content", "ritz-alma-logo", "png", "222", "54", "img partners")
        li.partners__item
          a(href="partners-page.html")
            +img("content", "hbk-logo", "png", "222", "100", "img partners")
        li.partners__item
          a(href="partners-page.html")
            +img("content", "inter-continental-logo", "png", "222", "58", "img partners")
        li.partners__item
          a(href="partners-page.html")
            +img("content", "ttg-luxury-logo", "png", "222", "77", "img partners")
        li.partners__item
          a(href="partners-page.html")
            +img("content", "ttg-logo", "png", "222", "93", "img partners")

      a(href="organizers.html").partners__btn View All Sponsors and Partners
