mixin partners()
  section.container.partners
    .partners__block
      h2.partners__title Partners
      ul.partners__list
        li.partners__item
          a(href="#")
            +img("svg", "japan-logo", "svg", "141", "55", "img partners")
        li.partners__item
          a(href="#")
            +img("svg", "elcorte-logo", "svg", "119", "85", "img partners")
        li.partners__item
          a(href="#")
            +img("svg", "emirates-logo", "svg", "103", "79", "img partners")
        li.partners__item
          a(href="#")
            +img("svg", "marriott-logo", "svg", "177", "23", "img partners")
        li.partners__item
          a(href="#")
            +img("svg", "accor-hotels-logo", "svg", "140", "38", "img partners")
        li.partners__item
          a(href="#")
            +img("svg", "forte-logo", "svg", "139", "32", "img partners")
        li.partners__item
          a(href="#")
            +img("svg", "mo-logo", "svg", "103", "79", "img partners")

        li.partners__item
          a(href="#")
            +img("svg", "ambotis-logo", "svg", "144", "35", "img partners")
        li.partners__item
          a(href="#")
            +img("svg", "preferred-logo", "svg", "91", "153", "img partners")
        li.partners__item
          a(href="#")
            +img("svg", "lijo-logo", "svg", "87", "60", "img partners")
        li.partners__item
          a(href="#")
            +img("svg", "bvd-logo", "svg", "157", "73", "img partners")
        li.partners__item
          a(href="#")
            +img("svg", "hyatt-logo", "svg", "79", "108", "img partners")
        li.partners__item
          a(href="#")
            +img("svg", "ambotis-logo", "svg", "144", "35", "img partners")
        li.partners__item
          a(href="#")
            +img("svg", "ritz-logo", "svg", "112", "88", "img partners")

        li.partners__item
          a(href="#")
            +img("svg", "bicester-village-logo", "svg", "166", "59", "img partners")
        li.partners__item
          a(href="#")
            +img("svg", "grecotel-logo", "svg", "148", "70", "img partners")
        li.partners__item
          a(href="#")
            +img("svg", "rc-logo", "svg", "154", "154", "img partners")
        li.partners__item
          a(href="#")
            +img("svg", "hbk-logo", "svg", "114", "100", "img partners")
        li.partners__item
          a(href="#")
            +img("svg", "inter-continental-logo", "svg", "151", "58", "img partners")
        li.partners__item
          a(href="#")
            +img("svg", "ttg-luxury-logo", "svg", "77", "77", "img partners")
        li.partners__item
          a(href="#")
            +img("svg", "ttg-logo", "svg", "93", "93", "img partners")

      a(href="organazers.html").partners__btn View All Sponsors and Partners
