mixin promo
  section.promo
    picture
      img.promo__img(src="./img/bg/bg-home.png" srcset="./img/bg/bg-home@2x.png" width="1920" height="534" alt="promo image")

    .container
      h2.promo__title The leading luxury travel exhibition in eastern europe, russia AND cis
      a.promo__reg(href="#") Registration
