mixin renderBackButton(link)
  a.back-link(href=link)
    +icon("arrow-left-white", 12, 20)
    span Back

mixin renderHeadlineWithBackButton(title, link)
  .top-wrapper
    h2.title.title--h2=title
    +renderBackButton(link)

mixin renderTitleHeadline(title)
  .top-wrapper.top-wrapper--title
    h2.title.title--h2=title

mixin renderTitleHeadlineWithBackButton(title, link)
  .top-wrapper.top-wrapper--title
    h2.title.title--h2=title
    +renderBackButton(link)
