mixin renderBackButton(link)
  a.back-link(href=link) Back
    +icon("arrow-left", 12, 20)

mixin renderHeadlineWithBackButton(title, link)
  .headline-wrapper
    h2.title.title--h2=title
    +renderBackButton(link)

mixin renderHeadline(title)
  .headline-wrapper.headline-wrapper--left
    h2.title.title--h2=title

mixin renderHeadlineWithDesktopBackButton(title, link)
  .headline-wrapper.headline-wrapper--left
    h2.title.title--h2=title
    .hidden-sm
      +renderBackButton(link)
