mixin renderBackButton(link)
  a.back-link(href=link) Back
    +icon("arrow-left-white", 12, 20)

mixin renderHeadlineWithBackButton(title, link)
  .headline-wrapper
    h2.title.title--h2=title
    +renderBackButton(link)

mixin renderTitleHeadline(title)
  .headline-wrapper.headline-wrapper--title
    h2.title.title--h2=title

mixin renderTitleHeadlineWithBackButton(title, link)
  .headline-wrapper.headline-wrapper--title
    h2.title.title--h2=title
    +renderBackButton(link)
