.adoption__title {
  color: $color-blue;
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  padding-top: 29px;
  padding-bottom: 20px;
}

.adoption__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.adoption__item {
  width: 100%;
  max-width: 222px;
  margin-right: 20px;

  p {
    margin: 0;
    font-weight: 300;
    padding-bottom: 6px;
  }

  time {
    font-size: 14px;
    color: $color-blue;

    @include viewport--sm {
      font-size: 13px;
    }
  }

  h4 {
    margin: 0;
    padding-bottom: 10px;
    overflow: hidden;
    height: 68px;

    @include viewport--sm {
      padding-bottom: 0;
      overflow: hidden;
      height: 68px;
    }
  }
}

.adoption__pagination {
  display: none;

  @include viewport--sm {
    display: block;
    text-align: center;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background: initial;
      border: 1px solid $color-blue;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
      background: $color-blue;
    }
  }
}
