.form-reg__info {
  display: flex;
  flex-direction: column;
}

.form-reg {
  width: 100%;

  &__title {
    display: inline-flex;
    width: 100%;
    line-height: 30px;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    color: $color-blue;
    padding-top: 40px;
    align-items: center;
    padding-bottom: 33px;
    padding-left: 17px;
    letter-spacing: 0.3px;

    @include viewport--sm {
      display: flex;
      flex-direction: column;
      padding-bottom: 2px;
      padding-left: 15px;
      text-align: center;
      padding-top: 25px;
    }

    @media (min-width: 1920px) {
      padding-top: 37px;
      padding-bottom: 31px;
      padding-left: 31px;
    }

    &-one {
      padding-bottom: 18px;

      @include viewport--sm {
        padding-bottom: 0;
        padding-top: 25px;
      }
    }

    &-six {
      padding-top: 15px;

      p {
        width: 100%;
        margin: 0;
        padding-bottom: 10px;
        padding-top: 3px;
      }
    }
  }

  &__title::before {
    content: "";
    display: inline-flex;
    width: 100%;
    max-width: 54px;
    height: 54px;
    background-color: $color-blue;
    border-radius: 55px;
    margin-right: 23px;

    @include viewport--sm {
      margin-bottom: 17px;
      margin-right: 0;
    }
  }

  &__title-one::before {
    background-image: url("../img/svg/one.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__title-two::before {
    background-image: url("../img/svg/two.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__title-three::before {
    background-image: url("../img/svg/three.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__title-four::before {
    background-image: url("../img/svg/four.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__title-five::before {
    background-image: url("../img/svg/five.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__title-six::before {
    background-image: url("../img/svg/six.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__title-seven::before {
    background-image: url("../img/svg/seven.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__title-eight::before {
    background-image: url("../img/svg/eight.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__title-nine::before {
    background-image: url("../img/svg/nine.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__block {
    display: flex;
    flex-direction: column;
    max-width: 462px;
    width: 100%;

    label {
      font-weight: 600;
      padding-bottom: 5px;
      max-height: 45px;
      height: -webkit-fill-available;
    }

    input {
      border: 1px solid $color-blue;
      height: 42px;
      padding-left: 10px;
      font-size: 20px;
      font-weight: 300;
      color: $color-blue;
      outline: none;
      cursor: pointer;
      background-color: $color-white;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      &:focus,
      &:hover {
        opacity: 0.8;
      }
    }

    select {
      border: 1px solid $color-blue;
      height: 42px;
      padding-left: 10px;
      font-size: 20px;
      font-weight: 300;
      color: $color-blue;
      background-color: $color-white;
      outline: none;
      cursor: pointer;
      background-repeat: no-repeat;
      background-image: url("../img/svg/icon-check.svg");
      appearance: none;
      background-position: right 0.7em top 50%, 0 0;
      text-overflow: ellipsis;
      padding-right: 31px;

      &:focus,
      &:hover {
        opacity: 0.8;
      }
    }

    h3 {
      font-size: 16px;
      margin: 0;
      font-weight: 600;
      padding-bottom: 5px;
      max-height: 45px;
      height: -webkit-fill-available;
    }

    @include viewport--sm {
      width: 100%;
      max-width: 100%;
      padding-right: 0;
      padding-bottom: 0;

      input {
        font-size: 24px;
      }

      select {
        font-size: 24px;
      }
    }

    @media (min-width: 1920px) {
      input {
        font-size: 24px;
      }

      select {
        font-size: 24px;
      }
    }
  }

  &__textarea {
    width: 100%;
    max-width: inherit;
    padding-right: 0;
    padding-bottom: 0;

    textarea {
      width: 100%;
      max-width: inherit;
      height: 130px;
      border: 1px solid $color-blue;
      outline: 0;
      font-size: 20px;
      font-weight: 300;
      background-color: $color-white;
      color: $color-blue;
      padding: 9px;

      @include viewport--sm {
        font-size: 24px;
        height: 122px;
      }

      @media (min-width: 1920px) {
        font-size: 24px;
      }
    }

    &:focus,
    &:hover {
      opacity: 0.8;
    }
  }

  &__upload {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      width: 1px;
      height: 1px;
    }

    label {
      cursor: pointer;
      outline: none;
      width: 222px;
      height: 49px;
      border: 1px solid $color-blue;
      font-size: 17px;
      font-weight: 600;
      color: $color-blue;
      display: flex;
      align-items: center;
      justify-content: center;

      &:focus,
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 24px;

    @include viewport--sm {
      padding-bottom: 14px;
    }
  }

  &__up {
    padding-bottom: 10px;

    @include viewport--sm {
      padding-left: 14px;

      span {
        text-align: center;
      }
    }
  }

  &__text {
    width: 83%;
    margin: 0;
    font-weight: 600;
    padding-bottom: 16px;

    @include viewport--sm {
      width: 100%;
      padding-bottom: 49px;
      padding-top: 8px;
    }
  }

  &__title-up {
    margin: 0;
    padding-bottom: 5px;
  }

  &__location {
    display: flex;
    flex-direction: column;

    h4 {
      margin: 0;
      padding-bottom: 5px;
    }
  }

  .direction-swiper {
    padding-top: 0;
  }

  .direction__list {
    padding-top: 0;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 40%;
  }

  &__dropdown-check {
    width: 100%;
    padding-left: 20px;
    display: flex;

    @media (min-width: 1920px) {
      padding-left: 0;
    }
  }
}

.form-reg__grid-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 20px;
  padding-bottom: 11px;

  @include viewport--sm {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
  }
}

.form-reg__dropdown {
  position: relative;
  max-width: 462px;
  width: 100%;

  @include viewport--sm {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.form-reg__btn {
  position: relative;
  width: 100%;
  cursor: pointer;
  z-index: 2;
  white-space: nowrap;
  border: 1px solid $color-blue;
  outline: 0;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  background-color: $color-white;
  color: $color-blue;
  padding-left: 10px;
  height: 42px;

  &::after {
    content: "";
    height: 17px;
    width: 29px;
    position: absolute;
    right: 11.5px;
    top: 50%;
    margin-top: -7.5px;
    border-style: none;
    border-color: transparent;
    border-width: 0;
    background-repeat: no-repeat;
    pointer-events: none;
    background-image: url("../img/svg/icon-check.svg");
  }

  @media (min-width: 1920px) {
    font-size: 24px;
  }

  @include viewport--sm {
    font-size: 24px;
  }

  &:focus,
  &:hover {
    opacity: 0.8;
  }
}

.form-reg__dropdown--open .form-reg__btn {
  z-index: 4;
  position: relative;
}

.form-reg__content {
  display: none;
  position: absolute;
  top: calc(100% - 1px);
  min-width: 100%;
  padding: 6px 10px;
  border: 1px solid $color-blue;
  background-color: $color-white;
  z-index: 3;
}

.form-reg__dropdown--open .form-reg__content {
  display: block;
}

.form-reg__list {
  display: flex;
  flex-direction: column;
}

.form-reg__check {
  width: 0;
  height: 0;
  z-index: -1;
  opacity: 0;
}

.form-reg__check + label {
  display: flex;
  user-select: none;
  color: $color-blue;
  font-size: 21px;

  &:focus,
  &:hover {
    opacity: 0.8;
  }

  @media (min-width: 1920px) {
    padding-left: 7px;
    padding-top: 18px;
    font-size: 24px;
  }

  @include viewport--sm {
    padding-left: 24px;
    font-size: 24px;
    padding-top: 23px;
  }
}

.form-reg__check + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid $color-blue;
  margin-right: 18px;

  @include viewport--sm {
    margin-bottom: 20px;
  }
}

.form-reg__check:checked + label::before {
  border-color: $color-blue;
  background-image: url("../img/svg/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form-reg__submit {
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    color: $color-gray-dark;
    font-weight: 600;
    padding-bottom: 23px;
    font-size: 17px;
    padding-left: 38px;
    padding-top: 6px;
    text-align: center;

    @include viewport--sm {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-left: 0;
    }
  }

  .form-reg__check + label::before {
    margin-right: 8px;
  }

  a {
    cursor: pointer;
    outline: 0;
    width: 222px;
    height: 49px;
    border: 1px solid $color-blue;
    color: $color-blue;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:focus,
    &:hover {
      opacity: 0.8;
      border-color: transparent;
      background-color: $color-blue;
      color: $color-default-white;
    }

    @include viewport--sm {
      margin-bottom: 29px;
    }
  }
}

.form-reg__submit-buyer {
  label {
    width: 70%;
  }

  a {
    margin-bottom: -13px;
  }

  @include viewport--sm {
    label {
      width: 100%;
      padding-bottom: 29px;
    }

    a {
      margin-bottom: 49px;
    }
  }

  @media (min-width: 1920px) {
    label {
      width: 54%;
    }
  }
}

.form-reg__slider {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;

  label {
    place-content: center;
  }

  .form-reg__check {
    width: 0;
    height: 0;
    z-index: -1;
    opacity: 0;
  }

  .form-reg__check + label {
    display: flex;
    align-items: center;
    user-select: none;
    color: $color-blue;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;

    &:focus,
    &:hover {
      opacity: 0.8;
    }

    @media (min-width: 1920px) {
      padding-top: 0;
      padding-bottom: 20px;
    }
  }

  .form-reg__check + label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid $color-gray;
    margin-right: 0.5em;
  }

  .form-reg__check:checked + label::before {
    border-color: $color-blue;
    background-image: url("../img/svg/check.svg");
    background-repeat: no-repeat;
    border: 2px solid $color-blue;
    background-position: center;
  }
}

.form-reg--search {
  width: auto;

  @include viewport--md {
    display: none;
  }

  label {
    position: relative;
  }

  label svg {
    position: absolute;
    top: 13px;
    left: 10px;
    color: $color-gray;
    width: 14px;
    height: 15px;
  }

  input {
    padding-left: 35px;
    border-color: $color-gray;
  }
}

.form-reg__block--checkbox .choices__list--dropdown .choices__item--selectable::before {
  position: absolute;
  display: block;
  content: "";
  width: 17px;
  height: 17px;
  top: 13px;
  left: 10px;
  border: 1px solid $color-blue;
}

.form-reg__block--checkbox {
  position: relative;
}

.form-reg__checkbox-title {
  position: absolute;
  top: 0;
  left: 0;
  color: $color-blue;
  font-size: 24px;
}

.form-reg--select {
  .choices {
    height: 42px;
    cursor: pointer;

    &[data-type*="select-multiple"] .choices__inner,
    &[data-type*="select-one"] .choices__inner,
    &[data-type*="text"] .choices__inner {
      cursor: pointer;
    }

    &.is-open .choices__list--dropdown {
      border-color: $color-default-white;
    }

    &.is-focused .choices__inner,
    &.is-open .choices__inner {
      border-color: $color-blue;
    }

    &__item {
      margin: 0;
      background-color: $color-white;
    }

    &__list--multiple .choices__item,
    &__list--single .choices__item {
      margin: 0;
      padding: 0;

      border: none;
      background-color: transparent;

      font-size: 20px;
      color: $color-blue;

      @include viewport--sm {
        font-size: 24px !important;
      }
    }

    &__input--cloned {
      display: none;
    }

    &__inner {
      padding: 5px 10px;
      height: 42px;
      cursor: pointer;

      border-color: $color-blue;
      background-color: transparent;

      &:hover,
      &:focus {
        border-color: rgba(0, 152, 193, 0.7);
        cursor: pointer;
      }

      &:active {
        border-color: $color-blue;
      }
    }

    &__inner .choices__list--multiple .choices__item:not(:first-child) {
      display: none;
    }

    &__item--choice.is-selected::before {
      content: "";
      position: absolute;
      top: 20px;
      left: 17px;
      width: 11px;
      height: 10px;
      display: inline-block;
      background-repeat: no-repeat;
      background-image: url("../img/svg/icon-small-check.svg");
      background-size: cover;
    }

    &__list--dropdown {
      margin-top: 10px;
      max-height: 340px;
    }

    &__list > *,
    &__list--dropdown .choices__item--selectable.is-highlighted {
      background-color: $color-default-white;
      border: none;
    }

    &__list--dropdown .choices__item--selectable {
      padding: 10px 35px;
      position: relative;

      font-size: 20px;
      line-height: 29px;
      font-weight: lighter;
      color: $color-blue;
    }


    &[data-type*="select-multiple"]::after,
    &[data-type*="select-one"]::after {
      content: "";
      height: 17px;
      width: 29px;
      position: absolute;
      right: 11px;
      top: 50%;
      margin-top: -7px;

      border-style: none;
      border-color: transparent;
      border-width: 0;
      background-repeat: no-repeat;
      pointer-events: none;
      background-image: url("../img/svg/icon-check.svg");
    }

    &[data-type*="select-one"] .choices__inner {
      padding: 3px 10px;
      font-size: 20px;

      @include viewport--sm {
        font-size: 24px;
      }
    }

    &__list--single {
      padding: 4px 16px 4px 0;
    }
  }
}
