.registration {
  display: flex;
  flex-wrap: wrap;
  padding-top: 29px;

  @include viewport--sm {
    flex-direction: column;
    padding-bottom: 30px;
  }

  @media (min-width: 1920px) {
    padding-top: 35px;
  }
}

.registration__title {
  margin: 0;
  font-size: 38px;
  color: $color-blue;
  font-weight: 300;
  padding-bottom: 25px;
  width: 100%;
  line-height: 30px;

  @include viewport--sm {
    font-size: 32px;
    padding-bottom: 33px;
  }

  @media (min-width: 1920px) {
    padding-bottom: 46px;
    letter-spacing: 0.7px;
  }
}

.registration__exhibitor,
.registration__buyer {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-bottom: 37px;
  padding-right: 10px;

  @include viewport--sm {
    width: 100%;
    padding-right: 0;
    padding-bottom: 32px;
  }
}

.registration__terms {
  border-top: 1px solid $color-blue;
  padding-top: 13px;

  @include viewport--sm {
    display: flex;
    flex-direction: column;
    padding-top: 33px;
  }

  @media (min-width: 1920px) {
    padding-top: 20px;
  }
}
