.terms__title {
  margin: 0;
  font-size: 24px;
  color: $color-blue;
  font-weight: 300;
  padding-bottom: 13px;
}

.terms__block {
  p {
    margin: 0;
    padding-bottom: 13px;
  }
}

.terms__btn {
  display: none;

  @include viewport--sm {
    display: flex;
    padding: 14px 61px;
  }
}
